<!-- image-caption -->
<section id="panel-image-caption-resize" class="container-fluid">
	<div class="hero-wrapper height-350">
		<img class="enlarge-225 horizontal-07-vertical-00" src="images/images-resize/resize-cudahy-rainbow-1800-800.jpg"/>
	</div>
	<div class="grid-wrapper-min-max">
		<div class="grid-item">
			<div class="content-caption sans-serif">
				<h4>Subhead here lorem ipsum unum</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam gravida leo massa, at elementum orci consequat non. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam gravida leo massa, at elementum orci consequat non.</p>
				<a class="cta" href="###">CTA here here</a>
			</div>
		</div>
	</div>
</section>
