<!-- image-lead-resize -->
<section id="panel-image-lead-resize" class="container-fluid">
	<div id="image-resize-background-image" class="hero-wrapper hero-wrapper-800 hero-wrapper-height-75 enlarge-200 horizontal-07-vertical-03"></div>
	<div class="grid-wrapper-min-max">
		<div class="grid-item col-flex">
			<div class="content-image-lead">
				<h6>Background image responsive resize</h6>
				<h1>Subhead here lorem ipsum unum</h1>
				<div class="intro-paragraph sans-serif">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam gravida leo massa. <a class="cta" href="###">CTA here here</a></p>
				</div>
			</div>
		</div>
	</div>
</section>
