<!-- image-overlay -->
<section id="panel-image-overlay-resize" class="container-fluid">
	<div class="hero-wrapper height-600">
		<img class="enlarge-375 horizontal-16-vertical-00" src="images/images-resize/resize-cudahy-rainbow-1800-800.jpg"/>
	</div>
	<div class="grid-wrapper-min-max">
		<div class="grid-item">
			<div class="content-image-overlay flex-item content uppercase center">
				<h4 class="m-b-lg">
					This is an H4 headline
				</h4>
				<blockquote>
					“This is a blockquote breakout, ipsum dolor sit amet. Consectetur adipiscing elit ipsum dolor sit amet, consectetur adipiscing elit. Consectetur adipiscing elit ipsum dolor sit amet, consectetur adipiscing elit.” <cite>Blockquote cite, CEO, <a href="#">Link here</a></cite>
				</blockquote>
			</div>
		</div>
	</div>
</section>
