
/* GENERAL */

body {
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}
#main-section-wrapper {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: hidden;
}
#main-section-wrapper .container {
  margin: 0 auto;
  padding: 3rem 0;
  width: 80%;
}
#main-section-wrapper .container.container-80 {
  width: 100%;
}
#main-section-wrapper ol,
#main-section-wrapper ul,
#main-section-wrapper-full-width ol,
#main-section-wrapper-full-width ul {
  margin: 0 0 1rem 1.5rem;
  line-height: 1.45;
  line-height: calc(var(--baseline) * 1.45 * 1rem);
  list-style-position: inside;
}
#main-section-wrapper ul li {
  margin: 0 0 0.65rem;
  padding: 0;
  border: 0;
  font-family: "Open Sans", sans-serif !important;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.65;
  line-height: calc(var(--baseline) * 1.65 * 1rem);
  letter-spacing: -0.045rem;
  word-spacing: 0.125rem;
  color: #000000;
  text-indent: -1.35rem;
  vertical-align: baseline;
}
h1 {
    font-size: 1.5rem;
    font-weight: bold;
}
h2 {
    font-size: 2.25rem;
    font-weight: bold;
}
#main-section-wrapper .container.container-50 nav a {
    margin: 0 125rem;
    text-transform: uppercase;
}

/* FORMS */

form.luc-form {
    display: block;
    box-sizing: border-box;
    margin: 0 0 2rem 0;
    padding: 2em;
    width: 100%;
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    line-height: rvr(2.25);
    letter-spacing: -.0125em;
    border-radius: .75rem;
    background: #e1e1e1;
}
form.luc-form:focus {
    outline-color: #0096a0;
    outline-width: 2px;
}
form.luc-form fieldset {
    margin: 0 0 2rem 0;
    padding: 2rem;
    border: solid 1px #eeeeee;
    border-radius: .5rem;
    background: #e1e1e1;
}
form.luc-form fieldset p {
    margin: 0;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.125rem;
    text-transform: none;
}
form.luc-form fieldset li {
    text-indent: 0 !important;
    list-style: none;
    margin: .5rem 0 !important;
}
#main-content-wrapper form.luc-form fieldset ul {
    margin-left: 0;
}
form.luc-form legend {
    margin: 0 -1rem;
    margin-bottom: 0 !important;
    padding: 0 1rem;
    display: block;
    margin-bottom: rvr(.5);
    font-size: 1.275rem;
    line-height: rvr(1.5);
    text-transform: uppercase;
}
form.luc-form label {
    margin: 0;
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    line-height: rvr(1.35);
    text-transform: uppercase;
}
form.luc-form labelspan {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    text-transform: none;
}
form.luc-form input,
form.luc-form textarea,
form.luc-form select {
    margin: .75rem 0 1rem;
    padding: .75rem;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    text-transform: none;
    border: solid 1px #eeeeee;
    border-radius: .25rem;
    resize: vertical;
}
form.luc-form input:focus,
form.luc-form textarea:focus,
form.luc-form select:focus {
    outline-color: #febc18;
    border-color: #febc18;
    border-width: .25em;
}
#panel-form form.luc-form fieldset ul li label {
    font-size: 1rem;
}
#panel-form form.luc-form fieldset ul li label h6 {
    margin: -.125rem 0 .25rem 0;
}
form.luc-form textarea {
    min-height: 10rem;
}
form.luc-form select {
    margin: 1rem 0 !important;
}
form.luc-form ::placeholder {
    font-size: .875rem;
    line-height: .875rem;
    color: #eeeeee;
    text-transform: uppercase;
}
form.luc-form .select-css {
display: block;
    box-sizing: border-box;
    padding: .5rem 1.5rem .5rem 1rem;
    width: 100%;
    max-width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.3;
    border: 1px solid #eeeeee;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background: white;
    background-position: calc(100% - 1rem) center !important;
}
form.luc-form .select-css::-ms-expand {
    display: none;
}
form.luc-form .select-css:hover {
    border-color: #888888;
}
form.luc-form .select-css:focus {
    color: #cccccc;
    border-color: #febc18;
    box-shadow: none;
    outline: #febc18;
}
form.luc-form .select-css option {
    font-weight: normal;
}
form.luc-form select option {
    font-weight: normal;
}
form.luc-form input[type=text],
form.luc-form input[type=email],
form.luc-form input[type=address],
form.luc-form input[type=city],
form.luc-form input[type=zip],
form.luc-form input[type=phone],
form.luc-form input[type=text],
form.luc-form textarea {
    width: 100%;
    background: #ffffff;
}
form.luc-form form > input:invalid {
    border-color: #8d0034;
}
form.luc-form span.required,
form.luc-form span.error-message {
    color: #8d0034;
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
}
form.luc-form legend span.required,
form.luc-form legend span.error-message {
    font-size: 1rem;
    text-transform: none;
}
> input:valid {
    border-color: #febc18;
}
form.luc-form input:-internal-autofill-selected {
    background-color: #e1e1e1;
    color: #eeeeee;
}
form.luc-form input[type="radio"],
form.luc-form input[type="checkbox"] {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: .5rem;
    display: inline;
    width: 18px;
    height: 18px;
}

/* button */

form.luc-form form button {
    display: block;
    font-family: "Antenna Condensed Bold", sans-serif;
    text-transform: uppercase;
}
form.luc-form form button:hover {
    background: #8d0034;
    color: #e1e1e1 !important;
}

/* disabled styles */

form.luc-form select:disabled,
form.luc-form select[aria-disabled=true] {
    color: #cccccc;
}
form.luc-form select:disabled:hover,
form.luc-form select[aria-disabled=true] {
    border-color: #aaa;
}

/* support for rtl text, explicit support for Arabic and Hebrew */

form.luc-form *[dir="rtl"] select,
form.luc-form :root:lang(ar) select,
form.luc-form :root:lang(iw) select {
    background-position: left 0.7em top 50%, 0 0;
    padding: 0.6em 0.8em 0.5em 1.4em;
}
form.luc-form .checkbox,
form.luc-form .radiobox {
    position: relative;
    display: inline-flex;
    width: 100%;
    cursor: pointer;
}
form.luc-form .checkbox > span,
form.luc-form .radiobox > span {
    color: #34495E;
    padding: 0;
}
form.luc-form .checkbox > input,
form.luc-form .radiobox > input {
    margin-top: .025rem;
    padding: .5rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    border: 1px solid #cccccc;
    border-radius: .25rem;
    outline: none;
    transition-duration: 0.3s;
    background-color: #ffffff;
    cursor: pointer;
}
form.luc-form .checkbox > input h6,
form.luc-form .radiobox > input h6 {
    width: 100% !important;
}
form.luc-form .radiobox > input {
    border-radius: .5rem;
}
form.luc-form .radiobox > input:checked    {
    background-color: #8d0034;
}
form.luc-form .checkbox > input:checked {
    background-color: #8d0034;
    color: #ffffff;
}
form.luc-form .checkbox > input:checked::before {
    content: '\2714';
    display: block;
    font-size: .125rem;
    text-align: center;
    color: #ffffff;
    position: absolute;
    left: .25rem;
    top: .25rem;
}
form.luc-form .checkbox > input:active {
    border: 2px solid #34495E;
}

/* FORMS ADJUST - ONLY FOR LUC-FORM */

.phonerow {
    margin: 1rem 0;
    width: 100%;
}
span.phonehyphen {
    margin: 0 .5rem;
}
form.luc-form .phonerow label {
    margin: 0 0 .25rem;
    padding: 0;
    width: 100%;
}
form.luc-form .phonerow input[type=text],
form.luc-form .phonerow input[type=email],
form.luc-form .phonerow input[type=address],
form.luc-form .phonerow input[type=city],
form.luc-form .phonerow input[type=zip],
form.luc-form .phonerow input[type=phone],
form.luc-form .phonerow input[type=text],
form.luc-form .phonerow textarea {
    width: calc(33% - 1.125rem);
}
form.luc-form .phonerow select {
    width: 100%;
    text-transform: uppercase;   
}
form.luc-form input,
form.luc-form textarea,
form.luc-form select {
    margin: .25rem 0 !important;
}
form.luc-form input [type=submit] {
    width: auto !important;
}


/* CSS - END */
