<!-- charts -->
<section>
  <div class="container-fluid">
    <div class="container">
      <h5>
        Charts - <span style="font-family: 'Antenna Light', sans-serif;">00 changes percentage</span>
      </h5>
    </div>
  </div>
</section>

<div class="padding-sm"></div>

<!-- pie-charts -->
<section id="panel-charts" class="container-fluid">
  <div class="container">
    <div class="grid-wrapper-min-max three-column">
      <!-- chart -->
      <div class="grid-item">
        <figure id="sixty-five-percent" class="pie-chart">
          <figcaption>
            <h4>Title 01</h4>
            <div class="explainer">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              </p>
            </div>
          </figcaption>
          <figcaption>
            <span style="color: #8d0034"><p>Category Value</p></span>
            <span style="color: #cccccc"><p>Category Value</p></span>
          </figcaption>
        </figure>
        <footnote>SOURCE: Lorem ipsum unum epsi lorem</footnote>
      </div>
      <!-- chart -->
      <div class="grid-item">
        <figure id="fifteen-percent" class="pie-chart">
          <figcaption>
            <h4>Title 02</h4>
            <div class="explainer">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              </p>
            </div>
          </figcaption>
          <figcaption>
            <span style="color: #8d0034"><p>Category Value</p></span>
            <span style="color: #cccccc"><p>Category Value</p></span>
          </figcaption>
        </figure>
        <footnote>SOURCE: Lorem ipsum unum epsi lorem</footnote>
      </div>
      <!-- chart -->
      <div class="grid-item">
        <figure id="eighty-five-percent" class="pie-chart">
          <figcaption>
            <h4>Title 03</h4>
            <div class="explainer">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              </p>
            </div>
          </figcaption>
          <figcaption>
            <span style="color: #8d0034"><p>Category Value</p></span>
            <span style="color: #cccccc"><p>Category Value</p></span>
          </figcaption>
        </figure>
        <footnote>SOURCE: Lorem ipsum unum epsi lorem</footnote>
      </div>
    </div>
  </div>
</section>
