<!-- numbers -->
<section id="panel-numbers" class="container-fluid">
<!-- number -->
  <div class="container-fluid">
    <div class="container">

<!-- numbers large -->
      <h5>
        Numbers - <span style="font-family: 'Antenna Light', sans-serif;">Large</span>
      </h5>
      <div class="padding-sm"></div>
      <div class="grid-wrapper-min-max four-column number">
        <!-- card -->
        <div class="grid-item">
          <div class="image-wrapper">
            <a href="###" target="_blank" title="Title goes here">
              <img src="http://via.placeholder.com/1000x560" alt="Alternate description goes here" title="Title goes here">
            </a>
          </div>
          <div class="content-grid-wrapper">
            <div class="flex-item content">
              <h6>0/0/0000: 0:00PM-0:00PM</h6>
              <h4>00.0%</h4>
              <h5>Somebody Namehere</h5>
              <div class="explainer"><p>Lorem ipsum dolor sit amet</p></div>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam gravida leo massa, at elementum orci consequat non. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam gravida leo massa, at elementum orci consequat non.</p>
              <a class="cta" href="#####">CTA here</a>
            </div>
            <div class="flex-item">
              <button onclick="window.open('###','_blank')">CTA here</button>
              <h6 style="text-align: center;">Lorem ipsum unum</h6>
            </div>
          </div>
        </div>
        <!-- card -->
        <div class="grid-item">
          <div class="image-wrapper">
            <a href="###" target="_blank" title="Title goes here">
              <img src="http://via.placeholder.com/1000x560" alt="Alternate description goes here" title="Title goes here">
            </a>
          </div>
          <div class="content-grid-wrapper">
            <div class="flex-item content">
              <h6>0/0/0000: 0:00PM-0:00PM</h6>
              <h4>00M</h4>
              <h5>Somebody Namehere</h5>
              <div class="explainer"><p>Lorem ipsum dolor sit amet</p></div>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam gravida leo massa, at elementum orci consequat non. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam gravida leo massa, at elementum orci consequat non.</p>
              <a class="cta" href="#####">CTA here</a>
            </div>
            <div class="flex-item">
              <button onclick="window.open('###','_blank')">CTA here</button>
              <h6 style="text-align: center;">Lorem ipsum unum</h6>
            </div>
          </div>
        </div>
        <!-- card -->
        <div class="grid-item">
          <div class="image-wrapper">
            <a href="###" target="_blank" title="Title goes here">
              <img src="http://via.placeholder.com/1000x560" alt="Alternate description goes here" title="Title goes here">
            </a>
          </div>
          <div class="content-grid-wrapper">
            <div class="flex-item content">
              <h6>0/0/0000: 0:00PM-0:00PM</h6>
              <h4>0</h4>
              <h5>Somebody Namehere</h5>
              <div class="explainer"><p>Lorem ipsum dolor sit amet</p></div>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam gravida leo massa, at elementum orci consequat non. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam gravida leo massa, at elementum orci consequat non.</p>
              <a class="cta" href="#####">CTA here</a>
            </div>
            <div class="flex-item">
              <button onclick="window.open('###','_blank')">CTA here</button>
              <h6 style="text-align: center;">Lorem ipsum unum</h6>
            </div>
          </div>
        </div>
        <!-- card -->
        <div class="grid-item">
          <div class="image-wrapper">
            <a href="###" target="_blank" title="Title goes here">
              <img src="http://via.placeholder.com/1000x560" alt="Alternate description goes here" title="Title goes here">
            </a>
          </div>
          <div class="content-grid-wrapper">
            <div class="flex-item content">
              <h6>0/0/0000: 0:00PM-0:00PM</h6>
              <h4>0000</h4>
              <h5>Somebody Namehere</h5>
              <div class="explainer"><p>Lorem ipsum dolor sit amet</p></div>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam gravida leo massa, at elementum orci consequat non. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam gravida leo massa, at elementum orci consequat non.</p>
              <a class="cta" href="#####">CTA here</a>
            </div>
            <div class="flex-item">
              <button onclick="window.open('###','_blank')">CTA here</button>
              <h6 style="text-align: center;">Lorem ipsum unum</h6>
            </div>
          </div>
        </div>
      </div>

      <div class="padding-lg"></div>

<!-- numbers medium -->
      <h5>
        Numbers - <span style="font-family: 'Antenna Light', sans-serif;">Medium</span>
      </h5>
      <div class="padding-xsm"></div>
      <div class="grid-wrapper-min-max four-column number numbers-md">
        <!-- card -->
        <div class="grid-item">
          <div class="image-wrapper">
            <a href="###" target="_blank" title="Title goes here">
              <img src="http://via.placeholder.com/1000x560" alt="Alternate description goes here" title="Title goes here">
            </a>
          </div>
          <div class="content-grid-wrapper">
            <div class="flex-item content">
              <h6>0/0/0000: 0:00PM-0:00PM</h6>
              <h4>00.0%</h4>
              <h5>Somebody Namehere</h5>
              <div class="explainer"><p>Lorem ipsum dolor sit amet</p></div>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam gravida leo massa, at elementum orci consequat non. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam gravida leo massa, at elementum orci consequat non.</p>
              <a class="cta" href="#####">CTA here</a>
            </div>
            <div class="flex-item">
              <button onclick="window.open('###','_blank')">CTA here</button>
              <h6 style="text-align: center;">Lorem ipsum unum</h6>
            </div>
          </div>
        </div>
        <!-- card -->
        <div class="grid-item">
          <div class="image-wrapper">
            <a href="###" target="_blank" title="Title goes here">
              <img src="http://via.placeholder.com/1000x560" alt="Alternate description goes here" title="Title goes here">
            </a>
          </div>
          <div class="content-grid-wrapper">
            <div class="flex-item content">
              <h6>0/0/0000: 0:00PM-0:00PM</h6>
              <h4>00M</h4>
              <h5>Somebody Namehere</h5>
              <div class="explainer"><p>Lorem ipsum dolor sit amet</p></div>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam gravida leo massa, at elementum orci consequat non. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam gravida leo massa, at elementum orci consequat non.</p>
              <a class="cta" href="#####">CTA here</a>
            </div>
            <div class="flex-item">
              <button onclick="window.open('###','_blank')">CTA here</button>
              <h6 style="text-align: center;">Lorem ipsum unum</h6>
            </div>
          </div>
        </div>
        <!-- card -->
        <div class="grid-item">
          <div class="image-wrapper">
            <a href="###" target="_blank" title="Title goes here">
              <img src="http://via.placeholder.com/1000x560" alt="Alternate description goes here" title="Title goes here">
            </a>
          </div>
          <div class="content-grid-wrapper">
            <div class="flex-item content">
              <h6>0/0/0000: 0:00PM-0:00PM</h6>
              <h4>0</h4>
              <h5>Somebody Namehere</h5>
              <div class="explainer"><p>Lorem ipsum dolor sit amet</p></div>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam gravida leo massa, at elementum orci consequat non. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam gravida leo massa, at elementum orci consequat non.</p>
              <a class="cta" href="#####">CTA here</a>
            </div>
            <div class="flex-item">
              <button onclick="window.open('###','_blank')">CTA here</button>
              <h6 style="text-align: center;">Lorem ipsum unum</h6>
            </div>
          </div>
        </div>
        <!-- card -->
        <div class="grid-item">
          <div class="image-wrapper">
            <a href="###" target="_blank" title="Title goes here">
              <img src="http://via.placeholder.com/1000x560" alt="Alternate description goes here" title="Title goes here">
            </a>
          </div>
          <div class="content-grid-wrapper">
            <div class="flex-item content">
              <h6>0/0/0000: 0:00PM-0:00PM</h6>
              <h4>0000</h4>
              <h5>Somebody Namehere</h5>
              <div class="explainer"><p>Lorem ipsum dolor sit amet</p></div>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam gravida leo massa, at elementum orci consequat non. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam gravida leo massa, at elementum orci consequat non.</p>
              <a class="cta" href="#####">CTA here</a>
            </div>
            <div class="flex-item">
              <button onclick="window.open('###','_blank')">CTA here</button>
              <h6 style="text-align: center;">Lorem ipsum unum</h6>
            </div>
          </div>
        </div>
      </div>

      <div class="padding-lg"></div>

<!-- numbers small -->
      <h5>
        Numbers - <span style="font-family: 'Antenna Light', sans-serif;">Small</span>
      </h5>
      <div class="padding-xsm"></div>
      <div class="grid-wrapper-min-max four-column number numbers-sm">
        <!-- card -->
        <div class="grid-item">
          <div class="image-wrapper">
            <a href="###" target="_blank" title="Title goes here">
              <img src="http://via.placeholder.com/1000x560" alt="Alternate description goes here" title="Title goes here">
            </a>
          </div>
          <div class="content-grid-wrapper">
            <div class="flex-item content">
              <h6>0/0/0000: 0:00PM-0:00PM</h6>
              <h4>00.0%</h4>
              <h5>Somebody Namehere</h5>
              <div class="explainer"><p>Lorem ipsum dolor sit amet</p></div>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam gravida leo massa, at elementum orci consequat non. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam gravida leo massa, at elementum orci consequat non.</p>
              <a class="cta" href="#####">CTA here</a>
            </div>
            <div class="flex-item">
              <button onclick="window.open('###','_blank')">CTA here</button>
              <h6 style="text-align: center;">Lorem ipsum unum</h6>
            </div>
          </div>
        </div>
        <!-- card -->
        <div class="grid-item">
          <div class="image-wrapper">
            <a href="###" target="_blank" title="Title goes here">
              <img src="http://via.placeholder.com/1000x560" alt="Alternate description goes here" title="Title goes here">
            </a>
          </div>
          <div class="content-grid-wrapper">
            <div class="flex-item content">
              <h6>0/0/0000: 0:00PM-0:00PM</h6>
              <h4>00M</h4>
              <h5>Somebody Namehere</h5>
              <div class="explainer"><p>Lorem ipsum dolor sit amet</p></div>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam gravida leo massa, at elementum orci consequat non. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam gravida leo massa, at elementum orci consequat non.</p>
              <a class="cta" href="#####">CTA here</a>
            </div>
            <div class="flex-item">
              <button onclick="window.open('###','_blank')">CTA here</button>
              <h6 style="text-align: center;">Lorem ipsum unum</h6>
            </div>
          </div>
        </div>
        <!-- card -->
        <div class="grid-item">
          <div class="image-wrapper">
            <a href="###" target="_blank" title="Title goes here">
              <img src="http://via.placeholder.com/1000x560" alt="Alternate description goes here" title="Title goes here">
            </a>
          </div>
          <div class="content-grid-wrapper">
            <div class="flex-item content">
              <h6>0/0/0000: 0:00PM-0:00PM</h6>
              <h4>0</h4>
              <h5>Somebody Namehere</h5>
              <div class="explainer"><p>Lorem ipsum dolor sit amet</p></div>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam gravida leo massa, at elementum orci consequat non. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam gravida leo massa, at elementum orci consequat non.</p>
              <a class="cta" href="#####">CTA here</a>
            </div>
            <div class="flex-item">
              <button onclick="window.open('###','_blank')">CTA here</button>
              <h6 style="text-align: center;">Lorem ipsum unum</h6>
            </div>
          </div>
        </div>
        <!-- card -->
        <div class="grid-item">
          <div class="image-wrapper">
            <a href="###" target="_blank" title="Title goes here">
              <img src="http://via.placeholder.com/1000x560" alt="Alternate description goes here" title="Title goes here">
            </a>
          </div>
          <div class="content-grid-wrapper">
            <div class="flex-item content">
              <h6>0/0/0000: 0:00PM-0:00PM</h6>
              <h4>0000</h4>
              <h5>Somebody Namehere</h5>
              <div class="explainer"><p>Lorem ipsum dolor sit amet</p></div>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam gravida leo massa, at elementum orci consequat non. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam gravida leo massa, at elementum orci consequat non.</p>
              <a class="cta" href="#####">CTA here</a>
            </div>
            <div class="flex-item">
              <button onclick="window.open('###','_blank')">CTA here</button>
              <h6 style="text-align: center;">Lorem ipsum unum</h6>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
<section>
