<section class="container-fluid profile-cards">
  <div class="container">
    <div class="card">
      <div class="image-wrapper">
        <img src="images/images-directory/faculty-member-portrait-1000x560.jpg">
      </div>
      <div class="content-grid-wrapper ">
        <div class="flex-item content">
          <h4>Firstname Lastname</h4>
          <h5>Title Herehere</h5>
          <p><strong>Email:</strong> bberg2@luc.edu</p>
          <p><strong>Phone:</strong> 312.915.7524</p>
          <p><strong>Professional Links</strong></p>
          <ul>
            <li><a href="###">Eiusmod tempor incididunt ut labore</a></li>
            <li><a href="###">Tempor incididunt ut labore</a></li>
            <li><a href="###">Lorem ipsum sed do eiusmod</a></li>
          </ul>
          <div id="social-icon-bar">
              <article>
                  <!-- facebook -->
                  <a target="_blank" href="https://www.luc.edu/"><i class="fa-brands fa-facebook" title="A link to the Loyola University Chicago Facebook account"></i></a>
                  <!-- twitter -->
                  <a target="_blank" href="https://www.luc.edu/"><i class="fa-brands fa-x-twitter" title="A link to the Loyola University Chicago Twitter account"></i></a>
                  <!-- youtube -->
                  <a target="_blank" href="https://www.luc.edu/"><i class="fa-brands fa-youtube" title="A link to the Loyola University Chicago YouTube account"></i></a>
              </article>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>