<section class="container-fluid container container-100 image-grid image-grid-highlights">
  <div class="grid-wrapper-min-max">
    <div class="grid-item">
      <img
        src="https://source.unsplash.com/1000x1350/?portrait-professional-student" alt="Alternate text goes here for image one" title="Title goes here for image one">
      <p class="caption-overlay">
        <span>Keyword one</span>
      </p>
      <button class="content-activate-symbol"></button>
      <div class="content-image-overlay">
        <h4>Highlight headline one</h4>
        <h3 class="teaser">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
          labore et dolore magna aliqua.</h3>
        <p>
          <a class="cta" href="####">CTA here</a>
        </p>
        <button class="content-activate-symbol"></button>
      </div>
    </div>
    <div class="grid-item">
      <img
        src="https://source.unsplash.com/1000x1350/?tool-detail" alt="Alternate text goes here for image two" title="Title goes here for image two">
      <p class="caption-overlay">
        <span>Keyword two</span>
      </p>
      <button class="content-activate-symbol"></button>
      <div class="content-image-overlay">
        <h4>Highlight headline two</h4>
        <h3 class="teaser">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
          labore et dolore magna aliqua.</h3>
        <p>
          <a class="cta" href="####">CTA here</a>
        </p>
        <button class="content-activate-symbol"></button>
      </div>
    </div>
    <div class="grid-item">
      <img
        src="https://source.unsplash.com/1000x1350/?portrait-man" alt="Alternate text goes here for image three" title="TItle goes here for image one">
      <p class="caption-overlay">

        <span>Keyword three</span>
      </p>
      <button class="content-activate-symbol"></button>
      <div class="content-image-overlay">
        <h4>Highlight headline three</h4>
        <h3 class="teaser">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
          labore et dolore magna aliqua.
        </h3>
        <p>
          <a class="cta" href="####">CTA here</a>
        </p>
        <button class="content-activate-symbol"></button>
      </div>
    </div>
  </div>
</section>