<!-- image-caption -->
<section id="panel-image-caption" class="container-fluid">
	<img src="http://via.placeholder.com/1800x435"/>
	<div class="grid-wrapper-min-max">
		<div class="grid-item">
			<div class="content-caption sans-serif">
				<h4>Subhead here lorem ipsum unum</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam gravida leo massa, at elementum orci consequat non. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam gravida leo massa, at elementum orci consequat non.</p>
				<a class="cta" href="###">CTA here here</a>
			</div>
		</div>
	</div>
</section>
