<!-- image-hightlights -->
<section id="panel-image-highlights" class="container-fluid">
	<div class="grid-wrapper-min-max three-column">
		<!-- image-01 -->
		<div class="grid-item">
			<div class="image-highlight-wrapper">
				<h2>Keyword-01</h2>
				<img src="http://via.placeholder.com/1000x1000" />
				<button class="content-activate-symbol"></button>
				<div class="content-image-overlay">
					<h4>Headline lorem ipsum hereum sit amet lorem herum</h4>
					<!-- <p>Lorem ipsum dolor sit amet.</p> -->
					<a class="cta" href="#">Link here</a>
					<button class="content-activate-symbol class="content-activate-symbol"></button>
				</div>
			</div>
			<div class="image-highlight-teaser-panel">
				<h4>Readout teaser 01</h4>
				<button class="content-activate-symbol activate-symbol-plus" href="###"></button>
			</div>
		</div>
		<!-- image-02 -->
		<div class="grid-item">
			<div class="image-highlight-wrapper">
				<h2>Keyword-02</h2>
				<img src="http://via.placeholder.com/1000x1000" />
				<button class="content-activate-symbol"></button>
				<div class="content-image-overlay">
					<h4>Headline lorem ipsum hereum sit amet lorem herum</h4>
					<!-- <p>Lorem ipsum dolor sit amet.</p> -->
					<a class="cta" href="#">Link here</a>
					<button class="content-activate-symbol" class="content-activate-symbol"></button>
				</div>
			</div>
			<div class="image-highlight-teaser-panel">
				<h4>Readout teaser 02</h4>
				<button class="content-activate-symbol activate-symbol-plus" href="###"></button>
			</div>
		</div>
		<!-- image-03 -->
		<div class="grid-item">
			<div class="image-highlight-wrapper">
				<h2>Keyword-03</h2>
				<img src="http://via.placeholder.com/1000x1000" />
				<button class="content-activate-symbol"></button>
				<div class="content-image-overlay">
					<h4>Headline lorem ipsum hereum sit amet lorem herum</h4>
					<!-- <p>Lorem ipsum dolor sit amet.</p> -->
					<a class="cta" href="#">Link here</a>
					<button id="content-activate-symbol-overlay" class="content-activate-symbol"></button>
				</div>
			</div>
			<div class="image-highlight-teaser-panel">
				<h4>Readout teaser 03</h4>
				<button class="content-activate-symbol activate-symbol-plus" href="###"></button>
			</div>
		</div>
	</div>
</section>
