<!-- image-grid-area -->
<section id="panel-image-grid-mason-gallery" class="container-fluid">
	<div class="container container-100">
		<div class="grid-wrapper-grid-wrapper">

<!-- image-01 -->
			<div class="gallery-container w-6 h-2">
				<div class="gallery-item">
					<div class="image">
						<h5>Label Hedline here</h5>
						<img src="https://source.unsplash.com/1600x900/?building" alt="building"/>
					</div>
					<div class="caption">
						<p>Caption lorem ipsum hereum<span><a class="cta">CTA here</a></span></p>
					</div>
				</div>
			</div>

<!-- image-02 -->
			<div class="gallery-container w-2 h-2">
				<div class="gallery-item">
					<div class="image">
						<h5>Label Hedline here</h5>
						<img src="https://source.unsplash.com/1600x900/?dessert" alt="dessert"/>
					</div>
					<div class="caption">
						<p>Caption lorem ipsum hereum<span><a class="cta">CTA here</a></span></p>
					</div>
				</div>
			</div>

<!-- image-03 -->
			<div class="gallery-container w-2 h-2">
				<div class="gallery-item">
					<div class="image">
						<h5>Label Hedline here</h5>
						<img src="https://source.unsplash.com/1600x900/?people" alt="people"/>
					</div>
					<div class="caption">
						<p>Caption lorem ipsum hereum<span><a class="cta">CTA here</a></span></p>
					</div>
				</div>
			</div>

<!-- image-04 -->
			<div class="gallery-container w-4 h-2">
				<div class="gallery-item">
					<div class="image">
						<h5>Label Hedline here</h5>
						<img src="https://source.unsplash.com/1600x900/?bike" alt="bike"/>
					</div>
					<div class="caption">
						<p>Caption lorem ipsum hereum<span><a class="cta">CTA here</a></span></p>
					</div>
				</div>
			</div>

<!-- image-05 -->
			<div class="gallery-container w-1 h-1">
				<div class="gallery-item">
					<div class="image">
						<h5>Label Hedline here</h5>
						<img src="https://source.unsplash.com/1600x900/?art" alt="art"/>
					</div>
					<div class="caption">
						<p>Caption lorem ipsum hereum<span><a class="cta">CTA here</a></span></p>
					</div>
				</div>
			</div>

<!-- image-06 -->
			<div class="gallery-container w-1 h-1">
				<div class="gallery-item">
					<div class="image">
						<h5>Label Hedline here</h5>
						<img src="https://source.unsplash.com/1600x900/?animal" alt="animal"/>
					</div>
					<div class="caption">
						<p>Caption lorem ipsum hereum<span><a class="cta">CTA here</a></span></p>
					</div>
				</div>
			</div>

<!-- image-07 -->
			<div class="gallery-container w-2 h-2">
				<div class="gallery-item">
					<div class="image">
						<h5>Label Hedline here</h5>
						<img src="https://source.unsplash.com/1600x900/?flower" alt="flower"/>
					</div>
					<div class="caption">
						<p>Caption lorem ipsum hereum<span><a class="cta">CTA here</a></span></p>
					</div>
				</div>
			</div>

<!-- image-08 -->
			<div class="gallery-container w-2 h-1">
				<div class="gallery-item">
					<div class="image">
						<h5>Label Hedline here</h5>
						<img src="https://source.unsplash.com/1600x900/?space" alt="space"/>
					</div>
					<div class="caption">
						<p>Caption lorem ipsum hereum<span><a class="cta">CTA here</a></span></p>
					</div>
				</div>
			</div>

		</div>
	</div>
</section>
