<!-- chart - pie -->
<section>
  <div class="container-fluid">
    <div class="container">
      <h5>
        Charts - <span style="font-family: 'Antenna Light', sans-serif;">Donut Chart</span>
      </h5>
    </div>
  </div>
</section>

<div class="padding-sm"></div>

<!--charts -->
<section id="panel-donut-chart" class="container-fluid">
  <div class="container">
    <div class="grid-wrapper-min-max three-column">
      <!-- chart -->
      <div class="grid-item">
        <figure>
          <figcaption>
            <h4>Title 01</h4>
            <div class="explainer">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              </p>
            </div>
          </figcaption>
          <!-- donut - donut - charts -->
          <div id="donut-chart-one" class="donut-chart">
            <div id="donut-section-one" class="portion-block"><div class="circle"></div></div>
            <div id="donut-section-two" class="portion-block"><div class="circle"></div></div>
            <div id="donut-section-three" class="portion-block"><div class="circle"></div></div>
            <div id="donut-section-four" class="portion-block"><div class="circle"></div></div>
            <div class="center"></div>      
          </div>
          <h5>00%</h5>
          <figcaption>
            <span style="color: #8d0034"><p>Category Value</p></span>
            <span style="color: #cccccc"><p>Category Value</p></span>
            <span style="color: #eeeeee"><p>Category Value</p></span>
          </figcaption>
        </figure>
        <footnote>SOURCE: Lorem ipsum unum epsi lorem</footnote>
      </div>
      <!-- chart -->
      <div class="grid-item">
        <figure id="fifteen-percent" class="pie-chart">
          <figcaption>
            <h4>Title 02</h4>
            <div class="explainer">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              </p>
            </div>
          </figcaption>
          <div id="donut-chart-two" class="donut-chart">
            <div id="donut-section-one" class="portion-block"><div class="circle"></div></div>
            <div id="donut-section-two" class="portion-block"><div class="circle"></div></div>
            <div id="donut-section-three" class="portion-block"><div class="circle"></div></div>
            <div class="center"></div>      
          </div>
          <h5>00%</h5>
          <figcaption>
            <span style="color: #8d0034"><p>Category Value</p></span>
            <span style="color: #cccccc"><p>Category Value</p></span>
            <span style="color: #eeeeee"><p>Category Value</p></span>
          </figcaption>
        </figure>
        <footnote>SOURCE: Lorem ipsum unum epsi lorem</footnote>
      </div>
      <!-- chart -->
      <div class="grid-item">
        <figure id="eighty-five-percent" class="pie-chart">
          <figcaption>
            <h4>Title 03</h4>
            <div class="explainer">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              </p>
            </div>
          </figcaption>
          <div id="donut-chart-three" class="donut-chart">
            <div id="donut-section-one" class="portion-block"><div class="circle"></div></div>
            <div id="donut-section-two" class="portion-block"><div class="circle"></div></div>
            <div id="donut-section-three" class="portion-block"><div class="circle"></div></div>
            <div class="center"></div>      
          </div>
          <h5>00%</h5>
          <figcaption>
            <span style="color: #8d0034"><p>Category Value</p></span>
            <span style="color: #cccccc"><p>Category Value</p></span>
            <span style="color: #eeeeee"><p>Category Value</p></span>
          </figcaption>
        </figure>
        <footnote>SOURCE: Lorem ipsum unum epsi lorem</footnote>
      </div>
    </div>
  </div>
</section>
<div class="padding-lg"></div>