<!-- accordion -->
<section id="panel-accordion" class="container-fluid">
  <div class="container">
    <div class="grid-wrapper-min-max">
      <div class="grid-item">
        <h2>H2 headline for a standard panel</h2>
        <h3>H3 headline for a standard panel</h3>
        <div class="padding-xsm"></div>
        <div class="js-accordion" data-accordion-prefix-classes="minimalist" data-accordion-cool-selectors="1" aria-multiselectable="true" data-accordion-multiselectable="none" role="tablist">
          <div>
            <!-- this div is NOT necessary, just here to illustrate the use of data-accordion-cool-selectors="1" -->
            <h4 class="js-accordion__header">An accessible accordion lorem ipsum dolor</h4>
            <div class="js-accordion__panel">
              <div class="standard-paragraph">
                @@include('panel-table.html')
                <img class="image-portrait" src="http://via.placeholder.com/1000x1350" alt="Alternate description goes here" title="Title goes here">
            		<p>
            			This is an intro paragraph body. Consectetur <a href="javascript:void(0);" title="link">link here</a> adipiscing elit. Curabitur nec <span class="highlight bg-info">info color</span> posuere odio. Phasellus odio lectus, ultrices non pretium <span class="highlight bg-success">success color</span> ac, mollis id elit. Fusce tempor tellus non felis tempus vestibulum. Donec molestie <span class="highlight bg-warning">warning color</span> purus sem. Suspendisse at placerat turpis. Duis luctus erat vel magna pharetra aliquet. Maecenas <span class="highlight bg-danger">danger color</span> tincidunt feugiat ultricies. Phasellus et dui risus. Vestibulum adipiscing, eros quis lobortis dictum.
            		</p>
            	</div>
            </div>
            <h4 class="js-accordion-no-panel">An accessible accordion lorem ipsum dolor <a class="cta">CTA here</a></h4>
            <h4 class="js-accordion__header">An accessible accordion lorem ipsum dolor</h4>
            <div class="js-accordion__panel">
              <div class="standard-paragraph">
            		<p><span tabindex="0">
            			This is an intro paragraph body. Consectetur <a href="javascript:void(0);" title="link">link here</a> adipiscing elit. Curabitur nec <span class="highlight bg-info">info color</span> posuere odio. Phasellus odio lectus, ultrices non pretium <span class="highlight bg-success">success color</span> ac, mollis id elit. Fusce tempor tellus non felis tempus vestibulum. Donec molestie <span class="highlight bg-warning">warning color</span> purus sem. Suspendisse at placerat turpis. Duis luctus erat vel magna pharetra aliquet. Maecenas <span class="highlight bg-danger">danger color</span> tincidunt feugiat ultricies. Phasellus et dui risus. Vestibulum adipiscing, eros quis lobortis dictum.
            		</span></p>
            	</div>
            </div>
            <h4 class="js-accordion__header">An accessible accordion lorem ipsum dolor</h4>
            <div class="js-accordion__panel">
              <div class="standard-paragraph">
            		<p><span tabindex="0">
            			This is an intro paragraph body. Consectetur <a href="javascript:void(0);" title="link">link here</a> adipiscing elit. Curabitur nec <span class="highlight bg-info">info color</span> posuere odio. Phasellus odio lectus, ultrices non pretium <span class="highlight bg-success">success color</span> ac, mollis id elit. Fusce tempor tellus non felis tempus vestibulum. Donec molestie <span class="highlight bg-warning">warning color</span> purus sem. Suspendisse at placerat turpis. Duis luctus erat vel magna pharetra aliquet. Maecenas <span class="highlight bg-danger">danger color</span> tincidunt feugiat ultricies. Phasellus et dui risus. Vestibulum adipiscing, eros quis lobortis dictum.
            		</span></p>
            	</div>
              <div class="js-accordion" data-accordion-prefix-classes="minimalist-css" data-accordion-multiselectable="none">
                <h3 class="js-accordion__header">Sub-accordion 1</h3>
                <div class="js-accordion__panel">
                  <div class="standard-paragraph">
                		<p>
                			This is an intro paragraph body. Consectetur <a href="javascript:void(0);" title="link">link here</a> adipiscing elit. Curabitur nec <span class="highlight bg-info">info color</span> posuere odio. Phasellus odio lectus, ultrices non pretium <span class="highlight bg-success">success color</span> ac, mollis id elit. Fusce tempor tellus non felis tempus vestibulum. Donec molestie <span class="highlight bg-warning">warning color</span> purus sem. Suspendisse at placerat turpis. Duis luctus erat vel magna pharetra aliquet. Maecenas <span class="highlight bg-danger">danger color</span> tincidunt feugiat ultricies. Phasellus et dui risus. Vestibulum adipiscing, eros quis lobortis dictum.
                		</p>
                	</div>
                </div>
                <h3 class="js-accordion__header">Sub-accordion 2</h3>
                <div class="js-accordion__panel">
                  <div class="standard-paragraph">
                		<p><span tabindex="0">
                			This is an intro paragraph body. Consectetur <a href="javascript:void(0);" title="link">link here</a> adipiscing elit. Curabitur nec <span class="highlight bg-info">info color</span> posuere odio. Phasellus odio lectus, ultrices non pretium <span class="highlight bg-success">success color</span> ac, mollis id elit. Fusce tempor tellus non felis tempus vestibulum. Donec molestie <span class="highlight bg-warning">warning color</span> purus sem. Suspendisse at placerat turpis. Duis luctus erat vel magna pharetra aliquet. Maecenas <span class="highlight bg-danger">danger color</span> tincidunt feugiat ultricies. Phasellus et dui risus. Vestibulum adipiscing, eros quis lobortis dictum.
                		</span></p>
                	</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
