<section id="panel-carousel-scroll" class="container-fluid">
	<div class="grid-wrapper-min-max">
		<div class="grid-item">
			<div id="intro-slide" class="item">
				<div class="item-content">
					<div class="item-content-box">
						<h1>Carousel scroll headgline</h1>
						<div class="sans-serif">
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam gravida leo massa, at elementum orci consequat non.</p>
						</div>
						<h6>Photos by Someone Namehere</h6>
					</div>
				</div>
			</div>
			<div class="item" id="trigger-first">
				<div class="item mobile-image">
					<img src="../images/images-carousel-scroll/carousel-scroll-02.jpg"/>
				</div>
				<div class="item item--first" data-aos="fade" data-aos-anchor="#trigger-first" data-aos-anchor-placement="top-bottom">
				</div>
				<div class="item-content">
					<div class="item-content-box">
						<h6>Category label</h6>
						<h1>Item headline 01</h1>
						<blockquote>‘Lorem ipsum dolor sit amet, consectetur adipiscing. Etiam gravida leo massa, orci consequat non.’ <cite>Someone Namehere</cite></blockquote>
					</div>
				</div>
			</div>
			<div class="item" id="trigger-second">
				<div class="item mobile-image">
					<img src="../images/images-carousel-scroll/carousel-scroll-03.jpg"/>
				</div>
				<div class="item item--second" data-aos="fade" data-aos-anchor="#trigger-second" data-aos-anchor-placement="top-center">
				</div>
				<div class="item-content">
					<div class="item-content-box">
						<h6>Category label</h6>
						<h1>Item headline 02</h1>
						<blockquote>‘Lorem ipsum dolor sit amet, consectetur adipiscing. Etiam gravida leo massa, orci consequat non.’ <cite>Someone Namehere</cite></blockquote>
					</div>
				</div>
			</div>
			<div class="item" id="trigger-third">
				<div class="item mobile-image">
					<img src="../images/images-carousel-scroll/carousel-scroll-04.jpg"/>
				</div>
				<div class="item item--third" data-aos="fade" data-aos-anchor="#trigger-third" data-aos-anchor-placement="top-center">
				</div>
				<div class="item-content">
					<div class="item-content-box">
						<h6>Category label</h6>
						<h1>Item headline 03</h1>
						<blockquote>‘Lorem ipsum dolor sit amet, consectetur adipiscing. Etiam gravida leo massa, orci consequat non.’ <cite>Someone Namehere</cite></blockquote>
					</div>
				</div>
			</div>
			<div class="item" id="trigger-fourth">
				<div class="item mobile-image">
					<img src="../images/images-carousel-scroll/carousel-scroll-05.jpg"/>
				</div>
				<div class="item item--fourth" data-aos="fade" data-aos-anchor="#trigger-fourth" data-aos-anchor-placement="top-center">
				</div>
				<div class="item-content">
					<div class="item-content-box">
						<h6>Category label</h6>
						<h1>Item headline 04</h1>
						<blockquote>‘Lorem ipsum dolor sit amet, consectetur adipiscing. Etiam gravida leo massa, orci consequat non.’ <cite>Someone Namehere</cite></blockquote>
					</div>
				</div>
			</div>
			<div class="item" id="trigger-fifth">
				<div class="item mobile-image">
					<img src="../images/images-carousel-scroll/carousel-scroll-06.jpg"/>
				</div>
				<div class="item item--fifth" data-aos="fade" data-aos-anchor="#trigger-fifth" data-aos-anchor-placement="top-center">
				</div>
				<div class="item-content">
					<div class="item-content-box">
						<h6>Category label</h6>
						<h1>Item headline 05</h1>
						<blockquote>‘Lorem ipsum dolor sit amet, consectetur adipiscing. Etiam gravida leo massa, orci consequat non.’ <cite>Someone Namehere</cite></blockquote>
					</div>
				</div>
			</div>
			<div class="item" id="trigger-sixth">
				<div class="item mobile-image">
					<img src="../images/images-carousel-scroll/carousel-scroll-07.jpg"/>
				</div>
				<div class="item item--sixth" data-aos="fade-top" data-aos-anchor="#trigger-sixth" data-aos-anchor-placement="middle-center">
				</div>
				<div class="item-content">
					<div class="item-content-box">
						<h6>Category label</h6>
						<h1>Item headline 06</h1>
						<blockquote>‘Lorem ipsum dolor sit amet, consectetur adipiscing. Etiam gravida leo massa, orci consequat non.’ <cite>Someone Namehere</cite></blockquote>
					</div>
				</div>
			</div>
			<div class="item" id="trigger-seventh">
				<div class="item mobile-image">
					<img src="../images/images-carousel-scroll/carousel-scroll-08.jpg"/>
				</div>
				<div class="item item--seventh" data-aos="fade-top" data-aos-anchor="#trigger-seventh" data-aos-anchor-placement="middle-center">
				</div>
				<div class="item-content">
					<div class="item-content-box">
						<h6>Category label</h6>
						<h1>Item headline 07</h1>
						<blockquote>‘Lorem ipsum dolor sit amet, consectetur adipiscing. Etiam gravida leo massa, orci consequat non.’ <cite>Someone Namehere</cite></blockquote>
					</div>
				</div>
			</div>
			<div class="item" id="trigger-eighth">
				<div class="item mobile-image">
					<img src="../images/images-carousel-scroll/carousel-scroll-09.jpg"/>
				</div>
				<div class="item item--eighth" data-aos="fade-top" data-aos-anchor="#trigger-eighth" data-aos-anchor-placement="middle-center">
				</div>
				<div class="item-content">
					<div class="item-content-box">
						<h6>Category label</h6>
						<h1>Item headline 08</h1>
						<blockquote>‘Lorem ipsum dolor sit amet, consectetur adipiscing. Etiam gravida leo massa, orci consequat non.’ <cite>Someone Namehere</cite></blockquote>
					</div>
				</div>
			</div>
			<div class="item" id="trigger-ninth">
				<div class="item mobile-image">
					<img src="../images/images-carousel-scroll/carousel-scroll-10.jpg"/>
				</div>
				<div class="item item--ninth" data-aos="fade-top" data-aos-anchor="#trigger-ninth" data-aos-anchor-placement="middle-center">
				</div>
				<div class="item-content">
					<div class="item-content-box">
						<h6>Category label</h6>
						<h1>Item headline 09</h1>
						<blockquote>‘Lorem ipsum dolor sit amet, consectetur adipiscing. Etiam gravida leo massa, orci consequat non.’ <cite>Someone Namehere</cite></blockquote>
					</div>
				</div>
			</div>
			<div class="item" id="trigger-tenth">
				<div class="item mobile-image">
					<img src="../images/images-carousel-scroll/carousel-scroll-11.jpg"/>
				</div>
				<div class="item item--tenth" data-aos="fade-top" data-aos-anchor="#trigger-tenth" data-aos-anchor-placement="middle-center">
				</div>
				<div class="item-content">
					<div class="item-content-box">
						<h6>Category label</h6>
						<h1>Item headline 10</h1>
						<blockquote>‘Lorem ipsum dolor sit amet, consectetur adipiscing. Etiam gravida leo massa, orci consequat non.’ <cite>Someone Namehere</cite></blockquote>
					</div>
				</div>
			</div>
			<div class="item" id="closing-slide">
				<div class="item mobile-image">
					<img src="../images/images-carousel-scroll/carousel-scroll-12.jpg"/>
				</div>
				<div class="item item--eleventh" data-aos="fade-top" data-aos-anchor="#closing-slide" data-aos-anchor-placement="middle-center">
				</div>
				<div class="item-content">
					<div class="item-content-box">
						<h6>Category label</h6>
						<h1>Item headline 11</h1>
						<blockquote>‘Lorem ipsum dolor sit amet, consectetur adipiscing. Etiam gravida leo massa, orci consequat non.’ <cite>Someone Namehere</cite></blockquote>
					</div>
				</div>
			</div>
		</div><!-- close -->
		<div id="intro-slide" class="item--main grid-item">
		</div>
	</div>
</section>
<script>
	AOS.init();
</script>
