<!-- image-lead -->
<section id="panel-image" class="container-fluid hero-image-lead">
	<img src="http://via.placeholder.com/1800x735"/>
	<div class="grid-wrapper-min-max">
		<div class="grid-item">
			<div class="hero-image-content">
				<h6>Category label</h6>
				<h1>Headline here lorem ipsum unum</h1>
				<div class="intro-paragraph sans-serif">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam gravida leo massa. <a class="cta" href="###">CTA here here</a></p>
				</div>
			</div>
		</div>
	</div>
</section>

<div class="padding-lg"></div>

<!-- image-lead - full-overlay -->
<section id="panel-image" class="container-fluid hero-image-lead full-overlay">
	<img src="http://via.placeholder.com/1800x1000"/>
	<div class="grid-wrapper-min-max">
		<div class="grid-item">
			<div class="hero-image-content">
				<h6 class="center">Category label</h6>
				<h1>Headline here lorem ipsum unum</h1>
				<div class="intro-paragraph sans-serif">
					<h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam gravida leo massa.</h3>
					<p class="center"><a class="cta" href="###">CTA here here</a></p>
				</div>
			</div>
		</div>
	</div>
</section>
