<!-- numbers -->
<section>
  <div class="container-fluid">
    <div class="container">
      <h5>
        Numbers - <span style="font-family: 'Antenna Light', sans-serif;">Large - Default - add .number class to grid-wrapper-min-max</span>
      </h5>
    </div>
  </div>
</section>

<div class="padding-sm"></div>

<!-- numbers default - numbers large -->
<section id="panel-numbers" class="container-fluid">
  <div class="container">
    <div class="grid-wrapper-min-max number">
      <!-- card -->
      <div class="grid-item">
        <div class="image-wrapper">
          <div class="image-wrapper-overlay">
            <div class="image-wrapper-overlay-content">
              <h4>The headline is lorem ipsum</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit ipsum dolor sit amet.</p>
              <a class="cta" href="#####">CTA here</a>
            </div>
          </div>
          <a href="###" target="_blank" title="Title goes here">
            <img src="http://via.placeholder.com/1000x560" alt="Alternate description goes here" title="Title goes here">
          </a>
        </div>
        <div class="content-grid-wrapper">
          <div class="flex-item content">
            <h6>0/0/0000: 0:00PM-0:00PM</h6>
            <h4>00.0%</h4>
            <h5>Somebody Namehere</h5>
            <div class="explainer"><p>Lorem ipsum dolor sit amet</p></div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit ipsum dolor sit amet.</p>
            <a class="cta" href="#####">CTA here</a>
          </div>
          <div class="flex-item links">
            <div class="button-maroon">
              <button onclick="window.open('###')">CTA here</button>
            </div>
            <h6 style="text-align: center;">Lorem ipsum unum</h6>
            <h5>Also see:</h5>
            <p><a href="#####">Link to related resource</a></p>
            <p><a href="#####">Link to related resource</a></p>
            <p><a href="#####">Link to related resource</a></p>
          </div>
        </div>
      </div>
      <!-- card -->
      <div class="grid-item">
        <div class="image-wrapper">
          <div class="image-wrapper-overlay">
            <div class="image-wrapper-overlay-content">
              <h4>The headline is lorem ipsum</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit ipsum dolor sit amet.</p>
              <a class="cta" href="#####">CTA here</a>
            </div>
          </div>
          <a href="###" target="_blank" title="Title goes here">
            <img src="http://via.placeholder.com/1000x560" alt="Alternate description goes here" title="Title goes here">
          </a>
        </div>
        <div class="content-grid-wrapper">
          <div class="flex-item content">
            <h6>0/0/0000: 0:00PM-0:00PM</h6>
            <h4>00M</h4>
            <h5>Somebody Namehere</h5>
            <div class="explainer"><p>Lorem ipsum dolor sit amet</p></div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit ipsum dolor sit amet.</p>
            <a class="cta" href="#####">CTA here</a>
          </div>
          <div class="flex-item links">
            <div class="button-maroon">
              <button onclick="window.open('###')">CTA here</button>
            </div>
            <h6 style="text-align: center;">Lorem ipsum unum</h6>
            <h5>Also see:</h5>
            <p><a href="#####">Link to related resource</a></p>
            <p><a href="#####">Link to related resource</a></p>
            <p><a href="#####">Link to related resource</a></p>
          </div>
        </div>
      </div>
      <!-- card -->
      <div class="grid-item">
        <div class="image-wrapper">
          <div class="image-wrapper-overlay">
            <div class="image-wrapper-overlay-content">
              <h4>The headline is lorem ipsum</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit ipsum dolor sit amet.</p>
              <a class="cta" href="#####">CTA here</a>
            </div>
          </div>
          <a href="###" target="_blank" title="Title goes here">
            <img src="http://via.placeholder.com/1000x560" alt="Alternate description goes here" title="Title goes here">
          </a>
        </div>
        <div class="content-grid-wrapper">
          <div class="flex-item content">
            <h6>0/0/0000: 0:00PM-0:00PM</h6>
            <h4>0</h4>
            <h5>Somebody Namehere</h5>
            <div class="explainer"><p>Lorem ipsum dolor sit amet</p></div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit ipsum dolor sit amet.</p>
            <a class="cta" href="#####">CTA here</a>
          </div>
          <div class="flex-item links">
            <div class="button-maroon">
              <button onclick="window.open('###')">CTA here</button>
            </div>
            <h6 style="text-align: center;">Lorem ipsum unum</h6>
            <h5>Also see:</h5>
            <p><a href="#####">Link to related resource</a></p>
            <p><a href="#####">Link to related resource</a></p>
            <p><a href="#####">Link to related resource</a></p>
          </div>
        </div>
      </div>
      <!-- card -->
      <div class="grid-item">
        <div class="image-wrapper">
          <div class="image-wrapper-overlay">
            <div class="image-wrapper-overlay-content">
              <h4>The headline is lorem ipsum</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit ipsum dolor sit amet.</p>
              <a class="cta" href="#####">CTA here</a>
            </div>
          </div>
          <a href="###" target="_blank" title="Title goes here">
            <img src="http://via.placeholder.com/1000x560" alt="Alternate description goes here" title="Title goes here">
          </a>
        </div>
        <div class="content-grid-wrapper">
          <div class="flex-item content">
            <h6>0/0/0000: 0:00PM-0:00PM</h6>
            <h4>0000</h4>
            <h5>Somebody Namehere</h5>
            <div class="explainer"><p>Lorem ipsum dolor sit amet</p></div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit ipsum dolor sit amet.</p>
            <a class="cta" href="#####">CTA here</a>
          </div>
          <div class="flex-item links">
            <div class="button-maroon">
              <button onclick="window.open('###')">CTA here</button>
            </div>
            <h6 style="text-align: center;">Lorem ipsum unum</h6>
            <h5>Also see:</h5>
            <p><a href="#####">Link to related resource</a></p>
            <p><a href="#####">Link to related resource</a></p>
            <p><a href="#####">Link to related resource</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="padding-lg"></div>

<!-- numbers medium -->
<section>
  <div class="container-fluid">
    <div class="container">
      <h5>
        Numbers - <span style="font-family: 'Antenna Light', sans-serif;">Medium - Add .number and .numbers-md class to grid-wrapper-min-max</span>
      </h5>
    </div>
  </div>
</section>

<div class="padding-sm"></div>

<section id="panel-numbers" class="container-fluid">
  <div class="container">
    <div class="grid-wrapper-min-max number numbers-md">
      <!-- card -->
      <div class="grid-item">
        <div class="image-wrapper">
          <div class="image-wrapper-overlay">
            <div class="image-wrapper-overlay-content">
              <h4>The headline is lorem ipsum</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit ipsum dolor sit amet.</p>
              <a class="cta" href="#####">CTA here</a>
            </div>
          </div>
          <a href="###" target="_blank" title="Title goes here">
            <img src="http://via.placeholder.com/1000x560" alt="Alternate description goes here" title="Title goes here">
          </a>
        </div>
        <div class="content-grid-wrapper">
          <div class="flex-item content">
            <h6>0/0/0000: 0:00PM-0:00PM</h6>
            <h4>00.0%</h4>
            <h5>Somebody Namehere</h5>
            <div class="explainer"><p>Lorem ipsum dolor sit amet</p></div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit ipsum dolor sit amet.</p>
            <a class="cta" href="#####">CTA here</a>
          </div>
          <div class="flex-item links">
            <div class="button-maroon">
              <button onclick="window.open('###')">CTA here</button>
            </div>
            <h6 style="text-align: center;">Lorem ipsum unum</h6>
            <h5>Also see:</h5>
            <p><a href="#####">Link to related resource</a></p>
            <p><a href="#####">Link to related resource</a></p>
            <p><a href="#####">Link to related resource</a></p>
          </div>
        </div>
      </div>
      <!-- card -->
      <div class="grid-item">
        <div class="image-wrapper">
          <div class="image-wrapper-overlay">
            <div class="image-wrapper-overlay-content">
              <h4>The headline is lorem ipsum</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit ipsum dolor sit amet.</p>
              <a class="cta" href="#####">CTA here</a>
            </div>
          </div>
          <a href="###" target="_blank" title="Title goes here">
            <img src="http://via.placeholder.com/1000x560" alt="Alternate description goes here" title="Title goes here">
          </a>
        </div>
        <div class="content-grid-wrapper">
          <div class="flex-item content">
            <h6>0/0/0000: 0:00PM-0:00PM</h6>
            <h4>00M</h4>
            <h5>Somebody Namehere</h5>
            <div class="explainer"><p>Lorem ipsum dolor sit amet</p></div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit ipsum dolor sit amet.</p>
            <a class="cta" href="#####">CTA here</a>
          </div>
          <div class="flex-item links">
            <div class="button-maroon">
              <button onclick="window.open('###')">CTA here</button>
            </div>
            <h6 style="text-align: center;">Lorem ipsum unum</h6>
            <h5>Also see:</h5>
            <p><a href="#####">Link to related resource</a></p>
            <p><a href="#####">Link to related resource</a></p>
            <p><a href="#####">Link to related resource</a></p>
          </div>
        </div>
      </div>
      <!-- card -->
      <div class="grid-item">
        <div class="image-wrapper">
          <div class="image-wrapper-overlay">
            <div class="image-wrapper-overlay-content">
              <h4>The headline is lorem ipsum</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit ipsum dolor sit amet.</p>
              <a class="cta" href="#####">CTA here</a>
            </div>
          </div>
          <a href="###" target="_blank" title="Title goes here">
            <img src="http://via.placeholder.com/1000x560" alt="Alternate description goes here" title="Title goes here">
          </a>
        </div>
        <div class="content-grid-wrapper">
          <div class="flex-item content">
            <h6>0/0/0000: 0:00PM-0:00PM</h6>
            <h4>0</h4>
            <h5>Somebody Namehere</h5>
            <div class="explainer"><p>Lorem ipsum dolor sit amet</p></div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit ipsum dolor sit amet.</p>
            <a class="cta" href="#####">CTA here</a>
          </div>
          <div class="flex-item links">
            <div class="button-maroon">
              <button onclick="window.open('###')">CTA here</button>
            </div>
            <h6 style="text-align: center;">Lorem ipsum unum</h6>
            <h5>Also see:</h5>
            <p><a href="#####">Link to related resource</a></p>
            <p><a href="#####">Link to related resource</a></p>
            <p><a href="#####">Link to related resource</a></p>
          </div>
        </div>
      </div>
      <!-- card -->
      <div class="grid-item">
        <div class="image-wrapper">
          <div class="image-wrapper-overlay">
            <div class="image-wrapper-overlay-content">
              <h4>The headline is lorem ipsum</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit ipsum dolor sit amet.</p>
              <a class="cta" href="#####">CTA here</a>
            </div>
          </div>
          <a href="###" target="_blank" title="Title goes here">
            <img src="http://via.placeholder.com/1000x560" alt="Alternate description goes here" title="Title goes here">
          </a>
        </div>
        <div class="content-grid-wrapper">
          <div class="flex-item content">
            <h6>0/0/0000: 0:00PM-0:00PM</h6>
            <h4>0000</h4>
            <h5>Somebody Namehere</h5>
            <div class="explainer"><p>Lorem ipsum dolor sit amet</p></div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit ipsum dolor sit amet.</p>
            <a class="cta" href="#####">CTA here</a>
          </div>
          <div class="flex-item links">
            <div class="button-maroon">
              <button onclick="window.open('###')">CTA here</button>
            </div>
            <h6 style="text-align: center;">Lorem ipsum unum</h6>
            <h5>Also see:</h5>
            <p><a href="#####">Link to related resource</a></p>
            <p><a href="#####">Link to related resource</a></p>
            <p><a href="#####">Link to related resource</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="padding-lg"></div>

<!-- numbers small -->
<section>
  <div class="container-fluid">
    <div class="container">
      <h5>
        Numbers - <span style="font-family: 'Antenna Light', sans-serif;">Small - Add .number and .numbers-sm class to grid-wrapper-min-max</span>
      </h5>
    </div>
  </div>
</section>

<div class="padding-sm"></div>

<section id="panel-numbers" class="container-fluid">
  <div class="container">
    <div class="grid-wrapper-min-max number numbers-sm">
      <!-- card -->
      <div class="grid-item">
        <div class="image-wrapper">
          <div class="image-wrapper-overlay">
            <div class="image-wrapper-overlay-content">
              <h4>The headline is lorem ipsum</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit ipsum dolor sit amet.</p>
              <a class="cta" href="#####">CTA here</a>
            </div>
          </div>
          <a href="###" target="_blank" title="Title goes here">
            <img src="http://via.placeholder.com/1000x560" alt="Alternate description goes here" title="Title goes here">
          </a>
        </div>
        <div class="content-grid-wrapper">
          <div class="flex-item content">
            <h6>0/0/0000: 0:00PM-0:00PM</h6>
            <h4>00.0%</h4>
            <h5>Somebody Namehere</h5>
            <div class="explainer"><p>Lorem ipsum dolor sit amet</p></div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit ipsum dolor sit amet.</p>
            <a class="cta" href="#####">CTA here</a>
          </div>
          <div class="flex-item links">
            <div class="button-maroon">
              <button onclick="window.open('###')">CTA here</button>
            </div>
            <h6 style="text-align: center;">Lorem ipsum unum</h6>
            <h5>Also see:</h5>
            <p><a href="#####">Link to related resource</a></p>
            <p><a href="#####">Link to related resource</a></p>
            <p><a href="#####">Link to related resource</a></p>
          </div>
        </div>
      </div>
      <!-- card -->
      <div class="grid-item">
        <div class="image-wrapper">
          <div class="image-wrapper-overlay">
            <div class="image-wrapper-overlay-content">
              <h4>The headline is lorem ipsum</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit ipsum dolor sit amet.</p>
              <a class="cta" href="#####">CTA here</a>
            </div>
          </div>
          <a href="###" target="_blank" title="Title goes here">
            <img src="http://via.placeholder.com/1000x560" alt="Alternate description goes here" title="Title goes here">
          </a>
        </div>
        <div class="content-grid-wrapper">
          <div class="flex-item content">
            <h6>0/0/0000: 0:00PM-0:00PM</h6>
            <h4>00M</h4>
            <h5>Somebody Namehere</h5>
            <div class="explainer"><p>Lorem ipsum dolor sit amet</p></div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit ipsum dolor sit amet.</p>
            <a class="cta" href="#####">CTA here</a>
          </div>
          <div class="flex-item links">
            <div class="button-maroon">
              <button onclick="window.open('###')">CTA here</button>
            </div>
            <h6 style="text-align: center;">Lorem ipsum unum</h6>
            <h5>Also see:</h5>
            <p><a href="#####">Link to related resource</a></p>
            <p><a href="#####">Link to related resource</a></p>
            <p><a href="#####">Link to related resource</a></p>
          </div>
        </div>
      </div>
      <!-- card -->
      <div class="grid-item">
        <div class="image-wrapper">
          <div class="image-wrapper-overlay">
            <div class="image-wrapper-overlay-content">
              <h4>The headline is lorem ipsum</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit ipsum dolor sit amet.</p>
              <a class="cta" href="#####">CTA here</a>
            </div>
          </div>
          <a href="###" target="_blank" title="Title goes here">
            <img src="http://via.placeholder.com/1000x560" alt="Alternate description goes here" title="Title goes here">
          </a>
        </div>
        <div class="content-grid-wrapper">
          <div class="flex-item content">
            <h6>0/0/0000: 0:00PM-0:00PM</h6>
            <h4>0</h4>
            <h5>Somebody Namehere</h5>
            <div class="explainer"><p>Lorem ipsum dolor sit amet</p></div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit ipsum dolor sit amet.</p>
            <a class="cta" href="#####">CTA here</a>
          </div>
          <div class="flex-item links">
            <div class="button-maroon">
              <button onclick="window.open('###')">CTA here</button>
            </div>
            <h6 style="text-align: center;">Lorem ipsum unum</h6>
            <h5>Also see:</h5>
            <p><a href="#####">Link to related resource</a></p>
            <p><a href="#####">Link to related resource</a></p>
            <p><a href="#####">Link to related resource</a></p>
          </div>
        </div>
      </div>
      <!-- card -->
      <div class="grid-item">
        <div class="image-wrapper">
          <div class="image-wrapper-overlay">
            <div class="image-wrapper-overlay-content">
              <h4>The headline is lorem ipsum</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit ipsum dolor sit amet.</p>
              <a class="cta" href="#####">CTA here</a>
            </div>
          </div>
          <a href="###" target="_blank" title="Title goes here">
            <img src="http://via.placeholder.com/1000x560" alt="Alternate description goes here" title="Title goes here">
          </a>
        </div>
        <div class="content-grid-wrapper">
          <div class="flex-item content">
            <h6>0/0/0000: 0:00PM-0:00PM</h6>
            <h4>0000</h4>
            <h5>Somebody Namehere</h5>
            <div class="explainer"><p>Lorem ipsum dolor sit amet</p></div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit ipsum dolor sit amet.</p>
            <a class="cta" href="#####">CTA here</a>
          </div>
          <div class="flex-item links">
            <div class="button-maroon">
              <button onclick="window.open('###')">CTA here</button>
            </div>
            <h6 style="text-align: center;">Lorem ipsum unum</h6>
            <h5>Also see:</h5>
            <p><a href="#####">Link to related resource</a></p>
            <p><a href="#####">Link to related resource</a></p>
            <p><a href="#####">Link to related resource</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="padding-lg"></div>

<!-- numbers overlay -->
<section>
  <div class="container-fluid">
    <div class="container">
      <h5>
        Numbers - <span style="font-family: 'Antenna Light', sans-serif;">Overlay - Add .bg-overlay to container-fluid. Works with any of the variable number classes</span>
      </h5>
    </div>
  </div>
</section>

<section id="panel-numbers" class="container-fluid bg-overlay">
  <div class="container">
    <div class="grid-wrapper-min-max number numbers-md">
      <!-- card -->
      <div class="grid-item">
        <div class="image-wrapper">
          <div class="image-wrapper-overlay">
            <div class="image-wrapper-overlay-content">
              <h4>The headline is lorem ipsum</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit ipsum dolor sit amet.</p>
              <a class="cta" href="#####">CTA here</a>
            </div>
          </div>
          <a href="###" target="_blank" title="Title goes here">
            <img src="http://via.placeholder.com/1000x560" alt="Alternate description goes here" title="Title goes here">
          </a>
        </div>
        <div class="content-grid-wrapper">
          <div class="flex-item content">
            <h6>0/0/0000: 0:00PM-0:00PM</h6>
            <h4>00.0%</h4>
            <h5>Somebody Namehere</h5>
            <div class="explainer"><p>Lorem ipsum dolor sit amet</p></div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit ipsum dolor sit amet.</p>
            <a class="cta" href="#####">CTA here</a>
          </div>
          <div class="flex-item links">
            <div class="button-maroon">
              <button onclick="window.open('###')">CTA here</button>
            </div>
            <h6 style="text-align: center;">Lorem ipsum unum</h6>
            <h5>Also see:</h5>
            <p><a href="#####">Link to related resource</a></p>
            <p><a href="#####">Link to related resource</a></p>
            <p><a href="#####">Link to related resource</a></p>
          </div>
        </div>
      </div>
      <!-- card -->
      <div class="grid-item">
        <div class="image-wrapper">
          <div class="image-wrapper-overlay">
            <div class="image-wrapper-overlay-content">
              <h4>The headline is lorem ipsum</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit ipsum dolor sit amet.</p>
              <a class="cta" href="#####">CTA here</a>
            </div>
          </div>
          <a href="###" target="_blank" title="Title goes here">
            <img src="http://via.placeholder.com/1000x560" alt="Alternate description goes here" title="Title goes here">
          </a>
        </div>
        <div class="content-grid-wrapper">
          <div class="flex-item content">
            <h6>0/0/0000: 0:00PM-0:00PM</h6>
            <h4>00M</h4>
            <h5>Somebody Namehere</h5>
            <div class="explainer"><p>Lorem ipsum dolor sit amet</p></div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit ipsum dolor sit amet.</p>
            <a class="cta" href="#####">CTA here</a>
          </div>
          <div class="flex-item links">
            <div class="button-maroon">
              <button onclick="window.open('###')">CTA here</button>
            </div>
            <h6 style="text-align: center;">Lorem ipsum unum</h6>
            <h5>Also see:</h5>
            <p><a href="#####">Link to related resource</a></p>
            <p><a href="#####">Link to related resource</a></p>
            <p><a href="#####">Link to related resource</a></p>
          </div>
        </div>
      </div>
      <!-- card -->
      <div class="grid-item">
        <div class="image-wrapper">
          <div class="image-wrapper-overlay">
            <div class="image-wrapper-overlay-content">
              <h4>The headline is lorem ipsum</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit ipsum dolor sit amet.</p>
              <a class="cta" href="#####">CTA here</a>
            </div>
          </div>
          <a href="###" target="_blank" title="Title goes here">
            <img src="http://via.placeholder.com/1000x560" alt="Alternate description goes here" title="Title goes here">
          </a>
        </div>
        <div class="content-grid-wrapper">
          <div class="flex-item content">
            <h6>0/0/0000: 0:00PM-0:00PM</h6>
            <h4>00.0%</h4>
            <h5>Somebody Namehere</h5>
            <div class="explainer"><p>Lorem ipsum dolor sit amet</p></div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit ipsum dolor sit amet.</p>
            <a class="cta" href="#####">CTA here</a>
          </div>
          <div class="flex-item links">
            <div class="button-maroon">
              <button onclick="window.open('###')">CTA here</button>
            </div>
            <h6 style="text-align: center;">Lorem ipsum unum</h6>
            <h5>Also see:</h5>
            <p><a href="#####">Link to related resource</a></p>
            <p><a href="#####">Link to related resource</a></p>
            <p><a href="#####">Link to related resource</a></p>
          </div>
        </div>
      </div>
      <!-- card -->
      <div class="grid-item">
        <div class="image-wrapper">
          <div class="image-wrapper-overlay">
            <div class="image-wrapper-overlay-content">
              <h4>The headline is lorem ipsum</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit ipsum dolor sit amet.</p>
              <a class="cta" href="#####">CTA here</a>
            </div>
          </div>
          <a href="###" target="_blank" title="Title goes here">
            <img src="http://via.placeholder.com/1000x560" alt="Alternate description goes here" title="Title goes here">
          </a>
        </div>
        <div class="content-grid-wrapper">
          <div class="flex-item content">
            <h6>0/0/0000: 0:00PM-0:00PM</h6>
            <h4>00M</h4>
            <h5>Somebody Namehere</h5>
            <div class="explainer"><p>Lorem ipsum dolor sit amet</p></div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit ipsum dolor sit amet.</p>
            <a class="cta" href="#####">CTA here</a>
          </div>
          <div class="flex-item links">
            <div class="button-maroon">
              <button onclick="window.open('###')">CTA here</button>
            </div>
            <h6 style="text-align: center;">Lorem ipsum unum</h6>
            <h5>Also see:</h5>
            <p><a href="#####">Link to related resource</a></p>
            <p><a href="#####">Link to related resource</a></p>
            <p><a href="#####">Link to related resource</a></p>
          </div>
        </div>
      </div>
      <!-- card -->
      <div class="grid-item">
        <div class="image-wrapper">
          <div class="image-wrapper-overlay">
            <div class="image-wrapper-overlay-content">
              <h4>The headline is lorem ipsum</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit ipsum dolor sit amet.</p>
              <a class="cta" href="#####">CTA here</a>
            </div>
          </div>
          <a href="###" target="_blank" title="Title goes here">
            <img src="http://via.placeholder.com/1000x560" alt="Alternate description goes here" title="Title goes here">
          </a>
        </div>
        <div class="content-grid-wrapper">
          <div class="flex-item content">
            <h6>0/0/0000: 0:00PM-0:00PM</h6>
            <h4>0</h4>
            <h5>Somebody Namehere</h5>
            <div class="explainer"><p>Lorem ipsum dolor sit amet</p></div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit ipsum dolor sit amet.</p>
            <a class="cta" href="#####">CTA here</a>
          </div>
          <div class="flex-item links">
            <div class="button-maroon">
              <button onclick="window.open('###')">CTA here</button>
            </div>
            <h6 style="text-align: center;">Lorem ipsum unum</h6>
            <h5>Also see:</h5>
            <p><a href="#####">Link to related resource</a></p>
            <p><a href="#####">Link to related resource</a></p>
            <p><a href="#####">Link to related resource</a></p>
          </div>
        </div>
      </div>
      <!-- card -->
      <div class="grid-item">
        <div class="image-wrapper">
          <div class="image-wrapper-overlay">
            <div class="image-wrapper-overlay-content">
              <h4>The headline is lorem ipsum</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit ipsum dolor sit amet.</p>
              <a class="cta" href="#####">CTA here</a>
            </div>
          </div>
          <a href="###" target="_blank" title="Title goes here">
            <img src="http://via.placeholder.com/1000x560" alt="Alternate description goes here" title="Title goes here">
          </a>
        </div>
        <div class="content-grid-wrapper">
          <div class="flex-item content">
            <h6>0/0/0000: 0:00PM-0:00PM</h6>
            <h4>0000</h4>
            <h5>Somebody Namehere</h5>
            <div class="explainer"><p>Lorem ipsum dolor sit amet</p></div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit ipsum dolor sit amet.</p>
            <a class="cta" href="#####">CTA here</a>
          </div>
          <div class="flex-item links">
            <div class="button-maroon">
              <button onclick="window.open('###')">CTA here</button>
            </div>
            <h6 style="text-align: center;">Lorem ipsum unum</h6>
            <h5>Also see:</h5>
            <p><a href="#####">Link to related resource</a></p>
            <p><a href="#####">Link to related resource</a></p>
            <p><a href="#####">Link to related resource</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
