<!-- columns varied -->

<section id="panel-columns-varied" class="container-fluid">
  <div class="container container-100">

<!-- one column -->
		<h5>
			Grid - <span style="font-family: 'Antenna Light', sans-serif;">1 column</span>
		</h5>
		<div class="padding-sm"></div>
    <div class="grid-wrapper-min-max one-column">
      <div class="grid-item">
        <div class="image-wrapper">
          <a href="###" target="_blank" title="Title goes here">
            <img src="http://via.placeholder.com/1000x560" alt="Alternate description goes here" title="Title goes here">
          </a>
        </div>
        <div class="content-grid-wrapper">
          <div class="flex-item content">
            <h6>0/0/0000: 0:00PM-0:00PM</h6>
            <h4>The headline is lorem ipsum</h4>
            <h5>Somebody Namehere</h5>
            <div class="explainer"><p>Lorem ipsum dolor sit amet</p></div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam gravida leo massa, at elementum orci consequat non. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam gravida leo massa, at elementum orci consequat non.</p>
            <a class="cta" href="#####">CTA here</a>
          </div>
          <div class="flex-item category-light">
            <button onclick="window.open('###','_blank')">CTA here</button>
            <h6 style="text-align: center;">Lorem ipsum unum</h6>
          </div>
        </div>
      </div>
    </div>

    <div class="padding-md"></div>

<!-- two column -->
		<h5>
			Grid - <span style="font-family: 'Antenna Light', sans-serif;">2 column</span>
		</h5>
		<div class="padding-sm"></div>
    <div class="grid-wrapper-min-max two-column">
      <div class="grid-item">
        <div class="image-wrapper">
          <a href="###" target="_blank" title="Title goes here">
            <img src="http://via.placeholder.com/1000x560" alt="Alternate description goes here" title="Title goes here">
          </a>
        </div>
        <div class="content-grid-wrapper">
          <div class="flex-item content">
            <h6>0/0/0000: 0:00PM-0:00PM</h6>
            <h4>The headline is lorem ipsum</h4>
            <h5>Somebody Namehere</h5>
            <div class="explainer"><p>Lorem ipsum dolor sit amet</p></div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam gravida leo massa, at elementum orci consequat non. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam gravida leo massa, at elementum orci consequat non.</p>
            <a class="cta" href="#####">CTA here</a>
          </div>
          <div class="flex-item category-light">
            <button onclick="window.open('###','_blank')">CTA here</button>
            <h6 style="text-align: center;">Lorem ipsum unum</h6>
          </div>
        </div>
      </div>
      <div class="grid-item">
        <div class="image-wrapper">
          <a href="###" target="_blank" title="Title goes here">
            <img src="http://via.placeholder.com/1000x560" alt="Alternate description goes here" title="Title goes here">
          </a>
        </div>
        <div class="content-grid-wrapper">
          <div class="flex-item content">
            <h6>0/0/0000: 0:00PM-0:00PM</h6>
            <h4>The headline is lorem ipsum</h4>
            <h5>Somebody Namehere</h5>
            <div class="explainer"><p>Lorem ipsum dolor sit amet</p></div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam gravida leo massa, at elementum orci consequat non. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam gravida leo massa, at elementum orci consequat non.</p>
            <a class="cta" href="#####">CTA here</a>
          </div>
          <div class="flex-item category-light">
            <button onclick="window.open('###','_blank')">CTA here</button>
            <h6 style="text-align: center;">Lorem ipsum unum</h6>
          </div>
        </div>
      </div>
    </div>

    <div class="padding-md"></div>

<!-- three column -->
		<h5>
			Grid - <span style="font-family: 'Antenna Light', sans-serif;">3 column</span>
		</h5>
		<div class="padding-sm"></div>
    <div class="grid-wrapper-min-max three-column">
      <div class="grid-item">
        <div class="image-wrapper">
          <a href="###" target="_blank" title="Title goes here">
            <img src="http://via.placeholder.com/1000x560" alt="Alternate description goes here" title="Title goes here">
          </a>
        </div>
        <div class="content-grid-wrapper">
          <div class="flex-item content">
            <h6>0/0/0000: 0:00PM-0:00PM</h6>
            <h4>The headline is lorem ipsum</h4>
            <h5>Somebody Namehere</h5>
            <div class="explainer"><p>Lorem ipsum dolor sit amet</p></div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam gravida leo massa, at elementum orci consequat non. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam gravida leo massa, at elementum orci consequat non.</p>
            <a class="cta" href="#####">CTA here</a>
          </div>
          <div class="flex-item category-light">
            <button onclick="window.open('###','_blank')">CTA here</button>
            <h6 style="text-align: center;">Lorem ipsum unum</h6>
          </div>
        </div>
      </div>
      <div class="grid-item">
        <div class="image-wrapper">
          <a href="###" target="_blank" title="Title goes here">
            <img src="http://via.placeholder.com/1000x560" alt="Alternate description goes here" title="Title goes here">
          </a>
        </div>
        <div class="content-grid-wrapper">
          <div class="flex-item content">
            <h6>0/0/0000: 0:00PM-0:00PM</h6>
            <h4>The headline is lorem ipsum</h4>
            <h5>Somebody Namehere</h5>
            <div class="explainer"><p>Lorem ipsum dolor sit amet</p></div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam gravida leo massa, at elementum orci consequat non. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam gravida leo massa, at elementum orci consequat non.</p>
            <a class="cta" href="#####">CTA here</a>
          </div>
          <div class="flex-item category-light">
            <button onclick="window.open('###','_blank')">CTA here</button>
            <h6 style="text-align: center;">Lorem ipsum unum</h6>
          </div>
        </div>
      </div>
      <div class="grid-item">
        <div class="image-wrapper">
          <a href="###" target="_blank" title="Title goes here">
            <img src="http://via.placeholder.com/1000x560" alt="Alternate description goes here" title="Title goes here">
          </a>
        </div>
        <div class="content-grid-wrapper">
          <div class="flex-item content">
            <h6>0/0/0000: 0:00PM-0:00PM</h6>
            <h4>The headline is lorem ipsum</h4>
            <h5>Somebody Namehere</h5>
            <div class="explainer"><p>Lorem ipsum dolor sit amet</p></div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam gravida leo massa, at elementum orci consequat non. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam gravida leo massa, at elementum orci consequat non.</p>
            <a class="cta" href="#####">CTA here</a>
          </div>
          <div class="flex-item category-light">
            <button onclick="window.open('###','_blank')">CTA here</button>
            <h6 style="text-align: center;">Lorem ipsum unum</h6>
          </div>
        </div>
      </div>
    </div>

    <div class="padding-md"></div>

<!-- four column -->
		<h5>
			Grid - <span style="font-family: 'Antenna Light', sans-serif;">4 column</span>
		</h5>
		<div class="padding-sm"></div>
    <div class="grid-wrapper-min-max four-column">
      <div class="grid-item">
        <div class="image-wrapper">
          <a href="###" target="_blank" title="Title goes here">
            <img src="http://via.placeholder.com/1000x560" alt="Alternate description goes here" title="Title goes here">
          </a>
        </div>
        <div class="content-grid-wrapper">
          <div class="flex-item content">
            <h6>0/0/0000: 0:00PM-0:00PM</h6>
            <h4>The headline is lorem ipsum</h4>
            <h5>Somebody Namehere</h5>
            <div class="explainer"><p>Lorem ipsum dolor sit amet</p></div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam gravida leo massa, at elementum orci consequat non. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam gravida leo massa, at elementum orci consequat non.</p>
            <a class="cta" href="#####">CTA here</a>
          </div>
          <div class="flex-item category-light">
            <button onclick="window.open('###','_blank')">CTA here</button>
            <h6 style="text-align: center;">Lorem ipsum unum</h6>
          </div>
        </div>
      </div>
      <div class="grid-item">
        <div class="image-wrapper">
          <a href="###" target="_blank" title="Title goes here">
            <img src="http://via.placeholder.com/1000x560" alt="Alternate description goes here" title="Title goes here">
          </a>
        </div>
        <div class="content-grid-wrapper">
          <div class="flex-item content">
            <h6>0/0/0000: 0:00PM-0:00PM</h6>
            <h4>The headline is lorem ipsum</h4>
            <h5>Somebody Namehere</h5>
            <div class="explainer"><p>Lorem ipsum dolor sit amet</p></div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam gravida leo massa, at elementum orci consequat non. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam gravida leo massa, at elementum orci consequat non.</p>
            <a class="cta" href="#####">CTA here</a>
          </div>
          <div class="flex-item category-light">
            <button onclick="window.open('###','_blank')">CTA here</button>
            <h6 style="text-align: center;">Lorem ipsum unum</h6>
          </div>
        </div>
      </div>
      <div class="grid-item">
        <div class="image-wrapper">
          <a href="###" target="_blank" title="Title goes here">
            <img src="http://via.placeholder.com/1000x560" alt="Alternate description goes here" title="Title goes here">
          </a>
        </div>
        <div class="content-grid-wrapper">
          <div class="flex-item content">
            <h6>0/0/0000: 0:00PM-0:00PM</h6>
            <h4>The headline is lorem ipsum</h4>
            <h5>Somebody Namehere</h5>
            <div class="explainer"><p>Lorem ipsum dolor sit amet</p></div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam gravida leo massa, at elementum orci consequat non. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam gravida leo massa, at elementum orci consequat non.</p>
            <a class="cta" href="#####">CTA here</a>
          </div>
          <div class="flex-item category-light">
            <button onclick="window.open('###','_blank')">CTA here</button>
            <h6 style="text-align: center;">Lorem ipsum unum</h6>
          </div>
        </div>
      </div>
      <div class="grid-item">
        <div class="image-wrapper">
          <a href="###" target="_blank" title="Title goes here">
            <img src="http://via.placeholder.com/1000x560" alt="Alternate description goes here" title="Title goes here">
          </a>
        </div>
        <div class="content-grid-wrapper">
          <div class="flex-item content">
            <h6>0/0/0000: 0:00PM-0:00PM</h6>
            <h4>The headline is lorem ipsum</h4>
            <h5>Somebody Namehere</h5>
            <div class="explainer"><p>Lorem ipsum dolor sit amet</p></div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam gravida leo massa, at elementum orci consequat non. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam gravida leo massa, at elementum orci consequat non.</p>
            <a class="cta" href="#####">CTA here</a>
          </div>
          <div class="flex-item category-light">
            <button onclick="window.open('###','_blank')">CTA here</button>
            <h6 style="text-align: center;">Lorem ipsum unum</h6>
          </div>
        </div>
      </div>
    </div>

    <div class="padding-md"></div>

<!-- four column - eight column -->
		<h5>
			Grid - <span style="font-family: 'Antenna Light', sans-serif;">4 column / 8 column</span>
		</h5>
		<div class="padding-sm"></div>
    <div class="grid-wrapper-min-max four-column-eight-column">
      <div class="grid-item">
        <div class="image-wrapper">
          <a href="###" target="_blank" title="Title goes here">
            <img src="http://via.placeholder.com/1000x560" alt="Alternate description goes here" title="Title goes here">
          </a>
        </div>
        <div class="content-grid-wrapper">
          <div class="flex-item content">
            <h6>0/0/0000: 0:00PM-0:00PM</h6>
            <h4>The headline is lorem ipsum</h4>
            <h5>Somebody Namehere</h5>
            <div class="explainer"><p>Lorem ipsum dolor sit amet</p></div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam gravida leo massa, at elementum orci consequat non. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam gravida leo massa, at elementum orci consequat non.</p>
            <a class="cta" href="#####">CTA here</a>
          </div>
          <div class="flex-item category-light">
            <button onclick="window.open('###','_blank')">CTA here</button>
            <h6 style="text-align: center;">Lorem ipsum unum</h6>
          </div>
        </div>
      </div>
      <div class="grid-item">
        <div class="image-wrapper">
          <a href="###" target="_blank" title="Title goes here">
            <img src="http://via.placeholder.com/1000x560" alt="Alternate description goes here" title="Title goes here">
          </a>
        </div>
        <div class="content-grid-wrapper">
          <div class="flex-item content">
            <h6>0/0/0000: 0:00PM-0:00PM</h6>
            <h4>The headline is lorem ipsum</h4>
            <h5>Somebody Namehere</h5>
            <div class="explainer"><p>Lorem ipsum dolor sit amet</p></div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam gravida leo massa, at elementum orci consequat non. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam gravida leo massa, at elementum orci consequat non.</p>
            <a class="cta" href="#####">CTA here</a>
          </div>
          <div class="flex-item category-light">
            <button onclick="window.open('###','_blank')">CTA here</button>
            <h6 style="text-align: center;">Lorem ipsum unum</h6>
          </div>
        </div>
      </div>
    </div>

		<div class="padding-md"></div>

<!-- eight column - four column -->
		<h5>
			Grid - <span style="font-family: 'Antenna Light', sans-serif;">8 column / 4 column</span>
		</h5>
		<div class="padding-xsm"></div>
    <div class="grid-wrapper-min-max eight-column-four-column">
      <div class="grid-item">
        <div class="image-wrapper">
          <a href="###" target="_blank" title="Title goes here">
            <img src="http://via.placeholder.com/1000x560" alt="Alternate description goes here" title="Title goes here">
          </a>
        </div>
        <div class="content-grid-wrapper">
          <div class="flex-item content">
            <h6>0/0/0000: 0:00PM-0:00PM</h6>
            <h4>The headline is lorem ipsum</h4>
            <h5>Somebody Namehere</h5>
            <div class="explainer"><p>Lorem ipsum dolor sit amet</p></div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam gravida leo massa, at elementum orci consequat non. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam gravida leo massa, at elementum orci consequat non.</p>
            <a class="cta" href="#####">CTA here</a>
          </div>
          <div class="flex-item category-light">
            <button onclick="window.open('###','_blank')">CTA here</button>
            <h6 style="text-align: center;">Lorem ipsum unum</h6>
          </div>
        </div>
      </div>
      <div class="grid-item">
        <div class="image-wrapper">
          <a href="###" target="_blank" title="Title goes here">
            <img src="http://via.placeholder.com/1000x560" alt="Alternate description goes here" title="Title goes here">
          </a>
        </div>
        <div class="content-grid-wrapper">
          <div class="flex-item content">
            <h6>0/0/0000: 0:00PM-0:00PM</h6>
            <h4>The headline is lorem ipsum</h4>
            <h5>Somebody Namehere</h5>
            <div class="explainer"><p>Lorem ipsum dolor sit amet</p></div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam gravida leo massa, at elementum orci consequat non. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam gravida leo massa, at elementum orci consequat non.</p>
            <a class="cta" href="#####">CTA here</a>
          </div>
          <div class="flex-item category-light">
            <button onclick="window.open('###','_blank')">CTA here</button>
            <h6 style="text-align: center;">Lorem ipsum unum</h6>
          </div>
        </div>
      </div>
    </div>

		<div class="padding-md"></div>

<!-- three column - nine column -->
		<h5>
			Grid - <span style="font-family: 'Antenna Light', sans-serif;">3 column / 9 column</span>
		</h5>
		<div class="padding-sm"></div>
    <div class="grid-wrapper-min-max three-column-nine-column">
      <div class="grid-item">
        <div class="image-wrapper">
          <a href="###" target="_blank" title="Title goes here">
            <img src="http://via.placeholder.com/1000x560" alt="Alternate description goes here" title="Title goes here">
          </a>
        </div>
        <div class="content-grid-wrapper">
          <div class="flex-item content">
            <h6>0/0/0000: 0:00PM-0:00PM</h6>
            <h4>The headline is lorem ipsum</h4>
            <h5>Somebody Namehere</h5>
            <div class="explainer"><p>Lorem ipsum dolor sit amet</p></div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam gravida leo massa, at elementum orci consequat non. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam gravida leo massa, at elementum orci consequat non.</p>
            <a class="cta" href="#####">CTA here</a>
          </div>
          <div class="flex-item category-light">
            <button onclick="window.open('###','_blank')">CTA here</button>
            <h6 style="text-align: center;">Lorem ipsum unum</h6>
          </div>
        </div>
      </div>
      <div class="grid-item">
        <div class="image-wrapper">
          <a href="###" target="_blank" title="Title goes here">
            <img src="http://via.placeholder.com/1000x560" alt="Alternate description goes here" title="Title goes here">
          </a>
        </div>
        <div class="content-grid-wrapper">
          <div class="flex-item content">
            <h6>0/0/0000: 0:00PM-0:00PM</h6>
            <h4>The headline is lorem ipsum</h4>
            <h5>Somebody Namehere</h5>
            <div class="explainer"><p>Lorem ipsum dolor sit amet</p></div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam gravida leo massa, at elementum orci consequat non. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam gravida leo massa, at elementum orci consequat non.</p>
            <a class="cta" href="#####">CTA here</a>
          </div>
          <div class="flex-item category-light">
            <button onclick="window.open('###','_blank')">CTA here</button>
            <h6 style="text-align: center;">Lorem ipsum unum</h6>
          </div>
        </div>
      </div>
    </div>

		<div class="padding-md"></div>

<!-- four column - eight column -->
		<h5>
			Grid - <span style="font-family: 'Antenna Light', sans-serif;">9 column / 3 column</span>
		</h5>
		<div class="padding-sm"></div>
    <div class="grid-wrapper-min-max nine-column-three-column">
      <div class="grid-item">
        <div class="image-wrapper">
          <a href="###" target="_blank" title="Title goes here">
            <img src="http://via.placeholder.com/1000x560" alt="Alternate description goes here" title="Title goes here">
          </a>
        </div>
        <div class="content-grid-wrapper">
          <div class="flex-item content">
            <h6>0/0/0000: 0:00PM-0:00PM</h6>
            <h4>The headline is lorem ipsum</h4>
            <h5>Somebody Namehere</h5>
            <div class="explainer"><p>Lorem ipsum dolor sit amet</p></div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam gravida leo massa, at elementum orci consequat non. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam gravida leo massa, at elementum orci consequat non.</p>
            <a class="cta" href="#####">CTA here</a>
          </div>
          <div class="flex-item category-light">
            <button onclick="window.open('###','_blank')">CTA here</button>
            <h6 style="text-align: center;">Lorem ipsum unum</h6>
          </div>
        </div>
      </div>
      <div class="grid-item">
        <div class="image-wrapper">
          <a href="###" target="_blank" title="Title goes here">
            <img src="http://via.placeholder.com/1000x560" alt="Alternate description goes here" title="Title goes here">
          </a>
        </div>
        <div class="content-grid-wrapper">
          <div class="flex-item content">
            <h6>0/0/0000: 0:00PM-0:00PM</h6>
            <h4>The headline is lorem ipsum</h4>
            <h5>Somebody Namehere</h5>
            <div class="explainer"><p>Lorem ipsum dolor sit amet</p></div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam gravida leo massa, at elementum orci consequat non. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam gravida leo massa, at elementum orci consequat non.</p>
            <a class="cta" href="#####">CTA here</a>
          </div>
          <div class="flex-item category-light">
            <button onclick="window.open('###','_blank')">CTA here</button>
            <h6 style="text-align: center;">Lorem ipsum unum</h6>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
