<!-- chart - pie -->
<section>
  <div class="container-fluid">
    <div class="container">
      <h5>
        Charts - <span style="font-family: 'Antenna Light', sans-serif;">Pie Chart</span>
      </h5>
    </div>
  </div>
</section>

<div class="padding-sm"></div>

<!-- pie-charts -->
<section id="panel-gauge-chart" class="container-fluid">
  <div class="container">
    <div class="grid-wrapper-min-max three-column">
      <!-- chart -->
      <div class="grid-item">
        <figure>
          <figcaption>
            <h4>Title 01</h4>
            <div class="explainer">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              </p>
            </div>
          </figcaption>
          <!-- gauge-charts -->
            <div class="gauge-chart">
              <div id="gauge-section-one" class="portion-block"><div class="circle"></div></div>
              <div id="gauge-section-two" class="portion-block"><div class="circle"></div></div>
              <div id="gauge-section-three" class="portion-block"><div class="circle"></div></div>
              <p class="center"></p>      
            </div>
          <h5>00%</h5>
          <figcaption>
            <span style="color: $maroon"><p>Category Value</p></span>
            <span style="color: #gray"><p>Category Value</p></span>
            <span style="color: $gray-light"><p>Category Value</p></span>
          </figcaption>
        </figure>
        <footnote>SOURCE: Lorem ipsum unum epsi lorem</footnote>
      </div>
      <!-- chart -->
      <div class="grid-item">
        <figure id="fifteen-percent" class="pie-chart">
          <figcaption>
            <h4>Title 02</h4>
            <div class="explainer">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              </p>
            </div>
          </figcaption>
          <h5>00%</h5>
          <figcaption>
            <span style="color: #8d0034"><p>Category Value</p></span>
            <span style="color: #cccccc"><p>Category Value</p></span>
          </figcaption>
        </figure>
        <footnote>SOURCE: Lorem ipsum unum epsi lorem</footnote>
      </div>
      <!-- chart -->
      <div class="grid-item">
        <figure id="eighty-five-percent" class="pie-chart">
          <figcaption>
            <h4>Title 03</h4>
            <div class="explainer">
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              </p>
            </div>
          </figcaption>
          <h5>00%</h5>
          <figcaption>
            <span style="color: #8d0034"><p>Category Value</p></span>
            <span style="color: #cccccc"><p>Category Value</p></span>
          </figcaption>
        </figure>
        <footnote>SOURCE: Lorem ipsum unum epsi lorem</footnote>
      </div>
    </div>
  </div>
</section>
<div class="padding-lg"></div>