<!-- blockquote -->
<section id="panel-blockquote" class="container-fluid">
	<div class="container">
    <div class="grid-wrapper-min-max one-column">
      <div class="grid-item">
				<div class="content-blockquote">
					<blockquote>
						“This is a blockquote breakout, ipsum dolor sit amet. Consectetur adipiscing elit ipsum dolor sit amet, consectetur adipiscing elit. Consectetur adipiscing elit ipsum dolor sit amet, consectetur adipiscing elit.” <cite>— Blockquote cite, CEO, <a href="#">Link here</a></cite>
					</blockquote>
				</div>
			</div>
		</div>
	</div>
</section>
