<!-- chart - bar - segmented -->
<section>
  <div class="container-fluid">
    <div class="container">
      <h5>
        Charts - <span style="font-family: 'Antenna Light', sans-serif;">Bar Chart - Segmented</span>
      </h5>
    </div>
  </div>
</section>

<div class="padding-sm"></div>

<section id="panel-bar-chart" class="container-fluid">
  <div class="container">
    <div class="grid-wrapper-min-max">
      <div class="grid-item">
        <!-- chart -->
        <div id="chart-bar-wrapper">
        <!-- markers -->
          <div id="marker-one">
            <span class="marker-top"><p>May</p></span>
          </div>
          <div id="marker-two">
            <span class="marker-top"><p>June</p></span>
          </div>
          <div id="marker-three">
            <span class="marker-top"><p>July</p></span>
          </div>
          <div id="marker-four">
            <span class="marker-top"><p>Aug</p></span>
          </div>
        <!-- session -->
          <div class="chart-bar-group">
            <div class="chart-bar">
              <div id="session-a">
                <span id="a-date-one" class="session-date-marker"></span>
                <span id="a-date-two" class="session-date-marker"></span>
                <span id="a-date-three" class="session-date-marker"></span>
                <span id="a-date-four" class="session-date-marker gray"></span>
                <span id="a-date-five" class="session-date-marker"></span>
                <span id="a-date-six" class="session-date-marker"></span>
                <span id="a-date-seven" class="session-date-marker"></span>
                <p>May 23 - July 1</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="padding-lg"></div>
