<!-- chart - progress -->
<section>
  <div class="container-fluid">
    <div class="container">
      <h5>
        Charts - <span style="font-family: 'Antenna Light', sans-serif;">Progress Chart - Five Items</span>
      </h5>
    </div>
  </div>
</section>

<div class="padding-sm"></div>

<!-- progress-chart -->
<section id="panel-progress-chart" class="container-fluid">
  <div class="container">
    <div class="grid-wrapper-min-max">
      <!-- chart -->
      <div class="grid-item">
        <div class="progress-chart-wrapper">
          <div class="progress-chart-title">
            <h6>Label for context</h6>
            <h2>Assessment Cycle</h2>
            <h6><a class="cta" href="https://www.luc.edu/academicaffairs/academicprogramsdevelopmentandreview/programreviewprocesses/theassessmentcycle/">Learn more</a></h6>
          </div>
          <div class="progress-chart-circle" style="--total: 10">
            <div class="progress-chart-stat" style="--i:1">
              <h5><span>1</span>Develop and Review PLOs <a class="cta" href="https://www.luc.edu/academicaffairs/academicprogramsdevelopmentandreview/programreviewprocesses/theassessmentcycle/developreviewplos/">Learn more</a></h5>
            </div>
            <div class="progress-chart-stat" style="--i:2">
              &#8595;
            </div>
            <div class="progress-chart-stat" style="--i:3">
              <h5><span>2</span>Map PLOs <a class="cta" href="https://www.luc.edu/academicaffairs/academicprogramsdevelopmentandreview/programreviewprocesses/theassessmentcycle/mapplos/">Learn more</a></h5>
            </div>
            <div class="progress-chart-stat" style="--i:4">
              &#8595;
            </div>
            <div class="progress-chart-stat" style="--i:5">
              <h5><span>3</span>Assessment Strategies <a class="cta" href="https://www.luc.edu/academicaffairs/academicprogramsdevelopmentandreview/programreviewprocesses/theassessmentcycle/assessmentstrategies/">Learn more</a></h5>
            </div>
            <div class="progress-chart-stat" style="--i:6">
              &#8595;
            </div>
            <div class="progress-chart-stat" style="--i:7">
              <h5><span>4</span>Analyze data <a class="cta" href="https://www.luc.edu/academicaffairs/academicprogramsdevelopmentandreview/programreviewprocesses/theassessmentcycle/analyzedata/">Learn more</a></h5>
            </div>
            <div class="progress-chart-stat" style="--i:8">
              &#8595;
            </div>
            <div class="progress-chart-stat" style="--i:9">
              <h5><span>5</span>Use data to reflect <a class="cta" href="https://www.luc.edu/academicaffairs/academicprogramsdevelopmentandreview/programreviewprocesses/theassessmentcycle/usedatatoreflect/">Learn more</a></h5>
            </div>
            <div class="progress-chart-stat" style="--i:10">
              &#8595;
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="padding-lg"></div>
