<!-- image-grid -->

<section class="container-fluid container container-100 image-grid">
  <div class="grid-wrapper-min-max">
    <div class="grid-item">
      <img
        src="https://source.unsplash.com/1000x1350/?tool-detail-01" alt="Alternate text goes here for image one" title="Title goes here for image one">
      <p class="caption-overlay">
        <span class="caption-overlay-name">Label lorem</span>
        <span>Keyword 01</span>
      </p>
      <button class="content-activate-symbol"></button>
      <div class="content-image-overlay">
        <h4>Highlight headline one</h4>
        <p class="teaser">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
          labore et dolore magna aliqua.</p>
        <p>
          <a class="cta" href="####">CTA here</a>
        </p>
        <button class="content-activate-symbol"></button>
      </div>
    </div>
    <div class="grid-item">
      <img
        src="https://source.unsplash.com/1000x1350/?tool-detail-02" alt="Alternate text goes here for image two" title="Title goes here for image two">
      <p class="caption-overlay">
        <span class="caption-overlay-name">Label lorem</span>
        <span>Keyword 02</span>
      </p>
      <button class="content-activate-symbol"></button>
      <div class="content-image-overlay">
        <h4>Highlight headline two</h4>
        <p class="teaser">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
          labore et dolore magna aliqua.</p>
        <p>
          <a class="cta" href="####">CTA here</a>
        </p>
        <button class="content-activate-symbol"></button>
      </div>
    </div>
    <div class="grid-item">
      <img
        src="https://source.unsplash.com/1000x1350/?tool-detail-03" alt="Alternate text goes here for image three" title="TItle goes here for image one">
      <p class="caption-overlay">
        <span class="caption-overlay-name">Label lorem</span>
        <span>Keyword 03</span>
      </p>
      <button class="content-activate-symbol"></button>
      <div class="content-image-overlay">
        <h4>Highlight headline three</h4>
        <p class="teaser">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
          labore et dolore magna aliqua.
        </p>
        <p>
          <a class="cta" href="####">CTA here</a>
        </p>
        <button class="content-activate-symbol"></button>
      </div>
    </div>
  </div>
</section>