<!-- table accordion -->
<section id="panel-table-accordion" class="container-fluid">
  <div class="container">
    <h5>
			Table - <span style="font-family: 'Antenna Light', sans-serif;">Accordion</span>
		</h5>
    <div class="grid-wrapper-min-max one-column">
      <div class="grid-item">
        <div class="padding-xsm"></div>
        <div class="caption">
          <p>Table caption, description, or qualifier here.</p>
        </div>
        <div class="js-accordion" data-accordion-prefix-classes="minimalist" data-accordion-cool-selectors="1">
					<h4 class="table-accordion-header">
						<span></span>
						<span tab-index="1">Header 01</span>
						<span tab-index="2">Header 02</span>
						<span tab-index="3">Header 03</span>
					</h4>
          <h4 class="js-accordion__header">
						<span tab-index="4" class="table-accordion-row-header">Column Header 01</span>
						<span tab-index="5">Data 01</span>
						<span tab-index="6">Data 02</span>
						<span tab-index="7">Data 03</span>
					</h4>
          <div class="js-accordion__panel">
        		<p>
        			This is a standard paragraph body. Consectetur <a href="javascript:void(0);" title="link">link here</a> adipiscing elit. Curabitur nec <span class="highlight bg-info">info color</span> posuere odio. Phasellus odio lectus, ultrices non pretium <span class="highlight bg-success">success color</span> ac, mollis id elit. Fusce tempor tellus non felis tempus vestibulum. Donec molestie <span class="highlight bg-warning">warning color</span> purus sem. Suspendisse at placerat turpis. Duis luctus erat vel magna pharetra aliquet. Maecenas <span class="highlight bg-danger">danger color</span> tincidunt feugiat ultricies. Phasellus et dui risus. Vestibulum adipiscing, eros quis lobortis dictum.
        		</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
