<!-- table -  -->
<section id="" class="panel-table-mutiple-headers container-fluid">
	<div class="container">
		<h5>
			Table - <span style="font-family: 'Antenna Light', sans-serif;">With multiple headers</span>
		</h5>
		<div class="grid-wrapper-min-max one-column">
			<div class="grid-item">
				<table summary="Description here...">
					<caption>
						Table caption, description, or qualifier here.
					</caption>
					<thead>
						<tr>
							<td></td>
							<th id="header-01" scope="col">
								Header 01
							</th>
							<th id="header-02" scope="col">
								Header 02
							</th>
							<th id="header-03" scope="col">
								Header 03
							</th>
							<th id="header-04" scope="col">
								Header 04
							</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<th id="sub-category-01" class="span sub-category" colspan="5" scope="colgroup">
								Sub-category 01
							</th>
						</tr>
						<tr>
							<th headers="sub-category-01" id="column-header-01">
								Sub 01 - Column header 01
							</th>
							<td headers="sub-category-01 column-header-01 header-01">
								Data 01
							</td>
							<td headers="sub-category-01 column-header-01 header-02">
								Data 02
							</td>
							<td headers="sub-category-01 column-header-01 header-03">
								Data 03
							</td>
							<td headers="sub-category-01 column-header-01 header-04">
								Data 04
							</td>
						</tr>
						<tr>
							<th headers="sub-category-01" id="column-header-02">
								Sub 02 - Column header 02
							</th>
							<td headers="sub-category-01 column-header-02 header-01">
								Data 01
							</td>
							<td headers="sub-category-01 column-header-02 header-02">
								Data 02
							</td>
							<td headers="sub-category-01 column-header-02 header-03">
								Data 03
							</td>
							<td headers="sub-category-01 column-header-02 header-04">
								Data 04
							</td>
						</tr>
						<tr>
							<th headers="sub-category-01" id="column-header-03">
								Sub 03 - Column header 03
							</th>
							<td headers="sub-category-01 column-header-03 header-01">
								Data 01
							</td>
							<td headers="sub-category-01 column-header-03 header-02">
								Data 02
							</td>
							<td headers="sub-category-01 column-header-03 header-03">
								Data 03
							</td>
							<td headers="sub-category-01 column-header-03 header-04">
								Data 04
							</td>
						</tr>
						<tr>
							<th id="sub-category-02" class="span sub-category" colspan="5" scope="colgroup">
								Sub-category 02
							</th>
						</tr>
						<tr>
							<th headers="sub-category-02" id="column-header-01">
								Sub 02 - Column header 01
							</th>
							<td headers="sub-category-02 column-header-01 header-01">
								Data 01
							</td>
							<td headers="sub-category-02 column-header-01 header-02">
								Data 02
							</td>
							<td headers="sub-category-02 column-header-01 header-03">
								Data 03
							</td>
							<td headers="sub-category-012 column-header-01 header-04">
								Data 04
							</td>
						</tr>
						<tr>
							<th headers="sub-category-02" id="column-header-02">
								Sub 02 - Column header 02
							</th>
							<td headers="sub-category-02 column-header-02 header-01">
								Data 01
							</td>
							<td headers="sub-category-02 column-header-02 header-02">
								Data 02
							</td>
							<td headers="sub-category-02 column-header-02 header-03">
								Data 03
							</td>
							<td headers="sub-category-012 column-header-02 header-04">
								Data 04
							</td>
						</tr>
						<tr>
							<th headers="sub-category-02" id="column-header-03">
								Sub 03 - Column header 03
							</th>
							<td headers="sub-category-02 column-header-03 header-01">
								Data 01
							</td>
							<td headers="sub-category-02 column-header-03 header-02">
								Data 02
							</td>
							<td headers="sub-category-02 column-header-03 header-03">
								Data 03
							</td>
							<td headers="sub-category-012 column-header-03 header-04">
								Data 04
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</section>
