<!-- image-grid -->
<section id="panel-image-grid" class="container-fluid image-only">
	<div class="grid-wrapper-min-max">
<!-- image-01 -->
	<div class="grid-item">
		<img src="https://source.unsplash.com/1600x900/?trash" alt="trash"/>
	  <p class="caption-overlay">
	    <span class="caption-overlay-name">Somebody Namehere</span>
	    <span>Lorem ipsum unum hereum</span>
	  </p>
		<button class="content-activate-symbol"></button>
		<div class="content-image-overlay">
	    <h6>Category lorem ipsum unum hereum</h6>
	    <h4>Somebody Namehere</h4>
	    <h3 class="teaser">Headline lorem ipsum unum hereum.</h3>
	    <p style="margin-top: 20px;">
				<a href="#modaal-content-example" data-modaal-type="inline" data-modaal-animation="fade" data-modaal-accessible-title="Inline content example 01" class="cta modaal" data-modaal-scope="">Read more
				</a>
			</p>
	    <button class="content-activate-symbol"></button>
		</div>
	</div>
<!-- image-02 -->
	<div class="grid-item">
		<img src="https://source.unsplash.com/1600x900/?dessert" alt="dessert"/>
	  <p class="caption-overlay">
	    <span class="caption-overlay-name">Somebody Namehere</span>
	    <span>Lorem ipsum unum hereum</span>
	  </p>
		<button class="content-activate-symbol"></button>
		<div class="content-image-overlay">
	    <h6>Category lorem ipsum unum hereum</h6>
	    <h4>Somebody Namehere</h4>
	    <h3 class="teaser">Headline lorem ipsum unum hereum.</h3>
	    <p style="margin-top: 20px;">
				<a href="#modaal-content-example" data-modaal-type="inline" data-modaal-animation="fade" data-modaal-accessible-title="Inline content example 01" class="cta modaal" data-modaal-scope="">Read more
				</a>
			</p>
	    <button class="content-activate-symbol"></button>
		</div>
	</div>
<!-- image-03 -->
	<div class="grid-item hide-1200">
	<img src="https://source.unsplash.com/1600x900/?people" alt="people"/>
	<p class="caption-overlay">
	  <span class="caption-overlay-name">Somebody Namehere</span>
	  <span>Lorem ipsum unum hereum</span>
	</p>
	<button class="content-activate-symbol"></button>
	<div class="content-image-overlay">
	  <h6>Category lorem ipsum unum hereum</h6>
	  <h4>Somebody Namehere</h4>
	  <h3 class="teaser">Headline lorem ipsum unum hereum.</h3>
	  <p style="margin-top: 20px;">
			<a href="#modaal-content-example" data-modaal-type="inline" data-modaal-animation="fade" data-modaal-accessible-title="Inline content example 01" class="cta modaal" data-modaal-scope="">Read more
			</a>
		</p>
	  <button class="content-activate-symbol"></button>
	</div>
	</div>
<!-- image-04 -->
	<div class="grid-item">
		<img src="https://source.unsplash.com/1600x900/?bike" alt="bike"/>
	  <p class="caption-overlay">
	    <span class="caption-overlay-name">Somebody Namehere</span>
	    <span>Lorem ipsum unum hereum</span>
	  </p>
		<button class="content-activate-symbol"></button>
		<div class="content-image-overlay">
	    <h6>Category lorem ipsum unum hereum</h6>
	    <h4>Somebody Namehere</h4>
	    <h3 class="teaser">Headline lorem ipsum unum hereum.</h3>
	    <p style="margin-top: 20px;">
				<a href="#modaal-content-example" data-modaal-type="inline" data-modaal-animation="fade" data-modaal-accessible-title="Inline content example 01" class="cta modaal" data-modaal-scope="">Read more
				</a>
			</p>
	    <button class="content-activate-symbol"></button>
		</div>
	</div>
<!-- image-05 -->
	<div class="grid-item hide-1500">
		<img src="https://source.unsplash.com/1600x900/?art" alt="art"/>
	  <p class="caption-overlay">
	    <span class="caption-overlay-name">Somebody Namehere</span>
	    <span>Lorem ipsum unum hereum</span>
	  </p>
		<button class="content-activate-symbol"></button>
		<div class="content-image-overlay">
	    <h6>Category lorem ipsum unum hereum</h6>
	    <h4>Somebody Namehere</h4>
	    <h3 class="teaser">Headline lorem ipsum unum hereum.</h3>
	    <p style="margin-top: 20px;">
				<a href="#modaal-content-example" data-modaal-type="inline" data-modaal-animation="fade" data-modaal-accessible-title="Inline content example 01" class="cta modaal" data-modaal-scope="">Read more
				</a>
			</p>
	    <button class="content-activate-symbol"></button>
		</div>
	</div>
<!-- image-06 -->
	<div class="grid-item">
		<img src="https://source.unsplash.com/1600x900/?animal" alt="animal"/>
	  <p class="caption-overlay">
	    <span class="caption-overlay-name">Somebody Namehere</span>
	    <span>Lorem ipsum unum hereum</span>
	  </p>
		<button class="content-activate-symbol"></button>
		<div class="content-image-overlay">
	    <h6>Category lorem ipsum unum hereum</h6>
	    <h4>Somebody Namehere</h4>
	    <h3 class="teaser">Headline lorem ipsum unum hereum.</h3>
	    <p style="margin-top: 20px;">
				<a href="#modaal-content-example" data-modaal-type="inline" data-modaal-animation="fade" data-modaal-accessible-title="Inline content example 01" class="cta modaal" data-modaal-scope="">Read more
				</a>
			</p>
	    <button class="content-activate-symbol"></button>
		</div>
	</div>
<!-- image-07 -->
	<div class="grid-item">
	<img src="https://source.unsplash.com/1600x900/?flower" alt="flower"/>
	<p class="caption-overlay">
	  <span class="caption-overlay-name">Somebody Namehere</span>
	  <span>Lorem ipsum unum hereum</span>
	</p>
	<button class="content-activate-symbol"></button>
	<div class="content-image-overlay">
	  <h6>Category lorem ipsum unum hereum</h6>
	  <h4>Somebody Namehere</h4>
	  <h3 class="teaser">Headline lorem ipsum unum hereum.</h3>
	  <p style="margin-top: 20px;">
			<a href="#modaal-content-example" data-modaal-type="inline" data-modaal-animation="fade" data-modaal-accessible-title="Inline content example 01" class="cta modaal" data-modaal-scope="">Read more
			</a>
		</p>
	  <button class="content-activate-symbol"></button>
	</div>
	</div>
<!-- image-08 -->
	<div class="grid-item hide-1200">
		<img src="https://source.unsplash.com/1600x900/?space" alt="space"/>
	  <p class="caption-overlay">
	    <span class="caption-overlay-name">Somebody Namehere</span>
	    <span>Lorem ipsum unum hereum</span>
	  </p>
		<button class="content-activate-symbol"></button>
		<div class="content-image-overlay">
	    <h6>Category lorem ipsum unum hereum</h6>
	    <h4>Somebody Namehere</h4>
	    <h3 class="teaser">Headline lorem ipsum unum hereum.</h3>
	    <p style="margin-top: 20px;">
				<a href="#modaal-content-example" data-modaal-type="inline" data-modaal-animation="fade" data-modaal-accessible-title="Inline content example 01" class="cta modaal" data-modaal-scope="">Read more
				</a>
			</p>
	    <button class="content-activate-symbol"></button>
		</div>
	</div>
<!-- image-09 -->
	<div class="grid-item">
		<img src="https://source.unsplash.com/1600x900/?tools" alt="tools"/>
	  <p class="caption-overlay">
	    <span class="caption-overlay-name">Somebody Namehere</span>
	    <span>Lorem ipsum unum hereum</span>
	  </p>
		<button class="content-activate-symbol"></button>
		<div class="content-image-overlay">
	    <h6>Category lorem ipsum unum hereum</h6>
	    <h4>Somebody Namehere</h4>
	    <h3 class="teaser">Headline lorem ipsum unum hereum.</h3>
	    <p style="margin-top: 20px;">
				<a href="#modaal-content-example" data-modaal-type="inline" data-modaal-animation="fade" data-modaal-accessible-title="Inline content example 01" class="cta modaal" data-modaal-scope="">Read more
				</a>
			</p>
	    <button class="content-activate-symbol"></button>
		</div>
	</div>
<!-- image-10 -->
	<div class="grid-item hide-1500">
		<img src="https://source.unsplash.com/1600x900/?water" alt="water"/>
	  <p class="caption-overlay">
	    <span class="caption-overlay-name">Somebody Namehere</span>
	    <span>Lorem ipsum unum hereum</span>
	  </p>
		<button class="content-activate-symbol"></button>
		<div class="content-image-overlay">
	    <h6>Category lorem ipsum unum hereum</h6>
	    <h4>Somebody Namehere</h4>
	    <h3 class="teaser">Headline lorem ipsum unum hereum.</h3>
	    <p style="margin-top: 20px;">
				<a href="#modaal-content-example" data-modaal-type="inline" data-modaal-animation="fade" data-modaal-accessible-title="Inline content example 01" class="cta modaal" data-modaal-scope="">Read more
				</a>
			</p>
	    <button class="content-activate-symbol"></button>
		</div>
	</div>
</section>
