<!-- events - news -->
<section id="panel-events-news" class="container-fluid">
	<div class="container">
		<div class="grid-wrapper-min-max three-column">
			<div class="grid-item">
				<div class="panel-label uppercase">
					<h5>Category label</h5>
				</div>
				<div class="infobox-nested">
					<h6>Month Day • 00:00 - 00:00</h6>
					<h4>Headline here</h4>
					<div class="sans-serif line-height-tight">
						<p>Lorem ipsum dolor sit amet, adipiscing.</p>
					</div>
					<a class="cta">CTA here</a>
				</div>
				<hr>
				<div class="infobox-nested">
					<h6>Month Day • 00:00 - 00:00</h6>
					<h4>Headline here</h4>
					<div class="sans-serif line-height-tight">
						<p>Lorem ipsum dolor sit amet, adipiscing.</p>
					</div>
					<a class="cta">CTA here</a>
				</div>
				<hr>
				<div class="infobox-nested">
					<h6>Month Day • 00:00 - 00:00</h6>
					<h4>Headline here</h4>
					<div class="sans-serif line-height-tight">
						<p>Lorem ipsum dolor sit amet, adipiscing.</p>
					</div>
					<a class="cta">CTA here</a>
				</div>
			</div>
			<div class="grid-item">
				<div class="panel-label uppercase">
					<h5>Category label</h5>
				</div>
				<div class="infobox-nested">
					<h6>Month Day • 00:00 - 00:00</h6>
					<h4>Headline here</h4>
					<div class="sans-serif line-height-tight">
						<p>Lorem ipsum dolor sit amet, adipiscing.</p>
					</div>
					<a class="cta">CTA here</a>
				</div>
				<hr>
				<div class="infobox-nested">
					<h6>Month Day • 00:00 - 00:00</h6>
					<h4>Headline here</h4>
					<div class="sans-serif line-height-tight">
						<p>Lorem ipsum dolor sit amet, adipiscing.</p>
					</div>
					<a class="cta">CTA here</a>
				</div>
				<hr>
				<div class="infobox-nested">
					<h6>Month Day • 00:00 - 00:00</h6>
					<h4>Headline here</h4>
					<div class="sans-serif line-height-tight">
						<p>Lorem ipsum dolor sit amet, adipiscing.</p>
					</div>
					<a class="cta">CTA here</a>
				</div>
			</div>
			<div class="grid-item">
				<div class="panel-label uppercase">
					<h5>Calendar</h5>
				</div>
				<div class="calendar-card">
					<div class="calendar-card-date">
						<div class="calendar-card-date-day">
							<h6><small>Month</small></h6>
						</div>
						<div class="calendar-card-date-number">
							<h6><small>Date</small></h6>
						</div>
					</div>
					<div class="calendar-card-content">
						<h6>00:00 - 00:00</h6>
						<h4>Event name here</h4>
						<div class="sans-serif line-height-tight">
							<p>Lorem ipsum dolor sit amet, adipiscing.</p>
						</div>
						<a class="cta">CTA here</a>
					</div>
				</div>
				<hr>
				<div class="calendar-card">
					<div class="calendar-card-date">
						<div class="calendar-card-date-day">
							<h6><small>Month</small></h6>
						</div>
						<div class="calendar-card-date-number">
							<h6><small>Date</small></h6>
						</div>
					</div>
					<div class="calendar-card-content">
						<h6>00:00 - 00:00</h6>
						<h4>Event name here</h4>
						<div class="sans-serif line-height-tight">
							<p>Lorem ipsum dolor sit amet, adipiscing.</p>
						</div>
						<a class="cta">CTA here</a>
					</div>
				</div>
				<hr>
				<div class="calendar-card">
					<div class="calendar-card-date">
						<div class="calendar-card-date-day">
							<h6><small>Month</small></h6>
						</div>
						<div class="calendar-card-date-number">
							<h6><small>Date</small></h6>
						</div>
					</div>
					<div class="calendar-card-content">
						<h6>00:00 - 00:00</h6>
						<h4>Event name here</h4>
						<div class="sans-serif line-height-tight">
							<p>Lorem ipsum dolor sit amet, adipiscing.</p>
						</div>
						<a class="cta">CTA here</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
