<section class="container-fluid profile-cards">
  <div class="container">
    <div class="card">
      <div class="image-wrapper">
        <img src="images/images-directory/faculty-member-portrait-1000x560.jpg">
      </div>
      <div class="content-grid-wrapper ">
        <div class="flex-item content">
          <p><strong>Email:</strong> bberg2@luc.edu</p>
          <p><strong>Phone:</strong> 312.915.7524</p>
          <p><strong>Input 01:</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          <p><strong>Input 02:</strong> Lorem ipsum consectetur adipiscing elit</p>
          <p><strong>Input 03:</strong> Lorem ipsum here</p>
          <div id="social-icon-bar">
              <article>
                  <!-- facebook -->
                  <a target="_blank" href="https://www.luc.edu/"><i class="fa-brands fa-facebook" title="A link to the Loyola University Chicago Facebook account"></i></a>
                  <!-- twitter -->
                  <a target="_blank" href="https://www.luc.edu/"><i class="fa-brands fa-x-twitter" title="A link to the Loyola University Chicago Twitter account"></i></a>
                  <!-- youtube -->
                  <a target="_blank" href="https://www.luc.edu/"><i class="fa-brands fa-youtube" title="A link to the Loyola University Chicago YouTube account"></i></a>
              </article>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>