<!-- table -->
<section id="panel-table-header-column" class="container-fluid">
	<div class="container">
		<h5>
			Table - <span style="font-family: 'Antenna Light', sans-serif;">With header and first column categories</span>
		</h5>
		<div class="grid-wrapper-min-max one-column">
			<div class="grid-item">
				<table summary="Description here...">
				  <caption>
				    Table caption, description, or qualifier here.
				  </caption>
					<tr>
						<td></td>
						<th>Header 01</th>
						<th>Header 02</th>
						<th>Header 03</th>
						<th>Header 04</th>
						<th>Header 05</th>
					</tr>
					<tr>
						<th>Column header 01</th>
						<td>Data 01</td>
						<td>Data 02</td>
						<td>Data 03</td>
						<td>Data 04</td>
						<td>Data 05</td>
					</tr>
					<tr>
						<th>Column header 02</th>
						<td>Data 01</td>
						<td>Data 02</td>
						<td>Data 03</td>
						<td>Data 04</td>
						<td>Data 05</td>
					</tr>
					<tr>
						<th>Column header 03</th>
						<td>Data 01</td>
						<td>Data 02</td>
						<td>Data 03</td>
						<td>Data 04</td>
						<td>Data 05</td>
					</tr>
					<tr>
						<th>Column header 04</th>
						<td>Data 01</td>
						<td>Data 02</td>
						<td>Data 03</td>
						<td>Data 04</td>
						<td>Data 05</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</section>
