<!-- image-overlay -->
<section id="panel-image-overlay" class="container-fluid">
	<img src="./images/images-image-grid-highlights/highlight-cudahy-detail-2000x2000.jpg"/>
	<div class="grid-wrapper-min-max">
		<div class="grid-item">
			<div class="content-image-overlay">
				<blockquote>
					“This is a blockquote breakout, ipsum dolor sit amet. Consectetur adipiscing elit ipsum dolor sit amet, consectetur adipiscing elit. Consectetur adipiscing elit ipsum dolor sit amet, consectetur adipiscing elit.” <cite>Blockquote cite, CEO, <a href="#">Link here</a></cite>
				</blockquote>
			</div>
		</div>
	</div>
</section>
