<!-- chart - progress -->
<section>
  <div class="container-fluid">
    <div class="container">
      <h5>
        Charts - <span style="font-family: 'Antenna Light', sans-serif;">Progress Chart - Five Items</span>
      </h5>
    </div>
  </div>
</section>

<div class="padding-sm"></div>

<!-- progress-chart -->
<section id="panel-progress-chart" class="container-fluid">
  <div class="container">
    <div class="grid-wrapper-min-max">
      <!-- chart -->
      <div class="grid-item">
        <div class="progress-chart-wrapper">
          <div class="progress-chart-title">
            <h6>Label for context</h6>
            <h2>This is the title of the graphic</h2>
          </div>
          <div class="progress-chart-circle" style="--total: 16">
            <div class="progress-chart-stat" style="--i:1">
              <h5>Title One <a class="cta" href="">Learn more</a></h5>
            </div>
            <div class="progress-chart-stat" style="--i:2">
              &#8595;
            </div>
            <div class="progress-chart-stat" style="--i:3">
              <h5>Title Two <a class="cta" href="">Learn more</a></h5>
            </div>
            <div class="progress-chart-stat" style="--i:4">
              &#8595;
            </div>
            <div class="progress-chart-stat" style="--i:5">
              <h5>Title Three <a class="cta" href="">Learn more</a></h5>
            </div>
            <div class="progress-chart-stat" style="--i:6">
              &#8595;
            </div>
            <div class="progress-chart-stat" style="--i:7">
              <h5>Title Four <a class="cta" href="">Learn more</a></h5>
            </div>
            <div class="progress-chart-stat" style="--i:8">
              &#8595;
            </div>
            <div class="progress-chart-stat" style="--i:9">
              <h5>Title Five <a class="cta" href="">Learn more</a></h5>
            </div>
            <div class="progress-chart-stat" style="--i:10">
              &#8595;
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="padding-lg"></div>
