<!-- image-text -->
<section id="panel-image-text" class="container-fluid">
	<div class="grid-wrapper-grid-area">
		<div class="grid-area grid-area-image">
			<div class="content-image-text-image">
				<img src="./images/images-image-grid-highlights/highlight-plant-detail-2000x2000.jpg"/>
			</div>
		</div>
		<div class="grid-area grid-area-content">
			<div class="content-image-text">
				<h4>Headline lorem ipsum hereum</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam gravida leo massa, at elementum orci consequat non. Vestibulum quis sapien metus. Morbi in purus id erat sollicitudin pulvinar. Donec a consequat magna.</p>
				<a class="cta" href="#">Link here</a>
			</div>
		</div>
	</div>
</section>

<div class="padding-md"></div>

<section id="panel-image-text" class="container-fluid">
	<div class="grid-wrapper-grid-area toggle-grid-area">
		<div class="grid-area grid-area-image">
			<div class="content-image-text-image">
				<img src="./images/images-image-grid-highlights/highlight-plant-detail-2000x2000.jpg"/>
			</div>
		</div>
		<div class="grid-area grid-area-content">
			<div class="content-image-text">
				<h4>Headline lorem ipsum hereum</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam gravida leo massa, at elementum orci consequat non. Vestibulum quis sapien metus. Morbi in purus id erat sollicitudin pulvinar. Donec a consequat magna.</p>
				<a class="cta" href="#">Link here</a>
			</div>
		</div>
	</div>
</section>

<div class="padding-md"></div>

<section id="panel-image-text" class="container-fluid bg-white">
	<div class="grid-wrapper-grid-area toggle-grid-area">
		<div class="grid-area grid-area-image">
			<div class="content-image-text-image show-full-image">
				<img src="./images/images-image-grid/chicago-ramblin-around-map-2500x3660.jpg"/>
			</div>
		</div>
		<div class="grid-area grid-area-content">
			<div class="content-image-text">
				<h4>Get to Know our city and learn about all the things you can do in Chicago</h4>
				<div class="circle-number circle-number-gold">
					<ol>
						<li><strong>Lake Shore Campus: </strong>Our primary campus which houses most of our Residence Halls and classrooms.</li>
						<li><strong>Loyola Red Line: </strong>We&rsquo;re the only university in Chicago with a train line stop named after them!</li>
						<li><strong>Little India/Devon: </strong>Neighborhood known for its South Asian restaurants, salons, and shops.</li>
						<li><strong>Andersonville: </strong>Neighborhood known for its Swedish heritage and cafes.</li>
						<li><strong>Asia on Argyle: </strong>Neighborhood known for its Vietnamese and Southeast Asian heritage.</li>
						<li><strong>Kathy Osterman Beach: </strong>Public beach along Lake Michigan.</li>
						<li><strong>Foster Beach: </strong>Public beach along Lake Michigan.</li>
						<li><strong>Montrose Beach: </strong>Public beach along Lake Michigan.</li>
						<li><strong>Wrigley Field: </strong>Historic stadium, home to the Chicago Cubs.</li>
						<li><strong>Northalsted: </strong>Neighborhood known for its cafes, comedy clubs, and nightlife. Home to one of the largest LGBT communities in the Midwest.</li>
						<li><strong>Lincoln Park: </strong>The city&rsquo;s largest public park that includes several museums and the Lincoln Park Zoo.</li>
						<li><strong>Logan Square: </strong>A multi-cultural neighborhood filled with arts organizations, music venues, local shops, and more.</li>
						<li><strong>Bucktown: </strong>Young, artsy neighborhood filled with trendy restaurants, thrift shops, and cafes.</li>
						<li><strong>Humboldt Park: </strong>Historic neighborhood known for its Puerto Rican heritage and 207-acre park.</li>
						<li><strong>Wicker Park: </strong>Young neighborhood filled with thrift stores, record shops, music venues, and trendy cafes and restaurants.</li>
						<li><strong>Ukrainian Village: </strong>Neighborhood known for its trendy cafes and nightlife.</li>
						<li><strong>West Loop: </strong>Neighborhood known for its thriving food scene. Notable landmarks include United Center, home to the Blackhawks and Bulls, and Fulton Market, a hub for trendy restaurants.</li>
						<li><strong>Magnificent Mile: </strong>13-block commercial district featuring over 400 stores, 200 restaurants, and many iconic buildings.</li>
						<li><strong>Chicago Red Line: </strong>The train stop that gets you closest to our downtown campus.</li>
						<li><strong>Water Tower Campus: </strong>Our downtown campus next to Chicago&rsquo;s historic Water Tower.</li>
						<li><strong>Navy Pier: </strong>Pier on the shoreline of Lake Michigan that hosts cruises, shows, fireworks, and cultural events.</li>
						<li><strong>Riverwalk: </strong>Scenic walking path along the Chicago River.</li>
						<li><strong>Millennium Park: </strong>Park featuring many iconic Chicago landmarks including the Best, Crown Fountain, and Pritzker Pavillion.</li>
						<li><strong>Grant Park: </strong>Park featuring landmarks like Buckingham Fountain and the Art Institute of Chicago. Lollapalooza takes place here!</li>
						<li><strong>Museum Campus: </strong>Home to the Shedd Aquarium, Field Museum, and Adler Planetarium.</li>
						<li><strong>Pilsen: </strong>Artsy neighborhood known for music, murals, and Latino eateries.</li>
						<li><strong>Chinatown: </strong>Historic Chinese neighborhood filled with specialty shops and restaurants.</li>
						<li><strong>Henry C. Palmisano Nature Park: </strong>Scenic 27-acre park where you can fish, run, and enjoy city views.</li>
						<li><strong style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">Guaranteed Rate Field: </strong><span style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">Historic stadium, home to the Chicago White Sox.</span></li>
						<li><strong style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">Bronzeville: </strong><span style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">Historic neighborhood known as the city&rsquo;s &ldquo;Black Metropolis.&rdquo;</span></li>
						<li><strong>Midway International Airport: </strong>Major commercial airport and base for Southwest Airlines.</li>
						<li><strong>DuSable Black History Museum: </strong>Museum dedicated to the study and conservation of African-American history, culture, and art.</li>
						<li><strong>Hyde Park:</strong> Culturally diverse neighborhood known to be the home of the University of Chicago.</li>
						<li><strong>Promontory Point: </strong>A man-made peninsula jutting into Lake Michigan offering picnic areas and scenic views of the city.</li>
						<li><strong>Museum of Science and Industry: </strong>A world-class science museum, the largest of its kind in the Western Hemisphere.</li>
						<li><strong>Jackson Park: </strong>A 550-acre historic urban park with boat harbors, playing fields, a beach, and the Barack Obama Presidential Center.</li>
						<li><strong>South Shore: </strong>Historic neighborhood with a beautiful lakefront along Lake Michigan.</li>
						<li><strong>Rainbow Beach: </strong>Public beach along Lake Michigan.</li>
					</ol>
				</div>
			</div>
		</div>
	</div>
</section>
