<!-- chart - column -->
<section>
  <div class="container-fluid">
    <div class="container">
      <h5>
        Charts - <span style="font-family: 'Antenna Light', sans-serif;">Column Chart</span>
      </h5>
      <div class="chart-key-wrapper">
        <div id="chart-key-01">
          <p class="chart-key"><span></span>Category 01</p>
        </div>
        <div id="chart-key-02">
          <p class="chart-key"><span></span>Category 02</p>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="padding-xsm"></div>

<section id="panel-column-chart" class="container-fluid">
  <div class="container">
    <!-- scale - marker -->
    <div id="marker-one">
        <span><p>0</p></span>
    </div>
    <div id="marker-two">
        <span><p>25</p></span>
    </div>
    <div id="marker-three">
        <span><p>50</p></span>
    </div>
    <div id="marker-four">
        <span><p>75</p></span>
    </div>
    <div id="marker-five">
        <span><p>100</p></span>
    </div>
<!-- chart -->
    <div class="grid-wrapper-min-max">
<!-- column one -->
      <div class="grid-item">
        <div id="chart-column-wrapper">
          <div class="chart-column-group">
            <h5>000</h5>
            <div class="chart-column background-none">
              <!-- column one - 01 -->
              <div id="chart-column-value-a1" class="chart-column-value-1">
                <p>20%</p>
              </div>
              <!-- column one - 02 -->
              <div id="chart-column-value-a2" class="chart-column-value-2">
                <p>15%</p>
              </div>
            </div>
            <h6>0000</h6>
          </div>
        </div>
      </div>
<!-- column two -->
      <div class="grid-item">
        <div id="chart-column-wrapper">
          <div class="chart-column-group">
            <h5>000</h5>
            <div class="chart-column background-none">
              <!-- column two - 01 -->
              <div id="chart-column-value-b1" class="chart-column-value-1">
                <p>40%</p>
              </div>
              <!-- column two - 02 -->
              <div id="chart-column-value-b2" class="chart-column-value-2">
                <p>20%</p>
              </div>
            </div>
            <h6>0000</h6>
          </div>
        </div>
      </div>
<!-- column three -->
      <div class="grid-item">
        <div id="chart-column-wrapper">
          <div class="chart-column-group">
            <h5>000</h5>
            <div class="chart-column background-none">
              <!-- column three - 01 -->
              <div id="chart-column-value-c1" class="chart-column-value-1">
                <p>60%</p>
              </div>
              <!-- column three - 02 -->
              <div id="chart-column-value-c2" class="chart-column-value-2">
                <p>30%</p>
              </div>
            </div>
            <h6>0000</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="padding-lg"></div>