<section class="container-fluid profile-cards">
  <div class="container">
    <div class="grid-wrapper-min-max card">
      <div class="grid-item">
        <div class="image-wrapper " style="background-image:url('images/images-directory/faculty-member-portrait-1000x560.jpg');">
          <img src="images/images-directory/faculty-member-portrait-1000x560.jpg">
        </div>
        <div class="content-grid-wrapper ">
          <div class="flex-item content">
            <p><strong>Email:</strong> bberg2@luc.edu <br>
              <strong>Phone:</strong> 312.915.7524 <br>
            </p>
            <div id="social-icon-bar">
                <article>
                    <!-- facebook -->
                    <a target="_blank" href="https://www.luc.edu/"><i class="fa-brands fa-facebook" title="A link to the Loyola University Chicago Facebook account"></i></a>
                    <!-- twitter -->
                    <a target="_blank" href="https://www.luc.edu/"><i class="fa-brands fa-x-twitter" title="A link to the Loyola University Chicago Twitter account"></i></a>
                    <!-- youtube -->
                    <a target="_blank" href="https://www.luc.edu/"><i class="fa-brands fa-youtube" title="A link to the Loyola University Chicago YouTube account"></i></a>
                </article>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>