<script
src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">
</script>
<section id="panel-bar-chart" class="container-fluid">
  <div class="container container-50">
    <div class="grid-wrapper-min-max">
      <!-- chart one -->
      <div class="grid-item">
        <canvas id="myChart" style="width:100%;max-width:100%;" aria-label="Headline Lorem Ipsum" role="img"></canvas>
      </div>
    </div>
  </div>
</section>
<script>
  var xValues = ["Italy", "France", "Spain", "USA"];
  var yValues = [50, 40, 32, 24];
  var barColors = [
    "rgba(0,0,255,1.0)",
    "rgba(0,0,255,0.8)",
    "rgba(0,0,255,0.6)",
    "rgba(0,0,255,0.4)",
  ];
  new Chart("myChart", {
    type: "bar",
    data: {
      labels: xValues,
      datasets: [{
        /* variable */
        backgroundColor: barColors,
        /* specific */
        backgroundColor: ['#8d0034', '#eaaa00', '#888888', '#888888', '#888888', '#888888'],
        borderColor: ['rgba(0,0,0,0)'],
        borderWidth: 0,
        data: yValues
      }]
    },
    options: {
      plugins: {
        tooltip: {
          enabled: true,
          backgroundColor: 'red',
        },
        legend: {
          display: false
        },
        title: {
          display: true,
          text: 'Title of Chart',
          padding: 10,
          fontSize: 24,
        },
        scales: {
          xAxes: [{
            ticks: {
              padding: 5,
              fontFamily: 'Helvetica',
              fontSize: 32,
              fontStyle: 'bold',
            }
          }],
          yAxes: [{
            ticks: {
              padding: 10,
              fontFamily: 'Helvetica',
              fontSize: 14,
              fontStyle: 'bold',
            }
          }],
        },
      },
    },
  });
  </script>