<!-- side-by-side scroll -->
<section id="panel-side-by-side-scroll class="container-fluid"><!-- column-build -->
	<div class="content-side-by-side-scroll">
		<div class="item container">
    	<h2 style="display: none;">Headline here</h2>
    	<p style="width: 100%; font-size: 1.65em; line-height: 1.75; text-align: center;">
      	Loyola University Chicago’s sesquicentennial will run from January 2020 through May 2021, culminating in the 150th Commencement. The University will honor and celebrate many significant milestones; events that have helped establish the institution, bring the Jesuit, Catholic mission and values to life, and create a lasting impact on Chicagoland and the broader global communities it serves.
    	</p>
  	</div>
	</div>
	<div class="col-span-6 content-panel-padding">
  	<div class="item" id="trigger-first">
  		<div class="item item--first"
  		     data-aos="fade-top"
  		     data-aos-anchor="#trigger-first"
  		     data-aos-anchor-placement="middle-center">
  		</div>
  		<h5>Month, Day 00-00</h5>
  		<h2 style="font-family: 'Antenna Black', sans-serif; text-transform: uppercase;">
      	From dialogue to action: The call to move
      </h2>
  		<p>
      	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam gravida leo massa, at elementum orci consequat non. Vestibulum quis sapien metus.
      </p>
      <a style="font-family: 'Antenna Bold', sans-serif; color: #981e4d; text-transform: uppercase;" href="###">
      	Learn more
      </a>
  	</div>
    <!-- end of item one -->
  	<div class="item" id="trigger-second">
  		<div class="item item--second"
        data-aos="fade-top"
        data-aos-anchor="#trigger-second"
        data-aos-anchor-placement="middle-center">
      </div>
			<h5>May 10-17, 2020</h5>
  		<h2 style="font-family: 'Antenna Black', sans-serif; text-transform: uppercase;">
      	150th Anniversary Pilgrimage
      </h2>
  		<p>
      	Faculty, staff, and alumni of Loyola University Chicago are invited to join Father D. Scott Hendrickson, S.J., on a Spain pilgrimage in the footsteps of St. Ignatius.
      </p>
			<p>
      <a style="font-size: 80%; font-family: 'Antenna Bold', sans-serif; color: #981e4d; text-transform: uppercase;" href="###">
      	Learn more
      </a>
			&nbsp;&nbsp;&nbsp;
			<a style="font-size: 80%; font-family: 'Antenna Bold', sans-serif; color: #981e4d; text-transform: uppercase;" href="###">
      	Register
      </a>
			</p>
    </div>
    <!-- end of item two -->
  	<div class="item" id="trigger-third">
  		<div class="item item--third"
  			data-aos="fade-top"
  			data-aos-anchor="#trigger-third"
  			data-aos-anchor-placement="middle-center">
  		</div>
			<h5>Month, Day 00-00</h5>
			<h2 style="font-family: 'Antenna Black', sans-serif; text-transform: uppercase;">
				Name of event here
			</h2>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam gravida leo massa, at elementum orci consequat non. Vestibulum quis sapien metus.
			</p>
			<a style="font-family: 'Antenna Bold', sans-serif; color: #981e4d; text-transform: uppercase;" href="###">
				Learn more
			</a>
    </div>
    <!-- end of item three -->
  </div>

	<div class="item col-span-6">
	</div>
	<div class="item--main col-span-6" style="background-color: #f5c149;">
	</div>
</section>
