<!-- carousel -->
<section id="panel-carousel" class="container-fluid">
	<div class="js-carrousel relative">
	  <div class="js-carrousel__container"
	    data-carrousel-btn-previous-img="images/ui-arrow-carrousel-previous@2x.png"
	    data-carrousel-btn-next-img="images/ui-arrow-carrousel-next@2x.png"
	    data-carrousel-btn-previous-text="See previous content"
	    data-carrousel-btn-next-text="See next content"
	    data-carrousel-prefix-class="news"
	    data-carrousel-transition="fade"
	    data-carrousel-hx="h2"
	    data-carrousel-span-text="Panneau"
	    data-carousel-hide-arrows-focus="true">
	    <div class="js-carrousel__content">
	      <image src="http://via.placeholder.com/1800x1000"/>
				<div class="caption">
					<p><img src="images/ui-arrow-up@2x.png"><span class="leadin">Caption 01</span> lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam gravida leo massa, at elementum orci consequat non. Vestibulum quis sapien metus lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam gravida leo massa, at elementum orci consequat non. Vestibulum quis sapien metus. Consectetur adipiscing elit. Etiam gravida leo massa, at elementum orci consequat non. Vestibulum quis sapien metus lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam gravida leo massa, at elementum orci consequat non. Vestibulum quis sapien metus. (Photo by Someone Namehere)</p>
				</div>
	    </div>
	    <div class="js-carrousel__content">
	      <image src="http://via.placeholder.com/1800x701"/>
				<div class="caption">
					<p><span class="leadin">Caption 02</span> lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam gravida leo massa, at elementum orci consequat non. Vestibulum quis sapien metus.</p>
				</div>
	    </div>
	    <div class="js-carrousel__content">
	      <image src="http://via.placeholder.com/1800x702"/>
				<div class="caption">
		      <p><span class="leadin">Caption 03</span> lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam gravida leo massa, at elementum orci consequat non. Vestibulum quis sapien metus.</p>
				</div>
	    </div>
	  </div>
	</div>
</section>
