<section id="panel-buttons" class="container-fluid">
  <div class="container">
    <div class="grid-wrapper-min-max grid-row-gap-md grid-row-gap-sm">

      <div class="grid-item">
        <button class="container-100" onclick="window.open('https://cms4.luc.edu/terminalfour/preview/8/en/163373','_blank')">Button 1 Title Here</button>
        <h6 class="center category-light">Button 1 SubTitle Here</h6>
      </div>

      <div class="grid-item">
        <button class="container-100" onclick="window.open('https://www.luc.edu','_blank')">Button 2 Title Here</button>
        <h6 class="center">Button 2 SubTitle Here</h6>
      </div>

      <div class="grid-item">
        <button class="container-100" onclick="window.open('https://cms4.luc.edu/terminalfour/preview/8/en/161422','_blank')">Button 3 Title Here</button>
        <h6 class="center">Button 3 SubTitle Here</h6>
      </div>

    </div>
  </div>
</section>

<section id="panel-buttons" class="container-fluid">
  <div class="container container-50">
    <div class="grid-wrapper-min-max grid-row-gap-md grid-row-gap-sm">

      <div class="grid-item">
        <button class="container-100" onclick="window.open('https://cms4.luc.edu/terminalfour/preview/8/en/163373','_blank')">Button 1 Title Here</button>
        <h6 class="center category-light">Button 1 SubTitle Here</h6>
      </div>

      <div class="grid-item">
        <button class="container-100" onclick="window.open('https://www.luc.edu','_blank')">Button 2 Title Here</button>
        <h6 class="center">Button 2 SubTitle Here</h6>
      </div>

    </div>
  </div>
</section>
