<!-- chart - bar -->
<section>
  <div class="container-fluid">
    <div class="container">
      <h5>
        Charts - <span style="font-family: 'Antenna Light', sans-serif;">Bar Chart</span>
      </h5>
    </div>
  </div>
</section>

<div class="padding-sm"></div>

<section id="panel-bar-chart" class="container-fluid">
  <div class="container">
    <div class="grid-wrapper-min-max">
      <!-- chart one -->
      <div class="grid-item">
        <!-- chart -->
        <div id="chart-bar-wrapper" class="chart-bar-override">
        <!-- markers -->
          <div id="marker-one">
            <span class="marker-top"><p>0</p></span>
          </div>
        <!-- value -->
          <div class="chart-bar-group">
            <div class="chart-bar background-none">
              <div id="chart-bar-value-a" class="chart-bar-value">
                <span id="a-date-one" class="session-date-marker"></span>
                <p>72.5%</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- chart two -->
      <div class="grid-item">
        <!-- chart -->
        <div id="chart-bar-wrapper" class="chart-bar-override">
        <!-- markers -->
          <div id="marker-one">
            <span class="marker-top"><p>0</p></span>
          </div>
        <!-- value -->
          <div class="chart-bar-group">
            <div class="chart-bar background-none">
              <div id="chart-bar-value-b" class="chart-bar-value">
                <span class="session-date-marker"></span>
                <p>54%</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- chart three -->
      <div class="grid-item">
        <!-- chart -->
        <div id="chart-bar-wrapper" class="chart-bar-override">
        <!-- markers -->
          <div id="marker-one">
            <span class="marker-top"><p>0</p></span>
          </div>
        <!-- value -->
          <div class="chart-bar-group">
            <div class="chart-bar background-none">
              <div id="chart-bar-value-c" class="chart-bar-value">
                <span class="session-date-marker"></span>
                <p>54%</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="padding-lg"></div>
