<!-- modaal-cta -->
<section id="panel-modaal" class="container-fluid">
  <div class="container">
    <!-- column-build -->
    <div class="grid-wrapper-min-max four-column-eight-column">
      <div class="grid-item">
        <img src="http://via.placeholder.com/1000x560" />
        <div class="caption">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam gravida leo massa, at elementum orci consequat non.</p>
        </div>
      </div>
      <div class="grid-item">
        <h6>Category label</h6>
        <h4>H4 Headline lorem ipsum herum</h4>
        <div class="introduction-paragraph">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam gravida leo massa, at elementum orci consequat non. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam gravida leo massa, at elementum orci consequat non.</p>
        </div>
        <a class="modaal cta" href="#modaal-content" data-modaal-type="inline" data-modaal-animation="fade">Show Content Here</a>
      </div>
    </div>
  </div>
</section>
<section id="modaal-content" style="display: none;">
  <div class="container-fluid">
    <div class="divider-sm"></div>
      <div class="container">
        <div class="grid-wrapper-min-max one-column">
          <div class="grid-item">
            <!-- content -->
            <div class="image-wrapper image-wrapper-circle">
		          <a href="###" target="_blank" title="Title goes here">
		            <img src="http://via.placeholder.com/1000x1000" alt="Alternate description goes here" title="Title goes here">
		          </a>
		        </div>
            <h3>H3 headline here</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam gravida leo massa, at elementum orci consequat non. Vestibulum quis sapien metus. Nam porta est in metus imperdiet, nec finibus enim viverra. Ut ultricies orci vel dapibus pharetra. Morbi in purus id erat sollicitudin pulvinar. Donec a consequat magna, quis iaculis nisi. Duis nec luctus justo. Proin hendrerit, ex non malesuada interdum, mauris felis sodales ligula, eget fermentum dui metus sit amet dolor.</p>
            <ul>
              <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit etiam gravida leo massa.</li>
              <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
            </ul>
            <!-- content end -->
          </div>
        </div>
      <div class="divider-sm"></div>
      </div>
    </div>
</section>
