<!-- video-embed -->
<section id="panel-video-embed" class="container-fluid">
	<div class="background-image">
		<img src="https://source.unsplash.com/1600x900/?building" alt="building"/>
	</div>
	<div class="content-image-overlay"></div>
	<div class="container">
			<div class="grid-wrapper-min-max">
				<div class="grid-item">
					<div class="video-wrapper">
						<iframe width="560" height="315" src="https://www.youtube.com/embed/RVQMsaoHuaY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					</div>
					<div class="content-caption sans-serif">
						<h4>Subhead here lorem ipsum unum</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam gravida leo massa, at elementum orci consequat non. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam gravida leo massa, at elementum orci consequat non.</p>
						<a class="cta" href="###">CTA here here</a>
					</div>
				</div>
			</div>
		</div>
</section>
