<h1>Bjorn Berg</h1>
<h2>Clinical Instructor</h2>
<hr>
<h3>Bio</h3>
<p>Professor Berg joined the Quinlan School of Business in the fall of 2015. Prior to entering academia, Professor Berg was a practicing attorney. His legal experience includes working for a general practice concentrating in business law and estate planning and for a boutique firm representing the interests of management in employment and labor disputes. In addition to private practice experience, Professor Berg also gained legal experience as an intern for a federal district court and as a law clerk for a state supreme court. Professor Berg is admitted to the Illinois Bar and the Wisconsin Bar.</p>
<div class="padding-sm"></div>
<h3>Education</h3>
<ul>
<li>PhD, Accounting, Penn State University, 2016</li>
<li>MBA, Management, University of Wisconsin-Madison, 2010</li>
<li>JD, cum laude, Marquette University Law School, 2007</li>
<li>BS, Finance, University of Illinois at Urbana-Champaign, 2002</li>
</ul>
<div class="padding-sm"></div>
<h3>Research Interests</h3>
<ul>
<li>Accounting for Litigation Contingencies
<li>Employment Law</li>
<li>Corporate Criminal Liability</li>
<li>Whistleblowers</li>
</ul>
<div class="padding-sm"></div>
<h3>Professional/Community Affiliations</h3>
<ul>
<li>Academy of Legal Studies in Business</li>
<li>American Accounting Association</li>
<li>American Bar Association</li>
<li>Illinois Bar Association</li>
<li>Wisconsin Bar Association</li>
</ul>
<div class="padding-sm"></div>
<h3>Courses Taught</h3>
<ul>
<li>Law and the Regulatory Environment of Business</li>
</ul>