<!-- modaal-cta -->
<section id="panel-modaal" class="container-fluid">
  <div class="container">
    <!-- column-build -->
    <div class="grid-wrapper-min-max two-column">
      <div class="grid-item">
        <img src="http://via.placeholder.com/1000x560" />
        <div class="caption">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam gravida leo massa, at elementum orci consequat non.</p>
        </div>
      </div>
      <div class="grid-item">
        <h6>Category label</h6>
        <h4>H4 Headline lorem ipsum herum</h4>
        <div class="introduction-paragraph">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam gravida leo massa, at elementum orci consequat non. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam gravida leo massa, at elementum orci consequat non.</p>
        </div>
        <a class="modaal cta" href="#modaal-content-carousel" data-modaal-type="inline" data-modaal-animation="fade">Show Content Here</a>
      </div>
    </div>
  </div>
</section>
<section id="modaal-content-carousel" style="display: none;">
      <div class="grid-wrapper-min-max">
        <div class="grid-item">
          <!-- content -->
          <!-- carousel -->

          <div id="panel-carousel" class="your-class slider fade container-fluid">
          	<div class="slides">
          		<div class="slide">
          			<div class="numbertext">1 / 2</div>
          			<!-- <img data-lazy="http://via.placeholder.com/1000x600"/> -->
          			<img data-lazy="./images/images-carousel/ncaa-recap-culture-homework.jpg"/>
          			<div class="caption">Etiam gravida leo massa, at elementum orci consequat non. Vestibulum quis sapien metus. Nam porta est in metus imperdiet, nec finibus enim viverra. Ut ultricies orci vel dapibus pharetra. Etiam gravida leo massa, at elementum orci consequat non. Vestibulum quis sapien metus. Nam porta est in metus imperdiet, nec finibus enim viverra. Ut ultricies orci vel dapibus pharetra.</div>
          		</div>
          		<div class="slide">
          			<div class="numbertext">1 / 3</div>
          			<img data-lazy="./images/images-carousel/ncaa-recap-ender-porter-marques-hug.jpg"/>
          			<div class="caption">Nam porta est in metus imperdiet, nec finibus enim viverra. Ut ultricies orci vel dapibus pharetra. Morbi in purus id erat sollicitudin pulvinar. Donec a consequat magna, quis iaculis nisi. Duis nec luctus justo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam gravida leo massa, at elementum orci consequat non. Vestibulum quis sapien metus.</div>
          		</div>
          		<div class="slide">
          			<div class="numbertext">1 / 4</div>
          			<img data-lazy="./images/images-carousel/ncaa-recap-games-donte.jpg"/>
          			<div class="caption">Nam porta est in metus imperdiet, nec finibus enim viverra. Ut ultricies orci vel dapibus pharetra. Morbi in purus id erat sollicitudin pulvinar. Donec a consequat magna, quis iaculis nisi. Duis nec luctus justo.</div>
          		</div>
          		<div class="slide">
          			<div class="numbertext">1 / 5</div>
          			<img data-lazy="./images/images-carousel/ncaa-recap-games-moser-crowd.jpg"/>
          			<div class="caption">Nam porta est in metus imperdiet, nec finibus enim viverra. Ut ultricies orci vel dapibus pharetra. Morbi in purus id erat sollicitudin pulvinar. Donec a consequat magna, quis iaculis nisi. Duis nec luctus justo. Nam porta est in metus imperdiet, nec finibus enim viverra. Ut ultricies orci vel dapibus pharetra. Morbi in purus id erat sollicitudin pulvinar. Donec a consequat magna, quis iaculis nisi. Duis nec luctus justo.</div>
          		</div>
          		<div class="slide">
          			<div class="numbertext">1 / 6</div>
          			<img data-lazy="./images/images-carousel/ncaa-recap-games-net-cutting.jpg"/>
          			<div class="caption">Nam porta est in metus imperdiet, nec finibus enim viverra. Ut ultricies orci vel dapibus pharetra. Morbi in purus id erat sollicitudin pulvinar. Donec a consequat magna, quis iaculis nisi. Duis nec luctus justo. Nam porta est in metus imperdiet, nec finibus enim viverra.</div>
          		</div>
          		<div class="slide">
          			<div class="numbertext">1 / 7</div>
          			<img data-lazy="./images/images-carousel/ncaa-recap-season-arch-madness-custer.jpg"/>
          			<div class="caption">Etiam gravida leo massa, at elementum orci consequat non. Vestibulum quis sapien metus. Nam porta est in metus imperdiet, nec finibus enim viverra. Ut ultricies orci vel dapibus pharetra. Etiam gravida leo massa, at elementum orci consequat non. Vestibulum quis sapien metus. Nam porta est in metus imperdiet, nec finibus enim viverra. Ut ultricies orci vel dapibus pharetra.</div>
          		</div>
          		<div class="slide">
          			<div class="numbertext">1 / 8</div>
          			<img data-lazy="./images/images-carousel/ncaa-recap-season-arch-madness-krutwig.jpg"/>
          			<div class="caption">Nam porta est in metus imperdiet, nec finibus enim viverra. Ut ultricies orci vel dapibus pharetra. Morbi in purus id erat sollicitudin pulvinar. Donec a consequat magna, quis iaculis nisi. Duis nec luctus justo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam gravida leo massa, at elementum orci consequat non. Vestibulum quis sapien metus.</div>
          		</div>
          	</div>
          </div>
          <!-- content end -->
        </div>
      </div>
      <script type="text/javascript">
        $(document).ready(function(){
          $('.your-class').slick({
            setting-name: setting-value
          });
        });
      </script>
      <script>
        $(document).ready(function(){
          var height = $(".sldes img:first-of-type").height();
        	$(".slick-list.draggable").css("height",height);
        });
      </script>
</section>
