<!-- refer -->
<section id="panel-refer" class="container-fluid">
	<div class="container">
		 <div class="grid-wrapper-min-max card card-horizontal">
			<div class="grid-item">
				<div class="image-wrapper">
					<div class="image-wrapper-overlay">
						<div class="image-wrapper-overlay-content">
							<h4>The headline is lorem ipsum</h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit ipsum dolor sit amet.</p>
							<a class="cta" href="#####">CTA here</a>
						</div>
					</div>
					<a href="###" target="_blank" title="Title goes here">
						<img src="http://via.placeholder.com/1000x560" alt="Alternate description goes here" title="Title goes here">
					</a>
				</div>
				<div class="content-grid-wrapper">
					<div class="flex-item content">
						<h6>0/0/0000: 0:00PM-0:00PM</h6>
						<h4>The headline is lorem ipsum</h4>
						<h5>Somebody Namehere</h5>
						<div class="explainer"><p>Lorem ipsum dolor sit amet</p></div>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit ipsum dolor sit amet.</p>
						<a class="cta" href="#####">CTA here</a>
					</div>
					<div class="flex-item links">
						<button onclick="window.open('###')">CTA here</button>
						<h6 style="text-align: center;">Lorem ipsum unum</h6>
						<h5>Also see:</h5>
						<p><a href="#####">Link to related resource</a></p>
						<p><a href="#####">Link to related resource</a></p>
						<p><a href="#####">Link to related resource</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
