<!-- image-lead - full-overlay -->
<section id="panel-image" class="container-fluid hero-image-lead full-overlay panel-uao-hero-image">
    <img src="http://via.placeholder.com/1800x1000" />
    <div class="grid-wrapper-min-max">
        <div class="grid-item">
            <div class="hero-image-content">
                <div class="headline-buttons">
                    <!-- <h6 class="center">Category label</h6> -->
                    <h1>Headline here lorem ipsum unum dolar sit amet</h1>
                    <div>
                        <div class="grid-wrapper-min-max three-column">

                            <div class="grid-item">
                                <button class="container-100"
                                    onclick="window.open('https://cms4.luc.edu/terminalfour/preview/8/en/163373','_blank')">Button
                                    1 Title Here</button>
                            </div>

                            <div class="grid-item">
                                <button class="container-100"
                                    onclick="window.open('https://www.luc.edu','_blank')">Button 2 Title Here</button>

                            </div>

                            <div class="grid-item">
                                <button class="container-100"
                                    onclick="window.open('https://cms4.luc.edu/terminalfour/preview/8/en/161422','_blank')">Button
                                    3 Title Here</button>

                            </div>

                            <div class="grid-item">
                                <button class="container-100"
                                    onclick="window.open('https://www.luc.edu','_blank')">Button 4 Title Here</button>

                            </div>

                        </div>
                    </div>
                </div>
                <div class="slides slick-initialized slick-slider uao-scroll-arrow">
                    <h6>Explore</h6>
                <button type="button" data-role="none" class="slick-next slick-arrow bounce">Explore</button>
                </div>
            </div>
        </div>
    </div>
</section>