<section id="panel-charts" class="container-fluid">
  <div class="container">
    <div class="grid-wrapper-min-max three-column">
      <!-- chart -->
      <div class="grid-item">
        <h5 class="display" style="margin-bottom: 1.5rem;">CHARTS - <span style="font-family: 'Arial', sans-serif; color: #888888; text-transform: none;">Readout #888888 lorem Month 00 - Month 00</span></h5>
        <!-- CHARTS -->
        <div id="charts-wrapper">
        <!-- MARKERS -->
          <div id="marker-one">
            <span class="marker-top"><p>May</p></span>
          </div>
          <div id="marker-two">
            <span class="marker-top"><p>June</p></span>
          </div>
          <div id="marker-three">
            <span class="marker-top"><p>July</p></span>
          </div>
          <div id="marker-four">
            <span class="marker-top"><p>Aug</p></span>
          </div>
        <!-- EARLY -->
          <div class="chart-group">
            <div class="chart-bar">
              <div id="session-a">
                <span id="a-date-one" class="session-date-marker"></span>
                <span id="a-date-two" class="session-date-marker"></span>
                <span id="a-date-three" class="session-date-marker"></span>
                <span id="a-date-four" class="session-date-marker gray"></span>
                <span id="a-date-five" class="session-date-marker"></span>
                <span id="a-date-six" class="session-date-marker"></span>
                <span id="a-date-seven" class="session-date-marker"></span>
                <p>May 23 - July 1</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
