<!-- image-grid -->
<section id="panel-image-grid" class="container-fluid image-grid-highlights">
	<div class="grid-wrapper-min-max">
<!-- image-01 -->
	<div class="grid-item">
		<img src="./images/images-image-grid-highlights/highlight-bell-detail-2000x2000.jpg"/>
	  <p class="caption-overlay">
	    <span class="caption-overlay-name">Somebody Namehere</span>
	    <span>Keyword 01</span>
	  </p>
		<button class="content-activate-symbol"></button>
		<div class="content-image-overlay">
	    <h6>Category lorem ipsum unum hereum</h6>
	    <h4>Somebody Namehere</h4>
	    <h3 class="teaser">Headline lorem ipsum unum hereum.</h3>
	    <p style="margin-top: 20px;">
				<a href="#modaal-content-example" data-modaal-type="inline" data-modaal-animation="fade" data-modaal-accessible-title="Inline content example 01" class="cta modaal" data-modaal-scope="">Read more
				</a>
			</p>
	    <button class="content-activate-symbol"></button>
		</div>
	</div>
<!-- image-02 -->
	<div class="grid-item">
		<img src="./images/images-image-grid-highlights/highlight-plant-detail-2000x2000.jpg"/>
	  <p class="caption-overlay">
	    <span class="caption-overlay-name">Somebody Namehere</span>
	    <span>Keyword 02</span>
	  </p>
		<button class="content-activate-symbol"></button>
		<div class="content-image-overlay">
	    <h6>Category lorem ipsum unum hereum</h6>
	    <h4>Somebody Namehere</h4>
	    <h3 class="teaser">Headline lorem ipsum unum hereum.</h3>
	    <p style="margin-top: 20px;">
				<a href="#modaal-content-example" data-modaal-type="inline" data-modaal-animation="fade" data-modaal-accessible-title="Inline content example 01" class="cta modaal" data-modaal-scope="">Read more
				</a>
			</p>
	    <button class="content-activate-symbol"></button>
		</div>
	</div>
<!-- image-03 -->
	<div class="grid-item">
	<img src="./images/images-image-grid-highlights/highlight-cudahy-detail-2000x2000.jpg"/>
	<p class="caption-overlay">
	  <span class="caption-overlay-name">Somebody Namehere</span>
	  <span>Keyword 03</span>
	</p>
	<button class="content-activate-symbol"></button>
	<div class="content-image-overlay">
	  <h6>Category lorem ipsum unum hereum</h6>
	  <h4>Somebody Namehere</h4>
	  <h3 class="teaser">Headline lorem ipsum unum hereum.</h3>
	  <p style="margin-top: 20px;">
			<a href="#modaal-content-example" data-modaal-type="inline" data-modaal-animation="fade" data-modaal-accessible-title="Inline content example 01" class="cta modaal" data-modaal-scope="">Read more
			</a>
		</p>
	  <button class="content-activate-symbol"></button>
	</div>
	</div>
<!-- image-04 -->
	<div class="grid-item">
		<img src="http://via.placeholder.com/1000x1000"/>
	  <p class="caption-overlay">
	    <span class="caption-overlay-name">Somebody Namehere</span>
	    <span>Lorem ipsum unum hereum</span>
	  </p>
		<button class="content-activate-symbol"></button>
		<div class="content-image-overlay">
	    <h6>Category lorem ipsum unum hereum</h6>
	    <h4>Somebody Namehere</h4>
	    <h3 class="teaser">Headline lorem ipsum unum hereum.</h3>
	    <p style="margin-top: 20px;">
				<a href="#modaal-content-example" data-modaal-type="inline" data-modaal-animation="fade" data-modaal-accessible-title="Inline content example 01" class="cta modaal" data-modaal-scope="">Read more
				</a>
			</p>
	    <button class="content-activate-symbol"></button>
		</div>
	</div>
<!-- modal -->
  <section id="modaal-content-example" style="display: none;">
	  <div class="container-fluid">
	    <div class="divider-sm"></div>
	      <div class="container commencement-container">
	        <div class="grid-wrapper-min-max">
	          <div class="grid-item">
	            <!-- content -->
	            <h3>H3 headline here</h3>
	            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam gravida leo massa, at elementum orci consequat non. Vestibulum quis sapien metus. Nam porta est in metus imperdiet, nec finibus enim viverra. Ut ultricies orci vel dapibus pharetra. Morbi in purus id erat sollicitudin pulvinar. Donec a consequat magna, quis iaculis nisi. Duis nec luctus justo. Proin hendrerit, ex non malesuada interdum, mauris felis sodales ligula, eget fermentum dui metus sit amet dolor.</p>
	            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam gravida leo massa, at elementum orci consequat non. Vestibulum quis sapien metus. Nam porta est in metus imperdiet, nec finibus enim viverra. Ut ultricies orci vel dapibus pharetra. Morbi in purus id erat sollicitudin pulvinar. Donec a consequat magna, quis iaculis nisi. Duis nec luctus justo. Proin hendrerit, ex non malesuada interdum, mauris felis sodales ligula, eget fermentum dui metus sit amet dolor.</p>
	            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam gravida leo massa, at elementum orci consequat non. Vestibulum quis sapien metus. Nam porta est in metus imperdiet, nec finibus enim viverra. Ut ultricies orci vel dapibus pharetra. Morbi in purus id erat sollicitudin pulvinar. Donec a consequat magna, quis iaculis nisi. Duis nec luctus justo. Proin hendrerit, ex non malesuada interdum, mauris felis sodales ligula, eget fermentum dui metus sit amet dolor.</p>
	            <!-- content end -->
	          </div>
	        </div>
	      <div class="divider-sm"></div>
	      </div>
	    </div>
	</section>
</section>
