<!-- events - news -->
<section id="panel-events-news" class="container-fluid">
	<div class="container">
		<div class="grid-wrapper-min-max three-column">
			<div class="grid-item">
				<div class="panel-label uppercase">
					<h5>Category label</h5>
				</div>
				<div class="infobox-nested">
					<h6>Month Day • 00:00 - 00:00</h6>
					<h4><a href="">Headline here</a></h4>
					<div class="sans-serif line-height-tight">
						<p>Lorem ipsum dolor sit amet, adipiscing.</p>
					</div>
					<a class="cta">CTA here</a>
				</div>
				<hr>
				<div class="infobox-nested">
					<h6>Month Day • 00:00 - 00:00</h6>
					<h4><a href="">Headline here</a></h4>
					<div class="sans-serif line-height-tight">
						<p>Lorem ipsum dolor sit amet, adipiscing.</p>
					</div>
					<a class="cta">CTA here</a>
				</div>
				<hr>
				<div class="infobox-nested">
					<h6>Month Day • 00:00 - 00:00</h6>
					<h4><a href="">Headline here</a></h4>
					<div class="sans-serif line-height-tight">
						<p>Lorem ipsum dolor sit amet, adipiscing.</p>
					</div>
					<a class="cta">CTA here</a>
				</div>
			</div>
			<div class="grid-item">
				<div class="panel-label uppercase">
					<h5>Category label</h5>
				</div>
				<div class="content-image-text-image"></div>
				<div class="content-image-text">
					<p><img src="images/images-icons/uao-instagram-social-media-icon-60x60.svg" title="Instagram social media icon" alt="Instagram social media icon" class="inline-icon">@LUC.admission</p>
					<p><img src="images/images-icons/uao-instagram-social-media-icon-60x60.svg" title="Instagram social media icon" alt="Instagram social media icon" class="inline-icon">@loyolachicago</p>
					<p><img src="images/images-icons/uao-email-icon-60x60.svg" title="Email icon envelope" alt="Email icon envelope" class="inline-icon"><a href="mailto:admission@luc.edu">admission@luc.edu</a></p>
					<p><img src="images/images-icons/uao-cell-phone-icon-60x60.svg" title="Cell phone icon" alt="Cell phone icon" class="inline-icon">800.262.2373</p>
				</div>
			</div>
			<div class="grid-item">
				<div class="panel-label uppercase">
					<h5>Calendar</h5>
				</div>
				<div class="calendar-card">
					<div class="calendar-card-date">
						<div class="calendar-card-date-day">
							<h6><small>Aug</small></h6>
						</div>
						<div class="calendar-card-date-number">
							<h6><small>00</small></h6>
						</div>
					</div>
					<div class="calendar-card-content">
						<h6>00:00 - 00:00</h6>
						<h4><a href="">Event name here</a></h4>
						<div class="sans-serif line-height-tight">
							<p>Lorem ipsum dolor sit amet, adipiscing.</p>
						</div>
						<a class="cta">CTA here</a>
					</div>
				</div>
				<hr>
				<div class="calendar-card">
					<div class="calendar-card-date">
						<div class="calendar-card-date-day">
							<h6><small>Aug</small></h6>
						</div>
						<div class="calendar-card-date-number">
							<h6><small>00</small></h6>
						</div>
					</div>
					<div class="calendar-card-content">
						<h6>00:00 - 00:00</h6>
						<h4><a href="">Event name here</a></h4>
						<div class="sans-serif line-height-tight">
							<p>Lorem ipsum dolor sit amet, adipiscing.</p>
						</div>
						<a class="cta">CTA here</a>
					</div>
				</div>
				<hr>
				<div class="calendar-card">
					<div class="calendar-card-date">
						<div class="calendar-card-date-day">
							<h6><small>Aug</small></h6>
						</div>
						<div class="calendar-card-date-number">
							<h6><small>00</small></h6>
						</div>
					</div>
					<div class="calendar-card-content">
						<h6>00:00 - 00:00</h6>
						<h4><a href="">Event name here</a></h4>
						<div class="sans-serif line-height-tight">
							<p>Lorem ipsum dolor sit amet, adipiscing.</p>
						</div>
						<a class="cta">CTA here</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
