<!-- image-text -->
<section id="panel-image-text" class="container-fluid">
	<div class="grid-wrapper-grid-area">
		<div class="grid-area grid-area-image">
			<div class="content-image-text-image">
				<img src="http://via.placeholder.com/1000x1000"/>
			</div>
		</div>
		<div class="grid-area grid-area-content">
			<div class="content-image-text">
				<h4>Headline lorem ipsum hereum</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam gravida leo massa, at elementum orci consequat non. Vestibulum quis sapien metus. Morbi in purus id erat sollicitudin pulvinar. Donec a consequat magna.</p>
				<a class="cta" href="#">Link here</a>
			</div>
		</div>
	</div>
</section>
