<!-- table - simple -->
<section id="" class="panel-table container-fluid" data-tablesaw-mode="stack">
	<div class="container">
		<h5>
			Table - <span style="font-family: 'Antenna Light', sans-serif;">With header categories</span>
		</h5>
		<div class="grid-wrapper-min-max one-column">
			<div class="grid-item">
				<table summary="Description here..." data-tablesaw-mode="stack">
					<caption>
				    Table caption, description, or qualifier here.
				  </caption>
          <thead>
            <tr>
              <th>Header 01</th>
              <th>Header 02</th>
              <th>Header 03</th>
              <th>Header 04</th>
              <th>Header 05</th>
              <th>Header 06</th>
              <th>Header 07</th>
              <th>Header 08</th>
              <th>Header 09</th>
              <th>Header 10</th>
              <th>Header 11</th>
              <th>Header 12</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</td>
              <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                <ul>
                  <li>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt.</li>
                  <li>Lorem ipsum dolor sit amet consectetur adipiscing elit..</li>
                  <li>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod.</li>
                </ul>
              </td>
              <td>Lorem ipsum dolor sit</td>
              <td>Lorem ipsum dolor sit</td>
              <td>Lorem ipsum dolor sit</td>
              <td>Dummy data for extra header 01</td>
              <td>Dummy data for extra header 02</td>
              <td>Dummy data for extra header 03</td>
              <td>Dummy data for extra header 04</td>
              <td>Dummy data for extra header 05</td>
              <td>Extra columnd data</td>
              <td>Extra columnd data</td>
            </tr>
            <tr>
              <td><img src="https://source.unsplash.com/150x150/?face"></td>
              <td>Data 02</td>
              <td>Data 03</td>
              <td>Data 04</td>
              <td>Data 05</td>
              <td>Dummy data for extra header 01</td>
              <td>Dummy data for extra header 02</td>
              <td>Dummy data for extra header 03</td>
              <td>Dummy data for extra header 04</td>
              <td>Dummy data for extra header 05</td>
              <td>Extra columnd data</td>
              <td>Extra columnd data</td>
            </tr>
            <tr>
              <td>Data 01</td>
              <td>Data 02</td>
              <td>Data 03</td>
              <td>Data 04</td>
              <td>Data 05</td>
              <td>Dummy data for extra header 01</td>
              <td>Dummy data for extra header 02</td>
              <td>Dummy data for extra header 03</td>
              <td>Dummy data for extra header 04</td>
              <td>Dummy data for extra header 05</td>
              <td>Extra columnd data</td>
              <td>Extra columnd data</td>
            </tr>
            <tr>
              <td>Data 01</td>
              <td>Data 02</td>
              <td>Data 03</td>
              <td>Data 04</td>
              <td>Data 05</td>
              <td>Dummy data for extra header 01</td>
              <td>Dummy data for extra header 02</td>
              <td>Dummy data for extra header 03</td>
              <td>Dummy data for extra header 04</td>
              <td>Dummy data for extra header 05</td>
              <td>Extra columnd data</td>
              <td>Extra columnd data</td>
            </tr>
            <tr>
              <td>Data 01</td>
              <td>Data 02</td>
              <td>Data 03</td>
              <td>Data 04</td>
              <td>Data 05</td>
              <td>Dummy data for extra header 01</td>
              <td>Dummy data for extra header 02</td>
              <td>Dummy data for extra header 03</td>
              <td>Dummy data for extra header 04</td>
              <td>Dummy data for extra header 05</td>
              <td>Extra columnd data</td>
              <td>Extra columnd data</td>
            </tr>
            <tr>
              <td>Data 01</td>
              <td>Data 02</td>
              <td>Data 03</td>
              <td>Data 04</td>
              <td>Data 05</td>
              <td>Dummy data for extra header 01</td>
              <td>Dummy data for extra header 02</td>
              <td>Dummy data for extra header 03</td>
              <td>Dummy data for extra header 04</td>
              <td>Dummy data for extra header 05</td>
              <td>Extra columnd data</td>
              <td>Extra columnd data</td>
            </tr>
            <tr>
              <td>Data 01</td>
              <td>Data 02</td>
              <td>Data 03</td>
              <td>Data 04</td>
              <td>Data 05</td>
              <td>Dummy data for extra header 01</td>
              <td>Dummy data for extra header 02</td>
              <td>Dummy data for extra header 03</td>
              <td>Dummy data for extra header 04</td>
              <td>Dummy data for extra header 05</td>
              <td>Extra columnd data</td>
              <td>Extra columnd data</td>
            </tr>
            <tr>
              <td>Data 01</td>
              <td>Data 02</td>
              <td>Data 03</td>
              <td>Data 04</td>
              <td>Data 05</td>
              <td>Dummy data for extra header 01</td>
              <td>Dummy data for extra header 02</td>
              <td>Dummy data for extra header 03</td>
              <td>Dummy data for extra header 04</td>
              <td>Dummy data for extra header 05</td>
              <td>Extra columnd data</td>
              <td>Extra columnd data</td>
            </tr>
            <tr>
              <td>Data 01</td>
              <td>Data 02</td>
              <td>Data 03</td>
              <td>Data 04</td>
              <td>Data 05</td>
              <td>Dummy data for extra header 01</td>
              <td>Dummy data for extra header 02</td>
              <td>Dummy data for extra header 03</td>
              <td>Dummy data for extra header 04</td>
              <td>Dummy data for extra header 05</td>
              <td>Extra columnd data</td>
              <td>Extra columnd data</td>
            </tr>
            <tr>
              <td>Data 01</td>
              <td>Data 02</td>
              <td>Data 03</td>
              <td>Data 04</td>
              <td>Data 05</td>
              <td>Dummy data for extra header 01</td>
              <td>Dummy data for extra header 02</td>
              <td>Dummy data for extra header 03</td>
              <td>Dummy data for extra header 04</td>
              <td>Dummy data for extra header 05</td>
              <td>Extra columnd data</td>
              <td>Extra columnd data</td>
            </tr>
          </tbody>
				</table>
			</div>
		</div>
	</div>
</section>
