<!-- image-text -->
<section id="panel-image-text" class="container-fluid">
	<div class="grid-wrapper-grid-area">
		<div class="grid-area grid-area-image">
			<div class="content-image-text-image">
				<img src="./images/images-image-grid-highlights/highlight-plant-detail-2000x2000.jpg"/>
			</div>
		</div>
		<div class="grid-area grid-area-content">
			<div class="content-image-text">
				<h4>Headline lorem ipsum hereum</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam gravida leo massa, at elementum orci consequat non. Vestibulum quis sapien metus. Morbi in purus id erat sollicitudin pulvinar. Donec a consequat magna.</p>
				<a class="cta" href="#">Link here</a>
			</div>
		</div>
	</div>
</section>

<div class="padding-md"></div>

<section id="panel-image-text" class="container-fluid">
	<div class="grid-wrapper-grid-area toggle-grid-area">
		<div class="grid-area grid-area-image">
			<div class="content-image-text-image">
				<img src="./images/images-image-grid-highlights/highlight-plant-detail-2000x2000.jpg"/>
			</div>
		</div>
		<div class="grid-area grid-area-content">
			<div class="content-image-text">
				<h4>Headline lorem ipsum hereum</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam gravida leo massa, at elementum orci consequat non. Vestibulum quis sapien metus. Morbi in purus id erat sollicitudin pulvinar. Donec a consequat magna.</p>
				<a class="cta" href="#">Link here</a>
			</div>
		</div>
	</div>
</section>
