<!-- tabs -->
<section id="panel-tabs" class="container-fluid">
	<div class="container">
			<div class="grid-wrapper-min-max">
				<div class="grid-item">
					<div class="tabs tabs-elevated">
						<div role="tablist" aria-label="tab-aria-label">
							<button role="tab" aria-selected="true" aria-controls="tab-04-tab" id="tab-aria-04">
								Tab 04
							</button>
							<button role="tab" aria-selected="false" aria-controls="tab-05-tab" id="tab-aria-05" tabindex="-1">
								Tab 05
							</button>
							<button role="tab" aria-selected="false" aria-controls="tab-06-tab" id="tab-aria-06" tabindex="-1" data-deletable="">
								Tab 06
							</button>
							<button role="tab" aria-selected="false" aria-controls="tab-07-tab" id="tab-aria-07" tabindex="-1" data-deletable="">
								Tab 07
							</button>
							<button role="tab" aria-selected="false" aria-controls="tab-08-tab" id="tab-aria-08" tabindex="-1" data-deletable="">
								Tab 08
							</button>
							<button role="tab" aria-selected="false" aria-controls="tab-09-tab" id="tab-aria-09" tabindex="-1" data-deletable="">
								Tab 09
							</button>
						</div>
						<div class="tab-panel" tabindex="0" role="tabpanel" id="tab-04-tab" aria-labelledby="tab-aria-04">
							<img src="http://via.placeholder.com/1800x501"/>
							<h4>Content for tab 04 is here</h4>
							<div class="sans-serif">
								<p><span class="leadin">Tab 01lorem ipsum dolor</span> sit amet, consectetur adipiscing elit. Etiam gravida leo massa, at elementum orci consequat non. Vestibulum quis sapien metus. (Photo by Someone Namehere)</p>
								<p><a class="cta" href="###">CTA link here</a></p>
							</div>
						</div>
						<div class="tab-panel" tabindex="0" role="tabpanel" id="tab-05-tab" aria-labelledby="tab-aria-05" hidden="">
							<img src="http://via.placeholder.com/1800x502"/>
							<h4>Content for tab 05 is here</h4>
							<div class="sans-serif">
								<p><span class="leadin">Tab 01lorem ipsum dolor</span> sit amet, consectetur adipiscing elit. Etiam gravida leo massa, at elementum orci consequat non. Vestibulum quis sapien metus. (Photo by Someone Namehere)</p>
								<p><a class="cta" href="###">CTA link here</a></p>
							</div>
						</div>
						<div class="tab-panel" tabindex="0" role="tabpanel" id="tab-06-tab" aria-labelledby="tab-aria-06" hidden="">
							<img src="http://via.placeholder.com/1800x503"/>
							<h4>Content for tab 06 is here</h4>
							<div class="sans-serif">
								<p><span class="leadin">Tab 01lorem ipsum dolor</span> sit amet, consectetur adipiscing elit. Etiam gravida leo massa, at elementum orci consequat non. Vestibulum quis sapien metus. (Photo by Someone Namehere)</p>
								<p><a class="cta" href="###">CTA link here</a></p>
							</div>
						</div>
						<div class="tab-panel" tabindex="0" role="tabpanel" id="tab-07-tab" aria-labelledby="tab-aria-07" hidden="">
							<img src="http://via.placeholder.com/1800x504"/>
							<h4>Content for tab 07 is here</h4>
							<div class="sans-serif">
								<p><span class="leadin">Tab 01lorem ipsum dolor</span> sit amet, consectetur adipiscing elit. Etiam gravida leo massa, at elementum orci consequat non. Vestibulum quis sapien metus. (Photo by Someone Namehere)</p>
								<p><a class="cta" href="###">CTA link here</a></p>
							</div>
						</div>
						<div class="tab-panel" tabindex="0" role="tabpanel" id="tab-08-tab" aria-labelledby="tab-aria-08" hidden="">
							<img src="http://via.placeholder.com/1800x505"/>
							<h4>Content for tab 08 is here</h4>
							<div class="sans-serif">
								<p><span class="leadin">Tab 01lorem ipsum dolor</span> sit amet, consectetur adipiscing elit. Etiam gravida leo massa, at elementum orci consequat non. Vestibulum quis sapien metus. (Photo by Someone Namehere)</p>
								<p><a class="cta" href="###">CTA link here</a></p>
							</div>
						</div>
						<div class="tab-panel" tabindex="0" role="tabpanel" id="tab-09-tab" aria-labelledby="tab-aria-09" hidden="">
							<img src="http://via.placeholder.com/1800x506"/>
							<h4>Content for tab 09 is here</h4>
							<div class="sans-serif">
								<p><span class="leadin">Tab 01lorem ipsum dolor</span> sit amet, consectetur adipiscing elit. Etiam gravida leo massa, at elementum orci consequat non. Vestibulum quis sapien metus. (Photo by Someone Namehere)</p>
								<p><a class="cta" href="###">CTA link here</a></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
</section>
