<!-- video-embed - with background image -->
<div id="panel-top" class="container-fluid">
	<div class="container"><h5>Panel - Video Embed - With Background Image</h5></div>
</div>
<section id="panel-video-embed" class="container-fluid">
	<div class="background-image">
		<img src="images/images-carousel-scroll/carousel-scroll-01.jpg" alt="chicago"/>
	</div>
	<div class="content-image-overlay"></div>
	<div class="container">
			<div class="grid-wrapper-min-max">
				<div class="grid-item">
					<div class="video-wrapper">
						<iframe width="560" height="315" src="https://www.youtube.com/embed/RVQMsaoHuaY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					</div>
					<div class="content-caption sans-serif">
						<h4>Subhead here lorem ipsum unum</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
						<a class="cta" href="###">CTA here here</a>
					</div>
				</div>
			</div>
		</div>
</section>
<!-- video-embed - without background image -->
<div id="panel-top" class="container-fluid">
	<div class="container"><h5>Panel - Video Embed - Without Background Image</h5></div>
</div>
<section id="panel-video-embed" class="container-fluid hide-background-image">
	<div class="background-image">
		<img src="images/images-carousel-scroll/carousel-scroll-01.jpg" alt="chicago"/>
	</div>
	<div class="content-image-overlay"></div>
	<div class="container">
			<div class="grid-wrapper-min-max">
				<div class="grid-item">
					<div class="video-wrapper">
						<iframe width="560" height="315" src="https://www.youtube.com/embed/RVQMsaoHuaY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					</div>
					<div class="content-caption sans-serif">
						<h4>Subhead here lorem ipsum unum</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
						<a class="cta" href="###">CTA here here</a>
					</div>
				</div>
			</div>
		</div>
</section>
<!-- video-embed - without background image - maroon -->
<div id="panel-top" class="container-fluid">
	<div class="container"><h5>Panel - Video Embed - Without Background Image - Maroon</h5></div>
</div>
<section id="panel-video-embed" class="container-fluid hide-background-image bg-maroon">
	<div class="background-image">
		<img src="images/images-carousel-scroll/carousel-scroll-01.jpg" alt="chicago"/>
	</div>
	<div class="content-image-overlay"></div>
	<div class="container">
			<div class="grid-wrapper-min-max">
				<div class="grid-item">
					<div class="video-wrapper">
						<iframe width="560" height="315" src="https://www.youtube.com/embed/RVQMsaoHuaY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					</div>
					<div class="content-caption sans-serif">
						<h4>Subhead here lorem ipsum unum</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
						<a class="cta" href="###">CTA here here</a>
					</div>
				</div>
			</div>
		</div>
</section>