<div class="padding-md bg-maroon"></div>
<section id="panel-button-cta" class="container-fluid bg-maroon">
  <div class="container">
    <div class="grid-wrapper-min-max">
      <div class="grid-item button-gold center">
        <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do <a href="https://www.luc.edu/">eiusmod</a> tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
        <button class="container-100" onclick="window.open('https://www.luc.edu','_blank')">Button CTA Here</button>
        <h6 class="center category-light">Button 1 SubTitle Here</h6>
      </div>
    </div>
  </div>
</section>
<div class="padding-md bg-maroon"></div>
