<!-- carousel -->

<div id="panel-carousel" class="slider fade container-fluid">
	<div class="slides">
		<div class="slide">
			<div class="numbertext">1 / 8</div>
			<img data-lazy="http://via.placeholder.com/600x480"/>
			<!-- <img data-lazy="./images/images-carousel/ncaa-recap-culture-bus-sun.jpg"/> -->
			<div class="caption">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam gravida leo massa, at elementum orci consequat non. Vestibulum quis sapien metus. Nam porta est in metus imperdiet, nec finibus enim viverra. Ut ultricies orci vel dapibus pharetra. Morbi in purus id erat sollicitudin pulvinar. Donec a consequat magna, quis iaculis nisi. Duis nec luctus justo. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
		</div>
		<div class="slide">
			<div class="numbertext">2 / 8</div>
			<!-- <img data-lazy="http://via.placeholder.com/1000x600"/> -->
			<img data-lazy="./images/images-carousel/ncaa-recap-culture-homework.jpg"/>
			<div class="caption">Etiam gravida leo massa, at elementum orci consequat non. Vestibulum quis sapien metus. Nam porta est in metus imperdiet, nec finibus enim viverra. Ut ultricies orci vel dapibus pharetra. Etiam gravida leo massa, at elementum orci consequat non. Vestibulum quis sapien metus. Nam porta est in metus imperdiet, nec finibus enim viverra. Ut ultricies orci vel dapibus pharetra.</div>
		</div>
		<div class="slide">
			<div class="numbertext">3 / 8</div>
			<img data-lazy="./images/images-carousel/ncaa-recap-ender-porter-marques-hug.jpg"/>
			<div class="caption">Nam porta est in metus imperdiet, nec finibus enim viverra. Ut ultricies orci vel dapibus pharetra. Morbi in purus id erat sollicitudin pulvinar. Donec a consequat magna, quis iaculis nisi. Duis nec luctus justo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam gravida leo massa, at elementum orci consequat non. Vestibulum quis sapien metus.</div>
		</div>
		<div class="slide">
			<div class="numbertext">4 / 8</div>
			<img data-lazy="./images/images-carousel/ncaa-recap-games-donte.jpg"/>
			<div class="caption">Nam porta est in metus imperdiet, nec finibus enim viverra. Ut ultricies orci vel dapibus pharetra. Morbi in purus id erat sollicitudin pulvinar. Donec a consequat magna, quis iaculis nisi. Duis nec luctus justo.</div>
		</div>
		<div class="slide">
			<div class="numbertext">5 / 8</div>
			<img data-lazy="./images/images-carousel/ncaa-recap-games-moser-crowd.jpg"/>
			<div class="caption">Nam porta est in metus imperdiet, nec finibus enim viverra. Ut ultricies orci vel dapibus pharetra. Morbi in purus id erat sollicitudin pulvinar. Donec a consequat magna, quis iaculis nisi. Duis nec luctus justo. Nam porta est in metus imperdiet, nec finibus enim viverra. Ut ultricies orci vel dapibus pharetra. Morbi in purus id erat sollicitudin pulvinar. Donec a consequat magna, quis iaculis nisi. Duis nec luctus justo.</div>
		</div>
		<div class="slide">
			<div class="numbertext">6 / 8</div>
			<img data-lazy="./images/images-carousel/ncaa-recap-games-net-cutting.jpg"/>
			<div class="caption">Nam porta est in metus imperdiet, nec finibus enim viverra. Ut ultricies orci vel dapibus pharetra. Morbi in purus id erat sollicitudin pulvinar. Donec a consequat magna, quis iaculis nisi. Duis nec luctus justo. Nam porta est in metus imperdiet, nec finibus enim viverra.</div>
		</div>
		<div class="slide">
			<div class="numbertext">7 / 8</div>
			<img data-lazy="./images/images-carousel/ncaa-recap-season-arch-madness-custer.jpg"/>
			<div class="caption">Etiam gravida leo massa, at elementum orci consequat non. Vestibulum quis sapien metus. Nam porta est in metus imperdiet, nec finibus enim viverra. Ut ultricies orci vel dapibus pharetra. Etiam gravida leo massa, at elementum orci consequat non. Vestibulum quis sapien metus. Nam porta est in metus imperdiet, nec finibus enim viverra. Ut ultricies orci vel dapibus pharetra.</div>
		</div>
		<div class="slide">
			<div class="numbertext">8 / 8</div>
			<img data-lazy="./images/images-carousel/ncaa-recap-season-arch-madness-krutwig.jpg"/>
			<div class="caption">Nam porta est in metus imperdiet, nec finibus enim viverra. Ut ultricies orci vel dapibus pharetra. Morbi in purus id erat sollicitudin pulvinar. Donec a consequat magna, quis iaculis nisi. Duis nec luctus justo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam gravida leo massa, at elementum orci consequat non. Vestibulum quis sapien metus.</div>
		</div>
	</div>
</div>
