<!-- image tabs -->
<section id="panel-tabs-images-v2" class="panel-tabs-images container-fluid">
	<div class="container">
		<div class="tabs-images">
			<div class="grid-wrapper-min-max three-column">
				<div class="grid-item">
					<div class="tab">
						<div class="tablinks active" data-tab="tabImageOn-v2">
							<!-- <h6>Recipe for success</h6> -->
							<img src="http://via.placeholder.com/1000x1000">
						</div>
					</div>
				</div>
				<div class="grid-item">
					<div class="tab">
						<div class="tablinks" data-tab="tabImageTwo-v2">
							<!-- <h6>Creating solutions</h6> -->
							<img src="http://via.placeholder.com/1000x1000">
						</div>
					</div>
				</div>
				<div class="grid-item">
					<div class="tab">
						<div class="tablinks" data-tab="tabImageThree-v2">
							<!-- <h6>Right skills, right time</h6> -->
							<img src="http://via.placeholder.com/1000x1000">
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="grid-wrapper-min-max">
			<div class="grid-item">
				<div id="tabImageOn-v2" class="tabcontent" style="display: block;">
					<h6 class="category-light center">Recipe for success</h6>
					<blockquote>Marketers have an important role to play in plastic waste clean-up.
						<cite>Professor Cliff Shultz</cite>
						<a class="cta" href="####">CTA here</a>
					</blockquote>
				</div>
				<div id="tabImageTwo-v2" class="tabcontent" style="display: none;">
					<h6 class="category-light center">Creating solutions</h6>
					<blockquote>I couldn’t have asked for a better start to her HR career.
						<cite>Jessica Holden (MSHR ’15)</cite>
						<a class="cta" href="####">CTA here</a>
					</blockquote>
				</div>
				<div id="tabImageThree-v2" class="tabcontent" style="display: none;">
					<h6 class="category-light center">Right skills, right time</h6>
					<blockquote>Choose Quinlan for its balance of technical and business-oriented skills.
						<cite>Bianca Marjalino (MSBDA ’19)</cite>
						<a class="cta" href="####">CTA here</a>
					</blockquote>
				</div>
			</div>
		</div>
	</div>
</section>
