<section id="panel-text" class="container-fluid bg-gray-extra-light">
<div class="container">
<div class="padding-md"></div>
<div class="grid-wrapper-min-max one-column">
<div class="grid-item">
<h4 class="center uppercase">Let's Get Started</h4>
</div>
</div>
</div>
</section>

<section id="panel-text" class="container-fluid bg-gray-extra-light">
<div class="container">
<div class="padding-xsm"></div>
<div class="grid-wrapper-min-max three-column">

<div class="grid-item">
  <button class="container-100" onclick="window.open('https://cms4.luc.edu/terminalfour/preview/8/en/163373','_blank')">Button 1 Title Here</button>
  <h6 class="center category-light">Button 1 SubTitle Here</h6>
</div>

<div class="grid-item">
  <button class="container-100" onclick="window.open('https://www.luc.edu','_blank')">Button 2 Title Here</button>
  <h6 class="center">Button 2 SubTitle Here</h6>
</div>

<div class="grid-item">
  <button class="container-100" onclick="window.open('https://cms4.luc.edu/terminalfour/preview/8/en/161422','_blank')">Button 3 Title Here</button>
  <h6 class="center">Button 3 SubTitle Here</h6>
</div>

<div class="grid-item">
  <button class="container-100" onclick="window.open('https://www.luc.edu','_blank')">Button 4 Title Here</button>
  <h6 class="center">Button 4 SubTitle Here</h6>
</div>

</div>

<div class="padding-md"></div>

</div>
</section>
