<!-- chart - column -->
<section>
  <div class="container-fluid">
    <div class="container">
      <h5>
        Charts - <span style="font-family: 'Antenna Light', sans-serif;">Column Chart</span>
      </h5>
      <div class="chart-key-wrapper">
        <div id="chart-key-01">
          <p class="chart-key"><span></span>Category 01</p>
        </div>
        <div id="chart-key-02">
          <p class="chart-key"><span></span>Category 02</p>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="padding-xsm"></div>

<section id="panel-column-chart" class="container-fluid">
  <div class="container">
    <!-- scale - marker -->
    <div id="marker-one">
        <span><p>0</p></span>
    </div>
    <div id="marker-two">
        <span><p>25</p></span>
    </div>
    <div id="marker-three">
        <span><p>50</p></span>
    </div>
    <div id="marker-four">
        <span><p>75</p></span>
    </div>
    <div id="marker-five">
        <span><p>100</p></span>
    </div>
    <div class="grid-wrapper-min-max">
      <!-- chart one -->
      <div class="grid-item">
        <!-- chart -->
        <div id="chart-column-wrapper">
        <!-- value -->
          <div class="chart-column-group">
            <div class="chart-column background-none">
              <div id="chart-column-value-a1" class="chart-column-value-1">
                <p>40%</p>
              </div>
              <div id="chart-column-value-a2" class="chart-column-value-2">
                <p>20%</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- chart two -->
      <div class="grid-item">
        <!-- chart -->
        <div id="chart-column-wrapper">
        <!-- value -->
          <div class="chart-column-group">
            <div class="chart-column background-none">
              <div id="chart-column-value-b1" class="chart-column-value-1">
                <p>40%</p>
              </div>
              <!-- only for stacked column -->
              <!--
              <div id="chart-column-value-b2" class="chart-column-value-2">
                <p>40%</p>
              </div>
              -->
            </div>
          </div>
        </div>
      </div>
      <!-- chart three -->
      <div class="grid-item">
        <!-- chart -->
        <div id="chart-column-wrapper">
        <!-- value -->
          <div class="chart-column-group">
            <div class="chart-column background-none">
              <div id="chart-column-value-c1" class="chart-column-value-1">
                <p>40%</p>
              </div>
              <!-- only for stacked column -->
              <!--
              <div id="chart-column-value-c2" class="chart-column-value-2">
                <p>40%</p>
              </div>
              -->
            </div>
          </div>
        </div>
      </div>
      <!-- chart four -->
      <div class="grid-item">
        <!-- chart -->
        <div id="chart-column-wrapper">
        <!-- value -->
          <div class="chart-column-group">
            <div class="chart-column background-none">
              <div id="chart-column-value-d1" class="chart-column-value-1">
                <p>40%</p>
              </div>
              <!-- only for stacked column -->
              <!--
              <div id="chart-column-value-d2" class="chart-column-value-2">
                <p>40%</p>
              </div>
              -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="padding-lg"></div>