<!-- table - simple -->
<section id="panel-table" class="container-fluid" data-tablesaw-mode="stack">
	<div class="container">
		<h5>
			Table - <span style="font-family: 'Antenna Light', sans-serif;">With header categories</span>
		</h5>
		<div class="grid-wrapper-min-max one-column">
			<div class="grid-item">
				<table summary="Description here..." data-tablesaw-mode="stack">
					<caption>
				    Table caption, description, or qualifier here.
				  </caption>
					<tr>
						<th>Header 01</th>
						<th>Header 02</th>
						<th>Header 03</th>
						<th>Header 04</th>
						<th>Header 05</th>
					</tr>
					<tr>
						<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</td>
						<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
							<ul>
								<li>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt.</li>
								<li>Lorem ipsum dolor sit amet consectetur adipiscing elit..</li>
								<li>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod.</li>
							</ul>
						</td>
						<td>Lorem ipsum dolor sit</td>
						<td>Lorem ipsum dolor sit</td>
						<td>Lorem ipsum dolor sit</td>
					</tr>
					<tr>
						<td>Data 01</td>
						<td>Data 02</td>
						<td>Data 03</td>
						<td>Data 04</td>
						<td>Data 05</td>
					</tr>
					<tr>
						<td>Data 01</td>
						<td>Data 02</td>
						<td>Data 03</td>
						<td>Data 04</td>
						<td>Data 05</td>
					</tr>
					<tr>
						<td>Data 01</td>
						<td>Data 02</td>
						<td>Data 03</td>
						<td>Data 04</td>
						<td>Data 05</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</section>
