<script>
	$('.modaal-inline-content').modaal({
		type: 'inline',
		loading_content: 'Loading content, please wait.'
	});
</script>
<!-- image-grid -->
<div><a id="view-medallion-grid" href="http://localhost:3000/presidents-medallion.html" target="_blank">View as page</a></div>
<section id="panel-image-grid" class="container-fluid" style="background: rgba(0,0,0,.65); background-image: url('http://via.placeholder.com/1000x560');">
	<div class="content-columns-varied">
		<div class="grid-wrapper">
<!-- image-01 -->
			<div class="grid-item col-flex">
				<img src="images/images-medallion-scroll/carousel-scroll-01.jpg"/>
				<button class="content-activate-symbol"></button>
				<div class="content-image-overlay">
					<h6>School of Namehere Namehere</h6>
					<h4>Recipient-00</h4>
					<p style="margin-top: 20px;"><a href="#inline-content" data-modaal-type="inline" data-modaal-animation="fade" data-modaal-accessible-title="Recipient-00" class="cta modaal">Read more</a></p>
					<button class="content-activate-symbol"></button>
				</div>
			</div>
<!-- image-02 -->
			<div class="grid-item col-flex">
				<img src="images/images-medallion-scroll/carousel-scroll-02.jpg"/>
				<button class="content-activate-symbol"></button>
				<div class="content-image-overlay">
					<h6>School of Namehere Namehere</h6>
					<h4>Recipient-00</h4>
					<p style="margin-top: 20px;"><a href="#inline-content" data-modaal-type="inline" data-modaal-animation="fade" data-modaal-accessible-title="Recipient-00" class="cta modaal">Read more</a></p>
					<button class="content-activate-symbol"></button>
				</div>
			</div>
<!-- image-03 -->
			<div class="grid-item col-flex">
				<img src="images/images-medallion-scroll/carousel-scroll-03.jpg"/>
				<button class="content-activate-symbol"></button>
				<div class="content-image-overlay">
					<h6>School of Namehere Namehere</h6>
					<h4>Recipient-00</h4>
					<p style="margin-top: 20px;"><a href="#inline-content" data-modaal-type="inline" data-modaal-animation="fade" data-modaal-accessible-title="Recipient-00" class="cta modaal">Read more</a></p>
					<button class="content-activate-symbol"></button>
				</div>
			</div>
<!-- image-04 -->
			<div class="grid-item col-flex">
				<img src="images/images-medallion-scroll/carousel-scroll-04.jpg"/>
				<button class="content-activate-symbol"></button>
				<div class="content-image-overlay">
					<h6>School of Namehere Namehere</h6>
					<h4>Recipient-00</h4>
					<p style="margin-top: 20px;"><a href="#inline-content" data-modaal-type="inline" data-modaal-animation="fade" data-modaal-accessible-title="Recipient-00" class="cta modaal">Read more</a></p>
					<button class="content-activate-symbol"></button>
				</div>
			</div>
<!-- image-05 -->
			<div class="grid-item col-flex">
				<img src="images/images-medallion-scroll/carousel-scroll-05.jpg"/>
				<button class="content-activate-symbol"></button>
				<div class="content-image-overlay">
					<h6>School of Namehere Namehere</h6>
					<h4>Recipient-00</h4>
					<p style="margin-top: 20px;"><a href="#inline-content" data-modaal-type="inline" data-modaal-animation="fade" data-modaal-accessible-title="Recipient-00" class="cta modaal">Read more</a></p>
					<button class="content-activate-symbol"></button>
				</div>
			</div>
<!-- image-06 -->
			<div class="grid-item col-flex">
				<img src="images/images-medallion-scroll/carousel-scroll-06.jpg"/>
				<button class="content-activate-symbol"></button>
				<div class="content-image-overlay">
					<h6>School of Namehere Namehere</h6>
					<h4>Recipient-00</h4>
					<p style="margin-top: 20px;"><a href="#inline-content" data-modaal-type="inline" data-modaal-animation="fade" data-modaal-accessible-title="Recipient-00" class="cta modaal">Read more</a></p>
					<button class="content-activate-symbol"></button>
				</div>
			</div>
<!-- image-07 -->
			<div class="grid-item col-flex">
				<img src="images/images-medallion-scroll/carousel-scroll-07.jpg"/>
				<button class="content-activate-symbol"></button>
				<div class="content-image-overlay">
					<h6>School of Namehere Namehere</h6>
					<h4>Recipient-00</h4>
					<p style="margin-top: 20px;"><a href="#inline-content" data-modaal-type="inline" data-modaal-animation="fade" data-modaal-accessible-title="Recipient-00" class="cta modaal">Read more</a></p>
					<button class="content-activate-symbol"></button>
				</div>
			</div>
<!-- image-08 -->
			<div class="grid-item col-flex">
				<img src="images/images-medallion-scroll/carousel-scroll-08.jpg"/>
				<button class="content-activate-symbol"></button>
				<div class="content-image-overlay">
					<h6>School of Namehere Namehere</h6>
					<h4>Recipient-00</h4>
					<p style="margin-top: 20px;"><a href="#inline-content" data-modaal-type="inline" data-modaal-animation="fade" data-modaal-accessible-title="Recipient-00" class="cta modaal">Read more</a></p>
					<button class="content-activate-symbol"></button>
				</div>
			</div>
<!-- image-09 -->
			<div class="grid-item col-flex">
				<img src="images/images-medallion-scroll/carousel-scroll-09.jpg"/>
				<button class="content-activate-symbol"></button>
				<div class="content-image-overlay">
					<h6>School of Namehere Namehere</h6>
					<h4>Recipient-00</h4>
					<p style="margin-top: 20px;"><a href="#inline-content" data-modaal-type="inline" data-modaal-animation="fade" data-modaal-accessible-title="Recipient-00" class="cta modaal">Read more</a></p>
					<button class="content-activate-symbol"></button>
				</div>
			</div>
<!-- image-10 -->
			<div class="grid-item col-flex">
				<img src="images/images-medallion-scroll/carousel-scroll-10.jpg"/>
				<button class="content-activate-symbol"></button>
				<div class="content-image-overlay">
					<h6>School of Namehere Namehere</h6>
					<h4>Recipient-00</h4>
					<p style="margin-top: 20px;"><a href="#inline-content" data-modaal-type="inline" data-modaal-animation="fade" data-modaal-accessible-title="Recipient-00" class="cta modaal">Read more</a></p>
					<button class="content-activate-symbol"></button>
				</div>
			</div>
<!-- image-11 -->
			<div class="grid-item col-flex">
				<img src="images/images-medallion-scroll/carousel-scroll-11.jpg"/>
				<button class="content-activate-symbol"></button>
				<div class="content-image-overlay">
					<h6>School of Namehere Namehere</h6>
					<h4>Recipient-00</h4>
					<p style="margin-top: 20px;"><a href="#inline-content" data-modaal-type="inline" data-modaal-animation="fade" data-modaal-accessible-title="Recipient-00" class="cta modaal">Read more</a></p>
					<button class="content-activate-symbol"></button>
				</div>
			</div>
<!-- image-12 -->
			<div class="grid-item col-flex">
				<img src="images/images-medallion-scroll/carousel-scroll-12.jpg"/>
				<button class="content-activate-symbol"></button>
				<div class="content-image-overlay">
					<h6>School of Namehere Namehere</h6>
					<h4>Recipient-00</h4>
					<p style="margin-top: 20px;"><a href="#inline-content" data-modaal-type="inline" data-modaal-animation="fade" data-modaal-accessible-title="Recipient-00" class="cta modaal">Read more</a></p>
					<button class="content-activate-symbol"></button>
				</div>
			</div>
		</div>
	</div>
</section>

<section id="inline-content" class="hidden">
	<div class="container-fluid">
		<div class="content-columns-varied one-column-build">
			<div class="grid-wrapper">
				<div class="grid-item col-flex">
					<!-- content -->
					<h3>Congratulations to President's Medallion recipient XX!</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam gravida leo massa, at elementum orci consequat non. Vestibulum quis sapien metus. Nam porta est in metus imperdiet, nec finibus enim viverra. Ut ultricies orci vel dapibus pharetra. Morbi in purus id erat sollicitudin pulvinar.</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam gravida leo massa, at elementum orci consequat non. Vestibulum quis sapien metus. Nam porta est in metus imperdiet, nec finibus enim viverra. Ut ultricies orci vel dapibus pharetra. Morbi in purus id erat sollicitudin pulvinar.</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam gravida leo massa, at elementum orci consequat non. Vestibulum quis sapien metus. Nam porta est in metus imperdiet, nec finibus enim viverra. Ut ultricies orci vel dapibus pharetra. Morbi in purus id erat sollicitudin pulvinar.</p>
					<!-- content end -->
				</div>
			</div>
		</div>
	</div>
</section>
<style>
	.modaal-content-container { padding: 5rem; }
</style>
<script>
	AOS.init();
</script>
