<script>
	$('.modaal-inline-content').modaal({
		type: 'inline',
		loading_content: 'Loading content, please wait.'
	});
</script>
<div><a id="view-medallion-grid" href="http://localhost:3000/presidents-medallion-grid.html" target="_blank">View as grid</a></div>
<section id="panel-carousel-scroll" class="modaal-examples">
	<div class="content-columns-varied two-column-build">
		<!-- column build - cards -->
		<div class="grid-wrapper">
			<div class="grid-item col-flex">
				<div id="intro-slide" class="item">
					<div class="item-content">
						<div class="item-content-box">
							<h1>Three words</h1>
							<div class="sans-serif">
								<h5>LEADERSHIP. SCHOLARSHIP. SERVICE.</h5>
								<p>
									They are the words etched on to the award that Loyola University Chicago presents every year to its most outstanding students. Those words were chosen for the President’s Medallion because they summarize all that the University
									represents. They speak for the success that these students have worked so hard toward at Loyola—and the promise they carry with them after.
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="item" id="trigger-first">
					<div class="item item--first" data-aos="fade" data-aos-anchor="#trigger-first" data-aos-anchor-placement="top-bottom">
					</div>
					<div class="item-content">
						<div class="item-content-box">
							<h6>School Namehere of Namehere</h6>
							<h2>Recepient Namehere 01</h2>
							<blockquote>‘Lorem ipsum dolor sit amet, consectetur adipiscing. Etiam gravida leo massa, orci consequat non.’</blockquote>
							<p style="margin-top: 20px;"><a href="#inline-content" data-modaal-type="inline" data-modaal-animation="fade" data-modaal-accessible-title="Recipient-00" class="cta modaal">Read more about Recepient Nameherehere</a></p>
						</div>
					</div>
				</div>
				<div class="item" id="trigger-second">
					<div class="item item--second" data-aos="fade" data-aos-anchor="#trigger-second" data-aos-anchor-placement="top-center">
					</div>
					<div class="item-content">
						<div class="item-content-box">
							<h6>School Namehere of Namehere</h6>
							<h2>Recepient Namehere 02</h2>
							<blockquote>‘Lorem ipsum dolor sit amet, consectetur adipiscing. Etiam gravida leo massa, orci consequat non.’</blockquote>
							<p style="margin-top: 20px;"><a href="#inline-content" data-modaal-type="inline" data-modaal-animation="fade" data-modaal-accessible-title="Recipient-00" class="cta modaal">Read more about Recepient Nameherehere</a></p>
						</div>
					</div>
				</div>
				<div class="item" id="trigger-third">
					<div class="item item--third" data-aos="fade" data-aos-anchor="#trigger-third" data-aos-anchor-placement="top-center">
					</div>
					<div class="item-content">
						<div class="item-content-box">
							<h6>School Namehere of Namehere</h6>
							<h2>Recepient Namehere 03</h2>
							<blockquote>‘Lorem ipsum dolor sit amet, consectetur adipiscing. Etiam gravida leo massa, orci consequat non.’</blockquote>
							<p style="margin-top: 20px;"><a href="#inline-content" data-modaal-type="inline" data-modaal-animation="fade" data-modaal-accessible-title="Recipient-00" class="cta modaal">Read more about Recepient Nameherehere</a></p>
						</div>
					</div>
				</div>
				<div class="item" id="trigger-fourth">
					<div class="item item--fourth" data-aos="fade" data-aos-anchor="#trigger-fourth" data-aos-anchor-placement="top-center">
					</div>
					<div class="item-content">
						<div class="item-content-box">
							<h6>School Namehere of Namehere</h6>
							<h2>Recepient Namehere 04</h2>
							<blockquote>'Lorem ipsum dolor sit amet, consectetur adipiscing. Etiam gravida leo massa, orci consequat non.'</blockquote>
							<p style="margin-top: 20px;"><a href="#inline-content" data-modaal-type="inline" data-modaal-animation="fade" data-modaal-accessible-title="Recipient-00" class="cta modaal">Read more about Recepient Nameherehere</a></p>
						</div>
					</div>
				</div>
				<div class="item" id="trigger-fifth">
					<div class="item item--fifth" data-aos="fade" data-aos-anchor="#trigger-fifth" data-aos-anchor-placement="top-center">
					</div>
					<div class="item-content">
						<div class="item-content-box">
							<h6>School Namehere of Namehere</h6>
							<h2>Recepient Namehere 05</h2>
							<blockquote>‘Lorem ipsum dolor sit amet, consectetur adipiscing. Etiam gravida leo massa, orci consequat non.’</blockquote>
							<p style="margin-top: 20px;"><a href="#inline-content" data-modaal-type="inline" data-modaal-animation="fade" data-modaal-accessible-title="Recipient-00" class="cta modaal">Read more about Recepient Nameherehere</a></p>
						</div>
					</div>
				</div>
				<div class="item" id="trigger-sixth">
					<div class="item item--sixth" data-aos="fade-top" data-aos-anchor="#trigger-sixth" data-aos-anchor-placement="middle-center">
					</div>
					<div class="item-content">
						<div class="item-content-box">
							<h6>School Namehere of Namehere</h6>
							<h2>Recepient Namehere 06</h2>
							<blockquote>‘Lorem ipsum dolor sit amet, consectetur adipiscing. Etiam gravida leo massa, orci consequat non.’</blockquote>
							<p style="margin-top: 20px;"><a href="#inline-content" data-modaal-type="inline" data-modaal-animation="fade" data-modaal-accessible-title="Recipient-00" class="cta modaal">Read more about Recepient Nameherehere</a></p>
						</div>
					</div>
				</div>
				<div class="item" id="trigger-seventh">
					<div class="item item--seventh" data-aos="fade-top" data-aos-anchor="#trigger-seventh" data-aos-anchor-placement="middle-center">
					</div>
					<div class="item-content">
						<div class="item-content-box">
							<h6>School Namehere of Namehere</h6>
							<h2>Recepient Namehere 07</h2>
							<blockquote>‘Lorem ipsum dolor sit amet, consectetur adipiscing. Etiam gravida leo massa, orci consequat non.’</blockquote>
							<p style="margin-top: 20px;"><a href="#inline-content" data-modaal-type="inline" data-modaal-animation="fade" data-modaal-accessible-title="Recipient-00" class="cta modaal">Read more about Recepient Nameherehere</a></p>
						</div>
					</div>
				</div>
				<div class="item" id="trigger-eighth">
					<div class="item item--eighth" data-aos="fade-top" data-aos-anchor="#trigger-eighth" data-aos-anchor-placement="middle-center">
					</div>
					<div class="item-content">
						<div class="item-content-box">
							<h6>School Namehere of Namehere</h6>
							<h2>Recepient Namehere 08</h2>
							<blockquote>‘Lorem ipsum dolor sit amet, consectetur adipiscing. Etiam gravida leo massa, orci consequat non.’</blockquote>
							<p style="margin-top: 20px;"><a href="#inline-content" data-modaal-type="inline" data-modaal-animation="fade" data-modaal-accessible-title="Recipient-00" class="cta modaal">Read more about Recepient Nameherehere</a></p>
						</div>
					</div>
				</div>
				<div class="item" id="trigger-ninth">
					<div class="item item--ninth" data-aos="fade-top" data-aos-anchor="#trigger-ninth" data-aos-anchor-placement="middle-center">
					</div>
					<div class="item-content">
						<div class="item-content-box">
							<h6>School Namehere of Namehere</h6>
							<h2>Recepient Namehere 09</h2>
							<blockquote>‘Lorem ipsum dolor sit amet, consectetur adipiscing. Etiam gravida leo massa, orci consequat non.’</blockquote>
							<p style="margin-top: 20px;"><a href="#inline-content" data-modaal-type="inline" data-modaal-animation="fade" data-modaal-accessible-title="Recipient-00" class="cta modaal">Read more about Recepient Nameherehere</a></p>
						</div>
					</div>
				</div>
				<div class="item" id="trigger-tenth">
					<div class="item item--tenth" data-aos="fade-top" data-aos-anchor="#trigger-tenth" data-aos-anchor-placement="middle-center">
					</div>
					<div class="item-content">
						<div class="item-content-box">
							<h6>School Namehere of Namehere</h6>
							<h2>Recepient Namehere 10</h2>
							<blockquote>‘Lorem ipsum dolor sit amet, consectetur adipiscing. Etiam gravida leo massa, orci consequat non.’</blockquote>
							<p style="margin-top: 20px;"><a href="#inline-content" data-modaal-type="inline" data-modaal-animation="fade" data-modaal-accessible-title="Recipient-00" class="cta modaal">Read more about Recepient Nameherehere</a></p>
						</div>
					</div>
				</div>
				<div class="item" id="trigger-eleventh">
					<div class="item item--eleventh" data-aos="fade-top" data-aos-anchor="#trigger-eleventh" data-aos-anchor-placement="middle-center">
					</div>
					<div class="item-content">
						<div class="item-content-box">
							<h6>School Namehere of Namehere</h6>
							<h2>Recepient Namehere 11</h2>
							<blockquote>‘Lorem ipsum dolor sit amet, consectetur adipiscing. Etiam gravida leo massa, orci consequat non.’</blockquote>
							<p style="margin-top: 20px;"><a href="#inline-content" data-modaal-type="inline" data-modaal-animation="fade" data-modaal-accessible-title="Recipient-00" class="cta modaal">Read more about Recepient Nameherehere</a></p>
						</div>
					</div>
				</div>
				<div class="item" id="trigger-twelveth">
					<div class="item item--twelveth" data-aos="fade-top" data-aos-anchor="#trigger-twelveth" data-aos-anchor-placement="middle-center">
					</div>
					<div class="item-content">
						<div class="item-content-box">
							<h6>School Namehere of Namehere</h6>
							<h2>Recepient Namehere 12</h2>
							<blockquote>‘Lorem ipsum dolor sit amet, consectetur adipiscing. Etiam gravida leo massa, orci consequat non.’</blockquote>
							<p style="margin-top: 20px;"><a href="#inline-content" data-modaal-type="inline" data-modaal-animation="fade" data-modaal-accessible-title="Recipient-00" class="cta modaal">Read more about Recepient Nameherehere</a></p>
						</div>
					</div>
				</div>
				<div class="item" id="closing-slide">
					<div class="item item--twelveth" data-aos="fade-top" data-aos-anchor="#closing-slide" data-aos-anchor-placement="middle-center">
					</div>
					<div class="item-content">
						<div class="item-content-box">
							<h6>Loyola University Chicago</h6>
							<blockquote>‘Lorem ipsum dolor sit amet, consectetur adipiscing. Etiam gravida leo massa, orci consequat non.’</blockquote>
						</div>
					</div>
				</div>
			</div><!-- close col-flex -->
			<div id="intro-slide" class="item--main">
			</div>
		</div>
	</div>
</section>

<section id="inline-content" class="hidden">
	<div class="container-fluid">
		<div class="content-columns-varied one-column-build">
			<div class="grid-wrapper">
				<div class="grid-item col-flex">
					<!-- content -->
					<h3>Congratulations to President's Medallion recipient XX!</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam gravida leo massa, at elementum orci consequat non. Vestibulum quis sapien metus. Nam porta est in metus imperdiet, nec finibus enim viverra. Ut ultricies orci vel dapibus pharetra. Morbi in purus id erat sollicitudin pulvinar.</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam gravida leo massa, at elementum orci consequat non. Vestibulum quis sapien metus. Nam porta est in metus imperdiet, nec finibus enim viverra. Ut ultricies orci vel dapibus pharetra. Morbi in purus id erat sollicitudin pulvinar.</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam gravida leo massa, at elementum orci consequat non. Vestibulum quis sapien metus. Nam porta est in metus imperdiet, nec finibus enim viverra. Ut ultricies orci vel dapibus pharetra. Morbi in purus id erat sollicitudin pulvinar.</p>
					<!-- content end -->
				</div>
			</div>
		</div>
	</div>
</section>
<style>
	.modaal-content-container { padding: 5rem; }
</style>
<script>
	AOS.init();
</script>
