<!-- speakers -->
<section id="panel-carousel-scroll-animate" class="container-fluid ses-speakers">
  <div class="speaker-wrapper">
    <div class="container">
      <div class="content-columns-varied one-column-build"><!-- column build -->
        <div class="grid-wrapper">
          <div class="grid-item col-flex">
            <h3 class="section-header">Celebrating with us</h3>
            <p class="intro">Take it from the experts, change must happen now. Join the conversation and learn how you can get involved in the forefront of environmental sustainability.</p>
          </div>
        </div>
      </div>
    </div>
    <div id="speaker-bg-image-left">
      <img class="torn-background-white"pattern src="images/images-ses/ses-torn-background-white.png">
    </div>
      <div id="speaker-bg-image-right">
        <img src="images/images-ses/ses-ies-speakers-background-landscape.jpg">
        <div class="image-one">
          <img src="images/images-ses/ses-ies-speakers-background-wind.jpg">
        </div>
        <div class="image-two">
          <img src="images/images-ses/ses-ies-speakers-background-wind.jpg">
        </div>
        <div class="image-three">
          <img src="images/images-ses/ses-ies-speakers-background-wind.jpg">
        </div>
        <div class="image-four">
          <img src="images/images-ses/ses-ies-speakers-background-wind.jpg">
        </div>
      </div>
      <div class="speaker-panel speaker-panel-one">
        <div class="speaker-panel-content">
          <div class="speaker-icon"></div>
          <div class="speaker-image"><img src="images/images-ses/ses-speaker-bill-mckibben.jpg"></div>
          <h4>Bill McKibben</h4>
          <h5>Title for Bill McKibben here</h5>
          <div class="bio-wrapper">
            <p>An American environmentalist, author, and journalist who has written extensively on the impact of global warming. He is a Schumann Distinguished Scholar at Middlebury College, where he also directs the Middlebury Fellowships in Environmental Journalism. Founder and senior adviser emeritus of <a href="350.org">350.org</a>.</p>
          </div>
          <div class="scroll-ui"><img src="images/images-ses/ui-arrow-down-thin-dark@2x.png"><h6>scroll<h6></div>
        </div>
      </div>
      <div class="speaker-panel speaker-panel-two">
        <div class="speaker-panel-content">
          <div class="speaker-icon"></div>
          <div class="speaker-image"></div>
          <h4>Rhiana Gunn-Wright</h4>
          <h5>Director of Climate Policy at the Roosevelt Institute</h5>
          <div class="bio-wrapper">
            <p>Previously the policy director for Abdul El-Sayed’s 2018 gubernatorial campaign. A 2013 Rhodes Scholar, Gunn-Wright has also worked as the policy analyst for the Detroit Health Department, the Mariam K. Chamberlain Fellow of Women and Public Policy at the Institute for Women’s Policy Research and on the policy team for former First Lady Michelle Obama. Before joining Roosevelt, she was the policy director for New Consensus, charged with developing and promoting the Green New Deal. She has worked with Alexandria Ocasio-Cortez as an author on the Green New Deal.</p>
          </div>
          <div class="scroll-ui"><img src="images/images-ses/ui-arrow-down-thin-dark@2x.png"><h6>scroll<h6></div>
        </div>
      </div>
      <div class="speaker-panel speaker-panel-three">
        <div class="speaker-panel-content">
          <div class="speaker-icon"></div>
          <div class="speaker-image"><img src="images/images-ses/ses-speaker-fabio-pettenati.jpg"></div>
          <h4>Fabio Pettenati</h4>
          <h5>Vice President of Supply Chain at Barilla America Inc.</h5>
          <div class="bio-wrapper">
            <p>He has been with Barilla since 1988 serving in increasing responsibilities which now include planning, procurement, manufacturing, logistics and customer service functions across the Americas Region, which include U.S., Canada, Mexico, and Brazil.</p>
            <p>Fabio has an international career opening manufacturing operations for the company in Greece, Turkey, Brazil and Mexico. In 2003, he joined the U.S. team with Supply Chain accountability including the oversight of Barilla’s flagship plant in the U.S. located in Ames, Iowa. Subsequently, he led the construction of a second U.S. plant in Avon, New York.</p>
<!--
            <p>Fabio was born and raised in Italy before relocating to Chicago with his wife and son. He is a graduate of the University of Brescia in Italy and holds a degree in Mechanical Engineering.</p>
-->
          </div>
          <div class="scroll-ui"><img src="images/images-ses/ui-arrow-down-thin-dark@2x.png"><h6>scroll<h6></div>
        </div>
      </div>
      <div class="speaker-panel speaker-panel-four">
        <div class="speaker-panel-content">
          <div class="speaker-icon"></div>
          <div class="speaker-image"><img src="images/images-ses/ses-speaker-kim-wasserman.jpg"></div>
          <h4>Kimberly Wasserman</h4>
          <h5>Executive Director of the Little Village Environmental Justice Organization (LVEJO)</h5>
          <div class="bio-wrapper">
            <p>Kim joined LVEJO as an organizer in 1998 and helped to organize community leaders to successfully build a new playground, community gardens, remodel of a local school park and force a local polluter to upgrade their facilities to meet current laws. As Executive Director of LVEJO, she has worked with organizers to reinstate a job access bus line, built upon the community's work to create La Villita Park, continued the more-than-10-year campaign that won the closure of the two local coal fired power plants, and continues to fight for remediation and redevelopment of these sites. Kim is Chair of the Illinois Commission on Environmental Justice. In 2013, she was the recipient of the Goldman Prize for North America. Her biggest accomplishment to date is raising three-community organizers aged 22, 15, and 12.</p>
          </div>
          <div class="scroll-ui"><img src="images/images-ses/ui-arrow-down-thin-dark@2x.png"><h6>scroll<h6></div>
        </div>
      </div>
  </div>
</section>
