<!-- cards -->
<!-- stories -->
<section id="panel-cards" class="container-fluid ses-stories">
	<div class="container">
		<div class="content-columns-varied one-column-build"><!-- column build -->
	    <div class="grid-wrapper">
	      <div class="grid-item col-flex">
	        <h3 class="section-header">Answering the call</h3>
	      </div>
	    </div>
	  </div>
		<div class="content-columns-varied three-column-build media-cards"><!-- column build - cards -->
			<div class="grid-wrapper">
				<div class="grid-item col-flex card">
					<div class="grid-wrapper-media-cards-content">
						<div class="card-image">
							<img src="images/images-ses/ses-tuchman-essay.jpg"/>
						</div>
						<div class="card-body">
							<h6>Innovation</h6>
							<h4>Waste makes haste</h4>
							<p>Take a look inside the Searle Biodiesel Lab to see how used cooking oil becomes bus fuel.</p>
							<a class="cta" href="https://www.luc.edu/biodiesellab/">Read more</a>
							<div class="grid-item col-flex">
								<div class="button">This is the button style</div>
								<div class="button">This is the button style</div>
							</div>
						</div>
					</div>
				</div>
				<div class="grid-item col-flex card card-called">
					<div class="grid-wrapper-media-cards-content">
						<div class="card-image">
							<img src="images/images-ses/brand-kevin-white-1000-560.jpg"/>
						</div>
						<div class="card-body">
							<h6>Loyola University Chicago</h6>
							<h4>We are called to <span>protect</span></h4>
							<p>A student-athlete and an undergraduate researcher at the highest level.</p>
							<a class="cta" href="https://www.luc.edu/called/kevinwhite/?utm_campaign=ses_launch&utm_medium=print&utm_source=crains&utm_term=40_under_40">Read Kevin White’s story</a>
							<div class="grid-item col-flex">
								<div class="button">This is the button style</div>
								<div class="button">This is the button style</div>
							</div>
						</div>
					</div>
				</div>
				<div class="grid-item col-flex card">
					<div class="grid-wrapper-media-cards-content">
						<div class="card-image">
							<img src="images/images-ses/ses-biodiesel-lab.jpg"/>
						</div>
						<div class="card-body">
							<h6>Jesuit mission</h6>
							<h4>Where faith meets science</h4>
							<p>Dean Nancy Tuchman explains how we're heeding the pope's call to care for our planet.</p>
							<a class="cta" href="https://www.luc.edu/features/stories/sustainability/caringforourcommonhome/">Read more</a>
							<div class="grid-item col-flex">
								<div class="button">This is the button style</div>
								<div class="button">This is the button style</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="background-parallax"></div>
</section>
