<!-- image-text -->
<!-- overview -->
<section id="panel-image-text" class="container-fluid ses-overview">
	<div class="container">
		<div class="content-columns-varied two-column-build"><!-- column-build -->
			<div class="grid-wrapper">
				<div class="grid-item col-flex card-image">
					<img src="images/images-ses/ses-lockup.svg"/>
				</div>
				<div class="grid-item col-flex">
					<div class="content-image-text">
						<h3 class="starter">Tomorrow starts today</h3>
						<p>As citizens of the world, it is our mission at the new School of Environmental Sustainability to reimagine a greener future. The environmental responsibility we adopt will usher in breakthroughs for challenges to come. Rise up and take action, tomorrow depends on it.</p>
						<a class="cta" href="luc.edu/sustainability">Learn more</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
