<!-- cta -->
<section id="panel-cta" class="container-fluid ses-cta">
	<div class="container">
		<div class="content-columns-varied one-column-build">
			<div class="grid-wrapper">
				<div class="grid-item col-flex button-gold">
					<div id="cta-image-left"><img src="images/images-ses/ses-cta-ecodome-interior.jpg"></div>
					<div id="cta-image-right">
						<img class="torn-background-white" src="images/images-ses/ses-torn-background-white.png">
						<img class="torn-background-white bottom" src="images/images-ses/ses-torn-background-white.png">
					</div>
					<div class="cta-center-wrapper">
						<div id="cta-image-center">
							<h3 class="section-header">Join us for the grand opening</h3>
							<h6><span>Monday, December 14, 2020</span><span class="bullet">&bull;</span><span>5:30 - 7:30PM</span><span class="bullet">&bull;</span><span>Via ZOOM</span></h6>
							<button type="submit">Register Now</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
