<!-- hero -->
<section id="panel-hero" class="container-fluid ses-hero">
	<div id="hero-background-images">
		<div id="hero-center">
			<div id="hero-intro">
				<div id="intro-box">
					<h5>Introducing the new School of</h5>
					<h3>Environmental Sustainability</h3>
					<!-- <img class="right" src="images/images-ses/ses-ies-background-right-ses-exterior.jpg"> -->
					<img class="center" src="images/images-ses/ses-ies-hero-center-earth.jpg">
				</div>
			</div>
			<div id="hero-one" class="hero">
				<img class="right" src="images/images-ses/ses-hero-reimagine-turbine-1000-1200.jpg">
				<img class="center" src="images/images-ses/ses-hero-reimagine-greenhouse-1000-1000.jpg">
				<h2>Reimagine</h2>
			</div>
			<div id="hero-two" class="hero">
				<img class="right" src="images/images-ses/ses-hero-respond-ice-1000-1200.jpg">
				<img class="center" src="images/images-ses/ses-hero-respond-hands-pencil-1000-1000.jpg">
				<h2>Respond</h2>
			</div>
			<div id="hero-three" class="hero">
				<img class="right" src="images/images-ses/ses-hero-restore-falls-1000-1200.jpg">
				<img class="center" src="images/images-ses/ses-hero-restore-butterfly-1000-1000.jpg">
				<h2>Restore</h2>
			</div>
		</div>
	</div>
	<div id="hero-image-left">
		<img class="pattern"pattern src="images/images-ses/ses-pattern-wood-white.png">
		<img class="torn-background-white"pattern src="images/images-ses/ses-torn-background-white.png">
	</div>
	<div id="hero-image-right"><img class="ses-hero-desktop" src="images/images-ses/ses-ies-background-right-ses-exterior-walker.jpg"><img class="ses-hero-mobile" src="images/images-ses/ses-ies-background-right-ses-exterior.jpg"></div>
</section>
