<!-- text - one-column -->
<section id="panel-text" class="container-fluid ses-link">
	<div class="container">
    <div class="content-columns-varied one-column-build"><!-- column-build -->
      <div class="grid-wrapper">
        <div class="grid-item col-flex">
					<img src="images/images-ses/ses-lockup.svg"/>
					<h3 class="section-header">Reimagine. Respond. Restore.<h3>
					<h5>The new School of Environmental Sustainability <a href="luc.edu/sustainability">Learn more</a></h5>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- <div class="mouseball">
	<div class="mouseball-center"></div>
</div> -->
