<!-- header - nav -->
<div id="header-white">
  <a class="skip-main" href="#main-content-start">Skip to main content</a>
  <!-- @@include('./framework/luc-audience-directory.html') -->
  <!-- brand -->
  <div id="site-brand-wrapper" class="container-fluid">
    <span id="brand">
      <a href="https://www.luc.edu/">
        <img src="images/01-LOY_horz-main.svg" alt="Loyola University Chicago logo">
      </a>
    </span>
    <span id="loyola-university-chicago">
      <a href="https://www.luc.edu/">
        Loyola University Chicago
      </a>
    </span>
    <span id="site-name">
      <a href="https://www.luc.edu/">
        Parkinson School of Health Sciences and Public Health
      </a>
    </span>
    <nav id="main-mobile" aria-label="Menu" role="menu">
      <button id="menu-button-mobile" aria-label="Menu Item" aria-controls="side-nav" aria-haspopup="true" tabindex="0" type="button" role="menuitem">
        <span class="menu-bar menu-bar-one"></span>
        <span class="menu-bar menu-bar-two"></span>
        <span class="menu-bar menu-bar-three"></span>
        <span class="menu-bar menu-bar-four"></span>
        <span class="menu-text">Menu</span>
      </button>
    </nav>
  </div>
</div>