<!-- footer -->
<div class="container-fluid p-0">
  <div id="footer-icon-bar">
    <!-- FACEBOOK --><a target="_blank" title="Facebook Link" href="https://www.facebook.com/LoyolaChicago"><i class="fa-brands fa-facebook" aria-hidden="true"></i></a>
    <!-- X/TWITTER --><a target="_blank" title="X Link" href="https://twitter.com/LoyolaChicago"><i class="fa-brands fa-x-twitter" aria-hidden="true"></i></a>
    <!-- INSTAGRAM --><a target="_blank" title="Instragram Link" href="https://www.instagram.com/loyolachicago/"><i class="fa-brands fa-instagram" aria-hidden="true"></i></a>
    <!-- YOUTUBE --><a target="_blank" title="YouTube Link" href="https://www.youtube.com/LoyolaChicago"><i class="fa-brands fa-youtube" aria-hidden="true"></i></a>
  </div>
  <span id="brand">
    <a href="https://www.luc.edu/">
      <img src="images/LUC_stacked_reverse.svg" alt="Loyola University Chicago logo in footer of site">
    </a>
  </span>
  <div id="footer-address" class="vcard">
    <div id="footercard">
      <span id="fn org">
        Loyola University Chicago
      </span>&middot;
      <span id="adr">
        <span id="street-address">
          1032 W. Sheridan Rd.
        </span>,
        <span id="locality">
          Chicago
        </span>,
        <span class="region">
          Il
        </span>
        <span class="postal-code">
          60660
        </span>
      </span>&middot;
      <span class="tel">
        773.274.3000
      </span>&middot;
      <span calss="email-address">
        <a class="email" href="mailto:">umc@luc.edu</a>
      </span>
    </div>
  </div>
  <p><span id="copyright"><a href="">&copy; Copyright &amp; Disclaimer 2020</a> &middot; <a href="">Privacy Policy</a></span></p>
</div>