<aside id="social-icon-bar" style="opacity: 1;">
    <article>
        <!-- FACEBOOK --><a target="_blank" title="Facebook Link" href="https://www.facebook.com/LoyolaChicago"><i class="fa-brands fa-facebook" aria-hidden="true"></i></a>
        <!-- X/TWITTER --><a target="_blank" title="X Link" href="https://twitter.com/LoyolaChicago"><i class="fa-brands fa-x-twitter" aria-hidden="true"></i></a>
        <!-- INSTAGRAM --><a target="_blank" title="Instragram Link" href="https://www.instagram.com/loyolachicago/"><i class="fa-brands fa-instagram" aria-hidden="true"></i></a>
        <!-- YOUTUBE --><a target="_blank" title="YouTube Link" href="https://www.youtube.com/LoyolaChicago"><i class="fa-brands fa-youtube" aria-hidden="true"></i></a>
    </article>
</aside>

<style>
#social-icon-bar {
    top: 45% !important;
    margin: 0 0 0 1.5rem;
    opacity: 1 !important;
    background: none !important;
}
#social-icon-bar a {
    margin: .75rem 0 !important;
    padding: .65rem !important;
    font-size: 1.5rem;
    border: solid .125rem #ffffff !important;
    border-radius: 50% !important;
    background: #555555 !important;
    transition: all .3s;
}
#social-icon-bar a:hover {
    background: #5d0024 !important;
}
</style>