<aside id="social-icon-bar" style="opacity: 1;">
    <article>
        <!-- FACEBOOK --><a target="_blank" title="Facebook Link" href="https://www.facebook.com/LoyolaChicago"><i class="fa-brands fa-facebook" aria-hidden="true"></i></a>
        <!-- X/TWITTER --><a target="_blank" title="X Link" href="https://twitter.com/LoyolaChicago"><i class="fa-brands fa-x-twitter" aria-hidden="true"></i></a>
        <!-- INSTAGRAM --><a target="_blank" title="Instragram Link" href="https://www.instagram.com/loyolachicago/"><i class="fa-brands fa-instagram" aria-hidden="true"></i></a>
        <!-- YOUTUBE --><a target="_blank" title="YouTube Link" href="https://www.youtube.com/LoyolaChicago"><i class="fa-brands fa-youtube" aria-hidden="true"></i></a>
    </article>
</aside>