/* PILLAR ADJUST */

/* background */

#parallax-section-one.panel { background: #ffffff; }
#parallax-section-two.panel { background: #8d0034; }
#parallax-section-three.panel { background: none }
#parallax-section-four.panel { background: #8d0034; }
#panel-text, #scroll-sections,
#panel-image-grid-mason-gallery { background: #ffffff !important; }

/* template overrides */

body {
  overflow-x: hidden;
  overflow-y: scroll;
}
nav#main {
 z-index: 0;
}
#footer-fixed {
  display: none !important;
}
#luc-header {
  z-index: 10002;
}
#site-brand-wrapper {
  display: none;
}

/* template panels - flex adjustment */

#parallax-cards-content, #panel-cards {
  flex-shrink: 0;
  width: auto;
  height: auto;
}
#panel-cards .card .content-grid-wrapper {
  background: #febc18;
}

/* panels - sections */

.panel {
}

.panel,
#parallax-section-one.panel,
#parallax-section-two.panel,
#parallax-section-three.panel,
#parallax-section-four.panel {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 100vw !important;
  height: 100vh !important;
  max-height: 100vh;
  overflow: hidden;
  z-index: -100000;
}
.animation-text-wrapper {
  position: absolute;
  top: 20vh;
  height: 60vh;
  z-index: +1;
}

/* section images */

#img-overlay {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,.2);
}
#parallax-section-one img {
  position: absolute;
  width: auto;
  height: auto;
  bottom: 0;
}

/* typography */

h1 {
  text-shadow: 0 0 4rem rgb(0,0,0,1) !important;
  text-transform: uppercase;
}
.panel h1, .panel h5 {
  position: relative;
  margin: 0;
  width: 100%;
  font-family: 'Antenna Condensed Black', sans-serif;
  font-size: 6vw;
  line-height: 1.125;
  letter-spacing: .075rem;
  word-spacing: .25rem;
  text-align: center;
  color: #ffffff;
}
.panel h5 {
  margin: 0 auto 2rem;
  font-family: 'Antenna Condensed Bold', sans-serif;
  font-size: 1.5rem;
  letter-spacing: .075rem;
  word-spacing: .125rem;
}
h1.school-name-one,
h1.school-name-two,
h1.school-name-three {
  opacity: 0;
  filter: blur(5px);
}
.panel h2, .panel h3, .panel .intro-paragraph p {
  margin: 0 auto 1.5rem;
  width: 100%;
  color: #ffffff;
  text-align: center;
}
.panel .intro-paragraph p {
  margin: 0 auto .5rem;
}
.flex-item.content .explainer p {
  margin-bottom: 1rem !important;
  font-size: 1.25rem;
  font-style: normal;
  font-family: 'Antenna Condensed Bold', sans-serif !important;
}
blockquote, blockquote cite {
  color: #ffffff;
}
blockquote {
  border-color: #ffffff;
}
a.cta {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  color: #8d0034;
  text-align: left;
  background: none;
  transition: .2s;
}
a.cta:hover {
  color: #5d0024;
}
.panel button {
  margin: 0 auto;
  width: auto;
  color: #8d0034;
  background: #febc18;
  transition: .2s;
}
.panel button:hover {
  color: #5d0024;
  background: #f98e2b;
}

/* SECTIONS */

/* section one */

/* section-one - animation */

#parallax-section-one img#img-foreground {
  bottom: -2.5rem;
  height: calc(100vh + 2.5rem);
  filter: blur(20px);
}
#parallax-section-one img#img-middleground {
  bottom: 0;
  filter: blur(20px);
}
#parallax-section-one img#img-background {
  bottom: 0;
  height: calc(100vh + 10%);
  filter: blur(20px);
}
#parallax-section-one #opener-university-logo {
  position: relative;
  margin: 1rem auto 0;
  padding: 0;
  width: 200px;
  height: auto;
  opacity: 0;
  filter: blur(20px);
}
#parallax-section-one #opener-university-logo img {
  position: relative;
  width: 100%;
}

/* scroll down */

.scroll-down {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  margin: 0;
  padding: 1rem;
  height: auto;
  font-family: 'Antenna Condensed Bold', sans-serif;
  font-size: 1rem;
  color: #ffffff;
  text-transform: uppercase;
  border-radius: .75rem .75rem 0 0;
  background: rgba(141,0,52,.875);
}
.scroll-down h5 {
  position: relative;
  left: 25%;
  right: 25%;
  transform: translate(-50%, 0);
  width: 50% !important;
}
.scroll-down h5 {
  top: 0;
  margin: 0 auto !important;
  font-family: 'Antenna Condensed Bold', sans-serif;
  font-size: 1rem !important;
  letter-spacing: 0;
  line-height: 1.25;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
}
.scroll-down .arrow {
  position: relative;
  left: 0;
  right: 0;
  transform: translate(0, 0);
  box-sizing: border-box;
  margin: 0;
  width: 100% !important;
  height: 1.5rem;
  font-family: 'Antenna Condensed Bold', sans-serif;
  font-size: 1rem;
  color: #ffffff;
  text-transform: uppercase;
}
.scroll-down .arrow img {
  margin: 0 35%;
  width: 30% !important;
  height: auto;
}

/* section three */

#parallax-section-three {
  right: 0;
  top: 0;
  bottom: 0;
  margin: 0;
  width: 100%;
  height: 100vh;
  z-index: 1;
  /* filter: blur(5vw); */
}
#parallax-section-three #masonry-image-overlay {
  position: relative;
}
#parallax-section-three .animation-text-wrapper {
  top: 0;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 4rem;
  width: 100%;
  height: 100vh;
  background: rgba(0,0,0,.35);
}
#parallax-section-three .animation-text-wrapper h3 {
  margin: 0 auto 1rem;
  font-family: 'Antenna Condensed Bold', sans-serif;
  font-size: 2.125rem;
  line-height: 1.125;
  text-shadow: 0 0 1rem rgba(0,0,0,1);
}
#parallax-section-three .animation-text-wrapper h3#message-line-three {
  margin-bottom: 35vh;
}
#parallax-section-three .animation-text-wrapper h2 {
  margin: 0;
  padding: 0;
  font-family: 'Antenna Comp Black', sans-serif;
  font-size: 4rem;
  letter-spacing: .125rem;
  word-spacing: .5rem;
  text-transform: uppercase;
  text-shadow: 0 0 1rem rgba(0,0,0,1);
}
#panel-image-grid-mason-gallery a.cta {
  width: 100%;
  color: #ffffff;
  text-align: center;
}

/* section four */

#parallax-section-four .animation-text-wrapper {
  position: absolute;
  width: 50%;
}
#parallax-section-four.panel h3 {
  box-sizing: border-box;
  margin: 0 0 2rem;
  padding: 0;
  width: 100%;
  text-align: left;
}
#svg-line-drawing {
  width: 50vw !important;
}

/* scroll-sections - called-card */

#scroll-sections {
  margin-top: 100vh;
}
#panel-video-embed .content-caption.sans-serif h4 {
  text-align: center;
}
#media-card-wrapper h3 {
  width: 100vw;
  font-family: 'Antenna Condensed Bold', sans-serif;
  text-align: center;
}
/* card */
.flex-item.content p {
  display: block;
  margin: 1rem 0;
  font-size: 1.25rem;
}
.flex-item.content .explainer p {
  display: none;
}
/* called-card */
.called-card .content-grid-wrapper  {
  background: #febc18 !important;
}
.called-card .content-grid-wrapper h4 {
  font-family: 'Antenna Comp Bold', sans-serif;
  font-size: 3rem !important;
  letter-spacing: .0125rem;
  word-spacing: .125rem;
  text-transform: uppercase;
}
.called-card .content-grid-wrapper h4 span {
  color: #8d0034;
}

/* masonry - gallery */

.gallery-item h5 {
  position: absolute;
  top: 88%;
  margin: 0;
  padding: 2rem 2rem 2.25rem 2rem;
  height: 10%;
  font-family: 'Antenna Condensed Bold', sans-serif;
  font-size: .875rem;
  line-height: 1.35;
  word-spacing: .025rem !important;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 15px rgba(0,0,0,.75);
  color: #eeeeee;
  background: rgba(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,.5) 0%, rgba(0,0,0,.5) 70%, rgba(255,255,255,0) 100%);
  opacity: 1;
  transition: .3s;
  z-index: 1;
}
.gallery-item h5.position-top {
  top: 0;
  padding: 1rem 2rem 3rem 2rem;
  background: linear-gradient(180deg, rgba(0,0,0,.5) 0%, rgba(0,0,0,.5) 70%, rgba(255,255,255,0) 100%);
}
.gallery-item h5:hover {
  color: #ffffff;
}
.gallery-item .caption p {
  margin: 0 10% 1rem;
  width: 80%;
  font-family: 'Antenna Condensed Light', sans-serif !important;
  font-size: 1.25rem;
  line-height: 1.45;
}
.gallery-item.no-hover:hover .image img {
  opacity: 0.7;
  /* transform:scale(1.0125); */
  filter: none;
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -ms-filter: grayscale(0%);
  -o-filter: grayscale(0%);
  opacity: 1;
  cursor: none;
}
.gallery-item.no-hover:hover .caption,
.gallery-item.no-hover:hover .caption p {
  display: none;
}
#panel-image-text .grid-wrapper-grid-area {
  height: 100vh;
}
#panel-image-grid-mason-gallery .grid-wrapper-grid-wrapper {
  grid-template-columns: repeat(6,1fr);
  grid-auto-rows: 16.66vh;
  grid-gap: .5rem;
  grid-auto-flow: dense;
  width: 100vw;
  height: 100vh;
}
@media only screen and (max-width: 768px) {
  #panel-image-grid-mason-gallery .grid-wrapper-grid-wrapper {
    grid-template-columns: repeat(4,1fr);
  }
}
@media only screen and (max-width: 415px) {
  #panel-image-grid-mason-gallery .grid-wrapper-grid-wrapper {
    grid-template-columns: repeat(1,1fr);
  }
}

.w-1 {
  grid-column: span 1;
}
.w-2 {
  grid-column: span 2;
}
.w-3 {
  grid-column: span 3;
}
.w-4 {
  grid-column: span 4;
}
.w-5 {
  grid-column: span 5;
}
.w-6 {
  grid-column: span 6;
}
@media only screen and (max-width: 768px) {
  .w-1, .w-2, .w-3, .w-4, .w-5, .w-6 {
    grid-column: span 2;
  }
}
@media only screen and (max-width: 415px) {
.w-1, .w-2, .w-3, .w-4, .w-5, .w-6 {
    grid-column: span 1;
  }
}
.h-1 {
  grid-row: span 1;
}
.h-2 {
  grid-row: span 2;
}
.h-3 {
  grid-row: span 3;
}
.h-4 {
  grid-row: span 4;
}
.h-5 {
  grid-row: span 5;
}
.h-6 {
  grid-row: span 6;
}
@media only screen and (max-width: 415px) {
  .h-1, .h-2, .h-3, .h-4, .h-5, .h-6 {
    grid-row: span 2;
  }
}
@keyframes caption-fade-in {
  0% {
    top: 25%;
    opacity: 0;
  }
  100% {
    top: 40%;
    opacity: 1;
  }
}

/* draw */

/* SVG */
#svg-line-drawing {
  display: block;
  float: left;
  margin: 1rem 0;
  width: 100%;
}
#svg-line-drawing .st0,
#svg-line-drawing .st1,
#svg-line-drawing .st2 {
  fill: none;
  stroke: #febc18;
  stroke: #ffd263;
  opacity: 1;
}
#svg-line-drawing.draw-lines #bottom .st0,
#svg-line-drawing.draw-lines #middle .st1,
#svg-line-drawing.draw-lines #top .st2 {
  fill: none;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  stroke-linecap: round;
  stroke-width: 4;
  stroke-miterlimit:10;
  stroke: #febc18;
  opacity: 1;
  animation: lineDrawing 2s linear forwards;
  animation-delay: .35s;
}
#svg-line-drawing.draw-lines #middle .st1 {
  animation: lineDrawing 3s linear forwards;
}
#svg-line-drawing.draw-lines #bottom .st0 {
  animation: lineDrawing 2s linear forwards;
}
@keyframes lineDrawing {
  to {
    stroke-dashoffset: 0;
  }
}

/* end - css */
