<!-- variables - background -->
<section id="panel-cards" class="container-fluid">
	<div class="container">
		<div class="grid-wrapper-min-max card">
<!-- card-01 -->
			<div class="grid-item">
				<div class="image-wrapper">
					<a href="###" target="_blank" title="Title goes here">
						<img src="http://via.placeholder.com/1000x1000" alt="Alternate description goes here" title="Title goes here">
					</a>
				</div>
				<div class="content-grid-wrapper bg-gray-extra-light">
					<div class="flex-item content">
						<h6>0/0/0000: 0:00PM-0:00PM</h6>
						<h4>The headline is lorem ipsum</h4>
						<h5>Somebody Namehere</h5>
						<div class="explainer"><p>Lorem ipsum dolor sit amet</p></div>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam gravida leo massa, at elementum orci consequat non. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam gravida leo massa, at elementum orci consequat non.</p>
						<a class="cta" href="#####">CTA here</a>
					</div>
					<div class="flex-item category-light">
						<button onclick="window.open('###','_blank')">CTA here</button>
						<h6 style="text-align: center;">Lorem ipsum unum</h6>
					</div>
				</div>
				<hr class="padding-divider">
				</hr>
				<footnote>Background option. Applied to "container-fluid". Must add class "bg-gray-extra-light"</footnote>
			</div>
<!-- card-02 -->
			<div class="grid-item">
				<div class="image-wrapper">
					<a href="###" target="_blank" title="Title goes here">
						<img src="http://via.placeholder.com/1000x1000" alt="Alternate description goes here" title="Title goes here">
					</a>
				</div>
				<div class="content-grid-wrapper bg-gray-light">
					<div class="flex-item content">
						<h6>0/0/0000: 0:00PM-0:00PM</h6>
						<h4>The headline is lorem ipsum</h4>
						<h5>Somebody Namehere</h5>
						<div class="explainer"><p>Lorem ipsum dolor sit amet</p></div>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam gravida leo massa, at elementum orci consequat non. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam gravida leo massa, at elementum orci consequat non.</p>
						<a class="cta" href="#####">CTA here</a>
					</div>
					<div class="flex-item category-light">
						<button onclick="window.open('###','_blank')">CTA here</button>
						<h6 style="text-align: center;">Lorem ipsum unum</h6>
					</div>
				</div>
				<hr class="padding-divider">
				</hr>
				<footnote>Background option. Applied to "container-fluid". Must add class "bg-gray-light"</footnote>
			</div>
<!-- card-03 -->
			<div class="grid-item">
				<div class="image-wrapper">
					<a href="###" target="_blank" title="Title goes here">
						<img src="http://via.placeholder.com/1000x1000" alt="Alternate description goes here" title="Title goes here">
					</a>
				</div>
				<div class="content-grid-wrapper bg-gray">
					<div class="flex-item content">
						<h6>0/0/0000: 0:00PM-0:00PM</h6>
						<h4>The headline is lorem ipsum</h4>
						<h5>Somebody Namehere</h5>
						<div class="explainer"><p>Lorem ipsum dolor sit amet</p></div>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam gravida leo massa, at elementum orci consequat non. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam gravida leo massa, at elementum orci consequat non.</p>
						<a class="cta" href="#####">CTA here</a>
					</div>
					<div class="flex-item category-light">
						<button onclick="window.open('###','_blank')">CTA here</button>
						<h6 style="text-align: center;">Lorem ipsum unum</h6>
					</div>
				</div>
				<hr class="padding-divider">
				</hr>
				<footnote>Background option. Applied to "container-fluid". Must add class "bg-gray"</footnote>
			</div>
<!-- card-04 -->
			<div class="grid-item">
				<div class="image-wrapper">
					<a href="###" target="_blank" title="Title goes here">
						<img src="http://via.placeholder.com/1000x1000" alt="Alternate description goes here" title="Title goes here">
					</a>
				</div>
				<div class="content-grid-wrapper bg-gray-dark">
					<div class="flex-item content">
						<h6>0/0/0000: 0:00PM-0:00PM</h6>
						<h4>The headline is lorem ipsum</h4>
						<h5>Somebody Namehere</h5>
						<div class="explainer"><p>Lorem ipsum dolor sit amet</p></div>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam gravida leo massa, at elementum orci consequat non. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam gravida leo massa, at elementum orci consequat non.</p>
						<a class="cta" href="#####">CTA here</a>
					</div>
					<div class="flex-item category-light">
						<button onclick="window.open('###','_blank')">CTA here</button>
						<h6 style="text-align: center;">Lorem ipsum unum</h6>
					</div>
				</div>
				<hr class="padding-divider">
				</hr>
				<footnote>Background option. Applied to "container-fluid". Must add class "bg-gray-dark"</footnote>
			</div>
<!-- card-05 -->
			<div class="grid-item">
				<div class="image-wrapper">
					<a href="###" target="_blank" title="Title goes here">
						<img src="http://via.placeholder.com/1000x1000" alt="Alternate description goes here" title="Title goes here">
					</a>
				</div>
				<div class="content-grid-wrapper bg-terracotta-extra-light">
					<div class="flex-item content">
						<h6>0/0/0000: 0:00PM-0:00PM</h6>
						<h4>The headline is lorem ipsum</h4>
						<h5>Somebody Namehere</h5>
						<div class="explainer"><p>Lorem ipsum dolor sit amet</p></div>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam gravida leo massa, at elementum orci consequat non. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam gravida leo massa, at elementum orci consequat non.</p>
						<a class="cta" href="#####">CTA here</a>
					</div>
					<div class="flex-item category-light">
						<button onclick="window.open('###','_blank')">CTA here</button>
						<h6 style="text-align: center;">Lorem ipsum unum</h6>
					</div>
				</div>
				<hr class="padding-divider">
				</hr>
				<footnote>Background option. Applied to "container-fluid". Must add class "bg-gray-extra-light"</footnote>
			</div>
<!-- card-06 -->
			<div class="grid-item">
				<div class="image-wrapper">
					<a href="###" target="_blank" title="Title goes here">
						<img src="http://via.placeholder.com/1000x1000" alt="Alternate description goes here" title="Title goes here">
					</a>
				</div>
				<div class="content-grid-wrapper bg-maroon">
					<div class="flex-item content">
						<h6>0/0/0000: 0:00PM-0:00PM</h6>
						<h4>The headline is lorem ipsum</h4>
						<h5>Somebody Namehere</h5>
						<div class="explainer"><p>Lorem ipsum dolor sit amet</p></div>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam gravida leo massa, at elementum orci consequat non. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam gravida leo massa, at elementum orci consequat non.</p>
						<a class="cta" href="#####">CTA here</a>
					</div>
					<div class="flex-item category-light">
						<button onclick="window.open('###','_blank')">CTA here</button>
						<h6 style="text-align: center;">Lorem ipsum unum</h6>
					</div>
				</div>
				<hr class="padding-divider">
				</hr>
				<footnote>Background option. Applied to "container-fluid". Must add class "bg-gray-light"</footnote>
			</div>
<!-- card-07 -->
			<div class="grid-item">
				<div class="image-wrapper">
					<a href="###" target="_blank" title="Title goes here">
						<img src="http://via.placeholder.com/1000x1000" alt="Alternate description goes here" title="Title goes here">
					</a>
				</div>
				<div class="content-grid-wrapper bg-brick">
					<div class="flex-item content">
						<h6>0/0/0000: 0:00PM-0:00PM</h6>
						<h4>The headline is lorem ipsum</h4>
						<h5>Somebody Namehere</h5>
						<div class="explainer"><p>Lorem ipsum dolor sit amet</p></div>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam gravida leo massa, at elementum orci consequat non. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam gravida leo massa, at elementum orci consequat non.</p>
						<a class="cta" href="#####">CTA here</a>
					</div>
					<div class="flex-item category-light">
						<button onclick="window.open('###','_blank')">CTA here</button>
						<h6 style="text-align: center;">Lorem ipsum unum</h6>
					</div>
				</div>
				<hr class="padding-divider">
				</hr>
				<footnote>Background option. Applied to "container-fluid". Must add class "bg-gray"</footnote>
			</div>
<!-- card-08 -->
			<div class="grid-item">
				<div class="image-wrapper">
					<a href="###" target="_blank" title="Title goes here">
						<img src="http://via.placeholder.com/1000x1000" alt="Alternate description goes here" title="Title goes here">
					</a>
				</div>
				<div class="content-grid-wrapper bg-gold">
					<div class="flex-item content">
						<h6>0/0/0000: 0:00PM-0:00PM</h6>
						<h4>The headline is lorem ipsum</h4>
						<h5>Somebody Namehere</h5>
						<div class="explainer"><p>Lorem ipsum dolor sit amet</p></div>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam gravida leo massa, at elementum orci consequat non. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam gravida leo massa, at elementum orci consequat non.</p>
						<a class="cta" href="#####">CTA here</a>
					</div>
					<div class="flex-item category-light">
						<button onclick="window.open('###','_blank')">CTA here</button>
						<h6 style="text-align: center;">Lorem ipsum unum</h6>
					</div>
				</div>
				<hr class="padding-divider">
				</hr>
				<footnote>Background option. Applied to "container-fluid". Must add class "bg-gray-dark"</footnote>
			</div>
		</div>
	</div>
</section>
