<!-- variables - container -->
<!-- image-caption - container - 100 -->
<section id="panel-image-caption" class="container-fluid">
  <div class="container container-100">
    <h5>Container 100%</h5>
  	<img src="http://via.placeholder.com/1800x435"/>
  	<div class="grid-wrapper-min-max">
  		<div class="grid-item">
  			<div class="content-caption sans-serif">
  				<h4>Subhead here lorem ipsum unum</h4>
  				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam gravida leo massa, at elementum orci consequat non. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam gravida leo massa, at elementum orci consequat non.</p>
  				<a class="cta" href="###">CTA here here</a>
  			</div>
  		</div>
  	</div>
    <hr class="padding-divider"></hr>
    <footnote>Container option 100%. Applied to "container". Must add additional class container-100 - "container container-100"</footnote>
  </div>
</section>

<div class="padding-md"></div>

<!-- image-caption - container - standard -->
<section id="panel-image-caption" class="container-fluid">
  <div class="container">
    <h5>Container default</h5>
  	<img src="http://via.placeholder.com/1800x435"/>
  	<div class="grid-wrapper-min-max">
  		<div class="grid-item">
  			<div class="content-caption sans-serif">
  				<h4>Subhead here lorem ipsum unum</h4>
  				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam gravida leo massa, at elementum orci consequat non. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam gravida leo massa, at elementum orci consequat non.</p>
  				<a class="cta" href="###">CTA here here</a>
  			</div>
  		</div>
  	</div>
    <hr class="padding-divider"></hr>
    <footnote>Container option defaut - container. No class added.</footnote>
  </div>
</section>

<div class="padding-md"></div>

<!-- image-caption - container - 50 -->
<section id="panel-image-caption" class="container-fluid">
  <div class="container container-50">
    <h5>Container 50%</h5>
  	<img src="http://via.placeholder.com/1800x435"/>
  	<div class="grid-wrapper-min-max">
  		<div class="grid-item">
  			<div class="content-caption sans-serif">
  				<h4>Subhead here lorem ipsum unum</h4>
  				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam gravida leo massa, at elementum orci consequat non. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam gravida leo massa, at elementum orci consequat non.</p>
  				<a class="cta" href="###">CTA here here</a>
  			</div>
  		</div>
  	</div>
  <hr class="padding-divider"></hr>
  <footnote>Container option 50%. Applied to "container". Must add additional class container-50 - "container container-50"</footnote>
  </div>
</section>
