<!-- variables - buttons -->
<section class="container-fluid">
  <div class="container container-50">
  	<div class="grid-wrapper-min-max one-column">
  		<div class="grid-item">
        <h5>Button maroon</h5>
  			<div class="button-maroon">
  				<button>Test</button>
  			</div>
        <div class="padding-md"></div>
        <div>
          <h5>Button default</h5>
  				<button>Test</button>
  			</div>
        <div class="padding-md"></div>
  			<div class="button-gold">
          <h5>Button gold</h5>
  				<button>Test</button>
  			</div>
        <div class="padding-md"></div>
  			<div class="button-patina">
          <h5>Button patina</h5>
  				<button>Test</button>
  			</div>
  		</div>
  	</div>
    <hr class="padding-divider"></hr>
    <footnote>Add class to wrapper. Classes are button-maroon, button-gold, button-patina.</footnote>
  </div>
</section>
