<!-- variables - background -->
<section id="" class="container-fluid">
	<div class="container">
		<div class="grid-wrapper-min-max four-column">
  		<div class="grid-item">
				<h5>Gray Extra Light</h5>
				<div style="padding: 1rem;" class="container-fluid bg-gray-extra-light">
					<h6>Lorem ipsum</h6>
					<p>Lorem ipsum lorem hereum ipsum lorem hereum ipsum lorem hereum.</p>
					<a class="cta">CTA Here</a>
				</div>
				<hr class="padding-divider">
				</hr>
				<footnote>Background option. Applied to "container-fluid". Must add class "bg-gray-extra-light"</footnote>
			</div>
			<div class="grid-item">
				<h5>Gray Light</h5>
				<div style="padding: 1rem !important;" class="container-fluid bg-gray-light">
					<h6>Lorem ipsum</h6>
					<p>Lorem ipsum lorem hereum ipsum lorem hereum ipsum lorem hereum.</p>
					<a class="cta">CTA Here</a>
				</div>
				<hr class="padding-divider">
				</hr>
				<footnote>Background option. Applied to "container-fluid". Must add class "bg-gray-light"</footnote>
			</div>
			<div class="grid-item">
				<h5>Gray</h5>
				<div style="padding: 1rem !important;" class="container-fluid bg-gray">
					<h6>Lorem ipsum</h6>
					<p>Lorem ipsum lorem hereum ipsum lorem hereum ipsum lorem hereum.</p>
					<a class="cta">CTA Here</a>
				</div>
				<hr class="padding-divider">
				</hr>
				<footnote>Background option. Applied to "container-fluid". Must add class "bg-gray"</footnote>
			</div>
			<div class="grid-item">
				<h5>Gray Dark</h5>
				<div style="padding: 1rem !important;" class="container-fluid bg-gray-dark">
					<h6>Lorem ipsum</h6>
					<p>Lorem ipsum lorem hereum ipsum lorem hereum ipsum lorem hereum.</p>
					<a class="cta">CTA Here</a>
				</div>
				<hr class="padding-divider">
				</hr>
				<footnote>Background option. Applied to "container-fluid". Must add class "bg-gray-dark"</footnote>
			</div>
			<div class="grid-item">
				<h5>Terracotta Extra Light</h5>
				<div style="padding: 1rem !important;" class="container-fluid bg-terracotta-extra-light">
					<h6>Lorem ipsum</h6>
					<p>Lorem ipsum lorem hereum ipsum lorem hereum ipsum lorem hereum.</p>
					<a class="cta">CTA Here</a>
				</div>
				<hr class="padding-divider">
				</hr>
				<footnote>Background option. Applied to "container-fluid". Must add class "bg-terracotta-extra-light"</footnote>
			</div>
			<div class="grid-item">
				<h5>Maroon</h5>
				<div style="padding: 1rem !important;" class="container-fluid bg-maroon">
					<h6>Lorem ipsum</h6>
					<p>Lorem ipsum lorem hereum ipsum lorem hereum ipsum lorem hereum.</p>
					<a class="cta">CTA Here</a>
				</div>
				<hr class="padding-divider">
				</hr>
				<footnote>Background option. Applied to "container-fluid". Must add class "bg-maroon"</footnote>
			</div>
			<div class="grid-item">
				<h5>Brick</h5>
				<div style="padding: 1rem !important;" class="container-fluid bg-brick">
					<h6>Lorem ipsum</h6>
					<p>Lorem ipsum lorem hereum ipsum lorem hereum ipsum lorem hereum.</p>
					<a class="cta">CTA Here</a>
				</div>
				<hr class="padding-divider">
				</hr>
				<footnote>Background option. Applied to "container-fluid". Must add class "bg-brick"</footnote>
			</div>
			<div class="grid-item">
				<h5>Gold</h5>
				<div style="padding: 1rem !important;" class="container-fluid bg-gold">
					<h6>Lorem ipsum</h6>
					<p>Lorem ipsum lorem hereum ipsum lorem hereum ipsum lorem hereum.</p>
					<a class="cta">CTA Here</a>
				</div>
				<hr class="padding-divider">
				</hr>
				<footnote>Background option. Applied to "container-fluid". Must add class "bg-gold"</footnote>
			</div>
			<div class="grid-item">
				<h5>Patina</h5>
				<div style="padding: 1rem !important;" class="container-fluid bg-patina">
					<h6>Lorem ipsum</h6>
					<p>Lorem ipsum lorem hereum ipsum lorem hereum ipsum lorem hereum.</p>
					<a class="cta">CTA Here</a>
				</div>
				<hr class="padding-divider">
				</hr>
				<footnote>Background option. Applied to "container-fluid". Must add class "bg-patina"</footnote>
			</div>
			<div class="grid-item">
				<h5>Overlay</h5>
				<div style="padding: 1rem !important;" class="container-fluid bg-overlay">
					<h6>Lorem ipsum</h6>
					<p>Lorem ipsum lorem hereum ipsum lorem hereum ipsum lorem hereum.</p>
					<a class="cta">CTA Here</a>
				</div>
				<hr class="padding-divider">
				</hr>
				<footnote>Background option. Applied to "container-fluid". Must add class "bg-overlay"</footnote>
			</div>
			<div class="grid-item">
				<h5>No Background</h5>
				<div style="padding: 1rem !important; border: dashed 1px #cccccc;" class="container-fluid bg-none">
					<h6>Lorem ipsum</h6>
					<p>Lorem ipsum lorem hereum ipsum lorem hereum ipsum lorem hereum.</p>
					<a class="cta">CTA Here</a>
				</div>
				<hr class="padding-divider">
				</hr>
				<footnote>Background option. Applied to "container-fluid". Must add class "bg-none"</footnote>
			</div>
		</div>
	</div>
</section>
