<!-- variables - grid gap large -->
<section class="container-fluid">
  <div class="container">
    <h5>Grid gap large</h5>
  	<div class="grid-wrapper-min-max four-column grid-gap-lg">
  		<div class="grid-item">
  			<div class="bg-gray-extra-light" style="display: block; height: 10rem;"></div>
      </div>
      <div class="grid-item">
  			<div class="bg-gray-extra-light" style="display: block; height: 10rem;"></div>
      </div>
      <div class="grid-item">
  			<div class="bg-gray-extra-light" style="display: block; height: 10rem;"></div>
      </div>
      <div class="grid-item">
  			<div class="bg-gray-extra-light" style="display: block; height: 10rem;"></div>
      </div>
    </div>
  </div>
</section>
