<!-- variables - background -->
<section class="container-fluid">
	<div class="container">
		<div class="padding-md"></div>
		<h5>Gray Extra Light</h5>
		<div style="height: 10rem;" class="container-fluid bg-gray-extra-light"></div>
		<hr class="padding-divider">
		</hr>
		<footnote>Background option. Applied to "container-fluid". Must add class "bg-gray-extra-light"</footnote>
		<div class="padding-md"></div>
		<h5>Terracotta Light</h5>
		<div style="height: 10rem;" class="container-fluid bg-terracotta-extra-light"></div>
		<hr class="padding-divider">
		</hr>
		<footnote>Background option. Applied to "container-fluid". Must add class "bg-terracotta-extra-light"</footnote>
		<div class="padding-md"></div>
		<h5>Maroon</h5>
		<div style="height: 10rem;" class="container-fluid bg-maroon"></div>
		<hr class="padding-divider">
		</hr>
		<footnote>Background option. Applied to "container-fluid". Must add class "bg-maroon"</footnote>
		<div class="padding-md"></div>
		<h5>Gold</h5>
		<div style="height: 10rem;" class="container-fluid bg-gold"></div>
		<hr class="padding-divider">
		</hr>
		<footnote>Background option. Applied to "container-fluid". Must add class "bg-gold"</footnote>
		<div class="padding-md"></div>
		<h5>Overlay</h5>
		<div style="height: 10rem;" class="container-fluid bg-overlay"></div>
		<hr class="padding-divider">
		</hr>
		<footnote>Background option. Applied to "container-fluid". Must add class "bg-overlay"</footnote>
		<div class="padding-md"></div>
		<h5>No Background</h5>
		<div style="height: 10rem; border: dashed 1px #cccccc;" class="container-fluid bg-none"></div>
		<hr class="padding-divider">
		</hr>
		<footnote>Background option. Applied to "container-fluid". Must add class "bg-none"</footnote>
	</div>
</section>
