<!-- variables - grid gap large -->
<section class="container-fluid">
  <div class="container">
    <h5>Grid gap large</h5>
  	<div class="grid-wrapper-min-max four-column grid-gap-lg">
  		<div class="grid-item">
  			<div class="bg-gray-extra-light" style="display: block; height: 10rem;"></div>
      </div>
      <div class="grid-item">
  			<div class="bg-gray-extra-light" style="display: block; height: 10rem;"></div>
      </div>
      <div class="grid-item">
  			<div class="bg-gray-extra-light" style="display: block; height: 10rem;"></div>
      </div>
      <div class="grid-item">
  			<div class="bg-gray-extra-light" style="display: block; height: 10rem;"></div>
      </div>
    </div>
  </div>
</section>

<div class="padding-md"></div>

<!-- variables - grid gap medium -->
<section class="container-fluid">
  <div class="container">
    <h5>Grid gap medium</h5>
  	<div class="grid-wrapper-min-max four-column grid-gap-md">
  		<div class="grid-item">
  			<div class="bg-gray-extra-light" style="display: block; height: 10rem;"></div>
      </div>
      <div class="grid-item">
  			<div class="bg-gray-extra-light" style="display: block; height: 10rem;"></div>
      </div>
      <div class="grid-item">
  			<div class="bg-gray-extra-light" style="display: block; height: 10rem;"></div>
      </div>
      <div class="grid-item">
  			<div class="bg-gray-extra-light" style="display: block; height: 10rem;"></div>
      </div>
    </div>
  </div>
</section>

<div class="padding-md"></div>

<!-- variables - grid gap small -->
<section class="container-fluid">
  <div class="container">
    <h5>Grid gap small</h5>
  	<div class="grid-wrapper-min-max four-column grid-gap-sm">
  		<div class="grid-item">
  			<div class="bg-gray-extra-light" style="display: block; height: 10rem;"></div>
      </div>
      <div class="grid-item">
  			<div class="bg-gray-extra-light" style="display: block; height: 10rem;"></div>
      </div>
      <div class="grid-item">
  			<div class="bg-gray-extra-light" style="display: block; height: 10rem;"></div>
      </div>
      <div class="grid-item">
  			<div class="bg-gray-extra-light" style="display: block; height: 10rem;"></div>
      </div>
    </div>
  </div>
</section>

<div class="padding-md"></div>

<!-- variables - grid gap none -->
<section class="container-fluid">
  <div class="container">
    <h5>Grid gap none</h5>
  	<div class="grid-wrapper-min-max four-column grid-gap-none">
  		<div class="grid-item">
  			<div class="bg-gray-extra-light" style="display: block; height: 10rem;"></div>
      </div>
      <div class="grid-item">
  			<div class="bg-gray-extra-light" style="display: block; height: 10rem;"></div>
      </div>
      <div class="grid-item">
  			<div class="bg-gray-extra-light" style="display: block; height: 10rem;"></div>
      </div>
      <div class="grid-item">
  			<div class="bg-gray-extra-light" style="display: block; height: 10rem;"></div>
      </div>
    </div>
  </div>
</section>

<div class="padding-md"></div>

<!-- grid row gap -->

<!-- variables - grid row gap large -->
<section class="container-fluid">
  <div class="container">
    <h5>Grid row gap large</h5>
  	<div class="grid-wrapper-min-max four-column grid-gap-md grid-row-gap-lg">
      <!-- row -->
  		<div class="grid-item">
  			<div class="bg-gray-extra-light" style="display: block; height: 10rem;"></div>
      </div>
      <div class="grid-item">
  			<div class="bg-gray-extra-light" style="display: block; height: 10rem;"></div>
      </div>
      <div class="grid-item">
  			<div class="bg-gray-extra-light" style="display: block; height: 10rem;"></div>
      </div>
      <div class="grid-item">
  			<div class="bg-gray-extra-light" style="display: block; height: 10rem;"></div>
      </div>
      <!-- row -->
      <div class="grid-item">
        <div class="bg-gray-extra-light" style="display: block; height: 10rem;"></div>
      </div>
      <div class="grid-item">
        <div class="bg-gray-extra-light" style="display: block; height: 10rem;"></div>
      </div>
      <div class="grid-item">
        <div class="bg-gray-extra-light" style="display: block; height: 10rem;"></div>
      </div>
      <div class="grid-item">
        <div class="bg-gray-extra-light" style="display: block; height: 10rem;"></div>
      </div>
    </div>
  </div>
</section>

<div class="padding-md"></div>

<!-- variables - grid row gap medium -->
<section class="container-fluid">
  <div class="container">
    <h5>Grid row gap medium</h5>
  	<div class="grid-wrapper-min-max four-column grid-gap-md grid-row-gap-md">
      <!-- row -->
  		<div class="grid-item">
  			<div class="bg-gray-extra-light" style="display: block; height: 10rem;"></div>
      </div>
      <div class="grid-item">
  			<div class="bg-gray-extra-light" style="display: block; height: 10rem;"></div>
      </div>
      <div class="grid-item">
  			<div class="bg-gray-extra-light" style="display: block; height: 10rem;"></div>
      </div>
      <div class="grid-item">
  			<div class="bg-gray-extra-light" style="display: block; height: 10rem;"></div>
      </div>
      <!-- row -->
      <div class="grid-item">
        <div class="bg-gray-extra-light" style="display: block; height: 10rem;"></div>
      </div>
      <div class="grid-item">
        <div class="bg-gray-extra-light" style="display: block; height: 10rem;"></div>
      </div>
      <div class="grid-item">
        <div class="bg-gray-extra-light" style="display: block; height: 10rem;"></div>
      </div>
      <div class="grid-item">
        <div class="bg-gray-extra-light" style="display: block; height: 10rem;"></div>
      </div>
    </div>
  </div>
</section>

<div class="padding-md"></div>

<!-- variables - grid row gap small -->
<section class="container-fluid">
  <div class="container">
    <h5>Grid row gap small</h5>
  	<div class="grid-wrapper-min-max four-column grid-gap-md grid-row-gap-sm">
  		<div class="grid-item">
  			<div class="bg-gray-extra-light" style="display: block; height: 10rem;"></div>
      </div>
      <div class="grid-item">
  			<div class="bg-gray-extra-light" style="display: block; height: 10rem;"></div>
      </div>
      <div class="grid-item">
  			<div class="bg-gray-extra-light" style="display: block; height: 10rem;"></div>
      </div>
      <div class="grid-item">
  			<div class="bg-gray-extra-light" style="display: block; height: 10rem;"></div>
      </div>
      <div class="grid-item">
  			<div class="bg-gray-extra-light" style="display: block; height: 10rem;"></div>
      </div>
      <div class="grid-item">
  			<div class="bg-gray-extra-light" style="display: block; height: 10rem;"></div>
      </div>
      <div class="grid-item">
  			<div class="bg-gray-extra-light" style="display: block; height: 10rem;"></div>
      </div>
      <div class="grid-item">
  			<div class="bg-gray-extra-light" style="display: block; height: 10rem;"></div>
      </div>
    </div>
  </div>
</section>
