/* panel */
.Accordion-panel,
.Accordion-panel .panel {
  grid-column: span 12;
  -ms-grid-column: 0;
  -ms-grid-column-span: 12;
}
.Accordion-trigger[aria-expanded="true"] .Accordion-panel .panel {
  margin: 0;
  padding: 2em;
  height: auto;
  max-height: 1000px;
  font-size: .925em;
  text-align: left;
  border-bottom: 1px solid #999999;
  box-shadow: inset 0 3px 0 rgba(0,0,0,.15);
  background-repeat: no-repeat;
  background-size: 30%;
  background-position: 90% 0%;
  background-color: #f1f1f1;
  overflow: hidden;
  z-index: +3;
}

.Accordion {
  box-sizing: border-box;
  margin: 0 .75em !important;
  width: auto !important;
  margin: 0;
  padding: 0;
  border: none;
  width: 100%;
}
.Accordion.focus {
  border-color: #8d0034;
}
.Accordion h3 {
  margin: 0;
  padding: 0;
}
.Accordion .expandable-row {
  grid-column: span 12;
  -ms-grid-column: 0;
  -ms-grid-column-span: 12;
  background: #febc18;
  background: #cccccc;
}
.Accordion .expandable-row.table-header {
  background: #8d0034;
}
.Accordion .expandable-row .Accordion-trigger {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  background: none;
  outline: none;
  border: none;
}
.Accordion .expandable-row.table-header .Accordion-trigger .expandable-cell {
  font-family: 'Antenna Bold', sans-serif;
  color: #f1f1f1;
  text-transform: uppercase;
}
.Accordion-trigger:focus,
.Accordion-trigger:hover {
  outline: #8d0034;
}
.Accordion .expandable-row .Accordion-trigger .expandable-cell {
  font-family: 'Antenna', sans-serif;
  font-size: 1rem;
  font-weight: normal;
  text-align: left;
  color: #272727;
}
.Accordion .expandable-row .Accordion-trigger .expandable-cell:nth-child(1) {
  font-family: 'Antenna Bold', sans-serif;
}
.Accordion-title {
  pointer-events: none;
  border: transparent 0 solid;
  border-radius: 0;
  padding: 0;
  outline: none;
  border: none;
}
/* toggle */
.Accordion-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 0;
  width: 1.5em;
  min-width: 1.5em;
  height: 1.5em;
  font-family: 'Antenna', sans-serif;
  font-size: 1.5em;
  line-height: 2em;
  text-align: center;
  color: #ffffff;
  border-radius: 1em;
  background: #8d0034;
}
.Accordion-icon:before {
  content: '+'; color: #ffffff;
}
.active .toggle-button:before {
  content: '+'; color: #ffffff;
}
.Accordion-trigger[aria-expanded="true"] .Accordion-icon {
  transform: rotate(45deg);
  background: #0096a0;
}
.Accordion-trigger:focus .Accordion-icon,
.Accordion-trigger:hover .Accordion-icon {
  border-color: hsl(216, 94%, 73%);
}
/* cells */
.expandable-cell {
  padding: .6em 1em;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.expandable-row.table-header .expandable-cell {
  padding: .75em 1em;
}
/* cells - borders */
.expandable-row .expandable-cell,
.expandable-row.table-header .expandable-cell {
  border-left: solid 1px #525252;
  border-right: none;
  border-top: none;
  border-bottom: solid 1px #525252;
}
.expandable-row .expandable-cell:nth-child(1) {
  border-left: none;
}
.expandable-row.table-header .expandable-cell {
  border-left: solid 1px #aaaaaa;
  border-bottom: none;
}
.expandable-row.table-header .expandable-cell:nth-child(1) {
  border-left: none;
}
.expandable-row:nth-child(1) {
  border-top: 1px solid #999999;
}
/* table grid */
.table-grid-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: repeat(12, [col-start] 1fr);
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  width: 100%;
}
/* all expandable-cell divs - grid column span */
.table-grid-wrapper .expandable-cell {
  grid-column: span 1;
  -ms-grid-column-span: 1;
}
.table-grid-wrapper .expandable-cell:nth-child(1) {
  grid-column: span 7;
  -ms-grid-column: 0;
  -ms-grid-column-span: 7;
}
.table-grid-wrapper .expandable-cell:nth-child(2) {
  grid-column: span 4;
  -ms-grid-column: 7;
  -ms-grid-column-span: 4;
}
.table-grid-wrapper .expandable-cell:nth-child(3) {
  grid-column: span 1;
  -ms-grid-column: 11;
  -ms-grid-column-span: 1;
}
/* typography adjustments */
.Accordion-panel .panel p {
  box-sizing: border-box;
  margin: 0 0 1em 0;
}
.Accordion-panel .panel .button {
  box-sizing: border-box;
  display: inline-block;
  margin: .25em;
  padding: .45em 1em;
  width: 25%;
}

@media only screen and (max-width: 768px) {
/* table grid */
/*
  .table-grid-wrapper { display: block; }
  .table-grid-wrapper .expandable-cell { width: 100%; }
*/
  .table-grid-wrapper {
    -ms-grid-rows: auto;
    grid-auto-rows: auto;
  }
  .table-grid-wrapper .expandable-cell:nth-child(1) {
    grid-column: span 10;
    -ms-grid-column: 0;
    -ms-grid-column-span: 10;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .table-grid-wrapper .expandable-cell:nth-child(2) {
    grid-column: span 10;
    -ms-grid-column: 0;
    -ms-grid-column-span: 10;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .table-grid-wrapper .expandable-cell:nth-child(3) {
    grid-column: span 2;
    -ms-grid-column: 10;
    -ms-grid-column-span: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    border-left: solid 1px #525252 !important;
  }
  .expandable-row.table-header .expandable-cell:nth-child(3) {
    border-left: solid 1px #aaaaaa !important;
  }
/* cells - borders */
  .expandable-row.table-header .expandable-cell:nth-child(1) {
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: solid 1px #aaaaaa !important;
  }
  .expandable-row .expandable-cell {
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: solid 1px #525252;
  }
  .expandable-row .expandable-cell:nth-child(1) {
    border-left: none;
  }
  .expandable-row.table-header .expandable-cell {
    border-left: none;
    border-bottom: none;
  }
  .Accordion-panel .panel .button {
    margin: .35em 0;
    width: 100%;
  }
  .panel h5 { font-size: 1.125em; }
  .panel p { line-height: 1.45; }
}
