/* CAROUSEL - REPO */

.slick-initialized .slick-slide {
  display: block;
}
.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
.slick-slider {
  position: relative !important;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
.slider {
  width: 100vw;
  max-width: 100vw;
}
.slides {
  background: $bg-overlay;
}
.slide {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: auto;
  font-size: 3rem;
  color: #ffffff;
  background: $gray-dark;
  outline: 0 !important;
}
.slide img {
  margin: 0 auto;
  width: auto;
  max-width: 100%;
  height: auto;
  max-width: 100%;
}

/* previous - next */

button.slick-next, button.slick-prev {
  position: absolute;
  top: 1.75rem;
  display: block;
  margin: 0;
  padding: 0;
  height: 3.5rem;
  width: 3.5rem;
  font-size: 0;
  line-height: 0;
  color: transparent;
  border: none !important;
  background-color: $bg-overlay;
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: 50% 50%;
  transform: translate(0,-50%);
  transition: .3s;
  z-index: 1;
  cursor: pointer;
  &:focus {
    outline-color: none;
    outline-width: 0;
    background-color: #febc18;
    border: 0;
  }
}
button.slick-prev {
  right: 3.5rem;
  border-radius: .25rem 0 0 .25rem !important;
  background-image: url('../images/ui-arrow-carrousel-previous@2x.png');
  &:hover, &:focus {
    border-radius: .25rem 0 0 .25rem !important;
    background-color: #febc18;
  }
}
button.slick-next {
  right: 0;
  border-radius: 0 !important;
  background-image: url('../images/ui-arrow-carrousel-next@2x.png');
  &:hover, &:focus {
    border-radius: 0 !important;
    background-color: #febc18;
  }
}
.slick-sr-only {
  position: absolute!important;
  margin: -1px!important;
  padding: 0!important;
  height: 1px!important;
  width: 1px!important;
  border: 0!important;
  clip: rect(1px,1px,1px,1px)!important;
  -webkit-clip-path: inset(50%)!important;
  clip-path: inset(50%)!important;
  white-space: nowrap!important;
  overflow: hidden!important;
}

/* counter */

.numbertext {
  position: absolute;
  top: 0rem;
  left: 0rem;
  margin: 0;
  padding: .75rem 1.5rem .75rem 1.125rem;
  font-family: 'Antenna Condensed Light', sans-serif;
  font-size: 1rem;
  line-height: 1.75;
  border-radius: 0 0 .5rem;
  background: $bg-overlay;
}

/* captions - pagination */

.slick-slide .caption {
  display: block;
  margin: 0;
  padding: 1.5rem 1.5rem 4rem;
  font-family: 'Antenna Condensed Light', sans-serif;
  font-size: 1rem;
  line-height: 1.75;
  outline: 0 !important;
  background: $bg-overlay;
}
.controls .slick-slider .slick-list,
.controls .slick-slider .slick-track {
  width: calc(100% - 8rem);
}
.slick-slider .slick-list,
.slick-slider .slick-track {
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
  -o-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}
.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-track {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
}

/* indicators */

.slick-dots {
  display: block;
  position: absolute;
  bottom: 1.75rem;
  left: 1.125rem;
  margin: 0;
  padding: 0;
  width: 100%;
  list-style: none;
  text-align: left;
  z-index: 2;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  margin: 0 .35rem 0 .35rem;
  padding: 0;
  width: .85rem;
  height: .85rem;
}
.slick-dots li button {
  display: inline-block;
  float: left;
  margin: 0 auto;
  padding: 0;
  width: .85rem;
  height: .85rem;
  font-size: 0;
  line-height: 0;
  text-align: center;
  color: transparent;
  border: 0 !important;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
}
.slick-dots li button:after {
  clear: both;
}
.slick-dots li button:hover {
  background: #febc18;
}
.slick-dots li button:focus {
  outline: none;
  outline-width: 0;
  background-color: #febc18;
}

/* indicator - active */

.slick-dots li[aria-hidden="false"] button {
  background: #febc18;
}
.slick-dots li[aria-hidden="false"] button:hover {
  background: #f5c95c;
}
