.donut-chart,
.gauge-chart {
  position: relative;
  margin: 0;
  width: 200px;
  height: 200px;
  border-radius: 100%;
  background: $gray-extra-light;
    figure .donut-chart > h5 {
      font-size: 1.85rem !important;
    }
    .center {
      position: absolute;
      top:0;
      left:0;
      bottom:0;
      right:0;
      margin: auto;
      padding: 15% 0 0;
      width: 130px;
      height: 130px;
      border-radius: 50%;
      background: $white;
    }	
    .portion-block {
      position: absolute;
      clip: rect(0px, 200px, 200px, 100px);
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
    .circle {
      position: absolute;
      clip: rect(0px, 100px, 200px, 0px);
      width: 100%;
      height: 100%;
      font-size: 1.5rem;
      border-radius: 50%;
    }
    #donut-section-one,
    #gauge-section-one {
      transform: rotate(0deg);
    }
    #donut-section-one .circle,
    #gauge-section-one .circle {
      background-color: $maroon;
      animation: first 1s 1 forwards;
    }
    #gauge-section-two,
    #donut-section-two {
      transform: rotate(125deg);
    }
    #donut-section-two .circle,
    #gauge-section-two .circle {
      background-color: $gray-light;
      animation: second 1s 1 forwards 1s;
    }
    #gauge-section-three,
    #donut-section-three {
      transform: rotate(250deg);
    }
    #donut-section-three .circle,
    #gauge-section-three .circle {
      background-color: $gray-extra-light;
      animation: third 0.5s 1 forwards 2s;
    }
    /* animation */
    @keyframes first {
      from {transform: rotate(0deg);}
      to {transform: rotate(125deg);}
    }	
    @keyframes second {
      from {transform: rotate(0deg);}
      to {transform: rotate(125deg);}
    }	
    @keyframes third {
      from {transform: rotate(0deg);}
      to {transform: rotate(110deg);}
    }
}
/* donut-chart-one */
#donut-chart-one #donut-section-one {
  transform: rotate(0deg);
}
#donut-chart-one #donut-section-two {
  transform: rotate(125deg);
}
#donut-chart-one #donut-section-three {
  transform: rotate(250deg);
}
/* donut-chart-two */
#donut-chart-two #donut-section-one {
  transform: rotate(0deg);
}
#donut-chart-two #donut-section-two {
  transform: rotate(125deg);
}
#donut-chart-two #donut-section-three {
  transform: rotate(250deg);
}
/* donut-chart-three */
#donut-chart-three #donut-section-one {
  transform: rotate(0deg);
}
#donut-chart-three #donut-section-two {
  transform: rotate(125deg);
}
#donut-chart-three #donut-section-three {
  transform: rotate(250deg);
}