/* PANELS */

/* backgrounds */

.container-fluid.bg-gray-extra-light { background: $gray-extra-light; }
.container-fluid.bg-terracotta-extra-light { background: $terracotta-extra-light; }
.container-fluid.bg-maroon { background: $maroon; }
.container-fluid.bg-gold { background: $gold; }
.container-fluid.bg-none { background: none; }

.bg-gray-extra-light { background: $gray-extra-light !important; }
.bg-terracotta-extra-light { background: $terracotta-extra-light !important; }
.bg-maroon { background: $maroon !important; }
.bg-gold { background: $gold !important; }
.bg-none { background: none !important; }

/* bg-maroon added - nested elements */

.bg-maroon h6, .bg-maroon h5, .bg-maroon h4, .bg-maroon p { color: $gray-extra-light !important; }

.bg-maroon a.cta {
  color: $gold !important;
  &:hover {
    color: $opus !important;
  }
}

/* card-image-overlay bg-maroon added */

#card-image-overlay .content-grid-wrapper.bg-maroon .flex-item.links { background: $maroon !important; }
#card-image-overlay .content-grid-wrapper.bg-maroon .flex-item.links h6,
#card-image-overlay .content-grid-wrapper.bg-maroon .flex-item.links h5,
#card-image-overlay .content-grid-wrapper.bg-maroon .flex-item.links p,
#card-image-overlay .content-grid-wrapper.bg-maroon .flex-item.links p a {
  color: $gray-extra-light !important;
}

#card-image-overlay .content-grid-wrapper.bg-maroon .flex-item.links p a {
  &:hover {
    color: $gold !important;
  }
}

#card-image-overlay .content-grid-wrapper.bg-maroon .flex-item.links button {
  background: $gold !important;
  color: black;
  &:hover {
    background: $opus !important;
  }
}

a {
  transition: color .3s ease-in-out;
}

.container-fluid {
  position: relative;
  background: none;
  z-index: 1;
}

img {
  display: block;
  margin: 0 0 1rem 0;
  width: 100%;
}

hr {
  display: block;
  margin: 1.5rem 0;
  border: 1px solid darken($gray-light, 10%);
  width: 100%;
  height: 1px;
}

/* table */

tr:nth-child(even) { background: $white; }
tr:nth-child(odd) { background: $gray-extra-light; }

/* image - lead */
/* image - lead - RESIZE */
/* h1 styled as h4 in mobile */

#panel-image-lead img {
  margin: 0;
}

#panel-image-lead, #panel-image-lead-resize {
  @include tablet-portrait {
    .grid-item {
      margin: 0;
    }
  }
  .content-image-lead {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 2rem;
    width: 100%;
    color: $gray-light;
    background: $bg-overlay;
    @include tablet-portrait {
      position: relative;
      color: $black;
      background: $gray-extra-light;
    }
    h1 {
      margin-bottom: 0;
      @include tablet-portrait {
        margin-bottom: .5rem;
        font-family: 'Antenna Condensed Bold', sans-serif;
        font-size: 1.75rem;
        line-height: rvr(2);
      }
    }
    p {
      margin-bottom: 0;
      font-family: 'Antenna Condensed Light', sans-serif;
      font-size: 1.5rem;
      line-height: rvr(2);
      color: $gray-light;
      @include tablet-portrait {
        margin-bottom: .5rem;
        font-size: 1.125rem;
        line-height: rvr(1.85);
        color: lighten($gray-extra-dark,5%);
      }
    }
    a.cta {
      display: inline;
      color: $gold;
      @include tablet-portrait {
        margin-top: .75rem;
        display: block;
        color: $maroon;
      }
    }
  }
}

/* image - lead - RESIZE */
/* background images - various heights - 450 - 800 - 1000 */

#image-resize-background-image.hero-wrapper.hero-wrapper-450 {
  background-image: url('../images/images-resize/resize-chicago-skyline-1800-450.jpg');
}
#image-resize-background-image.hero-wrapper.hero-wrapper-800 {
  background-image: url('../images/images-resize/resize-cudahy-rainbow-1800-800.jpg');
}
#image-resize-background-image.hero-wrapper.hero-wrapper-1000 {
  background-image: url('../images/images-resize/resize-reader-lake-1800-1000.jpg');
}

/* image - caption */
/* image - caption - RESIZE */

#panel-image-caption img {
  margin: 0;
}

#panel-image-caption,
#panel-image-caption-resize {
  .grid-item {
    margin: 0 !important;
  }
  img {
    margin-bottom: 0;
  }
  .content-caption {
    padding: 2rem;
    background: $gray-extra-light;
    h4 {
    margin-bottom: .35rem;
    font-size: 1.65rem;
    line-height: rvr(1.65);
    }
    @include tablet-portrait {
      h4 {
        font-size: 1.75rem;
      }
      p {
        font-size: 1.125rem;
        line-height: 1.85rem;
      }
    }
  }
}

/* image - text */

#panel-image-text img {
  margin: 0;
}

#panel-image-text {
  .grid-wrapper-min-max {
    grid-gap: 0;
    .grid-item {
      margin: 0;
      @include phone-portrait {
        margin: 0 !important;
      }
    }
  }
  .content-image-text-image {
    padding-top: 100%;
    height: 100%;
    overflow: hidden;
    background-image: url('http://via.placeholder.com/1000x1000');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    img {
      display: none;
    }
  }
  .content-image-text {
    padding: 4rem;
    height: 100%;
    background: $gray-light;
  }
}

#panel-image-text .content-image-text-image img::before {
  height: 100%;
}

/* image-overlay - used on image grid - image highlights - image-overlay > blockquote */

.grid-item .content-image-overlay,
.grid-area .content-image-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 0;
  padding: 2rem;
  color: $gray-extra-light !important;
  background: $bg-overlay-dark;
  opacity: 0;
  transition: .35s ease;
  overflow: hidden;
  @include tablet-portrait {
    h4 {
      font-size: 1.75rem;
    }
  }
  p {
    font-family: 'Arial', sans-serif;
    color: $gray-light;
  }
  a.cta {
    color: $gold;
    &:hover {
      color: $gold-light;
    }
  }
  @include phone-portrait {
    blockquote {
      margin: 0;
      padding: 1rem 0;
      border: 0;
    }
  }
}

/* image - overlay - symbol is arrow up */

button.content-activate-symbol {
  position: absolute;
  display: block;
  margin: 0;
  right: 2rem;
  bottom: 1.25rem;
  padding: 0;
  width: 2.5rem !important;
  height: 2.5rem !important;
  font-family: 'Arial', sans-serif;
  font-weight: normal;
  font-size: 2rem;
  text-align: center;
  color: $gray-extra-light !important;
  border: solid 3px $gray-extra-light !important;
  border-radius: 1.5em;
  background-color: $bg-overlay;
  background-image: url('../images/ui-arrow-up@2x.png');
  background-repeat: no-repeat;
  background-position: .5rem .5rem;
  background-size: 1.125rem;
  a {
    color: $gray-extra-light;
  }
  .active {
    transition: transform .5s;
    transform: rotate(180deg);
    color: $gray-extra-light;
    background-color: $bg-overlay-dark !important;
    background-image: url('../images/ui-arrow-up@2x.png');
    background-repeat: no-repeat;
    background-position: .5rem .5rem;
    background-size: 1.125rem;
    cursor: default;
  }
  &:focus {
    border-radius: 1.5em !important;
    outline: 3px solid #febc18;
    outline-offset: -3px;
  }
button#content-activate-symbol-overlay.content-activate-symbol.active {
  transform: rotate(180deg) !important;
  background-image: url('../images/ui-arrow-up@2x.png') !important;
  background-position: .5rem .5rem;
  background-size: 1.125rem;
}
  // &:active {
  //   border-radius: 1.5em !important;
  //   outline: none !important;
  // }
  &:visited {
    border-radius: 1.5em !important;
    outline: none !important;
  }
}
/* specifically for content-image-overlay - panel - height 100 */
.grid-item .content-image-overlay.active,
.grid-area .content-image-overlay.active {
  height: 100%;
  opacity: 1;
}
/* specifically for content-image-overlay - symbol is arrow up - rotate 180 */
.content-image-overlay:active button.content-activate-symbol {
  transition: transform .5s;
  transform: rotate(180deg);
}
/* specifically for content-image-overlay - ACTIVE - symbol is arrow down - rotate 0 */
.content-image-overlay.active button.content-activate-symbol.active {
  background-repeat: no-repeat;
  background-position: .5rem .5rem;
  background-size: 1.125rem;
  transition: transform .5s;
  transform: rotate(180deg);
}
button.content-activate-symbol:focus, button.content-activate-symbol.active:focus {
  outline: 3px solid #febc18;
  outline-offset: -3px;
}
button.content-activate-symbol.active {
  transition: transform .5s;
  transform: rotate(180deg);
  background-color: rgba(0,0,0,.85);
  background-image: url('../images/ui-arrow-up@2x.png');
  background-repeat: no-repeat;
  background-position: .5rem .5rem;
  background-size: 1.125rem;
  cursor: pointer;
}
/* specifically for + plus symbol */
button.content-activate-symbol.active.activate-symbol-plus {
  transform: rotate(0deg);
}
button.content-activate-symbol.activate-symbol-plus {
  width: 2rem !important;
  height: 2rem !important;
  background-image: url('../images/ui-plus@2x.png');
  background-position: .5rem .5rem;
  background-size: 1rem;
  background-color: $maroon;
  border: none !important;
}
/* specifically for x close symbol */
button.content-activate-symbol.activate-symbol-close {
  background-image: url('../images/ui-plus@2x.png');
  background-position: .5rem .5rem;
  background-size: 1rem;
}

/* center alignment of symbol */

#panel-image-highlights .content-activate-symbol {
  left: calc(50% - 1.125rem);
  cursor: default;
}

#panel-image-highlights .content-activate-symbol.activate-symbol-plus {
  margin-bottom: .75rem;
  left: calc(50% - 1rem);
  cursor: default;
}

/* image - overlay */

#panel-image-overlay img {
  margin: 0;
}

#panel-image-overlay, #panel-image-overlay-resize {
  img {
    object-fit: cover;
  }
  .content-image-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    padding: 2rem;
    color: $gray-light;
    opacity: 1;
    background: $bg-overlay;
    cite a {
      font-family: 'Antenna Condensed Bold', sans-serif;
      color: $gold;
    }
  }
}

#panel-image-overlay {
  img {
    object-fit: cover;
    @include tablet-portrait {
      margin-left: -50%;
      width: 200%;
    }
    @include phone-portrait {
      margin-left: -100%;
      width: 300%;
    }
  }
  blockquote {
    @include tablet-portrait {
      margin: 1rem auto;
    }
    @include phone-portrait {
      margin: 0 auto;
      font-size: 1.25rem;
      line-height: 2;
    }
  }
}

#panel-image-overlay-resize .content-image-overlay {
  padding: 3rem;
}

#panel-image-overlay-resize {
  .grid-item {
    margin: 0;
  }
  img {
    margin-bottom: 0;
  }
  .content-image-overlay blockquote {
    display: block;
    margin: 4em 10%;
    padding: 0;
    width: 80%;
    font-size: 1.85rem;
    border-top: none;
    border-bottom: none;
    @include tablet-portrait {
      margin: 2em auto;
      width: 100%;
      font-size: 1.5rem;
      line-height: 2.85rem;
    }
  }
}

/* image - highlights */

#panel-image-highlights {
  .grid-wrapper-min-max {
    grid-row-gap: .25em;
    width: 100%;
    grid-gap: 0;
    background: $maroon;
  }
  .grid-item {
    position: relative;
    margin: 0 !important;
    border: solid 1px red;
  }
  img {
    margin: 0;
  }
  .image-highlight-wrapper {
    padding: 0;
    position: relative;
    h4 {
      font-family: 'Antenna Condensed Light', sans-serif;
      color: lighten($patina,10%);
      text-shadow: 0 0 .5rem rgba(0,0,0,.5);
    }
  }
  .image-highlight-teaser-panel {
    margin: 0;
    padding: 1rem 2rem 3.75rem;
    width: 100%;
    color: $gray-extra-light;
    background: $maroon;
    h6 {
      text-align: center;
      margin: 0;
    }
  }
}

/* gradient overlay */

#panel-image-highlights .grid-item .content-image-overlay {
  padding: 55% 2em 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.7)));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
}

#panel-image-highlights h2 {
  position: absolute;
  top: 4rem;
  font-size: 2.5rem;
  color: $gray-extra-light;
  text-align: center;
  text-shadow: 0 0 .5rem rgba(0,0,0,.35);
  text-transform: uppercase;
  @include tablet-portrait {
    font-size: 1.85rem;
  }
  @include phone-landscape {
    font-size: 1.75rem;
  }
  @include phone-portrait {
    font-size: 2rem;
  }
}

/* image - grid */

#panel-image-grid {
  background-image: url('http://via.placeholder.com/1800x1000');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  .grid-wrapper-min-max {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr !important;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-template-rows: auto;
    grid-auto-flow: row;
    -ms-grid-rows: auto;
    grid-auto-rows: auto;
    grid-row-gap: .25em;
    width: 100%;
    grid-gap: 0;
  }
  .grid-item {
    position: relative;
    margin: 0 !important;
    border: solid 1px red;
  }
  img {
    margin: 0;
  }
  p.caption-overlay {
    position: absolute;
    bottom: -20px;
    left: 0px;
    padding: .5rem .5rem .5rem .5rem;
    width: 70%;
    height: auto;
    min-height: 75px;
    font-family: 'Antenna Condensed Light', sans-serif;
    font-size: .75rem;
    color: $gray-extra-light;
    text-transform: uppercase;
    text-shadow: 0 0 15px $bg-overlay;
    border-radius: 0 10px 0 0;
    background: rgba(0,0,0,.35);
    span {
      display: block;
      width: 100%;
      line-height: 1.75;
    }
    span.caption-overlay-name {
      font-family: 'Antenna Condensed Bold', sans-serif;
      font-size: .85rem;
    }
  }
}

/* image-grid-area */

#panel-image-grid-area {
  .grid-wrapper-grid-area {
    display: -ms-grid;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr !important;
    -ms-grid-columns: 1fr 1fr 1fr 1fr !important;
    grid-template-rows: auto;
    grid-auto-flow: row;
    -ms-grid-rows: auto;
    grid-auto-rows: auto;
    grid-row-gap: .25em;
    width: 100%;
    grid-gap: 0;
    .grid-area {
    position: relative;
    border: solid 1px red;
    }
    img {
      margin: 0 !important;
    }
    @include phone-portrait {
      display: block;
      width: 100%;
      height: auto;
    }
  }
}
.grid-area-one {
  grid-area: 1 / 1 / span 2 / span 3;
  @include tablet-portrait {
    grid-area: 1 / 1 / span 3 / span 4;
  }
}
.grid-area-two {
  grid-area: 1 / 4 / span 1 / span 1;
  @include tablet-portrait {
    grid-area: 4 / 1 / span 2 / span 2;
  }
}
.grid-area-three {
  grid-area: 2 / 4 / span 1 / span 1;
  @include tablet-portrait {
    grid-area: 4 / 3 / span 2 / span 2;
  }
}
.grid-area-four {
  grid-area: 3 / 1 / span 3 / span 1;
  @include tablet-portrait {
    grid-area: 6 / 1 / span 1 / span 1;
  }
}
.grid-area-five {
  grid-area: 3 / 2 / span 2 / span 3;
  @include tablet-portrait {
    grid-area: 6 / 2 / span 1 / span 3;
  }
}
.grid-area-one,
.grid-area-two,
.grid-area-three,
.grid-area-four,
.grid-area-five {
  @include phone-portrait {
    display: block;
    width: 100%;
    height: auto;
  }
}

/* modaal - most styles are in _accessible-modaal-aria.scss */
/* adjustments */

.modaal-container {
  width: 80% !important;
}

button.modaal-close {
	position: fixed;
	right: 20px;
	top: 20px;
	width: 50px;
	height: 50px;
  color: $white;
	background: none;
  border: none !important;
  &:hover {
    color: $gray-extra-light !important;
    background: $gold;
  }
}
.modaal-close:before, .modaal-close:after,
.modaal-close:focus:before, .modaal-close:focus:after,
.modaal-close:hover:before, .modaal-close:hover:after {
  top: 15px;
  left: 23px;
  background: $white;
}

/* video embed */

#panel-video-embed {
  background: $gray-dark;
  @include phone-portrait {
    .container {
      width: 100%;
    }
  }
}

#panel-video-embed .content-caption {
  padding: 2rem;
  background: $gray-extra-dark;
  h4 {
    margin-bottom: rvr(.5);
    font-size: 1.65rem;
    line-height: rvr(1.65);
  }
  h4, p {
    color: $gray-light;
  }
  a {
    color: #febc18;
  }
}

.video-wrapper {
    position: relative;
    display: block;
    margin: 0;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}

.video-wrapper iframe {
   position: absolute;
   left: 0;
   right: 0;
   top: 0;
   height: 100%;
   width: 100% !important;
   min-width: 100% !important;
}

/* pagination */

#panel-pagination #content-pagination {
  padding: 0;
}

#panel-pagination {
  nav {
    float: none;
    background: none;
    ul.grid-wrapper-min-max {
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr !important;
      grid-template-columns: repeat(auto-fit, minmax(50px, 1fr)) !important;
      grid-template-rows: auto;
      grid-auto-flow: row;
      -ms-grid-rows: auto;
      grid-auto-rows: auto;
      grid-row-gap: 0;
      grid-gap: 0;
      margin: 0 auto;
      width: calc(100% - 10rem);
      li {
        position: relative;
        display: block;
        padding: 0;
        height: 3rem;
        list-style: none;
        border: none;
        border-left: 1px solid $white;
        border-right: 1px solid $white;
        background: $gray-extra-light;
        transition: .2s;
        a {
          position: absolute;
          padding: 1rem;
          height: 100%;
          width: 100%;
          font-family: 'Antenna Condensed Light', sans-serif;
          color: $gray-extra-dark;
          text-align: center;
          text-decoration: none;
          transition: .2s;
          &:hover {
            font-family: 'Antenna Condensed Bold', sans-serif;
            background: $gray-light;
          }
        }
        a.active, a:active {
          font-family: 'Antenna Condensed Bold', sans-serif;
          color: $white;
          background: $maroon;
          &:hover {
            background: $brick;
          }
        }
      }
    }
  }
}

li#previous-pages, li#next-pages {
  display: inline-block;
  padding: 0;
  width: auto;
  a {
    display: inline;
    padding: 1rem 1.5rem;
    height: 100%;
    font-size: .85rem;
    font-family: 'Antenna Condensed Bold', sans-serif !important;
    color: $gray-extra-light !important;
    background: $gray-dark;
    &:hover {
      color: $white;
      background: $gray-extra-dark !important;
    }
  }
}

/* pagination breadcrumb */

#panel-pagination #content-pagination-breadcrumbs {
  padding: 2rem 0;
}

#panel-pagination #content-pagination-breadcrumbs ul.breadcrumb {
  padding: 0;
  list-style: none;
  background-color: none;
}

#panel-pagination #content-pagination-breadcrumbs nav ul li {
  display: inline;
  border: none;
  background: none;
  &::before {
    display: inline;
    padding: 0;
    color: $gray;
    content: "/\00a0";
    text-indent: 0;
  }
  a {
    display: inline;
    margin: 0 .5rem;
    padding: 0;
    font-family: 'Antenna Condensed Light', sans-serif;
    font-size: .85rem;
    color: $gray;
    text-transform: uppercase;
    background: none;
    &:hover {
      color: $maroon;
      background: none;
    }
  }
}

#content-pagination-breadcrumbs nav ul li a.active {
  color: $maroon !important;
}

/* calendar card */

#panel-events-news .content-columns-varied .grid-wrapper-min-max {
  grid-gap: 0;
}

#panel-events-news .content-columns-varied .grid-wrapper-min-max .grid-item {
  margin: 0 !important;
  padding: 0 2em;
  border-left: solid 1px $gray;
}
#panel-events-news .content-columns-varied .grid-wrapper-min-max .grid-item:first-of-type {
  border-left: none !important;
}
#panel-events-news {
  h4 {
    font-size: 1.45rem;
  }
}

.calendar-card {
  grid-column: col 2 / span 2;
  grid-row: row 1;
  display: grid;
  grid-gap: 1em;
  grid-template-columns: 70px 1fr;
}

.calendar-card-date {
  grid-column: 1;
  grid-row: 1;
  border-radius: .33em .33em 0 0;
  background: none;
  h6 {
    margin: 0;
    padding: .25em 0;
    font-family: 'Antenna Condensed Bold', sans-serif;
    text-align: center;
  }
  .calendar-card-date-day {
    color: $gray-extra-light;
    text-transform: uppercase;
    border-radius: .33em .33em 0 0;
    background: $maroon;
  }
  .calendar-card-date-number {
    border-radius: 0;
    background: $gray-light;
  }
}

.calendar-card-content {
  grid-column: 2;
  grid-row: 1;
}

/* END - CSS */
