/* table - reset */

table {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100% !important;
}

tbody, th, tr {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: auto;
}

table, tbody, th, tr, td, tr.column, .column {
  border: none;
  border-top: 0;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  border-spacing: 0;
  background: none;
  background-color: none;
}

/* table - style */

table {
  margin: 1rem 0 2rem 0;
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
}

th, td {
  border: solid 1px $gray;
  border-collapse: collapse;
  padding: 0.75rem;
  font-family: 'Antenna Condensed Light', sans-serif;
  text-align: left;
}
th {
  font-family: 'Antenna Condensed Bold', sans-serif;
  color: $gray-extra-light;
  text-transform: uppercase;
  background: $gray-dark;
  &:nth-child(2),
  &:nth-child(3),
  &:nth-child(4),
  &:nth-child(5),
  &:nth-child(6),
  &:nth-child(7) {
    border-left: none;
    border-left: solid 1px $gray-extra-light;
  }
}

th.span.sub-category,
tr:first-child th.span.sub-category {
  color: $gray-extra-light !important;
  background: darken($gray,1%) !important;
}

tr:first-child th:first-child {
  color: $gray-extra-light !important;
  background: $gray-dark !important;
}

tr:first-child th:first-child,
tr:not(:first-child):not(:last-child) th {
  border-bottom-color: $gray !important;
}

tr:first-child th:first-child,
tr:not(:first-child) th {
  color: $black;
  background: $gray-light;
  text-transform: none;
}

caption {
  margin-bottom: 1rem;
  width: 100%;
  font-style: italic;
  text-align: left;
}

td ul, #panel-table-accordion ul {
  margin: 1rem 0;
}

td, td p, td ul li, #panel-table-accordion ul li {
  font-size: 1.065rem !important;
  text-align: left;
  line-height: rvr(1.35);
}

td p, td ul li, #panel-table-accordion ul li {
  margin: .5rem 0 !important;
}

td ul li, #panel-table-accordion ul li {
  margin-left: 1.5rem !important;
  text-indent: -1.5rem;
  list-style-type: square;
  list-style-position: inside;
}

/* table stack */

@media only screen and (max-width: 600px) {

	/* force table to display block - stack */
	table, thead, tbody, th, td, tr, h4.table-accordion-header span {
		display: block;
    position: relative;
	}

	/* hides table headers (but not display: none; for accessibility) */
	th {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

  tr th:first-child {
    position: relative;
    left: 0;
    top: 0;
  }

  tr:first-child {
    margin-bottom: 0;
  }

  tr:first-child td:first-child {
    display: none;
  }

  tr:first-child th:first-child {
    display: none;
  }

  th.sub-category,
  th.span.sub-category,
  tr:first-child th.span.sub-category {
    display: block;
    position: relative !important;
    margin: 0;
    font-size: 1.125rem;
    color: $black !important;
    border: none;
    background: $gray-light !important;
  }

	tr {
    margin: 2rem 0;
    border: 1px solid $gray-light; }

	td {
		/* make a row */
    position: relative;
    padding: 1rem;
    line-height: rvr(1.65);
		border: none;
		border-bottom: 1px solid $gray-light;
    &:last-of-type {
      border-bottom: none;
    }
	}

  td:before {
    position: relative;
    display: block;
    box-sizing: border-box;
    top: -1rem;
    left: -1rem;
    padding: 1rem;
    width: calc(100% + 2rem);
    height: 100%;
    font-family: 'Antenna Condensed Bold', sans-serif;
    color: $gray-extra-light;
    text-align: left;
    text-transform: uppercase;
		white-space: nowrap;
    background: $gray-dark;
  }

	/* Label the data */

	td:nth-of-type(1):before, #panel-table-accordion h4 span:nth-of-type(1):before { content: "Header 01"; }
	td:nth-of-type(2):before, #panel-table-accordion h4 span:nth-of-type(2):before { content: "Header 02"; }
	td:nth-of-type(3):before, #panel-table-accordion h4 span:nth-of-type(3):before { content: "Header 03"; }
	td:nth-of-type(4):before, #panel-table-accordion h4 span:nth-of-type(4):before { content: "Header 04"; }
	td:nth-of-type(5):before, #panel-table-accordion h4 span:nth-of-type(5):before { content: "Header 06"; }
	td:nth-of-type(6):before, #panel-table-accordion h4 span:nth-of-type(6):before { content: "Header 07"; }
	td:nth-of-type(7):before, #panel-table-accordion h4 span:nth-of-type(7):before { content: "Header 08"; }
	td:nth-of-type(8):before, #panel-table-accordion h4 span:nth-of-type(8):before { content: "Header 09"; }
	td:nth-of-type(9):before, #panel-table-accordion h4 span:nth-of-type(9):before { content: "Header 10"; }

  caption { display: block; }
}

/* table accordion */

#panel-table-accordion {
  @include phone-portrait {
    margin: 0 auto;
  }
}

#panel-table-accordion .caption > p {
  margin-bottom: 1rem;
  font-family: 'Georgia', serif;
  font-size: 1rem;
  font-style: italic;
  line-height: rvr(1.25);
  text-align: left;
}

#panel-table-accordion button.minimalist-accordion__header,
#panel-table-accordion button.minimalist-noanim-accordion__header,
#panel-table-accordion button.minimalist-css-accordion__header {
  padding: 0;
  border-right: solid 1px $gray !important;
  @include phone-portrait {
    border-left: solid 1px $gray !important;
  }
}

#panel-table-accordion h4 button,
#panel-table-accordion h4.table-accordion-header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr !important;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-template-rows: auto;
  grid-auto-flow: row;
  padding: 0;
  &:after {
    float: right;
  }
  @include phone-portrait {
    display: block !important;
    width: 100%;
    text-align: left;
  }
}

#panel-table-accordion h4 button span:first-of-type {
  border-left: solid 1px $gray;
  @include phone-portrait {
    padding: .75rem 1rem .5rem;
    text-align: left;
    border-left: 0;
    border-top: solid 1px $gray;
    border-right: 0;
  }
  &:before {
    display: none;
  }
}

#panel-table-accordion h4 button span {
  @include phone-portrait {
    display: block;
    position: relative;
    padding-left: 50%;
    padding: 1rem 2.25rem .75rem 50%;
    width: 100%;
    text-align: right;
    border-bottom: solid 1px $gray;
    border-right: 0;
    &:before {
      display: none;
    }
    &:last-of-type {
      border-bottom: none;
    }
  }
}

#panel-table-accordion h4.table-accordion-header {
  margin: 0;
  font-size: inherit;
  color: $gray-extra-light;
  text-transform: uppercase;
  background: $maroon;
}

#panel-table-accordion h4.table-accordion-header::after {
  /* see accessible-accordion-aria.scss */
}

#panel-table-accordion h4 span,
#panel-table-accordion h4.table-accordion-header span,
#panel-table-accordion .minimalist-accordion__header::after,
#panel-table-accordion .minimalist-noanim-accordion__header::after,
#panel-table-accordion .minimalist-css-accordion__header::after {
  display: inline-block;
  margin: 0 !important;
  padding: .5em 1em;
  height: 100%;
  font-family: 'Antenna Condensed Light', sans-serif;
  font-size: 1rem;
  text-transform: none;
  border-right: solid 1px $gray;
  @include phone-portrait {
    padding: 1rem;
  }
}

 #panel-table-accordion .minimalist-accordion__header::after {
   @include phone-portrait {
     display: block !important;
     margin-top: -2.575rem !important;
     padding: 1rem;
     height: 2rem;
   }
 }


#panel-table-accordion h4.table-accordion-header span {
  font-family: 'Antenna Condensed Bold', sans-serif;
  text-transform: uppercase;
  border-right: solid 1px $gray-extra-light;
  @include phone-portrait {
    display: none !important;
  }
}

#panel-table-accordion h4 button span:before {
  @include phone-portrait {
    display: block;
    position: absolute;
    box-sizing: border-box;
    top: 0;
    left: 0;
    padding: 1rem 1rem .75rem;
    width: 50%;
    color: #eeeeee;
    text-align: left;
    text-transform: uppercase;
    white-space: nowrap;
    border-bottom: solid 1px $gray-light;
    background: #555555;
  }
}

#panel-table-accordion .minimalist-accordion__header::after,
#panel-table-accordion .minimalist-noanim-accordion__header::after,
#panel-table-accordion .minimalist-css-accordion__header::after {
  padding: 0 1rem 0 0 !important;
  justify-self: right;
  background-size: 40%;
  background-position: 50% 50%;
  border-right: none;
}

#panel-table-accordion h4 span.table-accordion-row-header {
  font-family: 'Antenna Condensed Bold', sans-serif;
  background: $gray-light;
}
