/*
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media
only screen and (max-width: 768px),
(min-device-width: 415px) and (max-device-width: 768px)  {

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr {
		display: block;
	}

	/* hides table headers (but not display: none; for accessibility) */
	th tr:first-of-type {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

	tr { border: 1px solid #ccc; }

	td {
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee;
		position: relative;
		padding-left: 50%;
	}

	td:before {
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%;
		padding-right: 10px;
		white-space: nowrap;
	}

	/*
	Label the data
	*/
	td:nth-of-type(1):before { content: "Header 01"; }
	td:nth-of-type(2):before { content: "Header 02"; }
	td:nth-of-type(3):before { content: "Header 03"; }
	td:nth-of-type(4):before { content: "Header 04"; }
	td:nth-of-type(5):before { content: "Header 06"; }
	td:nth-of-type(6):before { content: "Header 07"; }
	td:nth-of-type(7):before { content: "Header 08"; }
	td:nth-of-type(8):before { content: "Header 09"; }
	td:nth-of-type(9):before { content: "Header 10"; }
}
