/* UAO - Tabs */

.uao-tabs .tabs {
    display: flex;
    flex-direction: column-reverse;
}

.uao-tabs .tabs .tab-list {
    margin: 0 auto 4rem;
}

.uao-tabs .tabs .tab-list .tab-button {
    border-radius: 100% !important;
    width: 5.5rem;
    height: 5.5rem;
    padding: 0;
    border: none;
    transition: 500ms all ease;
    margin: 0 1rem;
}

.uao-tabs .tabs .tab-list .tab-button[aria-selected="true"] {
 scale: 1.25;
}

.uao-tabs .tabs .tab-list img {
    border-radius: 100% !important;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    pointer-events: none;
}

.uao-tabs .tabs .tab-panel {
    background-color: transparent;
}