/* @media only screen
and (max-width: 1400px)
and (-webkit-min-device-pixel-ratio : 2),
only screen
and (min-device-pixel-ratio : 2) {
  #parallax-section-one #opener-university-logo {
    display: none;
  }
} */

@media only screen and (max-width: 1400px) {

    /* section one */
  #parallax-section-one .animation-text-wrapper {
    top: 10vh;
  }
  #parallax-section-one .animation-text-wrapper h5 {
    font-size: 1.125rem;
  }
  #parallax-section-one .animation-text-wrapper h1 {
    font-size: 3.5rem;
  }
  #parallax-section-one #opener-university-logo {
    margin: 0 auto;
    width: 10vw;
  }
  #parallax-section-one img#img-foreground,
  #parallax-section-one img#img-middleground,
  #parallax-section-one img#img-background {
    width: calc(100vw + 2.5rem);
    height: auto;
  }

}

/* laptop */

@media only screen and (max-width: 1380px) {

  /* section three */
  #parallax-section-three .animation-text-wrapper h2 {
    font-size: 3.75rem;
  }
  #parallax-section-three .animation-text-wrapper h3#message-line-three {
    margin-bottom: 50vh;
  }
  #parallax-section-three .animation-text-wrapper h3 {
    font-size: 1.5rem !important;
  }

}

/* 1200 */

@media only screen and (max-width: 1200px) {

  /* section one */
  #parallax-section-two .animation-text-wrapper {
    padding: 2rem;
  }
  #parallax-section-two .animation-text-wrapper h3 span {
    display: block !important;
    margin: auto .25rem !important;
    width: 100% !important;
  }
  /* lgs */
  #panel-text.parkinson-lgs-cta .grid-wrapper-min-max {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
  #panel-text.parkinson-lgs-cta .grid-wrapper-min-max.four-column {
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
  }
  #panel-text.parkinson-lgs-cta .grid-wrapper-min-max.four-column .grid-item {
    margin: 0 !important;
  }
  #panel-text.parkinson-lgs-cta .grid-wrapper-min-max.four-column .grid-item button {
    margin: 0 !important;
  }

}

/* 900 */

@media only screen and (max-width: 900px) {

  /* section one */
  #parallax-section-one #opener-university-logo {
    width: 15vw;
  }
  #panel-image-grid-mason-gallery .grid-wrapper-grid-wrapper {
    display: -ms-grid;
    display: grid;
    grid-template-columns: 1fr !important;
    -ms-grid-columns: 1fr !important;
    grid-auto-rows: 6.25vh;
    grid-row-gap: 0;
  }
  /* section two */
  #image-grid-one.gallery-container,
  #image-grid-three.gallery-container,
  #image-grid-four.gallery-container,
  #image-grid-five.gallery-container {
    grid-column: span 6 !important;
  }
  #image-grid-one.gallery-container {
    grid-area: 1 / 1 / span 2 / span 1 !important;
  }
  #image-grid-two.gallery-container {
    grid-area: 5 / 1 / span 8 / span 1 !important;
  }
  #image-grid-three.gallery-container {
    grid-area: 3 / 1 / span 2 / span 1 !important;
  }
  #image-grid-four.gallery-container {
    grid-area: 13 / 1 / span 2 / span 1 !important;
  }
  #image-grid-five.gallery-container {
    grid-area: 15 / 1 / span 2 / span 1 !important;
  }
  .gallery-item h5,
  .gallery-item h5.position-top {
    top: 0 !important;
    padding: .5rem 0 2rem;
  }
  .gallery-item .caption p {
    font-size: 1.125rem;
  }
  /* section three */
  #parallax-section-three {
    width: 100vw;
  }
  #parallax-section-three .animation-text-wrapper {
    padding: 2rem;
    height: 50vh;
    overflow: hidden;
  }
  #parallax-section-three .animation-text-wrapper h3, #panel-text h4 {
    font-size: 1.25rem;
  }
  #parallax-section-three .animation-text-wrapper h3#message-line-one,
  #parallax-section-three .animation-text-wrapper h3#message-line-two {
    margin-bottom: .75rem;
  }
  #parallax-section-three .animation-text-wrapper h3#message-line-three {
    margin-bottom: 28vh;
  }
  #parallax-section-three .animation-text-wrapper h2#message-line-four {
    font-size: 3rem;
  }
  /* section four */
  #parallax-section-four .animation-text-wrapper {
    top: 3rem;
    width: 80%;
    height: 50vh;
  }
  #parallax-section-four .animation-text-wrapper h3 {
    font-size: 1.75rem !important;
  }
  /* cards */
  #media-card-wrapper h3 {
    font-size: 2.5rem;
  }

  /* animation elements */
  /* wrapper */
  #cercl-animaion {
    position: absolute;
    bottom: 10vh;
    width: 80vw;
    height: 60vh;
  }
  #cercl-animaion .grid-wrapper-min-max.two-column {
    height: auto;
  }
  /* line atributes */
  #svg-line-drawing.draw-lines #swab-left .st0,
  #svg-line-drawing.draw-lines #swab-middle .st0,
  #svg-line-drawing.draw-lines #swab-right .st0,
  #svg-line-drawing.draw-lines #vial-left .st0,
  #svg-line-drawing.draw-lines #vial-middle .st0,
  #svg-line-drawing.draw-lines #vials-right .st0,
  #svg-line-drawing.draw-lines #vials-left .st0,
  #svg-line-drawing.draw-lines #vials-middle .st0,
  #svg-line-drawing.draw-lines #vials-right .st0,
  #virusOne #svg-line-drawing.draw-lines #virus-left .st0,
  #virusOne #svg-line-drawing.draw-lines #virus-middle .st0,
  #virusOne #svg-line-drawing.draw-lines #virus-right .st0,
  #virusTwo #svg-line-drawing.draw-lines #virus-left .st0,
  #virusTwo #svg-line-drawing.draw-lines #virus-middle .st0,
  #virusTwo #svg-line-drawing.draw-lines #virus-right .st0 {
    stroke-width: 4;
  }
  #swab {
    position: absolute;
    top: 0;
    left: 10%;
  }
  #swab, #swab #svg-line-drawing svg {
    width: 35%;
  }
  /* vial */
  #vial {
    position: absolute;
    top: 55%;
    left: 25%;
  }
  #vial, #vial #svg-line-drawing svg {
    width: 17%;
  }
  /* vials */
  #vials {
    position: absolute;
    top: 35%;
    left: 50%;
  }
  #vials, #vials #svg-line-drawing svg {
    width: 70%;
  }
  /* viruses */
  #virusOne {
    position: absolute;
    top: 8%;
    right: 20%;
  }
  #virusOne, #virusOne #svg-line-drawing svg {
    width: 30vw;
  }
  #virusTwo {
    position: absolute;
    top: -8%;
    right: 4%;
  }
  #virusTwo, #virusTwo #svg-line-drawing svg {
    width: 30vw;
  }
  #svg-line-drawing {
    display: block;
    float: left;
    margin: 1rem 0;
    width: 100%;
  }

}

/* 600 */

@media only screen and (max-width: 768px) {

  /* section one */
  #parallax-section-one .animation-text-wrapper h5 {
    font-size: 1rem;
  }
  #parallax-section-one .animation-text-wrapper h1 {
    font-size: 3.25rem;
  }
  #parallax-section-two .animation-text-wrapper h3 span {
    display: inline !important;
  }
  #parallax-section-three .animation-text-wrapper h3#message-line-three {
    margin-bottom: 18vh;
  }
  #parallax-section-one #opener-university-logo {
    width: 18vw;
  }
  .scroll-down {
    width: 10vw;
  }
  .scroll-down h5 {
    margin: 0 auto 1.75rem;
    font-size: .85rem !important;
  }
  .scroll-down h5, .scroll-down .arrow {
    position: relative;
    left: 0;
    right: 0;
    transform: translate(0%, 0);
    width: 100% !important;
  }
  .scroll-down .arrow {
    width: 100% !important;
    height: 1.25rem;
  }
  .scroll-down .arrow img {
    margin: 0 40%;
    width: 20% !important;
  }
  /* section two */
  #cercl-animation {
    left: 25vw;
    width: 100%;
  }
  #vial {
    top: 35%;
  }
  #parallax-section-four .animation-text-wrapper {
    top: 25%;
    width: 30%;
  }
  /* buttons */
  #panel-text.parkinson-lgs-cta .grid-wrapper-min-max.four-column .grid-item button {
    margin: 1rem 0 !important;
  }
  /* cards */
  #panel-cards-horizontal .grid-item a {
    display: block !important;
  }
  .grid-wrapper-min-max.card-horizontal .grid-item .image-wrapper {
    display: none;
  }
}

/* 415 */

@media only screen and (max-width: 415px) {

  #parallax-section-one .animation-text-wrapper h1 {
    margin: 0 auto .5rem auto;
    font-size: 1.75rem;
    width: 100%;
  }
  #parallax-section-one #opener-university-logo {
    width: 25vw;
  }
  .scroll-down {
    width: 20vw;
  }
  /* section two */
  #image-grid-one.gallery-container {
    grid-area: 13 / 1 / span 1 / span 1 !important;
  }
  #image-grid-two.gallery-container {
    grid-area: 1 / 1 / span 12 / span 1 !important;
  }
  #image-grid-three.gallery-container {
    grid-area: 14 / 1 / span 1 / span 1 !important;
  }
  #image-grid-four.gallery-container {
    grid-area: 15 / 1 / span 1 / span 1 !important;
  }
  #image-grid-five.gallery-container {
    grid-area: 16 / 1 / span 1 / span 1 !important;
  }
  #parallax-section-two .animation-text-wrapper h3 span {
    display: block !important;
    width: 100%;
  }
  .gallery-item h5 {
    padding: 1rem 0 !important;
    height: auto;
  }
  .gallery-item p#message-line-five span a {
    font-size: 1.125rem;
  }
  .gallery-item h5, .gallery-item h5.position-top {
    padding: 1rem auto;
    height: 100%;
    background: rgba(0,0,0,.6);
  }
  .gallery-item:hover .caption p {
    display: none;
  }
  /* section three */
  #parallax-section-three .animation-text-wrapper {
    height: 75vh;
  }
  #parallax-section-three .animation-text-wrapper h3 {
    font-size: 1.25rem !important;
  }
  #parallax-section-three .animation-text-wrapper h3#message-line-three {
    margin-bottom: 35vh;
  }
  /* section four */
  #parallax-section-four .animation-text-wrapper {
    top: 42vh;
    width: 45vw;
    height: 80vh;
  }
  #parallax-section-four .animation-text-wrapper h3 {
    margin: 0 auto 1.25rem;
    font-size: 1.25rem !important;
    line-height: 1.45;
  }
  /* cards */
  #panel-text h4,
  #media-card-wrapper h3 {
    font-size: 1.75rem;
  }
  .flex-item.content h4 {
    font-size: 2rem;
  }
  /*called */
  .called-card .content-grid-wrapper h4 {
    font-size: 3.25rem !important;
    line-height: calc(var(--baseline) * 2.5 * 1rem) !important;
  }
  /* animation elements */
  /* wrapper */
  #cercl-animaion {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
  }
  #cercl-animaion .grid-wrapper-min-max.two-column {
    height: auto;
  }
  /* swab */
  #swab {
    position: absolute;
    top: 2%;
    left: 5%;
  }
  #swab, #swab #svg-line-drawing svg {
    width: 70%;
  }
  /* vial */
  #vial {
    position: absolute;
    top: 45%;
    left: 36%;
  }
  #vial, #vial #svg-line-drawing svg {
    width: 35%;
  }
  /* vials */
  #vials {
    display: none;
  }
  /* viruses */
  #virusOne {
    position: absolute;
    top: 8%;
    right: 20%;
  }
  #virusOne, #virusOne #svg-line-drawing svg {
    width: 50vw;
  }
  #virusTwo {
    position: absolute;
    top: 4%;
    left: 8%;
  }
  #virusTwo, #virusTwo #svg-line-drawing svg {
    width: 60vw;
  }

}
