/* styles typography */
/* CUSTOM VARIABLES */
/* MAROON */
/* BRICK */
/* GOLD */
/* PATINA */
/* TERRACOTTA */
/* OPUS */
/* GRAY */
/* COPPER */
/* ANTENNA - http://www.webtype.com */
@font-face {
  font-family: "Antenna Condensed Light";
  src: url("../fonts/antenna_condensed_light/antenna-condensed-light.eot") format("embedded-opentype"), url("../fonts/antenna_condensed_light/antenna-condensed-light.woff") format("woff"), url("../fonts/antenna_condensed_bold/antenna-condensed-bold.woff2") format("woff2");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Antenna Condensed Bold";
  src: url("../fonts/antenna_condensed_bold/antenna-condensed-bold.eot") format("embedded-opentype"), url("../fonts/antenna_condensed_bold/antenna-condensed-bold.woff") format("woff"), url("../fonts/antenna_condensed_bold/antenna-condensed-bold.woff2") format("woff2");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Antenna Condensed Black";
  src: url("../fonts/antenna_condensed_black/antenna-condensed-black.eot") format("embedded-opentype"), url("../fonts/antenna_condensed_black/antenna-condensed-black.woff") format("woff"), url("../fonts/antenna_condensed_black/antenna-condensed-black.woff2") format("woff2");
  font-style: normal;
  font-weight: normal;
}
/* legacy fonts */
@font-face {
  font-family: "Antenna";
  src: url("../fonts/antenna_regular/476def8b-6379-4133-9503-ca290c126397-4.svg");
  src: url("../fonts/antenna_regular/476def8b-6379-4133-9503-ca290c126397-2.eot") format("embedded-opentype"), url("../fonts/antenna_regular/476def8b-6379-4133-9503-ca290c126397-3.woff") format("woff"), url("../fonts/antenna_regular/476def8b-6379-4133-9503-ca290c126397-1.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Antenna Bold";
  src: url("../fonts/antenna_bold/692e9d98-a1c5-4d26-9831-b7f258241cdf-4.svg");
  src: url("../fonts/antenna_bold/692e9d98-a1c5-4d26-9831-b7f258241cdf-2.eot") format("embedded-opentype"), url("../fonts/antenna_bold/692e9d98-a1c5-4d26-9831-b7f258241cdf-3.woff") format("woff"), url("../fonts/antenna_bold/692e9d98-a1c5-4d26-9831-b7f258241cdf-1.ttf") format("truetype");
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: "Antenna Black";
  src: url("../fonts/antenna_black/6620971b-19a1-4157-9796-83671a1c7836-4.svg");
  src: url("../fonts/antenna_black/6620971b-19a1-4157-9796-83671a1c7836-2.eot") format("embedded-opentype"), url("../fonts/antenna_black/6620971b-19a1-4157-9796-83671a1c7836-3.woff") format("woff"), url("../fonts/antenna_black/6620971b-19a1-4157-9796-83671a1c7836-1.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Antenna Comp Bold";
  src: url("../fonts/antenna_comp_bold/ef5900d9-cbb9-4435-a9e8-bb47afc557c3-2.eot") format("embedded-opentype"), url("../fonts/antenna_comp_bold/ef5900d9-cbb9-4435-a9e8-bb47afc557c3-3.woff") format("woff"), url("../fonts/antenna_comp_bold/ef5900d9-cbb9-4435-a9e8-bb47afc557c3-1.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Antenna Comp Black";
  src: url("../fonts/antenna_comp_black/antenna-compressed-black.eot") format("embedded-opentype"), url("../fonts/antenna_comp_black/antenna-compressed-black.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}
/* end -fonts - css */
/* FONTS - http://www.webtype.com */
@font-face {
  font-family: "Arnhem Blond";
  src: url("../fonts/arnhem_blond/ArnhemPro-Blond.eot"), url("../fonts/arnhem_blond/ArnhemPro-Blond.woff");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Arnhem Blond Italic";
  src: url("../fonts/arnhem_blond_italic/ArnhemPro-BlondItalic.eot"), url("../fonts/arnhem_blond_italic/ArnhemPro-BlondItalic.woff");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Arnhem Bold";
  src: url("../fonts/arnhem_bold/ArnhemPro-Bold.eot"), url("../fonts/arnhem_bold/ArnhemPro-Bold.woff");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Arnhem Bold Italic";
  src: url("../fonts/arnhem_bold_italic/ArnhemPro-BoldItalic.eot"), url("../fonts/arnhem_bold_italic/ArnhemPro-BoldItalic.woff");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Arnhem Black";
  src: url("../fonts/arnhem_black/ArnhemPro-Black.eot"), url("../fonts/arnhem_black/ArnhemPro-Black.woff");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Arnhem Black Italic";
  src: url("../fonts/arnhem_black_italic/ArnhemPro-BlackItalic.eot"), url("../fonts/arnhem_black_italic/ArnhemPro-BlackItalic.woff");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Arnhem Fine";
  src: url("../fonts/arnhem_fine/ArnhemFinePro-Normal.eot"), url("../fonts/arnhem_fine/ArnhemFinePro-Normal.woff");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Arnhem Fine Italic";
  src: url("../fonts/arnhem_fine_italic/ArnhemFinePro-NormalItalic.eot"), url("../fonts/arnhem_fine_italic/ArnhemFinePro-NormalItalic.ttf");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Arnhem Fine Medium";
  src: url("../fonts/arnhem_fine_medium/ArnhemFinePro-Medium.eot"), url("../fonts/arnhem_fine_medium/ArnhemFinePro-Medium.ttf");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Arnhem Fine Medium Italic";
  src: url("../fonts/arnhem_fine_medium_italic/ArnhemFinePro-MediumItalic.eot"), url("../fonts/arnhem_fine_medium_italic/ArnhemFinePro-MediumItalic.ttf");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Arnhem Fine Semibold";
  src: url("../fonts/arnhem_fine_semibold/ArnhemFinePro-SemiBold.eot"), url("../fonts/arnhem_fine_semibold/ArnhemFinePro-SemiBold.ttf");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Arnhem Fine Semibold Italic";
  src: url("../fonts/arnhem_fine_semibold_italic/ArnhemFinePro-SemiBdItalic.eot"), url("../fonts/arnhem_fine_semibold_italic/ArnhemFinePro-SemiBdItalic.ttf");
  font-style: normal;
  font-weight: normal;
}
/* END - ARNHEM */
/* font-size - reset - document level adjustments */
/* responsive modular typography scales */
/* type scale 1.333 - perfect fourth - IN USE */
/* type scale 1.414 - augmented fourth */
/*
:root {
  --step-up-5: 4.209rem;
  --step-up-4: 3.157rem;
  --step-up-3: 2.369rem;
  --step-up-2: 1.777rem;
  --step-up-1: 1.333rem;
*/
/* baseline: 1em */
/*
  --step-down-1: 0.85rem;
  --step-down-2: 0.75rem;
}
*/
/* line-height baseline */
:root body {
  --baseline: 1.2;
  line-height: calc(var(--baseline));
}

:root body header, :root body footer {
  --baseline: 1;
  line-height: calc(var(--baseline));
}

/* rvr stands for responsive vertical rhythm */
/* vertical rhythm */
/* TYPOGRAPHY */
/* base typography */
html {
  font-size: 100%;
}

/* matches browsers default */
body {
  font-family: "Arial", sans-serif;
  color: #000000;
  background-color: none;
}

p, ul, ol {
  color: #555555;
}

a {
  cursor: hand !important;
}

/* cursor - global */
button, button:hover,
button a, button a:hover {
  cursor: pointer !important;
}

h1, h2, h3, h4, h5, h6, .light h6 {
  display: block;
  margin: 0;
  margin-bottom: calc(var(--baseline) * 1 * 1rem);
  width: 100%;
  font-family: "Antenna Condensed Bold", sans-serif;
  font-weight: 400;
  letter-spacing: -0.02rem;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a, .light h6 a {
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: calc(var(--baseline) * 0.65 * 1rem);
}

h1 {
  font-size: 3.75rem;
  line-height: calc(var(--baseline) * 3.75 * 1rem);
}

h2 {
  font-size: 2.5rem;
  line-height: calc(var(--baseline) * 2.5 * 1rem);
  text-transform: uppercase;
}

h3 {
  font-family: "Antenna Condensed Light", sans-serif;
  font-size: 2.5rem;
  line-height: calc(var(--baseline) * 2.5 * 1rem);
}

h4 {
  font-size: 2rem;
  line-height: calc(var(--baseline) * 2 * 1rem);
}

.content-columns-varied.four-column-build h4,
.content-columns-varied.one-column-build.media-cards h4 {
  font-size: 1.65rem;
  line-height: calc(var(--baseline) * 1.85 * 1rem);
}

.uppercase h2, .uppercase h3, .uppercase h4 {
  text-transform: uppercase;
}

h5 {
  margin-bottom: calc(var(--baseline) * 0.5 * 1rem);
  font-size: 1.425rem;
  line-height: calc(var(--baseline) * 1.6 * 1rem);
  text-transform: uppercase;
}

h6 {
  margin-bottom: calc(var(--baseline) * 0.5 * 1rem);
  font-size: 1.125rem;
  line-height: calc(var(--baseline) * 1.35 * 1rem);
  letter-spacing: 0rem;
  text-transform: uppercase;
}

.category-light h6 {
  font-family: "Antenna Condensed Light", sans-serif;
}

p, .explainer p {
  margin: 0;
  margin-bottom: calc(var(--baseline) * 1 * 1rem);
  font-size: 1.125rem;
  line-height: calc(var(--baseline) * 1.75 * 1rem);
  line-height: 1.9;
}

.explainer p {
  font-style: italic;
}

.intro-paragraph > p {
  margin: 0;
  margin-bottom: calc(var(--baseline) * 1 * 1rem);
  font-family: "Antenna Condensed Light", sans-serif;
  font-size: 1.4rem;
  line-height: calc(var(--baseline) * 2 * 1rem);
  word-spacing: 0.075rem;
}

.intro-paragraph p:first-child::first-letter {
  display: inline !important;
  float: left;
  margin-top: 0.125rem;
  margin-right: 0.5rem;
  color: #8d0034;
  font-family: "Antenna Condensed Black", sans-serif;
  font-size: 4.25rem;
  line-height: calc(var(--baseline) * 3.5 * 1rem);
}

.caption p {
  font-family: "Antenna Condensed Bold", sans-serif;
  font-size: 1rem;
  line-height: calc(var(--baseline) * 1.25 * 1rem);
  letter-spacing: 0.0125rem;
  word-spacing: 0.025rem;
}
.caption p a {
  cursor: pointer;
}

.leadin {
  text-transform: uppercase;
  font-weight: bold;
  font-weight: 700;
}

.caption .leadin {
  font-family: "Antenna Condensed Bold";
}

/* inline links - ctas */
a {
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

a {
  display: inline;
  font-family: inherit;
  font-weight: 700;
  color: #8d0034;
}

p a {
  font-size: inherit;
}

a.cta {
  display: block;
  width: 100%;
  font-family: "Antenna Condensed Bold", sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
}

.card a.cta {
  margin-bottom: calc(var(--baseline) * 1.5 * 1rem);
}

small {
  font-size: 0.7rem;
}

footnote {
  font-style: italic;
}

/* typographic specific */
#home h1 {
  font-size: 4.5rem;
  line-height: calc(var(--baseline) * 4.5 * 1rem);
}

.panel-label {
  margin-bottom: calc(var(--baseline) * 2 * 1rem);
}

.sans-serif, .sans-serif p {
  font-family: "Arial", sans-serif;
  font-size: 1.125rem;
}

.sans-serif {
  font-size: 1.015rem;
}

.line-height-tight p {
  line-height: calc(var(--baseline) * 1.5 * 1rem);
}

#main-content-wrapper ol,
#main-content-wrapper ul {
  margin: 0 0 1rem 1.5rem;
  font-size: 1.125rem;
  line-height: calc(var(--baseline) * 1.5 * 1rem);
  list-style-position: inside;
}

#main-content-wrapper ol li,
#main-content-wrapper ul li {
  margin: 0 0 0.5rem;
}

#main-content-wrapper ol li {
  text-indent: -1.5rem;
}

#main-content-wrapper ul li {
  text-indent: -1.35rem;
}

/* ol circle numbers */
ol {
  list-style: none;
  counter-reset: circle-numbers;
}

ol li {
  counter-increment: circle-numbers;
}

ol li::before {
  content: counter(circle-numbers) ".";
  margin: 0 0.5em 0 0;
  font-weight: bold;
  font-weight: 700;
}

#main-content-wrapper img {
  margin: 0;
  width: 100%;
  height: auto;
}

/* unique typographic patterns */
#main-content-wrapper .circle-number ol,
#main-section-wrapper .circle-number ol {
  list-style: none;
  counter-reset: circle-numbers;
  margin: 0 0 1rem 0;
}

#main-content-wrapper .circle-number ol li,
#main-section-wrapper .circle-number ol li {
  counter-increment: circle-numbers;
  margin: 0 0 1.25rem 2.25rem;
  text-indent: 0;
  line-height: calc(var(--baseline) * 1.35 * 1rem);
}

#main-content-wrapper .circle-number ol li::before,
#main-section-wrapper .circle-number ol li::before {
  content: counter(circle-numbers);
  display: inline-block;
  float: left;
  margin: 2px 0.5rem 0 -2.25rem;
  padding: 0;
  width: 24px;
  height: 24px;
  font-family: "Antenna Condensed Bold", sans-serif;
  font-size: 0.85rem;
  line-height: calc(var(--baseline) * 1.25 * 1rem);
  text-align: center;
  color: #ffffff;
  background-color: #000;
  border-radius: 50%;
}

/* blockquote */
.blockquote-wrapper {
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
}

blockquote {
  display: block;
  margin: 2em auto;
  padding: 2em 0;
  width: 80%;
  font-family: "Antenna Condensed Bold", sans-serif;
  font-size: 1.85rem;
  font-weight: 400;
  line-height: calc(var(--baseline) * 2.85 * 1rem);
  letter-spacing: -0.0125em;
  text-align: center;
  border-top: solid 1px #888888;
  border-bottom: solid 1px #888888;
}

div.uppercase > blockquote {
  width: 80%;
  text-transform: uppercase;
}

blockquote cite {
  display: block;
  margin: 1em auto;
  padding: 0;
  width: 100%;
  font-family: "Antenna Condensed Light", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: calc(var(--baseline) * 1.35 * 1rem);
  letter-spacing: -0.0125em;
  text-align: center;
  text-transform: uppercase;
}

/* numbers */
.number-display h1,
.number-lg h1,
.number-md h2,
.number-sm h3 {
  margin: 0 0 0.125em 0;
  font-family: "Antenna Condensed Bold", sans-serif !important;
  letter-spacing: -0.0125em;
  text-transform: uppercase;
}

.number-lg h1 {
  font-size: 4.75rem;
}

.number-md h2 {
  font-size: 3.5rem;
}

.number-sm h3 {
  font-size: 2.5rem;
}

.number-display h1 {
  font-size: 7rem;
  line-height: 1 !important;
  letter-spacing: -0.025em;
}

/* infobox */
.infobox {
  padding: 2em;
  background-color: #e1e1e1;
}

.infobox p:last-of-type {
  margin-bottom: calc(var(--baseline) * 0 * 1rem);
}

/* hightlights */
p span.highlight {
  padding: 0.25rem;
  border-radius: 0.25rem;
}

p span.highlight.bg-info {
  background: #fed97e;
}

p span.highlight.bg-success {
  color: #ffffff;
  background: #00aeba;
}

p span.highlight.bg-warning {
  color: #ffffff;
  background: #fa9b44;
}

p span.highlight.bg-danger {
  color: #ffffff;
  background: #8d0034;
}

/* END - TYPOGRAPHY - CSS */
/* BUTTONS */
/* covers symantic button and div .button a */
/* buttons */
/* this might need to be edited for card specific only IMPORTANT !!! */
/* button */
button, .button,
.content-columns-varied .col-flex .card-body .button,
.content-columns-varied .col-flex .card-body .button a {
  display: block;
  margin: 0;
  padding: 0;
  width: auto;
  height: auto;
  font-family: "Antenna Condensed Bold", "Arial", sans-serif;
  font-size: 1rem;
  line-height: 1.35;
  letter-spacing: 0.0125rem;
  word-spacing: 0.125rem;
  color: #8d0034 !important;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none !important;
  border: solid 1px #8d0034 !important;
  border-radius: 0.33rem;
  background: none;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

button {
  margin: 0.75rem 0;
  padding: 0.625rem 1rem 0.5rem;
}

.content-columns-varied .col-flex .card-body .button {
  margin: 0.75rem 0;
}

.content-columns-varied .col-flex .card-body .button a {
  box-sizing: border-box;
  padding: 0.625rem 1rem 0.5rem;
  border: none !important;
}

button:hover, .button:hover,
.content-columns-varied .col-flex .card-body .button:hover,
.content-columns-varied .col-flex .card-body .button a:hover {
  cursor: pointer;
}

button, button a, .button, .button a,
.content-columns-varied .col-flex .button,
.content-columns-varied .col-flex .button a,
.content-columns-varied .col-flex button {
  width: 100%;
  color: #8d0034;
  text-decoration: none;
}

button:focus, button a:focus, .button a:focus {
  outline: 3px solid #ffffff;
  outline-offset: -3px;
  border-radius: 0.33rem !important;
  -moz-outline-border: 0.33rem;
}

.button a:focus {
  outline-offset: 0;
}

button:hover, button a:hover, .button:hover, .button a:hover,
.content-columns-varied .col-flex .button:hover,
.content-columns-varied .col-flex .button a:hover,
.content-columns-varied .col-flex button:hover {
  color: #f1f1f1 !important;
  background-color: #8d0034;
}

button.maroon,
button.patina,
.button-maroon button,
.button-patina button,
.button-gold button,
.button-maroon .button,
.button-patina .button,
.button-maroon .button a,
.button-patina .button a,
.content-columns-varied .col-flex .card-body .button-maroon .button,
.content-columns-varied .col-flex .card-body .button-patina .button,
.content-columns-varied .col-flex .card-body .button-gold .button,
.content-columns-varied .col-flex .card-body .button-maroon .button a,
.content-columns-varied .col-flex .card-body .button-patina .button a,
.content-columns-varied .col-flex .card-body .button-gold .button a {
  color: #ffffff !important;
  border: none !important;
}

button.gold button,
button.gold .button,
.content-columns-varied .col-flex .card-body .button-gold button,
.content-columns-varied .col-flex .card-body .button-gold .button,
.content-columns-varied .col-flex .card-body .button-gold .button a {
  color: #ffffff !important;
}

button.gold .button:hover,
button.gold button:hover {
  color: #ffffff;
}

.button-maroon button, .button-maroon .button, .button-maroon .button a, .content-columns-varied .col-flex .card-body .button-maroon .button a {
  background-color: #8d0034;
}

.button-patina button, .button-patina .button, .button-patina .button a, .content-columns-varied .col-flex .card-body .button-patina .button a {
  background-color: #0096a0;
}

.button-gold button, .button-gold .button, .button-gold .button a, .content-columns-varied .col-flex .card-body .button-gold .button a {
  background-color: #f2b724;
}

.button-maroon button:hover, .button-maroon .button:hover, .button-maroon .button a:hover {
  background-color: #5d0024 !important;
}

.button-patina button:hover, .button-patina .button:hover, .button-patina .button a:hover {
  background-color: #00363a !important;
}

.button-gold button:hover, .button-gold .button:hover, .button-gold .button a:hover {
  background-color: #f98e2b !important;
}

.media-cards.media-cards-horizontal .card-body .col-flex button {
  width: auto;
}
@media (max-width: 767px) {
  .media-cards.media-cards-horizontal .card-body .col-flex button {
    width: 100%;
  }
}

/* VARIABLES - BACKGROUND-COLOR */
/* WHITE - BACKGROUND */
.bg-white {
  background-color: #ffffff;
}

/* OVERLAY - BACKGROUND */
.bg-overlay {
  background-color: rgba(0, 0, 0, 0.5);
}

.bg-overlay-dark {
  background-color: rgba(0, 0, 0, 0.7);
}

.bg-overlay-extra-dark {
  background-color: rgba(0, 0, 0, 0.9);
}

.bg-overlay-light {
  background-color: rgba(0, 0, 0, 0.3);
}

.bg-overlay-extra-light {
  background-color: rgba(0, 0, 0, 0.1);
}

/* MAROON - BACKGROUND */
.maroon {
  background-color: #8d0034;
}

.maroon-dark {
  background-color: #27000e;
}

.maroon-extra-dark {
  background-color: black;
}

.maroon-light {
  background-color: #f3005a;
}

.maroon-extra-light {
  background-color: #ff5a97;
}

/* BRICK - BACKGROUND */
.brick {
  background-color: #5d0024;
}

.brick-dark {
  background-color: black;
}

.brick-extra-dark {
  background-color: black;
}

.brick-light {
  background-color: #c3004b;
}

.brick-extra-light {
  background-color: #ff2a7c;
}

/* GOLD - BACKGROUND */
.gold {
  background-color: #febc18;
}

.gold-dark {
  background-color: #af7d01;
}

.gold-extra-dark {
  background-color: #4a3500;
}

.gold-light {
  background-color: #fed97e;
}

/* PATINA - BACKGROUND */
.patina {
  background-color: #0096a0;
}

.patina-dark {
  background-color: #00363a;
}

.patina-extra-dark {
  background-color: black;
}

.patina-light {
  background-color: #07f0ff;
}

.patina-extra-light {
  background-color: #6df6ff;
}

/* TERRACOTTA - BACKGROUND */
.terracotta {
  background-color: #b68967;
}

.terracotta-dark {
  background-color: #7c573b;
}

.terracotta-extra-dark {
  background-color: #37271a;
}

.terracotta-light {
  background-color: #dfccbd;
}

.terracotta-extra-light {
  background-color: #f0e7e0;
}

/* OPUS - BACKGROUND */
.opus {
  background-color: #f98e2b;
}

.opus-dark {
  background-color: #b95c05;
}

.opus-extra-dark {
  background-color: #562a02;
}

.opus-light {
  background-color: #fcc38e;
}

.opus-extra-light {
  background-color: #fff8f1;
}

/* GRAY  - BACKGROUND */
.gray {
  background-color: #888888;
}

.gray-dark {
  background-color: #555555;
}

.gray-extra-dark {
  background-color: #222222;
}

.gray-light {
  background-color: #bbbbbb;
}

.gray-extra-light {
  background-color: #eeeeee;
}

/* COPPER - BACKGROUND */
.copper {
  background-color: #b4af95;
}

.copper-dark {
  background-color: #857f5e;
}

.copper-extra-dark {
  background-color: #494634;
}

.copper-light {
  background-color: #dedcd1;
}

.copper-extra-light {
  background-color: white;
}

/* VARIABLES - FONT COLOR */
/* MAROON - COLOR */
.text-maroon {
  color: #8d0034;
}

.text-maroon-dark {
  color: #27000e;
}

.text-maroon-extra-dark {
  color: black;
}

.text-maroon-light {
  color: #f3005a;
}

.text-maroon-extra-light {
  color: #ff5a97;
}

/* GOLD - COLOR */
.text-gold {
  color: #febc18;
}

.text-gold-dark {
  color: #af7d01;
}

.text-gold-extra-dark {
  color: #4a3500;
}

.text-gold-light {
  color: #fed97e;
}

/* PATINA - COLOR */
.text-patina {
  color: #0096a0;
}

.text-patina-dark {
  color: #00363a;
}

.text-patina-extra-dark {
  color: black;
}

.text-patina-light {
  color: #07f0ff;
}

.text-patina-extra-light {
  color: #6df6ff;
}

/* TERRACOTTA - COLOR */
.text-terracotta {
  color: #b68967;
}

.text-terracotta-dark {
  color: #7c573b;
}

.text-terracotta-extra-dark {
  color: #37271a;
}

.text-terracotta-light {
  color: #dfccbd;
}

.text-terracotta-extra-light {
  color: #f0e7e0;
}

/* GRAY - COLOR */
.text-gray {
  color: #888888;
}

.text-gray-dark {
  color: #555555;
}

.text-gray-extra-dark {
  color: #222222;
}

.text-gray-light {
  color: #bbbbbb;
}

.text-gray-extra-light {
  color: #eeeeee;
}

/* COPPER - COLOR */
.text-copper {
  color: #b4af95;
}

.text-copper-dark {
  color: #857f5e;
}

.text-copper-extra-dark {
  color: #494634;
}

.text-copper-light {
  color: #dedcd1;
}

.text-copper-extra-light {
  color: white;
}

/* END - COLOR */
/* COLOR GRID */
#color-palette .grid-wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 0.5em;
  padding: 0;
  width: 100%;
  max-width: 100%;
}

#color-palette .grid-wrapper .grid-item {
  box-sizing: border-box;
  margin: 0;
  padding: 0.5em;
  width: auto;
  height: 100%;
}

#color-palette span {
  display: block;
  box-sizing: border-box;
  margin: 0 0 0.33em;
  padding: 0;
  width: 100%;
  font-family: "Antenna", sans-serif;
  color: #ffffff;
  font-size: 0.75rem;
  line-height: 1.35;
  text-transform: uppercase;
}

/* END CSS */