body {
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}
#main-section-wrapper {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: hidden;
}
#main-section-wrapper .container {
  margin: 0 auto;
  padding: 3rem 0;
  width: 80%;
}
#main-section-wrapper .container.container-50 {
  width: 50%;
}
