<section id="color-palette">
	<h5>Color palette</h5>
	<div class="padding-md"></div>
	<div class="grid-wrapper-min-max">
	<!-- MAROON -->
		<div class="grid-item grid-square grid-square-hide" data-id="Maroon Extra Dark"></div>
		<div class="grid-item grid-square maroon-dark" data-id="Maroon Dark"></div>
		<div class="grid-item grid-square maroon" data-id="Maroon"></div>
		<div class="grid-item grid-square grid-square-hide" data-id="Maroon Light"></div>
		<div class="grid-item grid-square grid-square-hide" data-id="Maroon Extra Light"></div>
	<!-- BRICK -->
		<div class="grid-item grid-square grid-square-hide" data-id="Brick Extra Dark"></div>
		<div class="grid-item grid-square grid-square-hide" data-id="Brick Dark"></div>
		<div class="grid-item grid-square brick" data-id="Brick"></div>
		<div class="grid-item grid-square grid-square-hide" data-id="Brick Light"></div>
		<div class="grid-item grid-square grid-square-hide" data-id="Brick Extra Light"></div>
	<!-- GOLD -->
		<div class="grid-item grid-square gold-extra-dark" data-id="Gold Extra Dark"></div>
		<div class="grid-item grid-square gold-dark" data-id="Gold Dark"></div>
		<div class="grid-item grid-square gold" data-id="Gold"></div>
		<div class="grid-item grid-square gold-light" data-id="Gold Light"></div>
		<div class="grid-item grid-square gold-extra-light grid-square-hide" data-id="Gold Extra Light"></div>
	<!-- PATINA -->
		<div class="grid-item grid-square grid-square-hide" data-id="Patina Extra Dark"></div>
		<div class="grid-item grid-square patina-dark" data-id="Patina Dark"></div>
		<div class="grid-item grid-square patina" data-id="Patina"></div>
		<div class="grid-item grid-square grid-square-hide" data-id="Patina Light"></div>
		<div class="grid-item grid-square grid-square-hide" data-id="Patina Extra Light"></div>
		<!-- OPUS -->
		<div class="grid-item grid-square terracotta-extra-dark" data-id="Terracotta Extra Dark"></div>
		<div class="grid-item grid-square terracotta-dark" data-id="Terracotta Dark"></div>
		<div class="grid-item grid-square terracotta" data-id="Terracotta"></div>
		<div class="grid-item grid-square terracotta-light" data-id="Terracotta Light"></div>
		<div class="grid-item grid-square terracotta-extra-light" data-id="Terracotta Extra Light"></div>
	<!-- OPUS -->
		<div class="grid-item grid-square opus-extra-dark" data-id="Opus Extra Dark"></div>
		<div class="grid-item grid-square opus-dark" data-id="Opus Dark"></div>
		<div class="grid-item grid-square opus" data-id="Opus"></div>
		<div class="grid-item grid-square grid-square-hide" data-id="Opus Light"></div>
		<div class="grid-item grid-square grid-square-hide" data-id="Opus Extra Light"></div>
	<!-- GRAY -->
		<div class="grid-item grid-square gray-extra-dark" data-id="Gray Extra Dark"></div>
		<div class="grid-item grid-square gray-dark" data-id="Gray Dark"></div>
		<div class="grid-item grid-square gray" data-id="Gray"></div>
		<div class="grid-item grid-square gray-light" data-id="Gray Light"></div>
		<div class="grid-item grid-square gray-extra-light" data-id="Gray Extra Light"></div>
	<!-- COPPER -->
		<div class="grid-item grid-square copper-extra-dark" data-id="Copper Extra Dark"></div>
		<div class="grid-item grid-square copper-dark" data-id="Copper Dark"></div>
		<div class="grid-item grid-square copper" data-id="Copper"></div>
		<div class="grid-item grid-square copper-light" data-id="Copper Light"></div>
		<div class="grid-item grid-square grid-square-hide" data-id="Copper Extra Light"></div>
	<!-- BG-OVERLAY -->
		<div class="grid-item grid-square bg-overlay-extra-dark" data-id="Overlay Extra Dark"><p class="bg">rgba(0,0,0,.85)</p></div>
		<div class="grid-item grid-square bg-overlay-dark" data-id="Overlay Dark"><p class="bg">rgba(0,0,0,.7)</p></div>
		<div class="grid-item grid-square bg-overlay" data-id="Overlay"><p class="bg">rgba(0,0,0,.5)</p></div>
		<div class="grid-item grid-square bg-overlay-light" data-id="Overlay Light"><p class="bg">rgba(0,0,0,.35)</p></div>
		<div class="grid-item grid-square bg-overlay-extra-light" data-id="Overlay Extra Light"><p class="bg">rgba(0,0,0,.2)</p></div>
	</div>
</section>

<div class="padding-lg"></div>

<section>
	<h5>
		Backgrounds - <span style="font-family: 'Antenna Light', sans-serif;">Panels only</span>
	</h5>
	<div class="padding-md"></div>
	<h5>Gray Extra Light</h5>
	<div style="height: 10rem;" class="container-fluid bg-gray-extra-light"></div>
	<hr class="padding-divider">
	</hr>
	<footnote>Background option. Applied to "container-fluid". Must add class "bg-gray-extra-light"</footnote>
	<div class="padding-md"></div>
	<h5>Terracotta Light</h5>
	<div style="height: 10rem;" class="container-fluid bg-terracotta-extra-light"></div>
	<hr class="padding-divider">
	</hr>
	<footnote>Background option. Applied to "container-fluid". Must add class "bg-terracotta-extra-light"</footnote>
	<div class="padding-md"></div>
	<h5>Maroon</h5>
	<div style="height: 10rem;" class="container-fluid bg-maroon"></div>
	<hr class="padding-divider">
	</hr>
	<footnote>Background option. Applied to "container-fluid". Must add class "bg-maroon"</footnote>
	<div class="padding-md"></div>
	<h5>Gold</h5>
	<div style="height: 10rem;" class="container-fluid bg-gold"></div>
	<hr class="padding-divider">
	</hr>
	<footnote>Background option. Applied to "container-fluid". Must add class "bg-gold"</footnote>
	<div class="padding-md"></div>
	<h5>Overlay</h5>
	<div style="height: 10rem;" class="container-fluid bg-overlay"></div>
	<hr class="padding-divider">
	</hr>
	<footnote>Background option. Applied to "container-fluid". Must add class "bg-overlay"</footnote>
	<div class="padding-md"></div>
	<h5>No Background</h5>
	<div style="height: 10rem; border: dashed 1px #cccccc;" class="container-fluid bg-none"></div>
	<hr class="padding-divider">
	</hr>
	<footnote>Background option. Applied to "container-fluid". Must add class "bg-none"</footnote>
</section>
