<section id="color-palette">
	<h5>Color palette</h5>
	<div class="padding-md"></div>
		<h5>Primary Colors</h5>
	<!-- MAROON -->
		<div class="padding-sm"></div>
		<h6>Maroon</h6>
		<div class="grid-wrapper-min-max">
			<div class="grid-item grid-square maroon" data-id="Maroon"></div>
		</div>
	<!-- GOLD -->
		<div class="padding-sm"></div>
		<h6>Gold</h6>
		<div class="grid-wrapper-min-max">
			<div class="grid-item grid-square gold" data-id="Gold"></div>
		</div>

		<div class="padding-lg"></div>

		<h5>Neutral Tertiary Colors</h5>
	<!-- GRAY -->
		<div class="padding-sm"></div>
		<h6>Gray</h6>
		<div class="grid-wrapper-min-max">
			<div class="grid-item grid-square gray-extra-dark" data-id="Gray Extra Dark"></div>
			<div class="grid-item grid-square gray-dark" data-id="Gray Dark"></div>
			<div class="grid-item grid-square gray" data-id="Gray"></div>
			<div class="grid-item grid-square gray-light" data-id="Gray Light"></div>
			<div class="grid-item grid-square gray-extra-light" data-id="Gray Extra Light"></div>
		</div>
	<!-- COPPER -->
		<div class="padding-sm"></div>
		<h6>Copper</h6>
		<div class="grid-wrapper-min-max">
			<div class="grid-item grid-square copper-extra-dark" data-id="Copper Extra Dark"></div>
			<div class="grid-item grid-square copper-dark" data-id="Copper Dark"></div>
			<div class="grid-item grid-square copper" data-id="Copper"></div>
			<div class="grid-item grid-square copper-light" data-id="Copper Light"></div>
			<div class="grid-item grid-square copper-extra-light" data-id="Copper Extra Light"></div>
		</div>
	<!-- BG-OVERLAY -->
		<div class="padding-sm"></div>
		<h6>Background Ovelay - Semi-transparent black</h6>
		<div class="grid-wrapper-min-max">
			<div class="grid-item grid-square bg-overlay-extra-dark" data-id="Overlay Extra Dark"><p class="bg">rgba(0,0,0,.85)</p></div>
			<div class="grid-item grid-square bg-overlay-dark" data-id="Overlay Dark"><p class="bg">rgba(0,0,0,.7)</p></div>
			<div class="grid-item grid-square bg-overlay" data-id="Overlay"><p class="bg">rgba(0,0,0,.5)</p></div>
			<div class="grid-item grid-square bg-overlay-light" data-id="Overlay Light"><p class="bg">rgba(0,0,0,.35)</p></div>
			<div class="grid-item grid-square bg-overlay-extra-light" data-id="Overlay Extra Light"><p class="bg">rgba(0,0,0,.2)</p></div>
		</div>

		<div class="padding-lg"></div>

		<h5>Exculsive Colors</h5>
	<!-- GOLD PREMIERE -->
		<h6>Gold Premiere - Exclusivly for priemere events</h6>
		<div class="grid-wrapper-min-max">
			<div class="grid-item grid-square gold-premiere" data-id="Gold Premiere"></div>
		</div>
</section>

<div class="padding-lg"></div>

<section>
	<h5>
		Backgrounds - <span style="font-family: 'Antenna Light', sans-serif;">Panels only</span>
	</h5>
	<div class="padding-md"></div>
	<h5>Gray Extra Light</h5>
	<div style="height: 10rem;" class="container-fluid bg-gray-extra-light"></div>
	<hr class="padding-divider">
	</hr>
	<footnote>Background option. Applied to "container-fluid". Must add class "bg-gray-extra-light"</footnote>
	<div class="padding-md"></div>
	<h5>Maroon</h5>
	<div style="height: 10rem;" class="container-fluid bg-maroon"></div>
	<hr class="padding-divider">
	</hr>
	<footnote>Background option. Applied to "container-fluid". Must add class "bg-maroon"</footnote>
	<div class="padding-md"></div>
	<h5>Gold</h5>
	<div style="height: 10rem;" class="container-fluid bg-gold"></div>
	<hr class="padding-divider">
	</hr>
	<footnote>Background option. Applied to "container-fluid". Must add class "bg-gold"</footnote>
	<div class="padding-md"></div>
	<h5>Overlay</h5>
	<div style="height: 10rem;" class="container-fluid bg-overlay"></div>
	<hr class="padding-divider">
	</hr>
	<footnote>Background option. Applied to "container-fluid". Must add class "bg-overlay"</footnote>
	<div class="padding-md"></div>
	<h5>No Background</h5>
	<div style="height: 10rem; border: dashed 1px #cccccc;" class="container-fluid bg-none"></div>
	<hr class="padding-divider">
	</hr>
	<footnote>Background option. Applied to "container-fluid". Must add class "bg-none"</footnote>
</section>
