/* http://timpietrusky.com/advanced-checkbox-hack */

@-webkit-keyframes androidbugfix {
  from {
      padding: 0
  }
  to {
      padding: 0
  }
}
nav#sliding-menu-interior {
  margin: 1rem 0;
  background: none;
}

#menu {
  overflow: hidden;
}

#menu-wrapper {
  display: block;
  position: relative;
  margin: 1rem 0;
  width: auto;
  height: 60vh;
  background: none;
  overflow: hidden;
}

/* font */

#menu .sub-nav .toggle,
#menu .toggle-sub,
#menu li.sub-heading,
#menu li a {
  font-family: 'Antenna Condensed Light', sans-serif;
  font-size: clamp(#{$font-step-085}, #{$font-step-085} + 3.5vw, #{$font-step-085});
  line-height: clamp(#{$line-step-1-25}, #{$line-step-1-25} + 3.5vw, #{$line-step-1-25});
  color: $gray-extra-dark;
  text-transform: uppercase;
}

#menu .sub-nav .toggle,
#menu li.sub-heading {
  font-family: 'Antenna Condensed Bold', sans-serif;
}

/* menu - sub-nav */

#menu {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  background: none;
  overflow: hidden;
  z-index: 9999;
}

#menu .sub-nav {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: -1px 0 0 0 !important;
  width: 100%;
  background: $white;
  z-index: 0;
  left: 0;
}

#menu,
#menu .sub-nav {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  -webkit-transition: -webkit-transform .25s ease;
  transition: transform .25s ease;
}

/* checkboxes */

#main-nav-check,
#menu .sub-nav-check {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

/* menus - ul - li - a */

/* back */
#menu li.sub-heading .toggle {
  background: $maroon;
  color: $gray-extra-light;
  transition: .2s;
}

#menu li.sub-heading .toggle:hover {
  background: $brick;
  color: $white;
}

/* menu header */
#menu li.sub-heading {
  background: $gray;
  color: $gray-extra-light;
}

/* menu item */
#menu ul,
#menu li a,
#menu .sub-heading:before {
  background: $gray-extra-light;
  transition: .2s;
}

/* menu item hover */
#menu li a:hover {
  background: darken($gray-extra-light, 10%);
}

/* arrow */
#menu .toggle-sub {
  background: $gray-light;
}

/* arrow hover */
#menu .toggle-sub:hover {
  background: darken($gray-light, 5%);
}

#menu ul {
  margin: 0 !important;
  padding: 0;
  line-height: clamp(#{$line-step-2-75}, #{$line-step-2-75} + 3.5vw, #{$line-step-2-75});
  list-style: none;
  text-decoration: none;
  border-top: solid 1px $gray-light;
}

#menu li {
  margin: 0 !important;
  padding: 0;
  text-indent: 0 !important;
}

#menu li a {
  display: block;
  margin: 0;
  padding: 1rem 0 1rem 1rem;
  text-decoration: none;
  border-bottom: solid 1px $gray-light;
}

/* sub heading */

#menu li.sub-heading {
  margin: 3rem 0 0 !important;
  padding: 0 1rem 1rem;
  height: auto;
  border-bottom: solid 1px $gray-light;
}

#menu .sub-heading {
  margin-top: calc(1.25rem + 1.75rem);
}

#menu li.sub-heading .toggle {
  margin-bottom: 0;
}

#menu .sub-heading:before {
  display: block;
  margin: 0 -1rem 1rem;
  width: calc(100% + 2rem);
  height: 1px;
  content: "";
}

/* this is the arrow nav */

#menu .sub-nav .toggle {
  box-sizing: border-box;
  padding: 1rem;
  width: 100%;
  top: 0;
  text-align: left;
}

.toggle {
  position: absolute;
  left: 0;
  margin: 0 0 1rem;
  cursor: pointer;
}

#menu .toggle-sub {
  float: right;
  margin-top: -3.15rem;
  margin-right: 0;
  padding: 1.125rem 0.25rem 0.85rem;
  width: 3em;
  text-align: center;
  cursor: pointer;
  border: none;
}

#menu,
#menu .sub-nav {
  -webkit-transform: translate3d(0, 0, 0);
}


/* http://davidwalsh.name/translate3d */

/* #### - corrects 'unfixing' bug in Safari - uncomment if you have position:fixed elements inside .container - #### */

/* @media screen and (-webkit-min-device-pixel-ratio:0) { .container { -webkit-transform:none !important } } */

/* #### - define ids of animated container, menu and sub-menus here - #### */



/* resets the menu to main level */

#menu .sub-nav {
  -webkit-transform: translate(100%, 0);
  -ms-transform: translate(100%, 0);
  transform: translate(100%, 0);
  transition: left .2s;
}

#main-nav-check:checked ~ .container,
#main-nav-check:checked ~ #menu,
#menu .sub-nav-check:checked ~ [id$="-sub"]
/* matches all elements with id ending "-sub" */
{
  -webkit-transform: translate(100%, 0);
  -ms-transform: translate(100%, 0);
  transform: translate(100%, 0);
  left: -100%;
}
