#main-content-wrapper,
#main-content-wrapper-full-width {
    #pagination {
        width: 100%;
        ul {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(2rem, 1fr));
            justify-items: center;
            margin: 0 auto;
            padding: 0;
            width: 100%;
            min-width: 80%;
            li {
                display: inline;
                margin: 0 auto;
                padding: 1rem;
                width: 100%;
                text-indent: unset;
                text-align: center;
                background-color: $gray-extra-light;
                .previous,
                .next {
                    background-color: #ffffff !important;
                }
                a {
                    margin: 0;
                }
            }
        }
    }
}

#main-content-wrapper,
#main-content-wrapper-full-width {
    #pagination {
        width: 100%;
        ul {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(2rem, 1fr));
            justify-items: center;
            margin: 0 auto;
            padding: 0;
            width: 100%;
            min-width: 80%;
            li {
                display: inline;
                margin: 0 auto;
                padding: 1rem;
                width: 100%;
                text-indent: unset;
                text-align: center;
                background: $gray-extra-light;
                a {
                    margin: 0;
                }
            }
        }
    }
}
#main-content-wrapper #pagination ul li.previous,
#main-content-wrapper #pagination ul li.next,
#main-content-wrapper-full-width #pagination ul li.previous,
#main-content-wrapper-full-width #pagination ul li.next {
    text-transform: uppercase;
    color: $white;
    background: $maroon;

    a {
        color: $white;
        background: none;
    }
}
#main-content-wrapper #pagination ul li.selected,
#main-content-wrapper-full-width #pagination ul li.selected {
    background: $maroon !important;
}