/* PADDING */

.padding-lg, .padding-md, .padding-sm, .padding-xsm {
  background: none;
}
.padding-lg {
  padding: 3rem;
  @include tablet-portrait {
    padding: 2rem;
  }
  @include phone-portrait {
    padding: 1rem;
  }
}

.padding-md {
  padding: 2rem;
  @include tablet-portrait {
    padding: 1rem;
  }
  @include phone-portrait {
    padding: 1rem;
  }
}

.padding-sm {
  padding: 1rem;
}

.padding-xsm {
  padding: .5rem;
}

hr .padding-divider{
  padding-top: 1rem;
  padding-bottom: 1rem;
}

/* margins */

.margin-none { margin: 0 !important; }

.m-t-xsm { margin: 0 0 .75rem !important; }
.m-t-sm { margin: 0 0 1rem !important; }
.m-t-md { margin: 0 0 1.5rem !important; }
.m-t-lg { margin: 0 0 2rem !important; }

.m-b-xsm { margin: 0 0 .5rem !important; }
.m-b-sm { margin: 0 0 1rem !important; }
.m-b-md { margin: 0 0 1.5rem !important; }
.m-b-lg { margin: 0 0 2rem !important; }

/* 580 */
/*
@media only screen and (max-width: 580px) {
  .divider-sm { padding: 1em 0; }
  .divider-xsm { padding: .5em 0; }
  .divider-xsm-collapse { padding: 0; }
}
*/
