/* FONTS - http://www.webtype.com */

@font-face {
  font-family: "Arnhem Blond";
  src: url("../fonts/arnhem_blond/ArnhemPro-Blond.eot"),
       url("../fonts/arnhem_blond/ArnhemPro-Blond.woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Arnhem Blond Italic";
  src: url("../fonts/arnhem_blond_italic/ArnhemPro-BlondItalic.eot"),
       url("../fonts/arnhem_blond_italic/ArnhemPro-BlondItalic.woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Arnhem Bold";
  src: url("../fonts/arnhem_bold/ArnhemPro-Bold.eot"),
       url("../fonts/arnhem_bold/ArnhemPro-Bold.woff");
	font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Arnhem Bold Italic";
  src: url("../fonts/arnhem_bold_italic/ArnhemPro-BoldItalic.eot"),
       url("../fonts/arnhem_bold_italic/ArnhemPro-BoldItalic.woff");
	font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Arnhem Black";
  src: url("../fonts/arnhem_black/ArnhemPro-Black.eot"),
       url("../fonts/arnhem_black/ArnhemPro-Black.woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Arnhem Black Italic";
  src: url("../fonts/arnhem_black_italic/ArnhemPro-BlackItalic.eot"),
       url("../fonts/arnhem_black_italic/ArnhemPro-BlackItalic.woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Arnhem Fine";
  src: url("../fonts/arnhem_fine/ArnhemFinePro-Normal.eot"),
       url("../fonts/arnhem_fine/ArnhemFinePro-Normal.woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Arnhem Fine Italic";
  src: url("../fonts/arnhem_fine_italic/ArnhemFinePro-NormalItalic.eot"),
       url("../fonts/arnhem_fine_italic/ArnhemFinePro-NormalItalic.ttf");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Arnhem Fine Medium";
  src: url("../fonts/arnhem_fine_medium/ArnhemFinePro-Medium.eot"),
			 url("../fonts/arnhem_fine_medium/ArnhemFinePro-Medium.ttf");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Arnhem Fine Medium Italic";
  src: url("../fonts/arnhem_fine_medium_italic/ArnhemFinePro-MediumItalic.eot"),
			 url("../fonts/arnhem_fine_medium_italic/ArnhemFinePro-MediumItalic.ttf");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Arnhem Fine Semibold";
  src: url("../fonts/arnhem_fine_semibold/ArnhemFinePro-SemiBold.eot"),
			 url("../fonts/arnhem_fine_semibold/ArnhemFinePro-SemiBold.ttf");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Arnhem Fine Semibold Italic";
  src: url("../fonts/arnhem_fine_semibold_italic/ArnhemFinePro-SemiBdItalic.eot"),
			 url("../fonts/arnhem_fine_semibold_italic/ArnhemFinePro-SemiBdItalic.ttf");
  font-style: normal;
  font-weight: normal;
}

/* END - ARNHEM */
