/* TYPOGRAPHY */

/* overrides */

.center { text-align: center; }

.uppercase { text-transform: uppercase; }

/* base typography */

html { font-size: 100%; } /* matches browsers default */

body {
  font-family: 'Arial', sans-serif;
  color: $black;
  background-color: none;
}

p, ul, ol {
  color: lighten($gray-extra-dark,3%);
}

a {
  cursor: hand !important;
}

/* cursor - global */
button, button:hover,
button a, button a:hover {
  cursor: pointer !important;
}

h1, h2, h3, h4, h5, h6, .light h6 {
  display: block;
  margin: 0;
  margin: 0 0 1rem;
  margin-bottom: rvr(1);
  width: 100%;
  font-family: 'Antenna Condensed Bold', sans-serif;
  font-weight: 400;
  letter-spacing: -.02rem;
  a {
    cursor: pointer;
  }
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: .65rem;
  margin-bottom: rvr(.65);
}

h1,h2 {
  font-size: 3.75rem;
  line-height: 3.75;
  line-height: rvr(3.75);
  @include phone-portrait {
    font-size: 3rem;
    line-height: 3;
    line-height: rvr(3);
  }
}

h3 {
  font-family: 'Antenna Condensed Light', sans-serif;
  font-size: 2.5rem;
  line-height: 2.5;
  line-height: rvr(2.5);
  @include phone-portrait {
    font-size: 2rem;
    line-height: 2;
    line-height: rvr(2);
  }
}

h4 {
  font-size: 2rem;
  line-height: 1.35;
  line-height: rvr(2);
  @include phone-portrait {
    font-size: 1.6rem;
    line-height: 1.35;
    line-height: rvr(1.6);
  }
}

.content-columns-varied.four-column-build h4,
.content-columns-varied.one-column-build.media-cards h4 {
  font-size: 1.65rem;
  line-height: 1.35;
  line-height: rvr(1.85);
  @include phone-portrait {
    font-size: 1.35rem;
    line-height: 1.35;
    line-height: rvr(1.5);
  }
}

.uppercase h2, .uppercase h3, .uppercase h4 {
  text-transform: uppercase;
}

h5 {
  margin-bottom: .5rem;
  margin-bottom: rvr(.5);
  font-size: 1.25rem;
  line-height: 1.6;
  line-height: rvr(1.6);
  text-transform: uppercase;
  @include phone-portrait {
    font-size: 1rem;
    line-height: 1.3;
    line-height: rvr(1.3);
  }
}

h6 {
  margin-bottom: .5rem;
  margin-bottom: rvr(.5);
  font-size: 1.05rem;
  line-height: 1.35;
  line-height: rvr(1.35);
  letter-spacing: 0rem;
  text-transform: uppercase;
  @include phone-portrait {
    font-size: .85rem;
    line-height: 1;
    line-height: rvr(1);
  }
}

h6.category-light {
  font-family: 'Antenna Condensed Light', sans-serif;
}

/* paragraph styling - grouping */

p, .explainer p .standard-paragraph p, .sans-serif, .sans-serif p {
  font-family: 'Arial', sans-serif;
}

p, .explainer p .standard-paragraph p {
  margin: 0;
  margin: 0 0 1rem;
  margin-bottom: rvr(1);
  font-size: 1.125rem;
  line-height: 1.65;
  line-height: rvr(1.65);
  @include phone-portrait {
    font-size: 1.125rem;
    line-height: 1.4;
    line-height: rvr(1.4);
  }
}

.sans-serif, .sans-serif p {
  font-size: 1.125rem;
  line-height: 1.65;
  line-height: rvr(1.65);
  @include phone-portrait {
    font-size: 1.125rem;
  }
}

.explainer p {
  font-style: italic;
  @include phone-portrait {
    margin-bottom: .5rem;
    margin-bottom: rvr(.5);
  }
}

#panel-intro .intro-paragraph > p,
.intro-paragraph > p {
  margin: 0;
  margin-bottom: rvr(1.5);
  font-family: 'Antenna Condensed Light', sans-serif;
  font-size: 1.4rem;
  line-height: 2;
  line-height: rvr(2);
  word-spacing: .075rem;
  @include phone-portrait {
    font-size: 1.25rem;
    line-height: 1.65;
    line-height: rvr(1.65);
  }
}

#panel-intro .caption p {
  font-family: 'Antenna Condensed Light', sans-serif;
  font-size: 1rem;
  line-height: 1.35;
  line-height: rvr(1.35);
  letter-spacing: .0125rem;
  word-spacing: .025rem;
  a { cursor: pointer;
  }
}

.caption p {
  font-family: 'Antenna Condensed Light', sans-serif;
  font-size: 1rem;
  line-height: 1.35;
  line-height: rvr(1.35);
  letter-spacing: .0125rem;
  word-spacing: .025rem;
  a { cursor: pointer;
  }
}

.line-height-tight p {
  line-height: 1.45;
  line-height: rvr(1.45);
}

#panel-table-accordion p {
  font-family: 'Arial', sans-serif;
  font-size: 1.125rem;
  @include phone-portrait {
    margin-bottom: 1.25rem;
    margin-bottom: rvr(1.25);
    font-size: 1rem;
  }
}

/* end paragraph styling */

.leadin {
  text-transform: uppercase;
  font-weight: bold;
  font-weight: 700;
}

.caption .leadin {
  font-family: 'Antenna Condensed Bold';
}

/* inline links - ctas */

a {
  transition: color .3s ease-in-out, background-color .3s ease-in-out;
}

a {
  display: inline;
  font-family: inherit;
  font-weight: 700;
  color: $maroon;
}

p a {
  font-size: inherit;
}

a.cta {
  display: block;
  margin-bottom: 1.5rem;
  width: 100%;
  font-family: 'Antenna Condensed Bold', sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  @include phone-portrait {
    font-size: .85rem;
    line-height: 1.125;
    line-height: rvr(1.125);
  }
}

.card a.cta {
  margin-bottom: 1.5rem;
  margin-bottom: rvr(1.5);
}

small { font-size: 0.7rem; }

footnote { font-style: italic; }

/* typographic specific */

#home h1 {
  font-size: 4.5rem;
  line-height: 4.5;
  line-height: rvr(4.5);
}

.panel-label {
  margin-bottom: 2rem;
  margin-bottom: rvr(2);
}

#main-content-wrapper ol,
#main-content-wrapper ul {
  margin: 0 0 1rem 1.5rem;
  font-size: 1.125rem;
  line-height: 1.65;
  line-height: rvr(1.65);
  list-style-position: inside;
}

#main-content-wrapper ol li,
#main-content-wrapper ul li {
  margin: 0 0 .65rem;
}

#main-content-wrapper ol li {
  text-indent: -1.5rem;
}

#main-content-wrapper ul li {
  text-indent: -1.35rem;
}

/* ol circle numbers */

ol {
  list-style: none;
  counter-reset: circle-numbers;
}

ol li {
  counter-increment: circle-numbers;
}

ol li::before {
  content: counter(circle-numbers) '.';
  margin: 0 .5em 0 0;
  font-weight: bold;
  font-weight: 700;
}

#main-content-wrapper img {
  margin: 0 0 1.5rem;
  width: 100%;
  height: auto;
}

/* unique typographic patterns */

#main-content-wrapper .circle-number ol,
#main-section-wrapper .circle-number ol {
  list-style: none;
  counter-reset: circle-numbers;
  margin: 0 0 1rem 0;
}

#main-content-wrapper .circle-number ol li,
#main-section-wrapper .circle-number ol li {
  counter-increment: circle-numbers;
  margin: 0 0 1.25rem 2.25rem;
  text-indent: 0;
  line-height: 1.35;
  line-height: rvr(1.35);
}

#main-content-wrapper .circle-number ol li::before,
#main-section-wrapper .circle-number ol li::before {
  content: counter(circle-numbers);
  display: inline-block;
  float: left;
  margin: 2px .5rem 0 -2.25rem;
  padding: 0;
  width: 24px;
  height: 24px;
  font-family: 'Antenna Condensed Bold', sans-serif;
  font-size: .85rem;
  line-height: 1.25;
  line-height: rvr(1.25);
  text-align: center;
  color: #ffffff;
  background-color: #000;
  border-radius: 50%;
}

/* blockquote */

.blockquote-wrapper {
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
}

blockquote {
  display: block;
  margin: 2em auto;
  padding: 2em 0;
  width: 80%;
  font-family: 'Antenna Condensed Bold', sans-serif;
  font-size: 1.85rem;
  font-weight: 400;
  line-height: 2.85;
  line-height: rvr(2.85);
  letter-spacing: -.0125em;
  text-align: center;
  border-top: solid 1px $gray;
  border-bottom: solid 1px $gray;
  @include phone-portrait {
    margin: 1em auto;
    padding: 0;
    font-size: 1.45rem;
    line-height: 2.25;
    line-height: rvr(2.25);
    border: 0;
  }
}

div.uppercase > blockquote {
  width: 80%;
  text-transform: uppercase;
}

blockquote cite {
  display: block;
  margin: 1em auto;
  padding: 0;
  width: 100%;
  font-family: 'Antenna Condensed Light', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.35;
  line-height: rvr(1.35);
  letter-spacing: -.0125em;
  text-align: center;
  text-transform: uppercase;
}

blockquote cite:before {
  content: "— ";
}

#panel-intro .grid-area-three blockquote {
  margin: 0;
  padding: 0;
  font-size: 1.235rem;
  line-height: 1.85;
  line-height: rvr(1.85);
  text-align: left;
  border: 0;
  @include phone-portrait {
    font-size: 1.75rem;
    line-height: 2.125;
    line-height: rvr(2.125);
  }
  cite {
    font-size: .975rem;
    text-align: left;
    @include phone-portrait {
      font-size: 1rem;
    }
  }
}

/* numbers */

.number-display h1,
.number-lg h1,
.number-md h2,
.number-sm h3 {
  margin: 0 0 .125em 0;
  font-family: 'Antenna Condensed Bold', sans-serif !important;
  letter-spacing: -.0125em;
  text-transform: uppercase;
}

.number-display h1 {
  font-size: 7rem;
  line-height: 1 !important;
  letter-spacing: -.025em;
  @include phone-portrait {
    font-size: 3.5rem;
  }
}

/* infobox */

.infobox {
  padding: 2em;
  background-color: lighten($gray-light,15%);
}

.infobox p:last-of-type {
  margin-bottom: 0;
  margin-bottom: rvr(0);
}

/* hightlights */

p span.highlight {
  padding: .25rem;
  border-radius: .25rem;
}
p span.highlight.bg-info { background: lighten($gold,20%) }
p span.highlight.bg-success { color: $white; background: lighten($patina,5%); }
p span.highlight.bg-warning { color: $white; background: lighten($opus,5%); }
p span.highlight.bg-danger { color: $white; background: $maroon; }

/* END - TYPOGRAPHY - CSS */
