.maroon-color {
  color: #8d0034;
}

#main-content-wrapper-full-width.main-content-wrapper-documentation {
  padding: 4rem 20% 4rem 10%;
}

#main-content-wrapper-full-width img.terminal-four-icon {
  display: inline;
  margin: 0 .5rem 0 0;
  width: 2.75rem;
  height: auto;
}

#documentation-navigation {
  position: fixed;
  top: 0;
  right: 0;
  padding: .75rem;
  width: 20%;
  background: #e1e1e1;
  nav {
    background: none;
  }
  a {
    display: block;
    margin: .5rem 0;
    width: 100%;
    background: none;
  }
}

.circle-number-key.circle-key-red {
  background: red;
}

#documentation-card-elements {
  .grid-wrapper-min-max.four-column-eight-column {
    grid-gap: 4rem;
  }
}

#documentation-card-elements .image-wrapper,
#documentation-card-elements h6,
#documentation-card-elements .flex-item.content h4,
#documentation-card-elements h5,
#documentation-card-elements .flex-item.content .explainer,
#documentation-card-elements .flex-item.content p,
#documentation-card-elements a.cta,
#documentation-card-elements button,
#documentation-card-elements a.cta {
  position: relative;
}
#card-element-key-one {
  top: 50%;
}
#card-element-key-two {
  top: 0%;
}
#card-element-key-three {
  top: 0%;
}
#card-element-key-four {
  top: 0%;
}
#card-element-key-five {
  top: 0%;
}
#card-element-key-six {
  top: 20%;
}
#card-element-key-seven {
  top: 0%;
}
#card-element-key-eight {
  top: 0%;
  left: 0%;
}
#card-element-key-nine {
  top: 0%;
}

#card-variation-key-one {
  top: 10%;
  left: 30%;
}
#card-variation-key-two {
  top: 50%;
  left: 0%;
}
#card-variation-key-three {
  top: 50%;
  left: 0%;
}
