<section>
	<h3 id="documentation-typography-headlines">
		Headlines
	</h3>
	<div class="padding-xsm"></div>
<!--
	<div class="display">
	<h1>
		H1 hedgeline used as a first-level page or story headline
	</h1>
	</div>
-->
	<h1>
		H1 hedgeline used as a first-level page or story headline
	</h1>
	<h2>
		H2 headline used as a first-level headline combined with h1
	</h2>
	<div class="intro-paragraph">
		<p>
			Lorem ipsum dolor sit amet, consectetur <strong>strong tag here</strong> elit. Etiam gravida leo massa, at elementum orci consequat non. Vestibulum quis sapien metus. Nam porta est in metus imperdiet, nec finibus enim viverra. Ut ultricies orci vel dapibus pharetra. Morbi in purus id erat sollicitudin pulvinar. <span><a class="cta" href="#">Link</a></span>
		</p>
	</div>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam gravida leo massa, at elementum orci consequat non. Vestibulum quis sapien metus. Nam porta est in metus imperdiet, nec finibus <a href="javascript:void(0);" title="link">vel magna pharetra</a> enim viverra. Ut ultricies orci vel dapibus pharetra. Morbi in purus id erat sollicitudin pulvinar. <span><a class="cta" href="#">Link</a></span>
	</p>
	<hr class="padding-divider">
	</hr>
	<footnote>Use on lede story, overview or announcement</footnote>
	<div class="padding-sm"></div>
	<h2>
		H2 headline used as a first-level headline
	</h2>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec posuere odio. Phasellus odio lectus, ultrices non pretium ac, mollis id elit. Fusce tempor tellus non felis tempus vestibulum. Donec <em>molestie purus sem guspendisse</em> at placerat turpis. Duis luctus erat <a href="javascript:void(0);" title="link">vel magna pharetra</a> aliquet. Maecenas tincidunt feugiat ultricies. Phasellus et dui risus. Vestibulum adipiscing, eros quis lobortis dictum.
	</p>
	<hr class="padding-divider">
	</hr>
	<footnote>Use on lede story, overview or announcement</footnote>
	<div class="padding-sm"></div>
	<h3>
		H3 hedgeline used as a second-level headline
	</h3>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec posuere odio. Phasellus odio lectus, ultrices non pretium ac, mollis id elit. Fusce tempor tellus non felis tempus vestibulum. Donec molestie purus sem. Suspendisse at placerat turpis. Duis luctus erat <a href="javascript:void(0);" title="link">vel magna pharetra</a> aliquet. Maecenas tincidunt feugiat ultricies. Phasellus et dui risus. Vestibulum adipiscing, eros quis lobortis dictum.
	</p>
	<hr class="padding-divider">
	</hr>
	<footnote>Use to organize page content into sections</footnote>
	<div class="padding-sm"></div>
	<h4>
		H4 hedgeline used as a subhead
	</h4>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec posuere odio. Phasellus odio lectus, ultrices non pretium ac, mollis id elit. Fusce tempor tellus non felis tempus vestibulum. Donec molestie purus sem. Suspendisse at placerat turpis. Duis luctus erat <a href="javascript:void(0);" title="link">vel magna pharetra</a> aliquet. Maecenas tincidunt feugiat ultricies. Phasellus et dui risus. Vestibulum adipiscing, eros quis lobortis dictum.
	</p>
	<hr class="padding-divider">
	</hr>
	<footnote>Use to organize sections and narrative into segments</footnote>
	<div class="padding-sm"></div>
	<h5 class="label">
		H5 used as a headline or label
	</h5>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit.
	</p>
		<ul>
			<li>List item one lorem ipsum dolor sit amet consectetur adipiscing elit.</li>
			<li>List item one lorem ipsum dolor sit amet consectetur adipiscing elit.</li>
			<li>List item one lorem ipsum dolor sit amet consectetur adipiscing elit.</li>
		</ul>
	<hr class="padding-divider">
	</hr>
	<footnote>Use as a headline on sidebars, subsections, and modules</footnote>
	<div class="padding-md"></div>
	<h6>
		H6 used as a category
	</h6>
	<div class="sans-serif">
		<p>
			Lorem ipsum dolor sit amet, suspendisse at placerat turpis. Duis luctus erat <a href="javascript:void(0);" title="link">vel magna pharetra</a> aliquet.
		</p>
	</div>
	<hr class="padding-divider">
	</hr>
	<footnote>Use for overline and underline labels to give context and to clarify</footnote>
	<div class="padding-sm"></div>
</section>
