<section>
	<h2>
		Body styles
	</h2>
	<h5>
		Paragraphs
	</h5>
	<div class="padding-xsm"></div>
	<div class="intro-paragraph">
		<p>
			This is an intro paragraph body. Consectetur <a href="javascript:void(0);" title="link">link here</a> adipiscing elit. Curabitur nec <span class="highlight bg-info">info color</span> posuere odio. Phasellus odio lectus, ultrices non pretium <span class="highlight bg-success">success color</span> ac, mollis id elit. Fusce tempor tellus non felis tempus vestibulum. Donec molestie <span class="highlight bg-warning">warning color</span> purus sem. Suspendisse at placerat turpis. Duis luctus erat vel magna pharetra aliquet. Maecenas <span class="highlight bg-danger">danger color</span> tincidunt feugiat ultricies. Phasellus et dui risus. Vestibulum adipiscing, eros quis lobortis dictum.
		</p>
	</div>
	<hr class="padding-divider">
	</hr>
	<footnote>Intro paragraph tag</footnote>
	<div class="padding-sm"></div>
	<div class="standard-paragraph">
		<p>
			This is standard paragraph body. Consectetur <a href="javascript:void(0);" title="link">link here</a> adipiscing elit. Curabitur nec <span class="highlight bg-info">info color</span> posuere odio. Phasellus odio lectus, ultrices non pretium <span class="highlight bg-success">success color</span> ac, mollis id elit. Fusce tempor tellus non felis tempus vestibulum. Donec molestie <span class="highlight bg-warning">warning color</span> purus sem. Suspendisse at placerat turpis. Duis luctus erat vel magna pharetra aliquet. Maecenas <span class="highlight bg-danger">danger color</span> tincidunt feugiat ultricies. Phasellus et dui risus. Vestibulum adipiscing, eros quis lobortis dictum.
		</p>
	</div>
	<hr class="padding-divider">
	</hr>
	<footnote>Standard paragraph tag</footnote>
	<div class="padding-sm"></div>
	<div class="sans-serif">
		<p>
			This is paragraph body. Consectetur <a href="javascript:void(0);" title="link">link here</a> adipiscing elit. Curabitur nec info color posuere odio. Phasellus odio lectus, ultrices non pretium.
		</p>
	</div>
	<hr class="padding-divider">
	</hr>
	<footnote>Standard paragraph tag - sans-serif</footnote>
	<div class="padding-lg"></div>
	<h2>
		Lists
	</h2>
	<h5>Unordered Lists</h5>
	<div class="padding-xsm"></div>
	<ul>
		<li>List item one lorem ipsum dolor sit amet consectetur adipiscing elit.</li>
		<li>List item two lorem ipsum dolor sit amet consectetur adipiscing elit.</li>
		<li>List item three lorem ipsum dolor sit amet consectetur adipiscing elit.</li>
	</ul>
	<hr class="padding-divider">
	</hr>
	<footnote>General unordered list</footnote>
	<div class="padding-sm"></div>
	<h5>Ordered Lists</h5>
	<div class="padding-xsm"></div>
	<ol>
		<li>List item one lorem ipsum dolor sit amet consectetur adipiscing elit.</li>
		<li>List item two lorem ipsum dolor sit amet consectetur adipiscing elit.</li>
		<li>List item three lorem ipsum dolor sit amet consectetur adipiscing elit.</li>
	</ol>
	<hr class="padding-divider">
	</hr>
	<footnote>General ordered list with stylized number</footnote>
	<div class="padding-sm"></div>
	<div class="circle-number">
		<h5>Stylized ordered list</h5>
		<div class="padding-xsm"></div>
		<ol>
			<li><span class="leadin">List item one</span> explainer readout lorem ipsum dolor sit amet consectetur adipiscing elit.</li>
			<li><span class="leadin">List item two</span> explainer readout lorem ipsum dolor sit amet consectetur adipiscing elit.</li>
			<li><span class="leadin">List item three</span> explainer readout lorem ipsum dolor sit amet consectetur adipiscing elit.</li>
		</ol>
	</div>
	<hr class="padding-divider">
	</hr>
	<footnote>General ordered list with stylized number. Parent div must have class "circle-number"</footnote>
	<div class="padding-lg"></div>
	<h2>
		Infobox
	</h2>
	<div class="infobox sans-serif">
		<h4>Heading</h4>
		<p>
			This is paragraph body. Consectetur <a href="javascript:void(0);" title="link">link here</a> adipiscing elit. Curabitur nec <span class="highlight bg-info">info color</span> posuere odio. Phasellus odio lectus, ultrices non pretium <span
				class="highlight bg-success">success color</span> ac, mollis id elit. Fusce tempor tellus non felis tempus vestibulum. Donec molestie <span class="highlight bg-warning">warning color</span> purus sem. Suspendisse at placerat turpis. Duis
			luctus erat vel magna pharetra aliquet. Maecenas <span class="highlight bg-danger">danger color</span> tincidunt feugiat ultricies. Phasellus et dui risus. Vestibulum adipiscing, eros quis lobortis dictum.
		</p>
	</div>
	<hr class="padding-divider">
	</hr>
	<footnote>Infobox</footnote>
	<div class="padding-lg"></div>
	<h2>
		Numbers
	</h2>
	<div class="number-lg">
		<h1>010</h1>
		<div class="category-light">
			<h6>Readout number description</h6>
		</div>
	</div>
	<hr class="padding-divider">
	</hr>
	<footnote>h1 number with div class "number-lg"</footnote>
	<div class="padding-sm"></div>
	<div class="number-md">
		<h2>010</h2>
		<div class="category-light">
			<h6>Readout number description</h6>
		</div>
	</div>
	<hr class="padding-divider">
	</hr>
	<footnote>h2 number with div class "number-md"</footnote>
	<div class="padding-sm"></div>
	<div class="number-sm">
		<h3>010</h3>
		<div class="category-light">
			<h6>Readout number description</h6>
		</div>
	</div>
	<hr class="padding-divider">
	</hr>
	<footnote>h3 number with div class "number-sm"</footnote>
	<div class="padding-sm"></div>
	<div class="number-display">
		<h1>010</h1>
		<div class="category-light">
			<h6>Readout number description</h6>
		</div>
	</div>
	<hr class="padding-divider">
	</hr>
	<footnote>h1 number with div class "number-display". Used on content panels.</footnote>
	<div class="padding-lg"></div>
	<h2>
		Extras
	</h2>
	<footnote>
		Use html footnote tag. You can add a small amount of information here.
	</footnote>
	<hr class="padding-divider">
	</hr>
	<footnote>Use html footnote tag </footnote>
	<div class="padding-md"></div>
	<details>
		<summary>Details</summary>
		<p>Phasellus odio lectus, ultrices non pretium ac, mollis id elit.</p>
	</details>
	<hr class="padding-divider">
	</hr>
	<footnote>Use html details tag to contain more information.</footnote>
	<div class="padding-lg"></div>
</section>
