<section>
	<h3 id="documentation-typography-blockquotes">
		Blockquotes
	</h3>
	<div>
		<blockquote>
			“This is a blockquote breakout, ipsum dolor sit amet. Consectetur adipiscing elit ipsum dolor sit amet, consectetur adipiscing elit. Consectetur adipiscing elit ipsum dolor sit amet, consectetur adipiscing elit.” <cite>Blockquote cite, CEO, <a href="#">Link here</a></cite>
		</blockquote>
	</div>
	<hr class="padding-divider">
	</hr>
	<footnote>Standard blockquote</footnote>
	<div>
		<blockquote>
			<p>
				“This is a blockquote breakout, ipsum dolor sit amet. Consectetur adipiscing elit ipsum dolor sit amet, consectetur adipiscing elit. Consectetur adipiscing elit ipsum dolor sit amet, consectetur adipiscing elit.” <cite>Blockquote cite, CEO, <a href="#">Link here</a></cite>
			</p>
		</blockquote>
	</div>
	<hr class="padding-divider">
	</hr>
	<footnote>Standard blockquote in T4 - Wraps a nested paragraph tag</footnote>
	<div class="uppercase">
		<blockquote>
			“This is a blockquote breakout, ipsum dolor sit amet.” <cite>Blockquote cite, CEO, <a href="#">Link here</a></cite>
		</blockquote>
	</div>
	<hr class="padding-divider">
	</hr>
	<footnote>Parent div must have class "uppercase"</footnote>
	<div class="padding-md"></div>
</section>
