<section>
	<h3 id="documentation-typography-buttons">
		Inline Images
	</h3>
	<!-- image-extra small - 25% -->
	<div class="grid-wrapper-min-max one-column">
		<div class="container-fluid">
			<div class="container container-100">
				<img class="image-xsm" src="images/images-resize/resize-cudahy-rainbow-1800-800.jpg"/>
				<p>Use the class of "image-xsm" to size image to 25% width</p>
				<div class="padding-sm"></div>
				<!-- image-extra small - 50% -->
				<img class="image-sm" src="images/images-resize/resize-cudahy-rainbow-1800-800.jpg"/>
				<p>Use the class of "image-sm" to size image to 50% width</p>
				<div class="padding-sm"></div>
				<!-- image-extra small - 75% -->
				<img class="image-md" src="images/images-resize/resize-cudahy-rainbow-1800-800.jpg"/>
				<p>Use the class of "image-sm" to size image to 50% width</p>
				<div class="padding-md">
			</div>
		</div>
	</div>
</section>