<section id="home">
	<h3>
		Headline for homepage display
	</h3>
	<h5>
		Headline -  ID of #home
	</h5>
	<div class="padding-xsm"></div>
	<h1>
		H1 hedgeline used as a first-level headline
	</h1>
	<div class="intro-paragraph">
		<p>
			Lorem ipsum dolor sit amet, consectetur <strong>strong tag here</strong> elit. Etiam gravida leo massa, at elementum orci consequat non. Vestibulum quis sapien metus. Nam porta est in metus imperdiet, nec finibus enim viverra. Ut ultricies orci vel dapibus pharetra. Morbi in purus id erat sollicitudin pulvinar. <span><a class="cta" href="#">Link</a></span>
		</p>
	</div>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam gravida leo massa, at elementum orci consequat non. Vestibulum quis sapien metus. Nam porta est in metus imperdiet, nec finibus <a href="javascript:void(0);" title="link">vel magna pharetra</a> enim viverra. Ut ultricies orci vel dapibus pharetra. Morbi in purus id erat sollicitudin pulvinar. <span><a class="cta" href="#">Link</a></span>
	</p>
	<hr class="padding-divider">
	</hr>
	<footnote>Use only on homepage lede story or announcement</footnote>
	<div class="padding-sm"></div>
</section>
