<section>
	<h3 id="documentation-typography-buttons">
		Buttons
	</h3>
	<button role="button">Apply now</button>
	<button role="button">Request info</button>
	<button role="button">Visit us</button>
	<button role="button">Give to Loyola</button>
	<button role="button">Learn more</button>
	<button role="button">Read more</button>
	<button role="button">Register now</button>
	<button type="submit">RSVP now</button>
	<button type="submit">Submit</button>
	<hr class="padding-divider">
	</hr>
	<footnote>Standard button style</footnote>
	<div class="grid-wrapper-min-max">
		<div class="grid-item button-maroon">
			<a href="###">
				<button id="###" onclick="window.open('###','_blank')">CTA with a tag wrap</button>
			</a>
		</div>
	</div>
	<div class="padding-md"></div>
	<div class="grid-wrapper-min-max">
		<div class="grid-item button-maroon">
			<button id="###" onclick="window.open('###','_blank')">CTA here</button>
		</div>
	</div>
	<hr class="padding-divider">
	</hr>
	<footnote>Standard maroon button style - Add class button-maroon</footnote>
	<div class="padding-md"></div>
	<div class="grid-wrapper-min-max">
		<div class="grid-item button-open">
			<button id="###" onclick="window.open('###','_blank')">CTA here</button>
		</div>
	</div>
	<hr class="padding-divider">
	</hr>
	<footnote>Standard open button style - Add class button-open</footnote>
	<div class="padding-md"></div>
	<div class="grid-wrapper-min-max">
		<div class="grid-item button-gold">
			<button id="###" onclick="window.open('###','_blank')">CTA here</button>
		</div>
	</div>
	<hr class="padding-divider">
	</hr>
	<footnote>Standard gold button style - Add class button-gold</footnote>
	<div class="padding-md"></div>
	<div class="grid-wrapper-min-max four-column">
		<div class="grid-item button-maroon">
			<button id="###" onclick="window.open('###','_blank')">CTA multiple lines equal height</button>
		</div>
		<div class="grid-item button-maroon">
			<button id="###" onclick="window.open('###','_blank')">CTA here equal height</button>
		</div>
		<div class="grid-item button-maroon">
			<button id="###" onclick="window.open('###','_blank')">CTA multiple lines equal height</button>
		</div>
		<div class="grid-item button-maroon">
			<button id="###" onclick="window.open('###','_blank')">CTA here equal height</button>
		</div>
	</div>
	<hr class="padding-divider">
	</hr>
	<footnote>Standard button height - Columns</footnote>
	<div class="padding-md"></div>
</section>
