<section id="home">
	<h2>
		Headlines
	</h2>
	<h5>
		Headline -  ID of #home
	</h5>
	<div class="padding-xsm"></div>
	<h1>
		H1 hedgeline used as a first-level headline
	</h1>
	<div class="intro-paragraph">
		<p>
			Lorem ipsum dolor sit amet, consectetur <strong>strong tag here</strong> elit. Etiam gravida leo massa, at elementum orci consequat non. Vestibulum quis sapien metus. Nam porta est in metus imperdiet, nec finibus enim viverra. Ut ultricies orci vel dapibus pharetra. Morbi in purus id erat sollicitudin pulvinar. <span><a class="cta" href="#">Link</a></span>
		</p>
	</div>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam gravida leo massa, at elementum orci consequat non. Vestibulum quis sapien metus. Nam porta est in metus imperdiet, nec finibus <a href="javascript:void(0);" title="link">vel magna pharetra</a> enim viverra. Ut ultricies orci vel dapibus pharetra. Morbi in purus id erat sollicitudin pulvinar. <span><a class="cta" href="#">Link</a></span>
	</p>
	<hr class="padding-divider">
	</hr>
	<footnote>Use only on homepage lede story or announcement</footnote>
	<div class="padding-sm"></div>
<!--
	<h2>
		H2 used as a second-level headline
	</h2>
	<p>
		Lorem ipsum dolor sit amet, <a href="#">consectetur</a> adipiscing elit. Phasellus et dui risus. Vestibulum adipiscing, eros quis lobortis dictum.
	</p>
	<hr class="padding-divider">
	</hr>
	<footnote>Use as section headers on homepage</footnote>
	<div class="padding-md"></div>
	<h3>
		H3 used as a third-level headline
	</h3>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec posuere odio. Phasellus odio lectus, ultrices non pretium ac, mollis id elit. Fusce tempor tellus non felis tempus vestibulum. Donec molestie purus sem. Suspendisse at placerat turpis. Duis luctus erat <a href="javascript:void(0);" title="link">vel magna pharetra</a> aliquet. Maecenas tincidunt feugiat ultricies. Phasellus et dui risus. Vestibulum adipiscing, eros quis lobortis dictum.
	</p>
	<hr class="padding-divider">
	</hr>
	<footnote>Use paired with h1 as subhead</footnote>
	<div class="padding-md"></div>
	<h4>
		H4 used as a subhead
	</h4>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec posuere odio. Phasellus odio lectus, ultrices non pretium ac, mollis id elit. Fusce tempor tellus non felis tempus vestibulum. Donec molestie purus sem.
	</p>
	<hr class="padding-divider">
	</hr>
	<footnote>Use as paragraph subheads and on cards</footnote>
	<div class="padding-md"></div>
	<h5 class="label">
		H5 used as a label
	</h5>
	<p>
		Phasellus odio lectus, ultrices non pretium ac, mollis id elit. Fusce tempor tellus non felis tempus vestibulum. Donec molestie purus sem. Suspendisse at placerat turpis. Duis luctus erat <a href="javascript:void(0);" title="link">vel magna pharetra</a> aliquet. Maecenas tincidunt feugiat ultricies. Phasellus et dui risus. Vestibulum adipiscing, eros quis lobortis dictum.
	</p>
	<hr class="padding-divider">
	</hr>
	<footnote>Use as a standard label above headlines, on descriptive sections and modules</footnote>
	<div class="padding-md"></div>
	<h6>
		H6 used as a category
	</h6>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit.
	</p>
	<hr class="padding-divider">
	</hr>
	<footnote>Use as a light label on descriptive sections and on cards</footnote>
	<div class="padding-md"></div>
-->
</section>
