<section>
	<h3 id="documentation-typography-headlines">
		Headlines - Margin Variables
	</h3>
	<div class="padding-xsm"></div>
	<h5>Class "margin-none"</h5>
	<div class="padding-xsm"></div>
	<h6 class="margin-none">H6 label margin-none</h6>
	<h1 class="margin-none">H1 headgline margin-none</h1>
	<h2 class="margin-none">H2 headgline margin-none</h2>
	<h3 class="margin-none">h3 headgline margin-none</h3>
	<div class="intro-paragraph">
		<p class="margin-none">
			Introduction paragraph margin-none lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
		</p>
		<p class="margin-none">
			<a href="#####">CTA link here</a>
		</p>
	</div>
	<div class="grid-wrapper-min-max">
		<div class="grid-item button-maroon margin-none">
			<button class="margin-none">
				Button one here
			</button>
		</div>
	</div>
	<h4 class="margin-none">h4 subhead headline margin-none</h4>
	<p class="margin-none">Paragraph margin-none lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
	<h5 class="margin-none">h5 label headline margin-none</h5>
	<p class="margin-none">Paragraph margin-none lorem ipsum dolor sit amet, consectetur adipiscing elit sed do eiusmod tempor incididunt.</p>
	<hr class="padding-divider">
	</hr>
	<footnote>UMC ONLY - For overwriting default spacing</footnote>
	<div class="padding-sm"></div>
</section>
