<section>
	<h3 id="documentation-typography-headlines">
		Headlines - Margin Variables
	</h3>
	<div class="padding-xsm"></div>
	<h5>Class "margin-none"</h5>
	<div class="explainer">
		<p>Standard margins with a margin-top: .5rem</p>
	</div>
	<div class="padding-xsm"></div>
	<h6 class="margin-none">H6 label lorem</h6>
	<h1 class="margin-none">H1 headgline lorem ipsum</h1>
	<h2 class="margin-none">H2 headgline lorem ipum unum hereum</h2>
	<h3 class="margin-none">h3 headgline lorem ipum unum</h3>
	<div class="intro-paragraph">
		<p class="margin-none">
			Introduction paragraph lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
		</p>
		<p class="margin-none">
			<a href="#####">CTA link here</a>
		</p>
	</div>
	<div class="grid-wrapper-min-max">
		<div class="grid-item button-maroon margin-none">
			<button class="margin-none">
				Button one here
			</button>
		</div>
	</div>
	<h4 class="margin-none">h4 subhead headline lorem ipum unum</h4>
	<p class="margin-none">Paragraph standard lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
	<h5 class="margin-none">h5 label headline lorem</h5>
	<p class="margin-none">Paragraph standard lorem ipsum dolor sit amet, consectetur adipiscing elit sed do eiusmod tempor incididunt.</p>
	<hr class="padding-divider">
	</hr>
	<footnote>For overwriting default spacing</footnote>
	<div class="padding-sm"></div>
</section>
<!-- margins - top -->
<section>
	<h5>Class "m-t-xsm"</h5>
	<div class="explainer">
		<p>Standard margins with a margin-top: .5rem</p>
	</div>
	<div class="padding-xsm"></div>
	<h6 class="m-t-xsm">H6 label lorem</h6>
	<h1 class="m-t-xsm">H1 headgline lorem ipsum</h1>
	<h2 class="m-t-xsm">H2 headgline lorem ipum unum hereum</h2>
	<h3 class="m-t-xsm">h3 headgline lorem ipum unum</h3>
	<div class="intro-paragraph">
		<p class="m-t-xsm">
			Introduction paragraph lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
		</p>
		<p class="m-t-xsm">
			<a href="#####">CTA link here</a>
		</p>
	</div>
	<div class="grid-wrapper-min-max">
		<div class="grid-item button-maroon margin-none">
			<button class="m-t-xsm">
				Button one here
			</button>
		</div>
	</div>
	<h4 class="m-t-xsm">h4 subhead headline lorem ipum unum</h4>
	<p class="m-t-xsm">Paragraph standard lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
	<h5 class="m-t-xsm">h5 label headline lorem</h5>
	<p class="m-t-xsm">Paragraph standard lorem ipsum dolor sit amet, consectetur adipiscing elit sed do eiusmod tempor incididunt.</p>
	<hr class="padding-divider">
	</hr>
	<footnote>For overwriting default spacing</footnote>
	<div class="padding-sm"></div>
</section>
<section>
	<h5>Class "m-t-sm"</h5>
	<div class="explainer">
		<p>Standard margins with a margin-top: .75rem</p>
	</div>
	<div class="padding-sm"></div>
	<h6 class="m-t-sm">H6 label lorem</h6>
	<h1 class="m-t-sm">H1 headgline lorem ipsum</h1>
	<h2 class="m-t-sm">H2 headgline lorem ipum unum hereum</h2>
	<h3 class="m-t-sm">h3 headgline lorem ipum unum</h3>
	<div class="intro-paragraph">
		<p class="m-t-sm">
			Introduction paragraph lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
		</p>
		<p class="m-t-sm">
			<a href="#####">CTA link here</a>
		</p>
	</div>
	<div class="grid-wrapper-min-max">
		<div class="grid-item button-maroon margin-none">
			<button class="m-t-sm">
				Button one here
			</button>
		</div>
	</div>
	<h4 class="m-t-sm">h4 subhead headline lorem ipum unum</h4>
	<p class="m-t-sm">Paragraph standard lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
	<h5 class="m-t-sm">h5 label headline lorem</h5>
	<p class="m-t-sm">Paragraph standard lorem ipsum dolor sit amet, consectetur adipiscing elit sed do eiusmod tempor incididunt.</p>
	<hr class="padding-divider">
	</hr>
	<footnote>For overwriting default spacing</footnote>
	<div class="padding-sm"></div>
</section>
<section>
	<h5>Class "m-t-md"</h5>
	<div class="explainer">
		<p>Standard margins with a margin-top: 1rem</p>
	</div>
	<div class="padding-sm"></div>
	<h6 class="m-t-md">H6 label lorem</h6>
	<h1 class="m-t-md">H1 headgline lorem ipsum</h1>
	<h2 class="m-t-md">H2 headgline lorem ipum unum hereum</h2>
	<h3 class="m-t-md">h3 headgline lorem ipum unum</h3>
	<div class="intro-paragraph">
		<p class="m-t-md">
			Introduction paragraph lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
		</p>
		<p class="m-t-md">
			<a href="#####">CTA link here</a>
		</p>
	</div>
	<div class="grid-wrapper-min-max">
		<div class="grid-item button-maroon margin-none">
			<button class="m-t-md">
				Button one here
			</button>
		</div>
	</div>
	<h4 class="m-t-md">h4 subhead headline lorem ipum unum</h4>
	<p class="m-t-md">Paragraph standard lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
	<h5 class="m-t-md">h5 label headline lorem</h5>
	<p class="m-t-md">Paragraph standard lorem ipsum dolor sit amet, consectetur adipiscing elit sed do eiusmod tempor incididunt.</p>
	<hr class="padding-divider">
	</hr>
	<footnote>For overwriting default spacing</footnote>
	<div class="padding-sm"></div>
</section>
<section>
	<h5>Class "m-t-lg"</h5>
	<div class="explainer">
		<p>Standard margins with a margin-top: 1.5rem</p>
	</div>
	<div class="padding-sm"></div>
	<h6 class="m-t-lg">H6 label lorem</h6>
	<h1 class="m-t-lg">H1 headgline lorem ipsum</h1>
	<h2 class="m-t-lg">H2 headgline lorem ipum unum hereum</h2>
	<h3 class="m-t-lg">h3 headgline lorem ipum unum</h3>
	<div class="intro-paragraph">
		<p class="m-t-lg">
			Introduction paragraph lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
		</p>
		<p class="m-t-lg">
			<a href="#####">CTA link here</a>
		</p>
	</div>
	<div class="grid-wrapper-min-max">
		<div class="grid-item button-maroon margin-none">
			<button class="m-t-lg">
				Button one here
			</button>
		</div>
	</div>
	<h4 class="m-t-lg">h4 subhead headline lorem ipum unum</h4>
	<p class="m-t-lg">Paragraph standard lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
	<h5 class="m-t-lg">h5 label headline lorem</h5>
	<p class="m-t-lg">Paragraph standard lorem ipsum dolor sit amet, consectetur adipiscing elit sed do eiusmod tempor incididunt.</p>
	<hr class="padding-divider">
	</hr>
	<footnote>For overwriting default spacing</footnote>
	<div class="padding-sm"></div>
</section>
<!-- margins - bottom -->
<section>
	<h5>Class "m-t-xsm"</h5>
	<div class="explainer">
		<p>Standard margins with a margin-top: .5rem</p>
	</div>
	<div class="padding-xsm"></div>
	<h6 class="m-b-xsm">H6 label lorem</h6>
	<h1 class="m-b-xsm">H1 headgline lorem ipsum</h1>
	<h2 class="m-b-xsm">H2 headgline lorem ipum unum hereum</h2>
	<h3 class="m-b-xsm">h3 headgline lorem ipum unum</h3>
	<div class="intro-paragraph">
		<p class="m-b-xsm">
			Introduction paragraph lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
		</p>
		<p class="m-b-xsm">
			<a href="#####">CTA link here</a>
		</p>
	</div>
	<div class="grid-wrapper-min-max">
		<div class="grid-item button-maroon margin-none">
			<button class="m-b-xsm">
				Button one here
			</button>
		</div>
	</div>
	<h4 class="m-b-xsm">h4 subhead headline lorem ipum unum</h4>
	<p class="m-b-xsm">Paragraph standard lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
	<h5 class="m-b-xsm">h5 label headline lorem</h5>
	<p class="m-b-xsm">Paragraph standard lorem ipsum dolor sit amet, consectetur adipiscing elit sed do eiusmod tempor incididunt.</p>
	<hr class="padding-divider">
	</hr>
	<footnote>For overwriting default spacing</footnote>
	<div class="padding-sm"></div>
</section>
<section>
	<h5>Class "m-b-sm"</h5>
	<div class="explainer">
		<p>Standard margins with a margin-top: .75rem</p>
	</div>
	<div class="padding-sm"></div>
	<h6 class="m-b-sm">H6 label lorem</h6>
	<h1 class="m-b-sm">H1 headgline lorem ipsum</h1>
	<h2 class="m-b-sm">H2 headgline lorem ipum unum hereum</h2>
	<h3 class="m-b-sm">h3 headgline lorem ipum unum</h3>
	<div class="intro-paragraph">
		<p class="m-b-sm">
			Introduction paragraph lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
		</p>
		<p class="m-b-sm">
			<a href="#####">CTA link here</a>
		</p>
	</div>
	<div class="grid-wrapper-min-max">
		<div class="grid-item button-maroon margin-none">
			<button class="m-b-sm">
				Button one here
			</button>
		</div>
	</div>
	<h4 class="m-b-sm">h4 subhead headline lorem ipum unum</h4>
	<p class="m-b-sm">Paragraph standard lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
	<h5 class="m-b-sm">h5 label headline lorem</h5>
	<p class="m-b-sm">Paragraph standard lorem ipsum dolor sit amet, consectetur adipiscing elit sed do eiusmod tempor incididunt.</p>
	<hr class="padding-divider">
	</hr>
	<footnote>For overwriting default spacing</footnote>
	<div class="padding-sm"></div>
</section>
<section>
	<h5>Class "m-t-md"</h5>
	<div class="explainer">
		<p>Standard margins with a margin-top: 1rem</p>
	</div>
	<div class="padding-sm"></div>
	<h6 class="m-b-md">H6 label lorem</h6>
	<h1 class="m-b-md">H1 headgline lorem ipsum</h1>
	<h2 class="m-b-md">H2 headgline lorem ipum unum hereum</h2>
	<h3 class="m-b-md">h3 headgline lorem ipum unum</h3>
	<div class="intro-paragraph">
		<p class="m-b-md">
			Introduction paragraph lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
		</p>
		<p class="m-b-md">
			<a href="#####">CTA link here</a>
		</p>
	</div>
	<div class="grid-wrapper-min-max">
		<div class="grid-item button-maroon margin-none">
			<button class="m-b-md">
				Button one here
			</button>
		</div>
	</div>
	<h4 class="m-b-md">h4 subhead headline lorem ipum unum</h4>
	<p class="m-b-md">Paragraph standard lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
	<h5 class="m-b-md">h5 label headline lorem</h5>
	<p class="m-b-md">Paragraph standard lorem ipsum dolor sit amet, consectetur adipiscing elit sed do eiusmod tempor incididunt.</p>
	<hr class="padding-divider">
	</hr>
	<footnote>For overwriting default spacing</footnote>
	<div class="padding-sm"></div>
</section>
<section>
	<h5>Class "m-b-lg"</h5>
	<div class="explainer">
		<p>Standard margins with a margin-top: 1.5rem</p>
	</div>
	<div class="padding-sm"></div>
	<h6 class="m-b-lg">H6 label lorem</h6>
	<h1 class="m-b-lg">H1 headgline lorem ipsum</h1>
	<h2 class="m-b-lg">H2 headgline lorem ipum unum hereum</h2>
	<h3 class="m-b-lg">h3 headgline lorem ipum unum</h3>
	<div class="intro-paragraph">
		<p class="m-b-lg">
			Introduction paragraph lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
		</p>
		<p class="m-b-lg">
			<a href="#####">CTA link here</a>
		</p>
	</div>
	<div class="grid-wrapper-min-max">
		<div class="grid-item button-maroon margin-none">
			<button class="m-b-lg">
				Button one here
			</button>
		</div>
	</div>
	<h4 class="m-b-lg">h4 subhead headline lorem ipum unum</h4>
	<p class="m-b-lg">Paragraph standard lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
	<h5 class="m-b-lg">h5 label headline lorem</h5>
	<p class="m-b-lg">Paragraph standard lorem ipsum dolor sit amet, consectetur adipiscing elit sed do eiusmod tempor incididunt.</p>
	<hr class="padding-divider">
	</hr>
	<footnote>For overwriting default spacing</footnote>
	<div class="padding-sm"></div>
</section>
