<section>
	<h2>
		Buttons
	</h2>
	<button role="button">Apply now</button>
	<button role="button">Request info</button>
	<button role="button">Visit us</button>
	<button role="button">Give to Loyola</button>
	<button role="button">Learn more</button>
	<button role="button">Read more</button>
	<button role="button">Register now</button>
	<button type="submit">RSVP now</button>
	<button type="submit">Submit</button>
	<hr class="padding-divider">
	</hr>
	<footnote>Standard open button style</footnote>
	<div class="padding-xsm"></div>
	<div class="grid-wrapper-min-max">
		<div class="grid-item button-maroon">
			<button id="###" onclick="window.open('###','_blank')">CTA here</button>
		</div>
		<div class="grid-item button-maroon">
			<button id="###" onclick="window.open('###','_blank')">CTA here</button>
		</div>
		<div class="grid-item button-maroon">
			<button id="###" onclick="window.open('###','_blank')">CTA here</button>
		</div>
		<div class="grid-item button-maroon">
			<button id="###" onclick="window.open('###','_blank')">CTA here</button>
		</div>
	</div>
	<hr class="padding-divider">
	</hr>
	<footnote>Standard solid button style - maroon</footnote>
	<div class="padding-xsm"></div>
	<div class="grid-wrapper-min-max">
		<div class="grid-item button-patina">
			<button id="###" onclick="window.open('###','_blank')">CTA here</button>
		</div>
		<div class="grid-item button-patina">
			<button id="###" onclick="window.open('###','_blank')">CTA here</button>
		</div>
		<div class="grid-item button-patina">
			<button id="###" onclick="window.open('###','_blank')">CTA here</button>
		</div>
		<div class="grid-item button-patina">
			<button id="###" onclick="window.open('###','_blank')">CTA here</button>
		</div>
	</div>
	<hr class="padding-divider">
	</hr>
	<footnote>Standard solid button style - patina</footnote>
	<div class="padding-xsm"></div>
	<div class="grid-wrapper-min-max">
		<div class="grid-item button-gold">
			<button id="###" onclick="window.open('###','_blank')">CTA here</button>
		</div>
		<div class="grid-item button-gold">
			<button id="###" onclick="window.open('###','_blank')">CTA here</button>
		</div>
		<div class="grid-item button-gold">
			<button id="###" onclick="window.open('###','_blank')">CTA here</button>
		</div>
		<div class="grid-item button-gold">
			<button id="###" onclick="window.open('###','_blank')">CTA here</button>
		</div>
	</div>
	<hr class="padding-divider">
	</hr>
	<footnote>Standard solid button style - gold</footnote>
	<div class="padding-md"></div>
</section>
