<section>
	<h5>
		Headlines home and interior
	</h5>
	<div class="padding-xsm"></div>
	<h1>
		H1 hedgeline used as a first-level headline
	</h1>
	<p>
		Lorem ipsum dolor sit amet, <strong>consectetur adipiscing</strong> elit. Curabitur nec posuere odio. Phasellus odio lectus, ultrices non pretium ac, mollis id elit. Fusce tempor tellus non felis tempus vestibulum. Donec molestie purus sem. Suspendisse at placerat turpis. Duis luctus erat <a href="javascript:void(0);" title="link">vel magna pharetra</a> aliquet. Maecenas tincidunt feugiat ultricies. Phasellus et dui risus. Vestibulum adipiscing, eros quis lobortis dictum.
	</p>
	<hr class="padding-divider">
	</hr>
	<footnote>Use on lede story, overview or announcement</footnote>
	<div class="padding-sm"></div>
	<h2>
		H2 used as a second-level headline lorem ipsum unum
	</h2>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec posuere odio. Phasellus odio lectus, ultrices non pretium ac, mollis id elit. Fusce tempor tellus non felis tempus vestibulum. Donec <em>molestie purus sem guspendisse</em> at placerat turpis. Duis luctus erat <a href="javascript:void(0);" title="link">vel magna pharetra</a> aliquet. Maecenas tincidunt feugiat ultricies. Phasellus et dui risus. Vestibulum adipiscing, eros quis lobortis dictum.
	</p>
	<hr class="padding-divider">
	</hr>
	<footnote>Use as section headers</footnote>
	<div class="padding-sm"></div>
	<h3>
		H3 hedgeline used as a second-level headline
	</h3>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec posuere odio. Phasellus odio lectus, ultrices non pretium ac, mollis id elit. Fusce tempor tellus non felis tempus vestibulum. Donec molestie purus sem. Suspendisse at placerat turpis. Duis luctus erat <a href="javascript:void(0);" title="link">vel magna pharetra</a> aliquet. Maecenas tincidunt feugiat ultricies. Phasellus et dui risus. Vestibulum adipiscing, eros quis lobortis dictum.
	</p>
	<hr class="padding-divider">
	</hr>
	<footnote>Use paired with h1 as subhead</footnote>
	<div class="padding-sm"></div>
	<h4>
		H4 hedgeline used as a subhead
	</h4>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec posuere odio. Phasellus odio lectus, ultrices non pretium ac, mollis id elit. Fusce tempor tellus non felis tempus vestibulum. Donec molestie purus sem. Suspendisse at placerat turpis. Duis luctus erat <a href="javascript:void(0);" title="link">vel magna pharetra</a> aliquet. Maecenas tincidunt feugiat ultricies. Phasellus et dui risus. Vestibulum adipiscing, eros quis lobortis dictum.
	</p>
	<hr class="padding-divider">
	</hr>
	<footnote>Use as paragraph subheads and on cards</footnote>
	<div class="padding-sm"></div>
	<h5 class="label">
		H5 used as a label
	</h5>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec posuere odio. Phasellus odio lectus, ultrices non pretium ac, mollis id elit. Fusce tempor tellus non felis tempus vestibulum. Donec molestie purus sem. Suspendisse at placerat turpis. Duis luctus erat <a href="javascript:void(0);" title="link">vel magna pharetra</a> aliquet. Maecenas tincidunt feugiat ultricies. Phasellus et dui risus. Vestibulum adipiscing, eros quis lobortis dictum.
	</p>
	<hr class="padding-divider">
	</hr>
	<footnote>Use as a standard label above headlines, on descriptive sections and modules</footnote>
	<div class="padding-sm"></div>
	<h6>
		H6 used as a category
	</h6>
	<div class="category-light">
		<h6>
			H6 used as a category
		</h6>
	</div>
	<div class="sans-serif">
		<p>
			Lorem ipsum dolor sit amet, suspendisse at placerat turpis. Duis luctus erat <a href="javascript:void(0);" title="link">vel magna pharetra</a> aliquet.
		</p>
	</div>
	<hr class="padding-divider">
	</hr>
	<footnote>Use as a smaller label on descriptive sections and on cards</footnote>
	<div class="padding-lg"></div>
</section>
