<h3>Headlines - Antenna Compressed</h3>
<div class="padding-xsm"></div>

<!-- h1 antenna compressed header -->
<section id="panel-text" class="container-fluid">
	<div class="container container-100">
		<div class="grid-wrapper-min-max one-column">
			<div class="grid-item">
				<div class="content-grid-wrapper">
					<div class="flex-item content uppercase">
						<h1 class="antenna-compressed-headline">H1 Antenna Compressed headline</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<hr class="padding-divider"></hr>

<!-- h2 antenna compressed header -->
<section id="panel-text" class="container-fluid">
	<div class="container container-100">
		<div class="grid-wrapper-min-max one-column">
			<div class="grid-item">
				<div class="content-grid-wrapper">
					<div class="flex-item content uppercase">
						<h2 class="antenna-compressed-headline">H2 Antenna Compressed headline</h2>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<hr class="padding-divider"></hr>

<!-- h3 antenna compressed header -->
<section id="panel-text" class="container-fluid">
	<div class="container container-100">
		<div class="grid-wrapper-min-max one-column">
			<div class="grid-item">
				<div class="content-grid-wrapper">
					<div class="flex-item content uppercase">
						<h3 class="antenna-compressed-headline">H3 Antenna Compressed headline</h3>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<hr class="padding-divider"></hr>

<!-- h4 antenna compressed header -->
<section id="panel-text" class="container-fluid">
	<div class="container container-100">
		<div class="grid-wrapper-min-max one-column">
			<div class="grid-item">
				<div class="content-grid-wrapper">
					<div class="flex-item content uppercase">
						<h4 class="antenna-compressed-headline">H4 Antenna Compressed headline</h4>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<hr class="padding-divider"></hr>
<footnote>Use for Antenna Compressed headlines. Add .antenna-compressed-headline class to h1, h2, h3, h4 tag.</footnote>
<div class="padding-sm"></div>

<h3>Headlines - Antenna Compressed - Called Banner</h3>
<div class="padding-xsm"></div>

<!-- h1 antenna compressed header -->
<section id="panel-text" class="container-fluid bg-gold padding-sm">
	<div class="container container-100">
		<div class="grid-wrapper-min-max one-column">
			<div class="grid-item">
				<div class="content-grid-wrapper">
					<div class="flex-item content uppercase">
						<h1 class="antenna-compressed-headline">We are called</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<hr class="padding-divider"></hr>

<!-- h2 antenna compressed header -->
<section id="panel-text" class="container-fluid bg-gold padding-sm">
	<div class="container container-100">
		<div class="grid-wrapper-min-max one-column">
			<div class="grid-item">
				<div class="content-grid-wrapper">
					<div class="flex-item content uppercase">
						<h2 class="antenna-compressed-headline">We are called</h2>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<hr class="padding-divider"></hr>

<!-- h3 antenna compressed header -->
<section id="panel-text" class="container-fluid bg-gold padding-sm">
	<div class="container container-100">
		<div class="grid-wrapper-min-max one-column">
			<div class="grid-item">
				<div class="content-grid-wrapper">
					<div class="flex-item content uppercase">
						<h3 class="antenna-compressed-headline">We are called</h3>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<hr class="padding-divider"></hr>

<!-- h4 antenna compressed header -->
<section id="panel-text" class="container-fluid bg-gold padding-xsm">
	<div class="container container-100">
		<div class="grid-wrapper-min-max one-column">
			<div class="grid-item">
				<div class="content-grid-wrapper">
					<div class="flex-item content uppercase">
						<h4 class="antenna-compressed-headline">We are called</h4>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<hr class="padding-divider"></hr>
<footnote>Use for Called banners. Add .bg-gold and .called-banner classes to container-fluid</footnote>
<div class="padding-lg"></div>
