<!-- nav-accessible -->
<nav id="main" aria-labelledby="site-nav">
  <!-- site menu -->
  <ul id="site-nav" class="disclosure-nav" role="menubar">
    <li>
      <button type="button"
              role="button"
              aria-expanded="false"
              aria-controls="id_item_one_menu">
        Item One
      </button>
      <ul role="menu" id="id_item_one_menu">
        <li role="menuitem">
          <a href="#####">Link One</a>
        </li>
        <li role="menuitem">
          <a href="#####">Link Two</a>
        </li>
        <li role="menuitem">
          <a href="#####">Link Three</a>
        </li>
        <li role="menuitem">
          <a href="#####">Link Four</a>
        </li>
      </ul>
    </li>
    <li>
      <button type="button"
              role="button"
              aria-expanded="false"
              aria-controls="id_item_two_menu">
        Item One
      </button>
      <ul role="menu" id="id_item_two_menu">
        <li role="menuitem">
          <a href="#####">Link One</a>
        </li>
        <li role="menuitem">
          <a href="#####">Link Two</a>
        </li>
        <li role="menuitem">
          <a href="#####">Link Three</a>
        </li>
        <li role="menuitem">
          <a href="#####">Link Four</a>
        </li>
      </ul>
    </li>
    <li>
      <button type="button"
              role="button"
              aria-expanded="false"
              aria-controls="id_item_three_menu">
        Item Three
      </button>
      <ul role="menu" id="id_item_three_menu">
        <li role="menuitem">
          <a href="#####">Link One</a>
        </li>
        <li role="menuitem">
          <a href="#####">Link Two</a>
        </li>
        <li role="menuitem">
          <a href="#####">Link Three</a>
        </li>
        <li role="menuitem">
          <a href="#####">Link Four</a>
        </li>
      </ul>
    </li>
    <li>
      <button type="button"
              role="button"
              aria-expanded="false"
              aria-controls="id_item_four_menu">
        Item Four
      </button>
      <ul role="menu" id="id_item_four_menu">
        <li role="menuitem">
          <a href="#####">Link One</a>
        </li>
        <li role="menuitem">
          <a href="#####">Link Two</a>
        </li>
        <li role="menuitem">
          <a href="#####">Link Three</a>
        </li>
        <li role="menuitem">
          <a href="#####">Link Four</a>
        </li>
      </ul>
    </li>
    <li>
      <button type="button" role="button" aria-expanded="false" aria-controls="">
        <a href="https://cms4.luc.edu/terminalfour/preview/8/en/161392">Item Five No Child</a>
      </button>
    </li>
  </ul>
  <!-- cta menu -->
  <ul id="cta-nav" class="disclosure-nav" role="menubar">
    <li><button type="button" role="button">Apply</button></li>
    <li><button type="button" role="button">Info</button></li>
    <li><button type="button" role="button">Visit</button></li>
    <li id="information" role="none">
      <button id="information-button"
              type="button"
              aria-expanded="false"
              aria-controls="information-nav">
          i
      </button>
      <ul role="menu" id="information-nav">
        <li role="menuitem">
          <a href="#####">Link One</a>
        </li>
        <li role="menuitem">
          <a href="#####">Link Two</a>
        </li>
      </ul>
    </li>
    <li id="search" role="none">
      <button id="search-button"
              type="button"
              aria-expanded="true">
        <i class="fa fa-search"></i>
      </button>
    </li>
  </ul>
</nav>
<script type="text/javascript">
  var menubar = new Menubar(document.getElementById('site-nav'));
  menubar.init();
</script>
<script type="text/javascript">
  var menubar = new Menubar(document.getElementById('cta-nav'));
  menubar.init();
</script>
