<section id="multilevel-sliding-nav">
  <nav class="Nav" id="nav" aria-labelledby="nav-heading">
    <div class="Nav__body">
      <div class="Nav__main">
        <ul class="Nav__menu" id="menu-0">
        <h5 style="margin: .5rem 0;">Main Menu</h5>
          <!-- menu 01-01 -->
          <li class="Nav__item">
            <a href="#menu-1" class="Nav__link" aria-controls="menu-1">
              <span id="menu-1-heading">Sub Menu 01</span>
              <svg class="Icon" width="16" height="16" viewBox="0 0 16 16" aria-role="presentation">
                <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
              </svg>
            </a>
          </li>
          <!-- menu 01-02 -->
          <li class="Nav__item">
            <a href="#menu-2" class="Nav__link" aria-controls="menu-2">
              <span id="menu-2-heading">Sub Menu 02</span>
              <svg class="Icon" width="16" height="16" viewBox="0 0 16 16" aria-role="presentation">
                <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
              </svg>
            </a>
          </li>
          <!-- menu 01-03 -->
          <li class="Nav__item">
            <a href="#" class="Nav__link">Menu Item 03</a>
          </li>
        </ul>
        <!-- sub menu 01 -->
        <ul class="Nav__menu" id="menu-1" aria-labelledby="menu-1-heading">
        <h5 style="margin: .5rem 0;">Sub Menu 01</h5>
          <li class="Nav__item">
            <!-- back 01 - main -->
            <a href="#menu-0" class="Nav__link" aria-controls="menu-1">
              <svg class="Icon" width="16" height="16" viewBox="0 0 16 16" aria-role="presentation">
                <path d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
              </svg>
              <span class="menu-return">Back MAIN</span>
              <span class="Hidden menu-return">to main menu</span>
            </a>
          </li>
          <!-- sub menu 01-01 -->
          <li class="Nav__item">
            <a href="#menu-3" class="Nav__link" aria-controls="menu-3">
              <span id="menu-3-heading">Menu Item 01-01 - To Sub 03</span>
              <svg class="Icon" width="16" height="16" viewBox="0 0 16 16" aria-role="presentation">
                <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
              </svg>
            </a>
          </li>
          <!-- sub menu 01-02 -->
          <li class="Nav__item">
            <a href="#" class="Nav__link">Menu Item 01-02</a>
          </li>
          <!-- sub menu 01-03 -->
          <li class="Nav__item">
            <a href="#" class="Nav__link">Menu Item 01-03</a>
          </li>
          <!-- sub menu 01-04 -->
          <li class="Nav__item">
            <a href="#" class="Nav__link">Menu Item 01-04</a>
          </li>
        </ul>
        <!-- sub menu 02 -->
        <ul class="Nav__menu" id="menu-2" aria-labelledby="menu-2-heading">
        <h5 style="margin: .5rem 0;">Sub Menu 02</h5>
          <li class="Nav__item">
            <!-- back 01 - main -->
            <a href="#menu-0" class="Nav__link" aria-controls="menu-2">
              <svg class="Icon" width="16" height="16" viewBox="0 0 16 16" aria-role="presentation">
                <path d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
              </svg>
              <span>Back MAIN</span>
              <span class="Hidden">to main menu</span>
            </a>
          </li>
          <!-- sub menu 02-01 -->
          <li class="Nav__item">
            <a href="#" class="Nav__link">Menu Item 02-01</a>
          </li>
          <!-- sub menu 02-02 -->
          <li class="Nav__item">
            <a href="#" class="Nav__link">Menu Item 02-02</a>
          </li>
          <!-- sub menu 02-03 -->
          <li class="Nav__item">
            <a href="#" class="Nav__link">Menu Item 02-03</a>
          </li>
          <!-- sub menu 02-04 -->
          <li class="Nav__item">
            <a href="#" class="Nav__link">Menu Item 02-04</a>
          </li>
          <!-- sub menu 02-05 -->
          <li class="Nav__item">
            <a href="#" class="Nav__link">Menu Item 02-05</a>
          </li>
          <!-- sub menu 02-06 -->
          <li class="Nav__item">
            <a href="#" class="Nav__link">Menu Item 02-06</a>
          </li>
        </ul>
        <!-- sub menu 03 -->
        <ul class="Nav__menu" id="menu-3" aria-labelledby="menu-3-heading">
        <h5 style="margin: .5rem 0;">Sub Menu 03</h5>
          <li class="Nav__item">
            <!-- back 02 -->
            <a href="#menu-1" class="Nav__link" aria-controls="menu-3">
              <svg class="Icon" width="16" height="16" viewBox="0 0 16 16" aria-role="presentation">
                <path d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
              </svg>
              <span>Back Sub 01</span>
              <span class="Hidden">to parent menu</span>
            </a>
          </li>
          <!-- sub menu 03-01 -->
          <li class="Nav__item">
            <a href="#menu-4" class="Nav__link" aria-controls="menu-4">
              <span id="menu-4-heading">Menu Item 03-01 - To Sub 04</span>
              <svg class="Icon" width="16" height="16" viewBox="0 0 16 16" aria-role="presentation">
                <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
              </svg>
            </a>
          </li>
          <!-- sub menu 03-02 -->
          <li class="Nav__item">
            <a href="#" class="Nav__link">Menu Item 03-02</a>
          </li>
          <!-- sub menu 03-03 -->
          <li class="Nav__item">
            <a href="#" class="Nav__link">Menu Item 03-03</a>
          </li>
        </ul>
        <!-- nested sub menu 03 > nested sub menu 04 -->
        <ul class="Nav__menu" id="menu-4" aria-labelledby="menu-4-heading">
        <h5 style="margin: .5rem 0;">Sub Menu 04</h5>
          <li class="Nav__item">
            <!-- back 03 -->
            <a href="#menu-3" class="Nav__link" aria-controls="menu-4">
              <svg class="Icon" width="16" height="16" viewBox="0 0 16 16" aria-role="presentation">
                <path d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
              </svg>
              <span>Back Sub 03</span>
              <span class="Hidden">to menu 03</span>
            </a>
          </li>
          <!-- sub menu 04-01 -->
          <li class="Nav__item">
            <a href="#" class="Nav__link">Menu Item 04-01</a>
          </li>
          <!-- sub menu 04-02 -->
          <li class="Nav__item">
            <a href="#" class="Nav__link">Menu Item 04-02</a>
          </li>
          <!-- sub menu 04-03 -->
          <li class="Nav__item">
            <a href="#" class="Nav__link">Menu Item 04-03</a>
          </li>
        </ul>
      </div>
      <!--/Nav__main-->
    </div>
    <!--/Nav__body-->
  </nav>
  <!--/Nav-->
</section>
