<!-- aside -->
<section>
	<div class="grid-wrapper-min-max one-column">
		<div class="grid-item">
			<nav id="secondary">
				<ul>
					<li>Navigation one</li>
					<li>Navigation two</li>
					<li>Navigation three</li>
					<li>Navigation four</li>
				</ul>
			</nav>
			<h6>Category label</h6>
			<img src="http://via.placeholder.com/1000x560"/>
			<div class="caption">
				<p><span class="leadin">Lorem ipsum dolor</span>, consectetur adipiscing elit. Etiam gravida leo massa, at elementum orci consequat non.</p>
			</div>
			<hr class="padding-divider">
			</hr>
			<footnote>Image with caption - p tag with parent div class of "caption"</footnote>
			<div class="padding-xsm"></div>
			<div class="number-lg">
				<h1>010</h1>
				<div class="category-light">
					<h6>Readout number description</h6>
				</div>
			</div>
			<hr class="padding-divider">
			</hr>
			<footnote>h1 number with div class "number-lg"</footnote>
			<div class="padding-xsm"></div>
			<div class="number-md">
				<h2>010</h2>
				<div class="category-light">
					<h6>Readout number description</h6>
				</div>
			</div>
			<hr class="padding-divider">
			</hr>
			<footnote>h2 number with div class "number-md"</footnote>
			<div class="padding-xsm"></div>
			<div class="number-sm">
				<h3>010</h3>
				<div class="category-light">
					<h6>Readout number description</h6>
				</div>
			</div>
			<hr class="padding-divider">
			</hr>
			<footnote>h3 number with div class "number-sm"</footnote>
			<div class="padding-xsm"></div>
			<div class="circle-number">
				<h5>Stylized ordered list</h5>
				<div class="padding-xsm"></div>
				<ol class="sans-serif">
					<li>List item one explainer readout lorem ipsum dolor sit amet consectetur adipiscing elit.</li>
					<li>List item two explainer readout lorem ipsum dolor sit amet consectetur adipiscing elit.</li>
					<li>List item three explainer readout lorem ipsum dolor sit amet consectetur adipiscing elit. <a class="cta">Link</a></li>
				</ol>
			</div>
			<hr class="padding-divider">
			</hr>
			<footnote>General ordered list with stylized number. Parent div must have class "circle-number"</footnote>
		</div>
	</div>
</section>
