<!-- nav-sliding-menu -->
<nav id="side-nav" aria-label="Main navigation" class="sidenav">
	<div id="sidenav-inner-wrapper">
		<div id="side-nav-search-wrapper">
			<form class="form-group" role="search">
				<input id="global-search-input" type="search" class="search-input" placeholder="Search LUC.EDU" name="search" aria-labelledby="search">
				<button id="gloabal-search-submit" type="submit" aria-labelledby="search"><i class="fa fa-search"></i></button>
			</form>
		</div>
		<div id="global-ctas" class="button-maroon">
			<button>Apply now</button>
			<button>Get info</button>
			<button>Come visit</button>
		</div>
		@@include('luc-navigation-multi-level-sliding.html')
		<!--
		<a href="https://www.luc.edu/">Item 01</a>
		<a href="https://www.luc.edu/">Item 02</a>
		<a href="https://www.luc.edu/">Item 03</a>
		<div class="js-accordion" data-accordion-prefix-classes="minimalist" data-accordion-cool-selectors="1">
			<h4 class="js-accordion__header">Item 04</h4>
			<div class="js-accordion__panel">
				<a href="https://www.luc.edu/">Link one</a>
				<a href="https://www.luc.edu/">Link two</a>
				<a href="https://www.luc.edu/">Link three</a>
			</div>
		</div>
		<div class="js-accordion" data-accordion-prefix-classes="minimalist" data-accordion-cool-selectors="1">
			<h4 class="js-accordion__header">Item 05</h4>
			<div class="js-accordion__panel">
				<a href="https://www.luc.edu/">Link one</a>
				<a href="https://www.luc.edu/">Link two</a>
				<a href="https://www.luc.edu/">Link three</a>
			</div>
		</div>
		-->
		<!--
		<div class="side-nav-text sans-serif" style="margin: 20px 0">
			<p style="font-size: .95em; line-height: 1.5; color: #aaaaaa;">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vitae feugiat velit. Aliquam ut nisi sagittis, cursus leo at, auctor diam. Ut ut odio non massa consequat porta eget vel ligula. Cras vitae vulputate justo. In et orci justo.
				Donec vel nulla eu leo ultricies rhoncus non ultrices ante. Morbi blandit cursus ex, ac gravida purus venenatis et.
			</p>
		</div>
		<div id="footer-address" class="vcard">
			<div id="footercard">
				<span id="fnorg">
					School of Law
				</span>
				<span id="adr">
					<span id="name">
						Philip H. Corboy Law Center
					</span>
					<span id="street-address">
						25 E. Pearson Street
					</span>
					<span id="locality">
						Chicago
					</span>,
					<span class="region">
						Il
					</span>,
					<span class="postal-code">
						60611
					</span>
				</span>
				<span class="tel">
					312.915.7120
				</span>
				<a class="email" href="mailto:umc@luc.edu.com">Contact Us</a>
			</div>
			<div class="copyright">
				<p>&copy; Copyright &amp; Disclaimer 20XX</p>
			</div>
		</div>
		-->
	</div>
</nav>
