<div id="main-content">
	<div id="chapter-top" class="container-fluid">
		<div class="container container-100">
      <div class="grid-wrapper-min-max">
        <div class="grid-item">
					<h6>Loyola University Chicago</h6>
					<div style="text-transform: uppercase;" class="display">
						<h1>Pattern Library</h1>
					</div>
					<h4>Version 4.0 - 2021</h4>
					<hr class="padding-divider"></hr>
					<ul>
						<li><h5>T4 - Modules</h5></li>
						<li><em style="color: #ffffff !important;">June 28, 2023</em></li>
						<li><a href="t4-updates.html">T4 Updates - Internal Navigation</a></li>
            			<li><a href="t4-updates-carousel.html">T4 Updates - Carousel</a></li>
            			<li><a href="t4-updates-tabs.html">T4 Updates - Tabs</a></li>
            			<li><a href="t4-updates-tables.html">T4 Updates - Tables</a></li>
            			<li><a href="t4-updates-modal.html">T4 Updates - Modal</a></li>
						<li class="divider-bullets">•••</li>
						<li><h5>Brand - Visual Identiy Elements</h5></li>
						<li><a href="luc-standards.html">Color Palette</a></li>
						<li><a href="luc-typography.html">Typography</a></li>
						<li class="divider-bullets">•••</li>
						<li><h5>Documentation: Using the Template</h5></li>
						<li><a href="luc-documentation.html">Docmentation - Using the Template</a></li>
						<li class="divider-bullets">•••</li>
						<li><h5>The Template</h5></li>
						<!-- <li><a href="cards-template.html">Cards</a></li> -->
						<li><a href="luc-panels-general.html">Panels - General</a></li>
						<li><a href="luc-panels-image-combinations.html">Panels - Image Combinations</a></li>
						<li><a href="luc-panels-interactive.html">Panels - Interactive</a></li>
						<li><a href="luc-image-resize.html">Images and Responsive Resize</a></li>
						<li><a href="luc-forms.html">Forms</a></li>
						<li><a href="luc-charts.html">Charts</a></li>
						<li><a href="luc-t4-variables.html">T4 Variables</a></li>
						<li class="divider-bullets">•••</li>
						<li><h5>Framework</h5></li>
						<li><a href="luc-framework.html">Framework</a></li>
						<li><a href="t4-page-layout.html">T4 Page Layout</a></li>
						<li><a href="luc-navigation-multi-level-sliding.html">Navigation - Sliding Multilevel</a></li>
						<li><a href="luc-interior.html">Interior</a></li>
						<li class="divider-bullets">•••</li>
						<li><h5>Helpful Links</h5></li>
						<li><a href="https://www.luc.edu/patternlibrary/"><span>T4 Pattern Library</span> - Current Content Patterns</a></li>
						<li><a href="https://www.luc.edu/t4test-dev/"><span>T4 Pattern Library - Development</span> - Upcoming Content Patterns</a></li>
						<li><a href=""><span>Formatting Images</span> - Small Format - Selecting and Editing</a></li>
						<li><a href=""><span>Formatting Images</span> - Large Format - Selecting and Editing</a></li>
						<li><a href=""><span>Formatting Images</span> - Optimization</a></li>
						<li><a href="https://www.luc.edu/samplesite/"><span>Sample Site</span> - Startup pages for builders</a></li>	
						<li><a href="https://www.luc.edu/t4/videos/"><span>T4 Tutorial videos</span></a></li>
						<li><a href="https://www.luc.edu/t4/resources/"><span>T4 Resources</span></a></li>
						<li class="divider-bullets">•••</li>
						<li><h5>Building - Homepage Examples</h5></li>
						<li><a href="https://www.luc.edu/sustainability/"><span>Homepage</span> - School of Environmental Sustainability</a></li>
						<li><a href="https://www.luc.edu/parkinson/"><span>Homepage</span> - Parkinson School of Health Sciences and Public Health</a></li>
						<li><a href="https://www.luc.edu/irj/"><span>Homepage</span> - Institute for Racial Justice</a></li>
						<li class="divider-bullets">•••</li>
						<li><h5>Building - Landing Page and Elevated Page Examples</h5></li>
						<li><a href="https://www.luc.edu/features/stories/loyolaataglance/"><span>Elevated Page</span> - Loyola at a Glance</a></li>
						<li><a href="https://www.luc.edu/irj/aboutus/"><span>Elevated Page</span> - Institute for Racial Justice - About Us</a></li>
						<li><a href="https://www.luc.edu/stritch/about/diversityequityinclusion/"><span>Elevated Page</span> - SSOM - Diversity, Equity, and Inclusion</a></li>
						<li class="divider-bullets">•••</li>
						<li><h5>Building - Interior Page Examples</h5></li>
						<li><a href="https://www.luc.edu/parkinson/about/welcomefromthedean/"><span>Interior Page</span> - PSHSPH - Welcome from the Dean</a></li>
						<li><a href="https://www.luc.edu/parkinson/academics/departments/"><span>Interior Page</span> - PSHSPH - Academics: departments</a></li>
						<li><a href="https://www.luc.edu/parkinson/academics/experientiallearning/"><span>Interior Page</span> - PSHSPH - Experiential Learning</a></li>
						<li><a href="https://www.luc.edu/sustainability/academics/undergraduatedegrees/"><span>Interior Page</span> - SES - Undergraduate Degrees</a></li>
						<li><a href="https://www.luc.edu/sustainability/academics/undergraduatedegrees/bsinenvironmentalscience/"><span>Interior Page</span> - SES - BS Environmental Science</a></li>
						<li><a href="https://www.luc.edu/irj/aboutus/missionvisionandcorevalues/"><span>Interior Page</span> - IRJ - Mission, Vision, and Core Values</a></li>
						<li><a href="https://www.luc.edu/irj/getinvolved/asastudent/"><span>Interior Page</span> - IRJ - Get involved as a student</a></li>
						<li><a href="https://www.luc.edu/stritch/about/history/"><span>Interior Page</span> - SSOM - A Brief History</a></li>
						<li class="divider-bullets">•••</li>
						<li><h5>Page Development</h5></li>
						<li><a href="/parkinson-reputation-parallax/parallax.html">Parallax - Parkinson Reputation Landing Page</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
