<div id="main-content">
	<div id="chapter-top" class="container-fluid">
		<div class="container container-100">
      <div class="grid-wrapper-min-max">
        <div class="grid-item">
					<h6>Loyola University Chicago</h6>
					<div style="text-transform: uppercase;" class="display">
						<h1>Pattern Library</h1>
					</div>
					<h5>Readout lorem ipsum hereum hereum</h5>
					<hr class="padding-divider"></hr>
					<ul>
						<li><a href="luc-framework.html">Framework</a></li>
						<li><a href="luc-standards.html">Standards</a></li>
						<li><a href="luc-interior.html">Interior</a></li>
						<li><a href="luc-typography.html">Typography</a></li>
						<li><a href="luc-forms.html">Forms</a></li>
						<!-- <li><a href="cards-template.html">Cards</a></li> -->
						<li><a href="luc-panels-general.html">Panels - General</a></li>
						<li><a href="luc-panels-image-combinations.html">Panels - Image Combinations</a></li>
						<li><a href="luc-panels-interactive.html">Panels - Interactive</a></li>
						<li><a href="luc-image-resize.html">Images - Responsive Resize</a></li>
						<!-- <li><a href="luc-color-palette.html">Color Palette</a></li> -->
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
