<!-- footer -->
<div class="container-fluid p-0">
  <div id="footer-address">
    <p>Loyola University Chicago</p>
    <p>1032 W. Sheridan Rd., Chicago, Il, 60660</p>
    <p>773.274.3000 digitalteam@luc.edu</p>
  </div>
  <div id="footer-copyright">
    <div id="footer-jesuit-icon" style="float: left; margin-left: -0.60em; width: 15% !important;margin-top:0.5em;">
      <img src="../images/jesuit-educated-logo-reverse-1150x580.png" alt="We Are Jesuit Educated" title="We Are Jesuit Educated">
    </div>
    <p><a href="">&copy; Copyright and Disclaimer 2020</a>, <a href="">Privacy Policy</a></p>
    <p><a href="">Non-discrimination Policy</a><span class="bullet">•</span><a href="">Institutional Mission Statement</a><span class="bullet">•</span><a href="">Land Aknowledgement Statement</a></p>
  </div>
  <div id="brand">
    <a href="https://www.luc.edu/">
      <img src="images/LUC_stacked_reverse.svg" alt="Loyola University Chicago logo in footer of site">
    </a>
  </div>
</div>

