<nav id="main">

<!-- site menu -->
<ul id="site-nav" class="disclosure-nav" role="menubar">
<li>
  <button type="button" aria-expanded="false" aria-controls="">
    <a href="https://cms4.luc.edu/terminalfour/preview/8/en/161392">Link One</a>
    <ul class="multilevel-linkul-0" style="display: none;">
      <li>
        <a href="#####">Link One - Child One</a>
      </li>
    </ul>
  </button>
</li>
<li>
  <button type="button" aria-expanded="" aria-controls="">
    <a href="#####">Link Two</a>
  </button>
</li>
<li>
  <button type="button" aria-expanded="" aria-controls="">
    <a href="#####">Link Three</a>
  </button>
</li>
<li>
  <button type="button" aria-expanded="false" aria-controls="">
    <a href="#####">Link Four</a>
    <ul class="multilevel-linkul-0" style="display: none;">
      <li>
        <a href="https://cms4.luc.edu/terminalfour/preview/8/en/161394">Link Four - Child One</a>
      </li>
      <li>
        <a href="https://cms4.luc.edu/terminalfour/preview/8/en/161395">Link Four - Child Two</a>
      </li>
      <li>
        <a href="https://cms4.luc.edu/terminalfour/preview/8/en/161417">Link Four - Child Three</a>
      </li>
      <li>
        <a href="https://cms4.luc.edu/terminalfour/preview/8/en/161423">Link Four - Child Four</a>
      </li>
    </ul>
    </button>
  </li>
</ul>

<!-- cta menu -->
<ul id="cta-nav" class="disclosure-nav" role="menubar">
<!-- Recruitment Links text/universal_ctanav -->
  <li>
    <button type="button" onclick="window.location.href='#####';">Apply</button>
  </li>
  <li>
    <button type="button" onclick="window.location.href='#####';">Info</button>
  </li>
  <li>
    <button type="button" onclick="window.location.href='#####';">Visit</button></li>
<!-- I Links -->
  <li id="information" role="none">
    <button id="information-button" type="button" aria-expanded="false" aria-controls="information-nav">i</button>
    <ul role="menu" id="information-nav" style="display: none;">
      <!-- Simple Link text/universal_ilinks -->
      <li role="menuitem"><a href="https://cms4.luc.edu/terminalfour/preview/8/en/161243">Link One</a></li><!-- Simple Link text/universal_ilinks -->
      <li role="menuitem"><a href="https://www.luc.edu">Link Two</a></li>
    </ul>
  </li>
<!-- Search icon -->
  <li id="search" role="none">
    <button id="search-button" type="button" aria-expanded="true" aria-labelledby="search">
      <i class="fa fa-search"></i>
    </button>
  </li>
</ul>

</nav>
