<nav id="sliding-menu-interior">
  <input type="checkbox" id="main-nav-check" />
  <div id="menu-wrapper">
    <div id="menu">
      <ul id="menuBase">
        <!-- level one -->
        <li>
          <a href="#/">Menu 1-A</a>
            <label for="levelOneOne" class="toggle-sub" onclick="">&#9658;</label>
            <input type="checkbox" id="levelOneOne" class="sub-nav-check" />
            <!-- level two -->
            <ul id="NavTwoOne-sub" class="sub-nav">
              <li class="sub-heading">Level 2 Headline - From 1-A <label for="levelOneOne" class="toggle" onclick="" title="Back">&#9664; Back to Level 1</label></li>
              <li><a href="#">Level 2-A</a></li>
              <li><a href="#">Level 2-B</a></li>
              <li><a href="#">Level 2-C</a></li>
              <li><a href="#">Level 2-D</a></li>
              <li>
                <a href="#">Level 2-E</a>
                  <label for="levelTwoOne" class="toggle-sub" onclick="">&#9658;</label>
                  <input type="checkbox" id="levelTwoOne" class="sub-nav-check" />
                  <!-- level three - portfolio -->
                  <ul id="NavThreeOne-sub" class="sub-nav">
                    <li class="sub-heading">Level 3 - From 2-E <label for="levelTwoOne" class="toggle" onclick="" title="Back">&#9664; Back to Level 2</label></li>
                    <li>
                      <a href="#">Level 3-A</a>
                      <label for="levelFourOne" class="toggle-sub" onclick="">&#9658;</label>
                      <input type="checkbox" id="levelFourOne" class="sub-nav-check" />
                      <!-- level four - graphics & artwork -->
                      <ul id="NavFourOne-sub" class="sub-nav">
                        <li class="sub-heading">Level 4 - From 3-A <label for="levelFourOne" class="toggle" onclick="" title="Back">&#9664; Back to Level 3</label></li>
                        <li>
                          <a href="#">Level 4-A</a>
                          <label for="levelFiveOne" class="toggle-sub" onclick="">&#9658;</label>
                          <input type="checkbox" id="levelFiveOne" class="sub-nav-check" />
                          <!-- level five - artwork -->
                          <ul id="NavFiveOne--sub" class="sub-nav">
                            <li class="sub-heading">Level 5 - From 4-A<label for="levelFiveOne" class="toggle" onclick="" title="Back">&#9664; Back to Level 4</label></li>
                            <li><a href="#">Level 5-A</a></li>
                            <li><a href="#">Level 5-B</a></li>
                            <li>
                              <a href="#">Level 5-C</a>
                              <label for="levelSixOne" class="toggle-sub" onclick="">&#9658;</label>
                              <input type="checkbox" id="levelSixOne" class="sub-nav-check" />
                              <!-- level six - paintings -->
                              <ul id="NavSixOne-sub" class="sub-nav">
                                <li class="sub-heading">Level 6 - From 5C <label for="levelSixOne" class="toggle" onclick="" title="Back">&#9664; Back to Level 5</label></li>
                                <li><a href="#">Level 6-A</a></li>
                                <li><a href="#">Level 6-B</a></li>
                                <li><a href="#">Level 6-C</a></li>
                              </ul> <!-- CLOSE - level six -->
                            </li>
                            <li><a href="#">Level 5-D</a></li>
                            <li><a href="#">Level 5-E</a></li>
                          </ul> <!-- CLOSE - level five -->
                        </li>
                        <li><a href="#">Level 4-B</a></li>
                        <li><a href="#">Level 4-C</a></li>
                        <li><a href="#">Level 4-D</a></li>
                      </ul> <!-- CLOSE - level four -->
                    </li>
                    <li><a href="#">Level 3-B</a></li>
                    <li><a href="#">Level 3-C</a></li>
                  </ul> <!-- CLOSE - level three -->
              </li>
              <li>
                <a href="#">Level 2-F</a>
                  <label for="levelTwoTwo" class="toggle-sub" onclick="">&#9658;</label>
                  <input type="checkbox" id="levelTwoTwo" class="sub-nav-check" />
                  <!-- level three -->
                  <ul id="NavThreeTwo-sub" class="sub-nav">
                    <li class="sub-heading">Level 3 - From 2-F<label for="levelTwoTwo" class="toggle" onclick="" title="Back">&#9664; Back to Level 2</label></li>
                    <li><a href="#">Level 3-A</a></li>
                    <li><a href="#">Level 3-B</a></li>
                    <li><a href="#">Level 3-C</a></li>
                    <li><a href="#">Level 3-D</a> <label for="levelThreeOne" class="toggle-sub" onclick="">&#9658;</label>
                      <input type="checkbox" id="levelThreeOne" class="sub-nav-check" />
                      <!-- level four -->
                      <ul id="NavFourTwo-sub" class="sub-nav">
                        <li class="sub-heading">Level 4 - From 3-D<label for="levelThreeOne" class="toggle" onclick="" title="Back">&#9664; Back to Level 3</label></li>
                        <li><a href="#">Level 4-A</a></li>
                        <li><a href="#">Level 4-B</a></li>
                      </ul><!-- CLOSE - level four -->
                    </li>
                    <li><a href="#">Level 3-E</a></li>
                  </ul> <!-- CLOSE - level three -->
              </li>
            </ul>
          </li>
          <!-- level one -->
          <li><a href="#">Menu 1-B</a></li>
          <!-- level one -->
          <li><a href="#">Menu 1-C</a>
            <label for="levelOneTwo" class="toggle-sub" onclick="">&#9658;</label>
            <input type="checkbox" id="levelOneTwo" class="sub-nav-check" />
            <!-- level two -->
            <ul id="NavTwoTwo-sub" class="sub-nav">
              <li class="sub-heading">Level 2 Headline - From 1-C <label for="levelOneTwo" class="toggle" onclick="" title="Back">&#9664; Back to Level 1</label></li>
              <li><a href="#">Level 2-A</a></li>
              <li><a href="#">Level 2-B</a></li>
              <li><a href="#">Level 2-C</a></li>
            </ul> <!-- CLOSE - level two -->
          </li>
          <!-- level one -->
          <li><a href="#">Menu 1-D</a></li>
          <!-- level one -->
          <li><a href="#">Menu 1-E</a></li>
        </ul>
      </div><!-- closing menu -->

    <!-- close - menu - icon -->
    <div class="container">
      <div id="header">
        <label style="color: red; font-size: 2rem;" for="main-nav-check" class="toggle" onclick="" title="Menu">&#x2261;</label>
      </div><!-- closing header -->
    </div><!-- closing container -->
  </div><!-- close - menu-wrapper -->
</nav>
