<!-- nav-sliding-menu -->
<nav id="side-nav" aria-label="Main navigation" class="sidenav">
	<div id="sidenav-inner-wrapper">
		<div id="side-nav-search-wrapper">
			<form class="form-group" role="search">
				<input id="global-search-input" type="search" class="search-input" placeholder="Search LUC.EDU" name="search" aria-labelledby="search">
				<button id="gloabal-search-submit" type="submit" aria-labelledby="search"><i class="fa fa-search"></i></button>
			</form>
		</div>
		@@include('luc-navigation-multi-level-sliding-v2.html')
		<div id="global-ctas" class="button-maroon">
			<button>Apply now</button>
			<button>Get info</button>
			<button>Come visit</button>
		</div>
	</div>
</nav>