<!-- header - nav -->
<a class="skip-main" href="#main-content-start">Skip to main content</a>
@@include('./luc-audience-directory.html')
<!-- brand -->
<div id="site-brand-wrapper" class="container-fluid">
  <span id="loyola-university-chicago">
    <a href="https://www.luc.edu/">
      Loyola University Chicago
    </a>
  </span>
  <span id="site-name">
    <a href="https://www.luc.edu/">
      Loyola University Chicago
      <!-- School of Continuing and Professional Studies -->
    </a>
  </span>
  <span id="brand">
    <a href="https://www.luc.edu/">
      <img src="images/LUC_stacked_reverse.svg" alt="Loyola University Chicago logo in header of site">
    </a>
  </span>
  <nav id="main-mobile">
    <button id="menu-button-mobile" aria-controls="side-nav" aria-haspopup="true" tabindex="0" type="button" role="menuitem">
      <span class="menu-bar menu-bar-one"></span>
      <span class="menu-bar menu-bar-two"></span>
      <span class="menu-bar menu-bar-three"></span>
      <span class="menu-bar menu-bar-four"></span>
      <span class="menu-text">Menu</span>
    </button>
    <span id="brand">
      <a href="https://www.luc.edu/">
        <img src="images/luc-logo-reverse.svg" alt="Loyola University Chicago logo in footer of site">
      </a>
    </span>
  </nav>
</div>
