<section>
  <nav class="multi-level-sliding-navigation" id="nav" aria-labelledby="multi-level-sliding-navigation-heading">
    <div class="multi-level-sliding-navigation-body">
      <div class="multi-level-sliding-navigation-main">

        <ul class="t4-mobile-navigation multi-level-sliding-navigation-menu" data-level="Main Menu"
        aria-hidden="false">
          <li class="heading"><span>Main Menu</span></li>
          <li><a href="#">About</a>
            <ul class="multilevel-linkul-0">
              <li><a href="#">Loyola at Glance</a>
                <ul class="multilevel-linkul-1">
                  <li><a href="#">Accreditation</a>
                  <li><a href="#">Board if Trustees</a>
                </ul>
              </li>
              <li><a href="#">Office of the President</a></li>
            </ul>
          </li>
          <li><a href="#">Admissions</a></li>
          <li><a href="#">Academics</a>
            <ul class="multilevel-linkul-0">
              <li><a href="#">Professional Certificates</a></li>
              <li><a href="#">Undergraduate Degrees</a>
                <ul class="multilevel-linkul-1">
                  <li><a href="#">Applied Psychology</a></li>
                    <li><a href="#">Applied Studies</a></li>
                    <li><a href="#">Information Technology</a></li>
                    <li><a href="#">Paralegal Studies</a>
                    <ul class="multilevel-linkul-2">
                      <li><a href="#">Curriculum</a></li>
                      <li><a href="#">Program Learning Outcomes</a></li>
                      <li><a href="#">Faculty</a></li>
                    </ul>
                  </li>
                  <li><a href="#">Web Technologies</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li><a href="#">Student Experience</a></li>
        </ul>

      </div>
      <!--/Nav__main-->
    </div>
    <!--/Nav__body-->
  </nav>
  <!--/Nav-->
</section>
