<section id="multilevel-sliding-nav">
  <nav class="Nav" id="nav" aria-labelledby="nav-heading">
    <div class="Nav__body">
      <div class="Nav__main">
        <ul class="Nav__menu" id="menu-0">
          <li class="Nav__item">
            <a href="#menu-1" class="Nav__link" aria-controls="menu-1">
              <span id="menu-1-heading">Sub Menu 1</span>
              <svg class="Icon" width="16" height="16" viewBox="0 0 16 16" aria-role="presentation">
                <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
              </svg>
            </a>
          </li>
          <li class="Nav__item">
            <a href="#menu-2" class="Nav__link" aria-controls="menu-2">
              <span id="menu-2-heading">Sub Menu 2</span>
              <svg class="Icon" width="16" height="16" viewBox="0 0 16 16" aria-role="presentation">
                <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
              </svg>
            </a>
          </li>
          <li class="Nav__item">
            <a href="#" class="Nav__link">Menu Item</a>
          </li>
        </ul>
        <ul class="Nav__menu" id="menu-1" aria-labelledby="menu-1-heading">
          <li class="Nav__item">
            <a href="#menu-0" class="Nav__link" aria-controls="menu-1">
              <svg class="Icon" width="16" height="16" viewBox="0 0 16 16" aria-role="presentation">
                <path d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
              </svg>
              <span>Back</span>
              <span class="Hidden">to main menu</span>
            </a>
          </li>
          <li class="Nav__item">
            <a href="#menu-3" class="Nav__link" aria-controls="menu-3">
              <span id="menu-3-heading">Nested Sub Menu 3</span>
              <svg class="Icon" width="16" height="16" viewBox="0 0 16 16" aria-role="presentation">
                <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
              </svg>
            </a>
          </li>
          <li class="Nav__item">
            <a href="#" class="Nav__link">Menu Item</a>
          </li>
          <li class="Nav__item">
            <a href="#" class="Nav__link">Menu Item</a>
          </li>
        </ul>
        <ul class="Nav__menu" id="menu-2" aria-labelledby="menu-2-heading">
          <li class="Nav__item">
            <a href="#menu-0" class="Nav__link" aria-controls="menu-2">
              <svg class="Icon" width="16" height="16" viewBox="0 0 16 16" aria-role="presentation">
                <path d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
              </svg>
              <span>Back</span>
              <span class="Hidden">to main menu</span>
            </a>
          </li>
          <li class="Nav__item">
            <a href="#" class="Nav__link">Menu Item</a>
          </li>
          <li class="Nav__item">
            <a href="#" class="Nav__link">Menu Item</a>
          </li>
          <li class="Nav__item">
            <a href="#" class="Nav__link">Menu Item</a>
          </li>
          <li class="Nav__item">
            <a href="#" class="Nav__link">Menu Item</a>
          </li>
          <li class="Nav__item">
            <a href="#" class="Nav__link">Menu Item</a>
          </li>
          <li class="Nav__item">
            <a href="#" class="Nav__link">Menu Item</a>
          </li>
          <li class="Nav__item">
            <a href="#" class="Nav__link">Menu Item</a>
          </li>
        </ul>
        <ul class="Nav__menu" id="menu-3" aria-labelledby="menu-3-heading">
          <li class="Nav__item">
            <a href="#menu-1" class="Nav__link" aria-controls="menu-3">
              <svg class="Icon" width="16" height="16" viewBox="0 0 16 16" aria-role="presentation">
                <path d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
              </svg>
              <span>Back</span>
              <span class="Hidden">to parent menu</span>
            </a>
          </li>
          <li class="Nav__item">
            <a href="#" class="Nav__link">Menu Item</a>
          </li>
          <li class="Nav__item">
            <a href="#" class="Nav__link">Menu Item</a>
          </li>
          <li class="Nav__item">
            <a href="#" class="Nav__link">Menu Item</a>
          </li>
        </ul>
      </div>
      <!--/Nav__main-->
    </div>
    <!--/Nav__body-->
  </nav>
  <!--/Nav-->
</section>
