<!-- social-media-bar -->
<article>
  <!-- facebook -->
  <a target="_blank" href="https://www.luc.edu/" title="A link to the Loyola University Chicago Facebook account"><i class="fa fa-facebook"></i></a>
  <!-- twitter -->
  <a target="_blank" href="https://www.luc.edu/" title="A link to the Loyola University Chicago Twitter account"><i class="fa fa-twitter"></i></a>
  <!-- linkedin -->
  <a target="_blank" href="https://www.luc.edu/" title="A link to the Loyola University Chicago Linkedin account"><i class="fa fa-linkedin"></i></a>
  <!-- youtube -->
  <a target="_blank" href="https://www.luc.edu/"><i class="fa fa-youtube" title="A link to the Loyola University Chicago YouTube account"></i></a>
  <!-- contact -->
  <a target="_blank" href="https://www.luc.edu/"><i class="fa fa-at" title="Contact Us at 773-274-3000."></i></a>
</article>
