<!-- social-media-bar -->
<article>
  <!-- calendar -->
  <a target="_blank" href="https://www.luc.edu/"><i class="fa-sharp fa-calendar-days" title="A link to the Loyola University Chicago Calendar"></i></a>
  <!-- news -->
  <a target="_blank" href="https://www.luc.edu/"><i class="fa-sharp fa-newspaper" title="A link to the Loyola University Chicago News"></i></a>
  <!-- rss -->
  <a target="_blank" href="https://www.luc.edu/"><i class="fa-sharp fa-rss" title="A link to the Loyola University Chicago RSS feed"></i></a>
  <!-- facebook -->
  <a target="_blank" href="https://www.luc.edu/"><i class="fa-brands fa-facebook" title="A link to the Loyola University Chicago Facebook account"></i></a>
  <!-- twitter -->
  <a target="_blank" href="https://www.luc.edu/"><i class="fa-brands fa-x-twitter" title="A link to the Loyola University Chicago Twitter account"></i></a>
  <!-- youtube -->
  <a target="_blank" href="https://www.luc.edu/"><i class="fa-brands fa-youtube" title="A link to the Loyola University Chicago YouTube account"></i></a>
  <!-- flickr -->
  <a target="_blank" href="https://www.luc.edu/"><i class="fa-brands fa-flickr" title="A link to the Loyola University Chicago Flickr account"></i></a>
  <!-- linkedin -->
  <a target="_blank" href="https://www.luc.edu/"><i class="fa-brands fa-linkedin" title="A link to the Loyola University Chicago Linkedin account"></i></a>
    <!-- instagram -->
    <a target="_blank" href="https://www.luc.edu/"><i class="fa-brands fa-tiktok" title="A link to the Loyola University Chicago TikTok account"></i></a>
  <!-- pinterest -->
  <a target="_blank" href="https://www.luc.edu/"><i class="fa-brands fa-pinterest" title="A link to the Loyola University Chicago Pinterest account"></i></a>
  <!-- instagram -->
  <a target="_blank" href="https://www.luc.edu/"><i class="fa-brands fa-instagram" title="A link to the Loyola University Chicago Instagram account"></i></a>
  <!-- threads -->
  <a target="_blank" href="https://www.luc.edu/"><i class="fa-brands fa-threads" title="A link to the Loyola University Chicago Threads account"></i></a>
  <!-- blog -->
  <a target="_blank" href="https://www.luc.edu/"><i class="fa-sharp fa-blog" title="A link to the Loyola University Chicago Blog account"></i></a>
  <!-- google plus -->
  <a target="_blank" href="https://www.luc.edu/"><i class="fa-brands fa-google-plus" title="A link to the Loyola University Chicago Google Plus account"></i></a>
  <!-- contact -->
  <a target="_blank" href="https://www.luc.edu/"><i class="fa-sharp fa-regular fa-at" title="Contact Us at 773-274-3000"></i></a>
</article>
