<!-- image-text-blockquote - image and blockquote -->
<section class="container-fluid panel-image-text panel-image-text-blockquote bg-maroon">
	<div class="grid-wrapper-grid-area">
		<div class="grid-area grid-area-image">
			<div class="content-image-text-image">
				<img src="./images/images-portraits-1000x1000/medallion-2023-jonathan-larbi-arrupe-1000x1000.jpg"/>
			</div>
		</div>
		<div class="grid-area grid-area-content">
			<div class="content-image-text">
				<h6>Label here</h6>
				<h4>Headline lorem ipsum hereum</h4>
				<blockquote>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam gravida leo massa, at elementum orci consequat non. Vestibulum quis sapien metus. Morbi in purus id erat sollicitudin pulvinar. Donec a consequat magna. Excepteur sint occaecat cupidatat non proident."</blockquote>
				<cite>— Firstname Lastname, Title Goeshere</cite>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam gravida leo massa, at elementum orci consequat non. Vestibulum quis sapien metus. Morbi in purus id erat sollicitudin pulvinar. Donec a consequat magna.</p>
                <div class="grid-item button-gold">       
					<button class="container-50" onclick="window.open('localhost:3000/luc-css-coverage-dev.html','_blank')">Read More</button>
				</div>
				<a class="cta" href="#">Link here</a>
			</div>
		</div>
	</div>
</section>