<!-- image-text-blockquote - lead presentation -->
<section class="container-fluid panel-image-text panel-image-text-blockquote lead-presentation magazine bg-maroon">
	<div class="grid-wrapper-grid-area">
		<div class="grid-area grid-area-image">
			<div class="content-image-text-image">
				<img src="./images/images-magazine-report/annual-report-arrupe-1000x1000.jpg"/>
			</div>
            <div class="bg-overlay">
                <h1>Headline lorem ipsum <span>2025</span></h1>
            </div>
		</div>
		<div class="grid-area grid-area-content">
			<div class="content-image-text">
				<h6>Label here</h6>
                <h1>Headline lorem ipsum <span>2025</span></h1>
				<h2>Headline lorem ipsum hereum</h2>
                <h5>H5 departments</h5>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam gravida leo massa, at elementum orci consequat non. Vestibulum quis sapien metus. Morbi in purus id erat sollicitudin pulvinar. Donec a consequat magna.</p>
                <ul>
                    <li>Department 01</li>
                    <li>Department 01</li>
                    <li>Department 01</li>
                    <li>Department 01</li>
                    <li>Department 01</li>
                </ul>
                <a class="cta" href="#">Link here</a>
				<div class="grid-item button-gold">       
					<button class="container-50" onclick="window.open('localhost:3000/luc-css-coverage-dev.html','_blank')">Read More</button>
				</div>
			</div>
		</div>
	</div>
</section>