<!-- tabs ensemble - image quotes -->
<section id="panel-tabs-images-962709" class="panel-tabs-images container-fluid ">
  <span name="d.en.962709"></span>
  <div class="container container-50">
    <div class="tabs-images">
      <div class="grid-wrapper-min-max three-column">
 
        <div class="grid-item">
          <div class="tab">
            <div class="tablinks" data-tab="tabImageOne-962709">
              <img
                src="/images/images-image-group/bauer-classroom-student-cap-1000X560.jpg"
                alt="handing a box of mushrooms to a customer at a Farmers market">
            </div>
          </div>
        </div>

        <div class="grid-item">
          <div class="tab">
            <div class="tablinks active" data-tab="tabImageTwo-962709">
              <img
                src="/images/images-image-group/bauer-classroom-women-students-1000X560.jpg"
                alt="Joylyn Bon Yu in the biodiesel lab">
            </div>
          </div>
        </div>

        <div class="grid-item">
          <div class="tab">
            <div class="tablinks" data-tab="tabImageThree-962709">
              <img
                src="/images/images-image-group/bauer-classroom-student-cap-1000X560.jpg"
                alt="Students pull invasive weeds">
            </div>
          </div>
        </div>

      </div>

      <div class="grid-wrapper-min-max">
        <div class="grid-item">
          
          <div id="tabImageOne-962709" class="tabcontent" style="display: none;">
            <h3>An internship with impact </h3>
            <blockquote>Environmental policy major Jameson Walker helped expand access to healthy, locally grown food as
              an intern with the Glenwood Sunday Market.
              <a class="cta"
                href="###">Learn more</a>
            </blockquote>
          </div>

          <div id="tabImageTwo-962709" class="tabcontent" style="display: block;">
            <h3>Biodiesel program encourages independent learning</h3>
            <blockquote>For graduate student Joylyn Bon Yu, working in Loyola's Searle Biodiesel Lab was a vital step
              toward a career in sustainability.

              <a class="cta"
                href="###">Learn more</a>
            </blockquote>
          </div>

          <div id="tabImageThree-962709" class="tabcontent" style="display: none;">
            <h3>Restoring nature and spirits at LUREC</h3>
            <blockquote>Members of Loyola's Restoration Club work to restore biodiversity at the Loyola University
              Retreat and Ecology Campus (LUREC).
              <a class="cta"
                href="###">Learn more</a>
            </blockquote>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>