<!-- tabs -->
<section id="panel-tabs" class="container-fluid uao-tabs">
	<div class="container">
		<div class="grid-wrapper-min-max">
			<div class="grid-item">
				<div class="tabs">
					<div role="tablist" aria-label="tab-aria-label" class="tab-list">
						<button class="tab-button" role="tab" aria-selected="true" aria-controls="tab-04-tab"
							id="tab-aria-04">
							<img
								src="https://raw.githubusercontent.com/mmorrison6/Exposure-Files/main/Mobile-Pres-Medallion-2022-Portraits-Sarah-Pericich_1000x1000.jpg" />
						</button>
						<button class="tab-button" role="tab" aria-selected="false" aria-controls="tab-05-tab"
							id="tab-aria-05" tabindex="-1">
							<img
								src="https://raw.githubusercontent.com/mmorrison6/Exposure-Files/main/Mobile-Pres-Medallion-2022-Portraits-Iliana-Monarrez_1000x1000.jpg" />
						</button>
						<button class="tab-button" role="tab" aria-selected="false" aria-controls="tab-06-tab"
							id="tab-aria-06" tabindex="-1" data-deletable="">
							<img
								src="https://raw.githubusercontent.com/mmorrison6/Exposure-Files/main/Mobile-Pres-Medallion-2022-Portraits-Seth-Hawkins-Huisenga_1000x1000.jpg" />
						</button>
					</div>
					<div class="tab-panel" tabindex="0" role="tabpanel" id="tab-04-tab" aria-labelledby="tab-aria-04">
						<!-- image-text -->
						<section class="container-fluid panel-image-text panel-image-text-blockquote bg-maroon">
							<div class="grid-wrapper-grid-area">
								<div class="grid-area grid-area-image">
									<div class="content-image-text-image">
										<img src="https://source.unsplash.com/1000x1000/?portrait-04" />
									</div>
								</div>
								<div class="grid-area grid-area-content">
									<div class="content-image-text">
										<h6>Label here</h6>
										<h4>Headline lorem ipsum hereum</h4>
										<blockquote>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam
											gravida leo massa, at elementum orci consequat non. Vestibulum quis sapien
											metus. Morbi in purus id erat sollicitudin pulvinar. Donec a consequat
											magna. Excepteur sint occaecat cupidatat non proident."</blockquote>
										<cite>— Firstname Lastname, Title Goeshere</cite>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam gravida leo
											massa, at elementum orci consequat non. Vestibulum quis sapien metus. Morbi
											in purus id erat sollicitudin pulvinar. Donec a consequat magna.</p>
                                            <a class="cta" href="######">Link here</a>
                                            <div class="grid-item button-maroon">
                                                <button class="container-50"
                                                    onclick="window.open('localhost:3000/luc-css-coverage-dev.html','_blank')">Read
                                                    More</button>
                                            </div>
									</div>
								</div>
							</div>
						</section>
					</div>
					<div class="tab-panel" tabindex="0" role="tabpanel" id="tab-05-tab" aria-labelledby="tab-aria-05"
						hidden="">
						<section class="container-fluid panel-image-text panel-image-text-blockquote bg-maroon">
							<div class="grid-wrapper-grid-area">
								<div class="grid-area grid-area-image">
									<div class="content-image-text-image">
										<img src="https://source.unsplash.com/1000x1000/?portrait-05" />
									</div>
								</div>
								<div class="grid-area grid-area-content">
									<div class="content-image-text">
										<h6>Label here</h6>
										<h4>Headline lorem ipsum hereum</h4>
										<blockquote>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam
											gravida leo massa, at elementum orci consequat non. Vestibulum quis sapien
											metus. Morbi in purus id erat sollicitudin pulvinar. Donec a consequat
											magna. Excepteur sint occaecat cupidatat non proident."</blockquote>
										<cite>— Firstname Lastname, Title Goeshere</cite>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam gravida leo
											massa, at elementum orci consequat non. Vestibulum quis sapien metus. Morbi
											in purus id erat sollicitudin pulvinar. Donec a consequat magna.</p>
                                            <a class="cta" href="######">Link here</a>
                                            <div class="grid-item button-maroon">
                                                <button class="container-50"
                                                    onclick="window.open('localhost:3000/luc-css-coverage-dev.html','_blank')">Read
                                                    More</button>
                                            </div>
									</div>
								</div>
							</div>
						</section>
					</div>
					<div class="tab-panel" tabindex="0" role="tabpanel" id="tab-06-tab" aria-labelledby="tab-aria-06"
						hidden="">
						<!-- image-text-blockquote - no-image -->
						<section
							class="container-fluid panel-image-text panel-image-text-blockquote bg-maroon">
							<div class="grid-wrapper-grid-area">
								<div class="grid-area grid-area-image">
									<div class="content-image-text-image">
										<img src="https://source.unsplash.com/1000x1000/?portrait-06" />
									</div>
								</div>
								<div class="grid-area grid-area-content">
									<div class="content-image-text">
										<h6>Label here</h6>
										<h4>Headline lorem ipsum hereum</h4>
										<blockquote>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam
											gravida leo massa, at elementum orci consequat non. Vestibulum quis sapien
											metus. Morbi in purus id erat sollicitudin pulvinar. Donec a consequat
											magna. Excepteur sint occaecat cupidatat non proident."</blockquote>
										<cite>— Firstname Lastname, Title Goeshere</cite>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam gravida leo
											massa, at elementum orci consequat non. Vestibulum quis sapien metus. Morbi
											in purus id erat sollicitudin pulvinar. Donec a consequat magna.</p>
										<a class="cta" href="######">Link here</a>
										<div class="grid-item button-maroon">
											<button class="container-50"
												onclick="window.open('localhost:3000/luc-css-coverage-dev.html','_blank')">Read
												More</button>
										</div>
									</div>
								</div>
							</div>
						</section>

					</div>
				</div>
			</div>
		</div>
	</div>
</section>