<!-- image-lead - hero - random image -->
<section id="panel-image-caption" class="container-fluid bg-maroon">
	<div class="container container-100">
		<div class="grid-wrapper-min-max">
			<div class="grid-item margin-none image-resize-background-image hero-wrap">
				<img src=""
					id="random-image"
					class=""
					alt=""
					title="">
			</div>
		</div>
	</div>
</section>
<script>
	const imgRandomElement = document.getElementById('random-image');
	const imgArray = ['./images/images-image-hero-random/1800x450_1.jpg', './images/images-image-hero-random/1800x450_2.jpg', './images/images-image-hero-random/1800x450_3.jpg', './images/images-image-hero-random/1800x450_4.jpg', './images/images-image-hero-random/1800x450_5.jpg', './images/images-image-hero-random/1800x450_6.jpg', './images/images-image-hero-random/1800x450_7.jpg'];
	randomImage();
	window.onload = randomImage;
	function randomImage() {
		const randomIndex = Math.floor(Math.random() * imgArray.length);
		if (randomIndex !== Number(localStorage.getItem('index'))) {
			imgRandomElement.src = imgArray[randomIndex];
			localStorage.setItem('index', randomIndex);
		} else {
			randomImage();
		}
	}
</script>