<!-- tabs -->
<section class="container-fluid tabs-ensemble">
	<div class="container">
		<div class="grid-wrapper-min-max">
			<div class="grid-item">
				<div class="tabs">
					<div class="tab-panel" tabindex="0" role="tabpanel" id="tab-11-tab" aria-labelledby="tab-aria-11">
						<!-- image-text -->
						<section class="container-fluid panel-image-text panel-image-text-blockquote grid-area-content-only">
							<div class="grid-wrapper-grid-area">
								<div class="grid-area grid-area-image">
									<div class="content-image-text-image">
										<img src="./images/images-portraits-1000x1000/medallion-2023-amanda-demaree-wayne-law-1000x1000.jpg" />
									</div>
								</div>
								<div class="grid-area grid-area-content">
									<div class="content-image-text">
										<h6>Label here</h6>
										<h4>Label for context</h4>
										<blockquote>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam
											gravida leo massa, at elementum orci consequat non."</blockquote>
										<cite>— Amanda Demaree Wayne, Title Goeshere</cite>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam gravida leo
											massa, at elementum orci consequat non. Vestibulum quis sapien metus. Morbi
											in purus id erat sollicitudin pulvinar. Donec a consequat magna.</p>
										<a class="cta" href="######">Link here</a>
										<div class="grid-item button-maroon">
											<button class="container-50"
												onclick="window.open('localhost:3000/luc-css-coverage-dev.html','_blank')">Read
												More</button>
										</div>
									</div>
								</div>
							</div>
						</section>
					</div>
					<div class="tab-panel" tabindex="0" role="tabpanel" id="tab-12-tab" aria-labelledby="tab-aria-12"
						hidden="">
						<section class="container-fluid panel-image-text panel-image-text-blockquote grid-area-content-only">
							<div class="grid-wrapper-grid-area">
								<div class="grid-area grid-area-image">
									<div class="content-image-text-image">
										<img src="./images/images-portraits-1000x1000/medallion-2023-belen-morales-ips-1000x1000.jpg" />
									</div>
								</div>
								<div class="grid-area grid-area-content">
									<div class="content-image-text">
										<h6>Label here</h6>
										<h4>Label for context</h4>
										<blockquote>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam
											gravida leo massa, at elementum orci consequat non."</blockquote>
										<cite>— Belen-Morales, Title Goeshere</cite>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam gravida leo
											massa, at elementum orci consequat non. Vestibulum quis sapien metus. Morbi
											in purus id erat sollicitudin pulvinar. Donec a consequat magna.</p>
										<a class="cta" href="######">Link here</a>
										<div class="grid-item button-maroon">
											<button class="container-50"
												onclick="window.open('localhost:3000/luc-css-coverage-dev.html','_blank')">Read
												More</button>
										</div>
									</div>
								</div>
							</div>
						</section>
					</div>
					<div class="tab-panel" tabindex="0" role="tabpanel" id="tab-13-tab" aria-labelledby="tab-aria-13"
						hidden="">
						<!-- image-text-blockquote - no-image -->
						<section class="container-fluid panel-image-text panel-image-text-blockquote grid-area-content-only">
							<div class="grid-wrapper-grid-area">
								<div class="grid-area grid-area-image">
									<div class="content-image-text-image">
										<img src="./images/images-portraits-1000x1000/medallion-2023-charlotte-adema-ssom-1000x1000.jpg" />
									</div>
								</div>
								<div class="grid-area grid-area-content">
									<div class="content-image-text">
										<h6>Label here</h6>
										<h4>Label for context</h4>
										<blockquote>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam
											gravida leo massa, at elementum orci consequat non."</blockquote>
										<cite>— Charlotte Adema, Title Goeshere</cite>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam gravida leo
											massa, at elementum orci consequat non. Vestibulum quis sapien metus. Morbi
											in purus id erat sollicitudin pulvinar. Donec a consequat magna.</p>
										<a class="cta" href="######">Link here</a>
										<div class="grid-item button-maroon">
											<button class="container-50"
												onclick="window.open('localhost:3000/luc-css-coverage-dev.html','_blank')">Read
												More</button>
										</div>
									</div>
								</div>
							</div>
						</section>
					</div>
					<div class="tab-panel" tabindex="0" role="tabpanel" id="tab-14-tab" aria-labelledby="tab-aria-14"
						hidden="">
						<section class="container-fluid panel-image-text panel-image-text-blockquote grid-area-content-only">
							<div class="grid-wrapper-grid-area">
								<div class="grid-area grid-area-image">
									<div class="content-image-text-image">
										<img src="./images/images-portraits-1000x1000/medallion-2023-chisa-santiago-scps-1000x1000.jpg" />
									</div>
								</div>
								<div class="grid-area grid-area-content">
									<div class="content-image-text">
										<h6>Label here</h6>
										<h4>Label for context</h4>
										<blockquote>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam
											gravida leo massa, at elementum orci consequat non."</blockquote>
										<cite>— Chisa Santiago, Title Goeshere</cite>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam gravida leo
											massa, at elementum orci consequat non. Vestibulum quis sapien metus. Morbi
											in purus id erat sollicitudin pulvinar. Donec a consequat magna.</p>
										<a class="cta" href="######">Link here</a>
										<div class="grid-item button-maroon">
											<button class="container-50"
												onclick="window.open('localhost:3000/luc-css-coverage-dev.html','_blank')">Read
												More</button>
										</div>
									</div>
								</div>
							</div>
						</section>
					</div>
					<div class="tab-panel" tabindex="0" role="tabpanel" id="tab-15-tab" aria-labelledby="tab-aria-15"
					hidden="">
						<section class="container-fluid panel-image-text panel-image-text-blockquote grid-area-content-only">
							<div class="grid-wrapper-grid-area">
								<div class="grid-area grid-area-image">
									<div class="content-image-text-image">
										<img src="./images/images-portraits-1000x1000/medallion-2023-daniel-gans-parkinson-1000x1000.jpg" />
									</div>
								</div>
								<div class="grid-area grid-area-content">
									<div class="content-image-text">
										<h6>Label here</h6>
										<h4>Label for context</h4>
										<blockquote>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam
											gravida leo massa, at elementum orci consequat non."</blockquote>
										<cite>— Daniel Gans, Title Goeshere</cite>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam gravida leo
											massa, at elementum orci consequat non. Vestibulum quis sapien metus. Morbi
											in purus id erat sollicitudin pulvinar. Donec a consequat magna.</p>
										<a class="cta" href="######">Link here</a>
										<div class="grid-item button-maroon">
											<button class="container-50"
												onclick="window.open('localhost:3000/luc-css-coverage-dev.html','_blank')">Read
												More</button>
										</div>
									</div>
								</div>
							</div>
						</section>
					</div>
					<div role="tablist" aria-label="tab-aria-label" class="tab-list">
						<button class="tab-button" role="tab" aria-selected="true" aria-controls="tab-11-tab" id="tab-aria-11">
							<img
								src="./images/images-portraits-1000x1000/medallion-2023-amanda-demaree-wayne-law-1000x1000.jpg" />
						</button>
						<button class="tab-button" role="tab" aria-selected="false" aria-controls="tab-12-tab"
							id="tab-aria-12" tabindex="-1">
							<img
								src="./images/images-portraits-1000x1000/medallion-2023-belen-morales-ips-1000x1000.jpg" />
						</button>
						<button class="tab-button" role="tab" aria-selected="false" aria-controls="tab-13-tab"
							id="tab-aria-13" tabindex="-1" data-deletable="">
							<img
								src="./images/images-portraits-1000x1000/medallion-2023-charlotte-adema-ssom-1000x1000.jpg" />
						</button>
						<button class="tab-button" role="tab" aria-selected="false" aria-controls="tab-14-tab"
							id="tab-aria-14" tabindex="-1" data-deletable="">
							<img
								src="./images/images-portraits-1000x1000/medallion-2023-chisa-santiago-scps-1000x1000.jpg" />
						</button>
						<button class="tab-button" role="tab" aria-selected="false" aria-controls="tab-15-tab"
							id="tab-aria-15" tabindex="-1" data-deletable="">
							<img
								src="./images/images-portraits-1000x1000/medallion-2023-daniel-gans-parkinson-1000x1000.jpg" />
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
