<!-- image-lead - hero - random image -->
<section id="panel-image" class="container-fluid hero-image-lead">
	<img src="https://source.unsplash.com/1800x600/?landscape-01"/>
	<div class="grid-wrapper-min-max">
		<div class="grid-item">
			<div class="hero-image-content">
				<h6>Category label</h6>
				<h1>Headline here lorem ipsum unum</h1>
				<div class="intro-paragraph sans-serif">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam gravida leo massa. <a class="cta" href="###">CTA here here</a></p>
				</div>
			</div>
		</div>
	</div>
</section>