/* header - update - 051624 */

header {
    #header-white {
        #site-brand-wrapper {
        padding: 1.75rem 1rem .75rem;
        background: $white !important;
        border-bottom: solid .25rem $gray;
        box-shadow: 0 0 .5rem $bg-overlay;
        #brand {
                display: block;
                float: left !important; /* template override */
                width: auto !important;
                img {
                    opacity: 1;
                }
            }
            #loyola-university-chicago {
                display: none;
            }
            #site-name {
                display: inline;
                width: auto;
                font-size : 1.85rem;
                > a {
                    display: inline;
                    position: relative;
                    top: -.45rem;
                    margin: 0 0 0 1rem;
                    padding: 0 0 0 1rem;
                    width: auto;
                    color: #000000 !important;
                    letter-spacing: -.075rem;
                    border-left: solid 1px #000000;
                }
            }
        }
    }
}
