/* image text */

.panel-image-text .grid-wrapper-grid-area {
    display: -ms-grid;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr !important;
    -ms-grid-columns: 1fr 1fr 1fr 1fr !important;
    grid-template-rows: auto;
    grid-auto-flow: row;
    -ms-grid-rows: auto;
    grid-auto-rows: auto;
    grid-row-gap: 0;
    width: 100%;
    grid-gap: 0;
    .grid-area {
    position: relative;
    }
    img {
      margin: 0 !important;
    }
  }
  .grid-area-image {
  grid-area: 1 / 1 / span 1 / span 2;
  @include tablet-portrait {
    grid-area: 1 / 1 / span 1 / span 4;
  }
  }
  .grid-area-content {
  grid-area: 1 / 3 / span 1 / span 2;
  @include tablet-portrait {
    grid-area: 2 / 1 / span 1 / span 4;
  }
  }
  
  .panel-image-text .grid-wrapper-grid-area.toggle-grid-area {
    .grid-area-image {
    grid-area: 1 / 3 / span 1 / span 2;
    @include tablet-portrait {
      grid-area: 1 / 1 / span 1 / span 4;
    }
    }
    .grid-area-content {
    grid-area: 1 / 1 / span 1 / span 2;
    @include tablet-portrait {
      grid-area: 2 / 1 / span 1 / span 4;
    }
    }
  }
  
  .panel-image-text img {
    margin: 0;
  }
  
  .panel-image-text {
    .grid-wrapper-grid-area {
      grid-gap: 0;
      .grid-area {
        margin: 0;
        @include phone-portrait {
          margin: 0 !important;
        }
      }
    }
    .content-image-text-image {
        padding-top: 100%;
        height: 100%;
        overflow: hidden;
        background-image: url('../images/images-portraits-1000x1000/medallion-2023-grace-nelson-nursing-1000x1000.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        img {
        display: none;
        }
    }
    .content-image-text {
        padding: 4rem;
        height: 100%;
        background: lighten($gray-light, 10%);
        h6, h4, p, p em, p strong, blockquote, cite {
            color: $black;
        }
        p {
            font-family: 'Open Sans', sans-serif;
            font-size: clamp(#{$font-step-1-125}, #{$font-step-1-125} + 3.5vw, #{$font-step-1-125});
        }
        blockquote, cite {
            text-align: left;
            display: none;
        }
        cite {
            text-transform: uppercase;
        }
    }
}
  
.panel-image-text.bg-maroon,
.panel-image-text.bg-gray,
.panel-image-text.bg-gray-dark,
.panel-image-text.bg-patina,
.panel-image-text.bg-patina-dark {
.content-image-text {
        h6, h4, p, p em, p strong, blockquote, cite {
            color: $white !important;
        }
    }
}

.panel-image-text.bg-maroon .content-image-text {
    background: $maroon !important;
}
.panel-image-text.bg-gray .content-image-text {
    background: $gray !important;
}
.panel-image-text.bg-gray-dark .content-image-text {
    background: $gray-dark !important;
}
.panel-image-text .content-image-text-image img::before {
    height: 100%;
}
  

/* image-text-blockquote */

.panel-image-text.panel-image-text-blockquote .content-image-text-image {
    background-image: url('../images/images-portraits-1000x1000/medallion-2023-jonathan-larbi-arrupe-1000x1000.jpg');
}
.panel-image-text.panel-image-text-blockquote .content-image-text {
    h6, p {
        display: none;
    }
    h4 {
        font-size: clamp(#{$font-step-1-25}, #{$font-step-1-25} + 3.5vw, #{$font-step-1-25});
        line-height: clamp(#{$line-step-1-75}, #{$line-step-1-75} + 3.5vw, #{$line-step-1-75});
        text-transform: uppercase;
    }
    blockquote, cite {
        display: block;
    }
    blockquote {
        margin: 1.5rem 0;
        padding: 0;
        width: 100%;
        font-size: clamp(#{$font-step-1-5}, #{$font-step-1-5} + 3.5vw, #{$font-step-1-5});
        line-height: clamp(#{$line-step-2-5}, #{$line-step-2-5} + 3.5vw, #{$line-step-2-5});
        text-align: left;
        border: none;
    }
    cite {
        font-family: "Open Sans", sans-serif;
        font-size: clamp(#{$font-step-1}, #{$font-step-1} + 3.5vw, #{$font-step-1});
        line-height: clamp(#{$line-step-1-5}, #{$line-step-1-5} + 3.5vw, #{$line-step-1-5});
        text-transform: uppercase;
        margin-bottom: 1.5rem;
    }
    .bg-maroon button {
        background-color: $white !important;
    }
}

.panel-image-text.panel-image-text-blockquote.grid-area-content-only {
    .grid-area.grid-area-image {
        display: none;
    }
    .grid-area-content {
        grid-area: 1 / 1 / span 1 / span 4;
        @include tablet-portrait {
          grid-area: 2 / 1 / span 1 / span 4;
        }
        .content-image-text {
            background: $white;
        }
        h6, h4, blockquote, cite, a {
            width: 100%;
            text-align: center;
        }
        blockquote {
            margin-left: auto;
            margin-right: auto;
            width: 80%;
        }
        button {
            margin: 0 auto;
        }
    }
}

/* lead - presentation */

.panel-image-text.lead-presentation .grid-wrapper-grid-area .grid-area-content {
    padding: 4rem;
    h1 {
        font-size: #{fluid(14px, 26px)};
        line-height: #{fluid(18px, 32px)};
        span {
            color: $gold;
        }
    }
    h2 {
        font-size: #{fluid(14px, 26px)};
        line-height: #{fluid(18px, 32px)}; 
    }
}

.panel-image-text.lead-presentation .content-image-text {
    padding: 2.5rem;
    border: solid .25rem $white;
}

.panel-image-text.lead-presentation .content-image-text-image {
    position: relative;
    background-image: url('../images/images-magazine-report/annual-report-arrupe-1000x1000.jpg');
}

.panel-image-text.lead-presentation .grid-area-image .bg-overlay {
    h1 {
        margin: 0;
        width: 60%;
        text-transform: uppercase;
        text-shadow: 0 0 1.5rem rgba(0, 0, 0, .35);
        span {
            color: lighten($gold, 10%);
        }
    }
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 6rem 10% 2.25rem;
    width: 100%;
    height: calc(auto + 30%);
    color: #ffffff;
    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.22) 20%,
        rgba(0, 0, 0, 0.7)
        );
    // background: linear-gradient(red, green, blue);
    z-index: +1;
}

.panel-image-text.lead-presentation.magazine .grid-wrapper-grid-area .grid-area-content {
    h1, h2, a, button {
        display: none;
    }
    h5 {
        text-align: center;
        text-indent: 0 !important;
    }
    ul {
        margin: 2rem auto 0 !important;
        width: 60%;
    }
    li {
        margin: 0 0 .875rem !important;
        padding: 0 0 .85rem;
        font-family: 'Antenna Condensed Bold', sans-serif;
        letter-spacing: .025rem;
        list-style: none;
        text-align: center;
        text-indent: 0 !important;
        text-transform: uppercase;
        border: none;
        border-bottom: solid 1px $white;
    }
    a {
        margin: 0;
        text-transform: uppercase;
    }
}
  