/* menu */

// #site-nav li a {padding: 1.25rem 1.25rem 1rem !important;}
#site-nav li a {padding: 1rem 1rem .85rem 1rem !important;}
#site-nav button.main-navigation-btn {height: 2.5rem;}
#cta-nav {display: none;}
#site-nav > li > button {background-color: none !important;}
#site-nav button.main-navigation-btn,
#site-nav button.main-navigation-btn:hover {height: 2.75rem;}
#site-nav .multilevel-linkul-0 {top: 44px;}

nav#main-mobile {
/*  display: inline-block; - to style */
    position: relative;
    top: -.35rem;
    background: none !important;
    #menu-button-mobile {
        width: 2.25rem;
        opacity: 1;
        span.menu-bar-one, span.menu-bar-two, span.menu-bar-three, span.menu-bar-four {
        background: lighten($black, 70%);
        }
        span.menu-text {
            bottom: 0;
            font-size: .75rem;
            color: $gray-light;
            // this is for the white header color: $maroon;
        }
    }
}

aside#cta-menu-search-navigation {
    float: right;
    position: fixed;
    top: 20%;
    right: 0;
    width: 10rem;
    z-index: 10000;
    nav {
        background: none;
    }
        ul[role=menubar] {
            background: none;
            li {
            margin: .35rem 0;
            float: right;
            display: block;
            width: 100%;
            height: auto;
            border: solid .125rem $white;
            border-right: none;
            border-radius: .25rem 0 0 .25rem;
            background: none;
            transition: .3s;
            &:hover {
                width: 105%;
            }
            button, button#search-button  {
                float: right;
                padding: .75rem 0 .5rem 1rem !important;
                width: 100%;
                height: 100%;
                font-size: .75rem;
                font-family: 'Open Sans', 'Arial', Helvetica, sans-serif;
                font-weight: 700;
                text-align: left;
                border-radius: .25rem 0 0 .25rem;
                background: $maroon;
                i {
                    display: none;
                }
                &:hover {
                    background: darken($maroon, 10%) !important;
                }
                &::after {
                    display: inline;
                    float: right;
                    margin: -.25rem 1rem 0 0;
                    padding: .5rem;
                    width: .35rem;
                    height: .35rem;
                    content: 'N';
                    font-family: 'Open Sans', 'Arial', Helvetica, sans-serif;
                    font-size: .75rem;
                    font-weight: 700;
                    line-height: 0;
                    color: $maroon;
                    text-align: center !important;
                    background: none !important;
                    border: solid .1rem $white;
                    border-radius: 50%;
                }
            }
        }
    }
}