/* tabs ensemble */

/* image display */

.tabs-ensemble .panel-image-text .content-image-text-image {
    padding: 0;
    background-image: none;
    background: $gray-extra-dark;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tabs-ensemble .panel-image-text .content-image-text-image img {
    display: block;
    margin: auto auto;
}

/* panel background color - default - typography */

.tabs-ensemble .tabs .tab-panel .panel-image-text .content-image-text {
    padding: 2rem;
    background: $gray-extra-light;
    h4 {
        line-height: calc(var(--baseline) * 1.65 * 1rem);
        text-transform: none;
    }
    cite {
        font-size: clamp(#{$font-step-1}, #{$font-step-1} + 3.5vw, #{$font-step-1});
    }
}

.tabs-ensemble .tabs .tab-panel .panel-image-text.panel-image-text-blockquote .content-image-text {
    h4 {
        font-size: clamp(#{$font-step-1-125}, #{$font-step-1-125} + 3.5vw, #{$font-step-1-125}) !important;
        text-transform: uppercase;
    }
}

/* panel image text - blockquote only */

.tabs-ensemble .panel-image-text.panel-image-text-blockquote.grid-area-content-only .content-image-text {
    padding: 0;
    background: $white;
}

.tabs-ensemble .tabs .tab-panel .panel-image-text-blockquote.grid-area-content-only .content-image-text h4 {
    font-size: clamp(#{$font-step-1-75}, #{$font-step-1-75} + 3.5vw, #{$font-step-1-75});
}

.tabs-ensemble .panel-image-text.panel-image-text-blockquote .content-image-text blockquote {
    @include phone-landscape {
        font-size: clamp(#{$font-step-1-25}, #{$font-step-1-25} + 3.5vw, #{$font-step-1-25}) !important;
        line-height: clamp(#{$line-step-1-75}, #{$line-step-1-75} + 3.5vw, #{$line-step-1-75});
    }
}

.tabs-ensemble .panel-image-text.panel-image-text-blockquote .content-image-text cite {
    @include phone-landscape { 
        font-size: clamp(#{$font-step-075}, #{$font-step-075} + 3.5vw, #{$font-step-075}) !important;
        line-height: clamp(#{$line-step-1-25}, #{$line-step-1-25} + 3.5vw, #{$line-step-1-25});
    }
}

/* content - buttons */

.tabs-ensemble .panel-image-text.panel-image-text-blockquote .bg-maroon button {
    background: $gold !important;
}

/* tabs list - tabs - buttons */

.tabs-ensemble .tabs {
    display: flex;
    flex-flow: column;
}

.tabs-ensemble .tabs.reverse-order {
    display: flex;

}

.tabs-ensemble .tabs .tablist-container {
    display: flex;
    height: 9rem;
    align-items: center;
}

.tabs-ensemble .tabs .tab-list {
    margin: 1.5rem auto 1.25rem auto;
    display: inline-block;
}

.tabs-ensemble .tabs .tab-list .tab-button {
    margin: 0 1.25rem;
    padding: 0;
    width: 6.5rem;
    height: 6.5rem;
    border: none;
    border-radius: 100% !important;
    outline: solid 0rem $maroon;
    filter: saturate(0);
    opacity: 0.5;
    transition: scale .5s, outline 3s;
    @include tablet-portrait {
        position: relative;
        display: inline;
        margin: 0 .35rem;
        width: 3.5rem;
        height: 3.5rem;

    }
}

.tabs-ensemble .tabs .tab-list .tab-button[aria-selected=false] {
    outline: solid 0 $maroon;
    transition-timing-function: ease;
    transition: .125s;
    &:hover {
        outline: solid .25rem $maroon;
        filter: saturate(.75);
        opacity: 0.5;
    }
    @include tablet-portrait {
        margin: 0 .35rem;
        width: 2.5rem;
        height: 2.5rem;
    }
}

.tabs-ensemble .tabs .tab-list .tab-button[aria-selected="true"] {
    position: relative;
    scale: 1.25;
    outline: solid .275rem $maroon;
    filter: saturate(1);
    opacity: 1;
    @include tablet-portrait {
        top: .5rem;
    }
}

.tabs-ensemble .tabs .tab-list img {
    border-radius: 100% !important;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    pointer-events: none;
}

.tabs-ensemble .tabs .tab-panel {
    background-color: transparent;
    @include phone-landscape {
        padding: 0;
    }
}

/* overrides tabs default - button */

.tabs-ensemble .grid-wrapper-min-max .grid-item .tabs .tab-panel button {
    background: $maroon;
    border-radius: 0.33rem !important;
}

/* specific - content - bg-maroon - button */

.tabs-ensemble .grid-wrapper-min-max .grid-item .tabs .tab-panel .bg-maroon button {
    color: $black !important;
    background: $gold;
    &:hover {
        background: lighten($gold, 10%) !important;
    }
}