/* tabs ensemble - image quotes */

.panel-tabs-images .tabs-images .grid-wrapper-min-max .tab,
.panel-tabs-images .tabs-images .grid-wrapper-min-max .tab .tablinks,
.panel-tabs-images .tabs-images .grid-wrapper-min-max .tab .tablinks img {
  height: 100%;
}
.panel-tabs-images .tabs-images .grid-wrapper-min-max.three-column {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
  grid-template-rows: auto;
  grid-gap: 1.333%;
  grid-auto-flow: dense;
  justify-content: center;
  align-items: center;
}
.panel-tabs-images .tabs-images .grid-wrapper-min-max.three-column .grid-item {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1 / 1;
}
.panel-tabs-images .tabs-images .grid-wrapper-min-max.three-column .tab {
  margin: 0;
  border: solid 1rem #ffffff;
  border-radius: 50%;
  background: #e1e1e1;
  aspect-ratio: 1 / 1;
  overflow: hidden;
}
.panel-tabs-images .tabs-images .grid-wrapper-min-max.three-column .grid-item .tab {
  position: relative;
}
.panel-tabs-images .tabs-images .grid-wrapper-min-max.three-column {
  grid-template-areas:
    "a b c"
}
.panel-tabs-images .tabs-images .grid-wrapper-min-max.three-column .grid-item .tab:has(div.tablinks.active) {
  border: solid .375rem #eaaa00;
  width: 100%;
  height: 100% !important;
}
.panel-tabs-images .tabs-images .grid-wrapper-min-max.three-column .grid-item:has(div.tablinks.active):after {
  position: absolute;
  top: 100%;
  content: '\25BC';
  font-size: 1.75rem;
  color: #eaaa00;
  animation-name: tab-pointer-animation;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
@keyframes tab-pointer-animation {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(.5rem);
  }
}
.panel-tabs-images .tabs-images .grid-wrapper-min-max.three-column .tab .tablinks img,
.panel-tabs-images .tabs-images .grid-wrapper-min-max.three-column .tab .tablinks.active img {
  display: block;
  margin: 0 !important;
  margin-top: -5% !important;
  margin-left: -50% !important;
  padding: 0;
  width: 200% !important;
  height: 115%;
  border: 0;
}
.panel-tabs-images .tabs-images .grid-wrapper-min-max.three-column .tab .tablinks img {
  filter: saturate(0);
  opacity: .8;
}
.panel-tabs-images .tabs-images .grid-wrapper-min-max.three-column .tab .tablinks.active img {
  filter: saturate(1);
  opacity: 1;
}
.panel-tabs-images .tabs-images .tab .active::before,
.panel-tabs-images .tabs-images .tab .active::after {
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 0 !important;
}
.panel-tabs-images .tabcontent {
  padding: 3.5rem 0 0 0;
    @include phone-portrait {
        .panel-tabs-images .tabcontent {  
            padding: 2.5rem 0 0 0;
        }
    }
}
.panel-tabs-images .tabs-images {
    h3 {
        display: block;
        margin: 0 auto 1.125rem;
        width : 100%;
        font-family: 'Antenna Condensed Light', sans-serif;
        font-size: 2.25rem;
        line-height: 1.75rem;
        letter-spacing: -.0125rem;
        word-spacing: 0.0125rem;
        text-align: center;
    }
    blockquote {
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 0;
        padding-bottom: 0;
        border-top: 0;
        border-bottom: 0;
    }
    blockquote cite {
        font-size: 1rem;
        font-style: italic;
        letter-spacing: -0.0125rem;
        text-transform: none;
    }
}
.grid-item {
  grid-area: auto;
}
.panel-tabs-images .tabs-images .grid-wrapper-min-max.three-column .grid-item:has(.tab div.tablinks.active) {
  grid-area: b;
}
.panel-tabs-images .tabs-images .grid-wrapper-min-max.three-column:has(.tab div.tablinks.active) ~ .grid-item:first-child {
  grid-area: a;
}
.panel-tabs-images .tabs-images .grid-wrapper-min-max.three-column:has(.tab div.tablinks.active) ~ .grid-item:last-child {
  grid-area: c;
}

/* image display */

.tabs-ensemble .panel-image-text .content-image-text-image {
    padding: 0;
    background-image: none;
    background: $gray-extra-dark;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tabs-ensemble .panel-image-text .content-image-text-image img {
    display: block;
    margin: auto auto;
}

/* panel background color - default - typography */

.tabs-ensemble .tabs .tab-panel .panel-image-text .content-image-text {
    padding: 2rem;
    background: $gray-extra-light;
    h4 {
        line-height: calc(var(--baseline) * 1.65 * 1rem);
        text-transform: none;
    }
    cite {
        font-size: clamp(#{$font-step-1}, #{$font-step-1} + 3.5vw, #{$font-step-1});
    }
}

.tabs-ensemble .tabs .tab-panel .panel-image-text.panel-image-text-blockquote .content-image-text {
    h4 {
        font-size: clamp(#{$font-step-1-125}, #{$font-step-1-125} + 3.5vw, #{$font-step-1-125}) !important;
        text-transform: uppercase;
    }
}

/* panel image text - blockquote only */

.tabs-ensemble .panel-image-text.panel-image-text-blockquote.grid-area-content-only .content-image-text {
    padding: 0;
    background: $white;
}

.tabs-ensemble .tabs .tab-panel .panel-image-text-blockquote.grid-area-content-only .content-image-text h4 {
    font-size: clamp(#{$font-step-1-75}, #{$font-step-1-75} + 3.5vw, #{$font-step-1-75});
}

.tabs-ensemble .panel-image-text.panel-image-text-blockquote .content-image-text blockquote {
    @include phone-landscape {
        font-size: clamp(#{$font-step-1-25}, #{$font-step-1-25} + 3.5vw, #{$font-step-1-25}) !important;
        line-height: clamp(#{$line-step-1-75}, #{$line-step-1-75} + 3.5vw, #{$line-step-1-75});
    }
}

.tabs-ensemble .panel-image-text.panel-image-text-blockquote .content-image-text cite {
    @include phone-landscape { 
        font-size: clamp(#{$font-step-075}, #{$font-step-075} + 3.5vw, #{$font-step-075}) !important;
        line-height: clamp(#{$line-step-1-25}, #{$line-step-1-25} + 3.5vw, #{$line-step-1-25});
    }
}

/* content - buttons */

.tabs-ensemble .panel-image-text.panel-image-text-blockquote .bg-maroon button {
    background: $gold !important;
}

/* tabs list - tabs - buttons */

.tabs-ensemble .tabs {
    display: flex;
    flex-flow: column;
}

.tabs-ensemble .tabs.reverse-order {
    display: flex;

}

.tabs-ensemble .tabs .tablist-container {
    display: flex;
    height: 9rem;
    align-items: center;
}

.tabs-ensemble .tabs .tab-list {
    margin: 1.5rem auto 1.25rem auto;
    display: inline-block;
}

.tabs-ensemble .tabs .tab-list .tab-button {
    margin: 0 1.25rem;
    padding: 0;
    width: 6.5rem;
    height: 6.5rem;
    border: none;
    border-radius: 100% !important;
    outline: solid 0rem $maroon;
    filter: saturate(0);
    opacity: 0.5;
    transition: scale .5s, outline 3s;
    @include tablet-portrait {
        position: relative;
        display: inline;
        margin: 0 .35rem;
        width: 3.5rem;
        height: 3.5rem;

    }
}

.tabs-ensemble .tabs .tab-list .tab-button[aria-selected=false] {
    outline: solid 0 $maroon;
    transition-timing-function: ease;
    transition: .125s;
    &:hover {
        outline: solid .25rem $maroon;
        filter: saturate(.75);
        opacity: 0.5;
    }
    @include tablet-portrait {
        margin: 0 .35rem;
        width: 2.5rem;
        height: 2.5rem;
    }
}

.tabs-ensemble .tabs .tab-list .tab-button[aria-selected="true"] {
    position: relative;
    scale: 1.25;
    outline: solid .275rem $maroon;
    filter: saturate(1);
    opacity: 1;
    @include tablet-portrait {
        top: .5rem;
    }
}

.tabs-ensemble .tabs .tab-list img {
    border-radius: 100% !important;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    pointer-events: none;
}

.tabs-ensemble .tabs .tab-panel {
    background-color: transparent;
    @include phone-landscape {
        padding: 0;
    }
}

/* overrides tabs default - button */

.tabs-ensemble .grid-wrapper-min-max .grid-item .tabs .tab-panel button {
    background: $maroon;
    border-radius: 0.33rem !important;
}

/* specific - content - bg-maroon - button */

.tabs-ensemble .grid-wrapper-min-max .grid-item .tabs .tab-panel .bg-maroon button {
    color: $black !important;
    background: $gold;
    &:hover {
        background: lighten($gold, 10%) !important;
    }
}