/* UAO Video Hero */

.hero-video-lead.full-overlay {
    height: 80vh;
    min-height: 800px;
    min-height: 80vh;
    aspect-ratio: 1280 / 720;
}

.hero-video-lead.full-overlay .grid-wrapper-min-max {
    display: flex;
    grid-row-start: 1;
    grid-column-start: 1;
    height: 100%;
}

.hero-video-lead.full-overlay video.hero-video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-video-lead.full-overlay .hero-video-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
    align-items: start;
    justify-content: start;
    background: rgba(0, 0, 0, 0.7);
    h1, h6, p {
        color: $white;
    }
}

/* additional overlay - content readability */
.hero-video-lead.full-overlay .hero-video-content:before {
    display: block;
    position: absolute;
    top: calc(50% - 25%);
    left: 0;
    width: 50%;
    height: 50%;
    content: "";
    border-radius: 50%;
    background: rgba(0,0,0,.35);
    filter: blur(5rem);
}

/* sets up button wrapper */
.hero-video-lead.full-overlay .hero-video-content .headline-buttons {
    position: relative;
}

.hero-video-lead .headline-buttons .grid-wrapper-min-max  {
    margin: 0;
    grid-gap: 2rem;
}

/* button group - adjusts width - button count variations */
.hero-video-lead .hero-video-content .headline-buttons .grid-wrapper-min-max.three-columns  {
    grid-template-columns: 1fr 1fr 1fr !important;
    width: 100%;
    @include phone-portrait {
        display: block;
    }
}

.hero-video-lead .hero-video-content .headline-buttons .grid-wrapper-min-max.two-columns  {
    grid-template-columns: 1fr 1fr !important;
    width: 80%;
}

.hero-video-lead .hero-video-content .headline-buttons .grid-wrapper-min-max.one-column  {
    grid-template-columns: 1fr !important;
    width: 50%;
}

.hero-video-lead.full-overlay .hero-video-content {
    position: relative;
    justify-content: center;
    padding: 2rem 5% 2.25rem;
    background: rgba(0, 0, 0, 0.5);
}

/* default override - content - text align left */
.hero-video-lead.full-overlay .hero-video-content h1,
.hero-video-lead.full-overlay .hero-video-content h6,
.hero-video-lead.full-overlay .hero-video-content p {
    margin-bottom: calc(var(--baseline)* .5* 1rem);
    text-align: left;
}

.hero-video-lead.full-overlay .hero-video-content h1 {
    font-size: 3.5rem;
    line-height: 1.25;
}

.hero-video-lead.full-overlay .hero-video-content h6 {
    font-family: 'Antenna Condensed Bold', sans-serif;
}

/* default override - button */
.hero-video-lead .headline-buttons .grid-wrapper-min-max button {
    width: 100%;
    border: solid .125rem $gold;
}

/* default override - add class - position-center - all variations */
/* additional overlay - position */
.hero-video-lead.full-overlay .hero-video-content.position-center:before {
    left: calc(50% - 25%);
}

.hero-video-lead .hero-video-content.position-center .headline-buttons .grid-wrapper-min-max {
    margin: 0 auto;
}

.hero-video-lead.full-overlay .hero-video-content.position-center .headline-buttons {
    margin: 0 auto;
    width: 65%;
}

.hero-video-lead.full-overlay .hero-video-content.position-center .headline-buttons button {
    margin: 0.75rem auto;
    @include phone-portrait {
        margin: 0.5rem auto;
    }
}

/* additional overlay - text align center */
.hero-video-lead.full-overlay .hero-video-content.position-center h1,
.hero-video-lead.full-overlay .hero-video-content.position-center h6,
.hero-video-lead.full-overlay .hero-video-content.position-center p {
    text-align: center;
}

/* explore */
.hero-video-lead.full-overlay .hero-video-content div.slides.slick-initialized.slick-slider.uao-scroll-arrow {
    display: flex;
    position: absolute;
    left: calc(50% - 5rem); /* accounts for width of element */
    width: 10rem;
    bottom: 8%;
    align-items: center;
    justify-content: center;
    justify-items: center;
    background-color: rgba(0, 0, 0, 0);
    @include phone-portrait {
        display: none;
    }
}

/* default override - explore position */
.hero-video-lead.full-overlay .hero-video-content div.slides.slick-initialized.slick-slider.uao-scroll-arrow {
    bottom: 15%;
}

.hero-video-lead.full-overlay .hero-video-content div.slides.slick-initialized.slick-slider.uao-scroll-arrow h6 {
    text-align: center;
}

.hero-video-lead.full-overlay .hero-video-content div.slides.slick-initialized.slick-slider.uao-scroll-arrow button.slick-arrow.slick-next {
    background-color: rgba(0, 0, 0, 0);
    transform: rotateZ(90deg);
    right: auto;
}

div.slides.slick-initialized.slick-slider.uao-scroll-arrow {
    position: absolute !important;
}

button.slick-arrow.slick-next.bounce {
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    animation-delay: 3s;
    transition: 1s;
}

button.slick-arrow.slick-next.bounce:hover {
    scale: 1.125;
}

.bounce {
    animation-name: bounce;
    animation-timing-function: ease;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
        rotate: 90deg;
    }

    30% {
        transform: translateX(5px);
        rotate: 90deg;
    }

    50% {
        transform: translateY(0);
        rotate: 90deg;
    }

    100% {
        transform: translateY(0);
        rotate: 90deg;
    }
}

/* Play and Pause Button */
/* added button.video-control to override button base CSS */

.video-control,
button.video-control {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 50px;
    width: 50px;
    margin: 0;
    padding: 0;
    border-radius: .25rem 0 0 0;
    border-top: solid .125rem $gold;
    border-left: solid .125rem $gold;
}

.video-control:not(.playing) .video-control-pause,
.video-control.playing .video-control-play {
    opacity: 0;
}

.video-control span {
    display: flex;
    transition: 500ms all ease;
}

.play-pause-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.video-control-pause {
    position: absolute;
    left: 35%;
    top: 30%;
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    border-style: double;
    border-width: 0px 0px 0px 16px;
    border-color: $white;
}

.video-control-play {
    position: absolute;
    left: 35%;
    top: 30%;
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    border-style: solid;
    border-width: 10px 0px 10px 16px;
    border-color: transparent transparent transparent $white;
}

/* media queries */

@media only screen and (max-width: 480px) {
/* phone - column width variations */
    .hero-video-lead .hero-video-content .headline-buttons .grid-wrapper-min-max.two-columns,
    .hero-video-lead .hero-video-content .headline-buttons .grid-wrapper-min-max.one-column {
        width: 100%;
    }

    .hero-video-lead.full-overlay {
        aspect-ratio: 1280 / 720;
    }

    .hero-video-lead.full-overlay .hero-video-content h1 {
        font-size: 3rem;
        line-height: 1.125;
    }

    .hero-video-lead.full-overlay .hero-video-content .headline-buttons {
        width: 100%;
    }

}