/* carnegie-ctas */

button.container-100 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding: 0.75rem 0.5rem;
    width: auto;
    font-family: "Antenna Condensed Bold", "Arial", sans-serif;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 0.005rem;
    line-height: 1.1;
    text-decoration: none;
    border: none;
    border-radius: 0.25rem 0.25rem 0 0;
    border-bottom: 1px solid $maroon;
    background-color: none;
    color: $maroon;;
    cursor: pointer;
    transition: background-color 0.6s ease, color 0.6s ease, border-color 0.6s ease;
}
button.container-100 {
    padding: .75rem .5rem;
    width: auto !important;
    font-size: 1.25rem;
    background: none;
    text-transform: none;
    &:hover {
        color: $white;
        background-color: $maroon;
    }
}

button::after {
    content: "";
    display: block;
    width: 1.125rem;
    height: 0.5rem;
    mask-image: url(../images/icon-arrow-right.svg);
    mask-size: contain;
    mask-repeat: no-repeat;
    background-color: currentColor;
    transition: background-color 0.2s ease;
}