/* carnegie-ctas */

.luc-button, .button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding: 0.75rem 0.5rem;
    width: fit-content;
    font-family: "Antenna Condensed Bold", "Arial", sans-serif;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 0.005rem;
    line-height: 1.1;
    text-decoration: none;
    border: none;
    border-radius: 0.25rem 0.25rem 0 0;
    border-bottom: 1px solid #5a0722;
    background-color: transparent;
    color: green;
    cursor: pointer;
    transition: background-color 0.6s ease, color 0.6s ease, border-color 0.6s ease;
}
.luc-button, .button {
    font-size: 4rem;
}