/* column variations */

/* grid wrapper */

.grid-wrapper-min-max {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  grid-auto-flow: row;
  grid-auto-rows: auto;
  grid-gap: 2rem;
  width: 100%;
  .grid-item {
    display: block;
    box-sizing: border-box;
    width: 100%;
  }
}

/* grid columns */

.grid-wrapper-min-max.one-column {
  grid-gap: 0;
}
.grid-wrapper-min-max.two-column,
.grid-wrapper-min-max.three-column,
.grid-wrapper-min-max.four-column,
.grid-wrapper-min-max.four-column-eight-column,
.grid-wrapper-min-max.eight-column-four-column,
.grid-wrapper-min-max.three-column-nine-column,
.grid-wrapper-min-max.nine-column-three-column {
  grid-gap: 2rem;
  @include phone-portrait {
    .grid-item {
      margin: 1rem 0 !important;
    }
  }
}
.grid-wrapper-min-max.one-column { grid-template-columns: repeat(auto-fit, minmax(100%, 1fr)); }
.grid-wrapper-min-max.two-column { grid-template-columns: repeat(auto-fit, minmax(350px, 1fr)); }
.grid-wrapper-min-max.three-column { grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); }
.grid-wrapper-min-max.four-column { grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); }
.grid-wrapper-min-max.four-column-eight-column { grid-template-columns: 33% auto; }
.grid-wrapper-min-max.eight-column-four-column { grid-template-columns: auto 33%; }
.grid-wrapper-min-max.three-column-nine-column { grid-template-columns: 25% auto; }
.grid-wrapper-min-max.nine-column-three-column { grid-template-columns: auto 25%; }

@media only screen and (max-width: 1200px) {
  #panel-cards .grid-wrapper-min-max.four-column,
  #panel-numbers .grid-wrapper-min-max.four-column {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  }
}

#panel-cards .container.portrait .grid-wrapper-min-max.four-column {
  display: grid !important;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  @include tablet-portrait {
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  }
  @include phone-portrait {
    display: block !important;
    width: 100%;
  }
}

#panel-cards .container.portrait,
#panel-cards .container.container-100.portrait,
#panel-cards .container.container-80.portrait,
#panel-cards .container.container-50.portrait {
  @include tablet-portrait {
    width: 80%;
  }
  @include phone-portrait {
    width: 70%;
  }
}

#panel-intro .grid-wrapper-min-max {
  display: -ms-grid;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "intro intro intro navigation"
    "intro intro intro sidebar";
  width: 100%;
  grid-gap: 3rem;
  .grid-area-one {
    grid-area: intro;
  }
  .grid-area-two {
    grid-area: navigation;
  }
  .grid-area-three {
    grid-area: sidebar;
  }
  @include tablet-portrait {
    grid-template-areas:
      "navigation navigation navigation navigation"
      "intro intro intro intro"
      "sidebar sidebar sidebar sidebar";
    grid-gap: 1rem;
  }
}

@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
  #panel-intro .grid-area-one {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    margin: 0 2rem 0 0;
    @include phone-portrait {
      -ms-grid-column: 1;
      -ms-grid-column-span: 4;
      -ms-grid-row: 2;
      -ms-grid-row-span: 1;
    }
  }
  #panel-intro .grid-area-two {
    -ms-grid-column: 4;
    -ms-grid-column-span: 1;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    margin: 0 0 2rem 0;
    @include phone-portrait {
      -ms-grid-column: 1;
      -ms-grid-column-span: 4;
      -ms-grid-row: 1;
      -ms-grid-row-span: 1;
    }
  }
  #panel-intro .grid-area-three {
    -ms-grid-column: 4;
    -ms-grid-column-span: 1;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    @include phone-portrait {
      -ms-grid-column: 1;
      -ms-grid-column-span: 4;
      -ms-grid-row: 3;
    }
  }
  #panel-intro #home {
    display: block;
  }
}

@media only screen and (max-width: 768px) {
.grid-wrapper-min-max.two-column,
.grid-wrapper-min-max.three-column,
.grid-wrapper-min-max.four-column,
.grid-wrapper-min-max.four-column-eight-column,
.grid-wrapper-min-max.eight-column-four-column,
.grid-wrapper-min-max.three-column-nine-column,
.grid-wrapper-min-max.nine-column-three-column {
  box-sizing: border-box;
  display: block;
  margin: 0;
  width: 100%;
}
}

/* grid gap */

.grid-wrapper-min-max.grid-gap-lg { grid-gap: 3rem; }

.grid-wrapper-min-max.grid-gap-md { grid-gap: 2rem; }

.grid-wrapper-min-max.grid-gap-sm { grid-gap: 1rem; }

.grid-wrapper-min-max.grid-gap-none { grid-gap: 0rem; }

/* no gap - optional - use for image grids */

.grid-wrapper-no-gap { grid-gap: 0px; }

/* grid row gap */

.grid-wrapper-min-max.grid-gap-lg.grid-row-gap-lg,
.grid-wrapper-min-max.grid-gap-md.grid-row-gap-lg,
.grid-wrapper-min-max.grid-gap-sm.grid-row-gap-lg,
.grid-wrapper-min-max.grid-gap-none.grid-row-gap-lg { grid-row-gap: 3rem; }

.grid-wrapper-min-max.grid-gap-lg.grid-row-gap-md,
.grid-wrapper-min-max.grid-gap-md.grid-row-gap-md,
.grid-wrapper-min-max.grid-gap-sm.grid-row-gap-md,
.grid-wrapper-min-max.grid-gap-none.grid-row-gap-md { grid-row-gap: 2rem; }

.grid-wrapper-min-max.grid-gap-lg.grid-row-gap-sm,
.grid-wrapper-min-max.grid-gap-md.grid-row-gap-sm,
.grid-wrapper-min-max.grid-gap-sm.grid-row-gap-sm,
.grid-wrapper-min-max.grid-gap-none.grid-row-gap-sm { grid-row-gap: 1rem; }
